@import '../navbars/company_nav';
@import './dashboard';
@import './settings/settings';
@import '../image_card';

body {
  padding-top: 8rem;

  &,
  .dashboard > .tab-content > .tab-pane,
  #story {
    > .container-fluid {
      padding: 0 2.75rem;
      max-width: 1200px;
    }
  }
  
  .dashboard > .tab-content > .tab-pane:not(#curate),
  .companies.new,
  .registrations.update,    // when there is an error and 422 response
  #story,
  &.companies.edit {
    > .container-fluid {
      display: flex;
      align-items: flex-start;
      transition: opacity .15s ease-out;
    }
  } 
}

.sidebar {
  position: sticky;
  top: 8rem;
  flex: 0 0 24rem;
  margin-right: 1.25rem;

  .nav {
    > li {
      margin: 0;    

      > a {
        display: flex;
        align-items: center;
        height: 3.75em;
        border: 2px solid transparent;
        padding: 1rem 2rem;
        font-size: 14px;
        color: $gray;

        i {
          font-size: 1.25em;
          margin-right: 1.25rem;
        }

        &:hover, 
        &:focus {
          background-color: darken($blueish-gray-lighter, 4%);
          color: $gray-darker;
        }
      }
      
      &.active {
        > a, 
        > a:hover, 
        > a:focus {
          border-left-color: $brand-primary;
          color: $brand-primary;
          font-weight: 600;
          background-color: $blueish-gray-lighter;
        }
      }
    }
  }

  &--sans-text {
    @extend .sidebar;
    flex: 0 0 6.75rem;

    .nav > li > a {
      // top-left, bottom-left, bottom-right (shortened), right-middle, top-right (shortened)
      clip-path: polygon(0% 0%, 0% 100%, 85% 100%, 100% 50%, 85% 0);
      padding: 1rem 2.5rem 1rem 2rem;

      i {
        margin-right: 0;
      }
    }
  }
}

.layout-main {
  flex-grow: 1;
  margin-left: 1.25rem;
  padding-bottom: 10rem;
}

.form-horizontal {
  padding-top: 2rem;
}

.admin-sidebar {
  background-color: $blueish-gray-lighter;
  padding: 15px;
  margin-top: 30px;

  h4 {
    margin-top: 0;
  }
}

#gads-form,
#story-narrative-content-form,
#story-testimonials-form,
#story-settings-form,
#contributor-invitations-panel .form-horizontal,
.plugin-config,
#cta-links-forms-panel .form-horizontal,
#company-tags-form,
#company-profile-form {
  position: relative;
  margin: 0 auto;
}
