@import '../navbars/company_nav';
@import './dashboard';
@import './settings/settings';
@import '../image_card';

.company__container {
  padding: 0 2.5rem;
  max-width: 1200px;

  :not(#curate) > & {
    display: flex;
    align-items: flex-start;
  }

  // These pages load data and will transition from the loading spinner
  #prospect > &,
  #curate > &,
  #story > &,
  #promote > &,
  #measure > & {
    transition: opacity .15s ease-out;
  }
}

.company__main {
  flex: 1 1 0%;
  align-self: stretch;
  border-left: 1px solid darken($btn-default-border, 2%);
  padding: 0 0 3rem 3rem;
}

.sidebar {
  $gutter: 3rem;
  $icon-width: 22.5px;  // font-awesome .fa.fw (fixed width)
  $icon-margin: 13px;
  $link-border-width: 1.5px;
  $collapsed-sidebar-width: calc(#{2 * $link-border-width} + #{2 * $icon-margin} + #{$icon-width} + #{$gutter});

  position: sticky;
  top: 8rem;
  flex: 0 0 20em;
  transition: flex-basis .15s ease-out;
  padding-right: $gutter;
  min-width: 0;

  // The tooltip is contained within the sidebar so that it does not scroll with the page.
  // Since the sidebar is sticky, provide a z-index to ensure the tooltip appears above other content.
  z-index: 10;

  .tooltip {
    left: 5.5rem !important;
    width: max-content;
  }

  // Specificity `.nav > li > a` needed to override bootstrap
  .nav > li {
    > a {
      display: flex;
      align-items: center;
      overflow: hidden;
      transition: border-color .15s ease-out, border-radius .15s ease-out;
      border: $link-border-width solid transparent;
      padding: 0;
      min-width: 0;
      height: calc(#{$collapsed-sidebar-width} - #{$gutter});
      color: $gray;
      
      &:hover, 
      &:focus {
        // border-left-color: $light-gray;
        background-color: darken($blueish-gray-lighter, 4%);
        color: $gray-darker;
      }
  
      i {
        flex: 0 0 auto;
        margin: 0 $icon-margin;
        font-size: 1.25em;
      }
      
      span {
        white-space: nowrap;
      }
    }

    &.active > a {
      &, 
      &:hover, 
      &:focus {
        border-left-color: $brand-primary;
        // border-radius: $border-radius-base;
        background-color: $blueish-gray-lighter;
        font-weight: 600;
        color: $brand-primary;
      }
    }
  }

  &--collapsed {
    // Note there's a font-size of 1.25em on the icon, so to get the correct spacing
    // we must multiply the $icon-margin by the font-size factor 1.25
    flex: 0 0 $collapsed-sidebar-width;
    transition: flex-basis .15s ease-in;

    .nav > li {

      > a {
        transition: border-color .15s ease-in, border-radius .15s ease-in;

        &,
        &:hover, 
        &:focus {
          border-radius: 50%;
        }
      }

      &.active > a {
        &,
        &:hover,
        &:focus {
          border-color: $brand-primary;
          // border-radius: 50%;
        }
      }
    }
  }
}

.sidebar__toggle {
  position: absolute;
  top: -5px;
  right: -1.15em;

  // When .company__main is scrolled the border will appear about the sidebar toggle button.
  // This keeps it concealed:
  .thingy {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 2px;
    height: 3rem;
    background: $light-gray;
  }

  button {
    @include flex-row-center-center;
    border-radius: 50%;
    width: 2.3em;
    height: 2.3em;
  }
}



#gads-form,
#story-narrative-content-form,
#story-testimonials-form,
#story-settings-form,
#win-story-form {
  position: relative;
  margin: 0 auto;
}

.crud-list {
  // &:has(.list-group--has-active) > :first-child input {
  //   pointer-events: none;
  // }

  .input-group {
    flex-grow: 1;
    
    &:has(input:not(:placeholder-shown)) {
      margin-right: 1rem;
    }
  }

  .input-group-addon {
    position: relative; 
    width: 34px;  // matches input height (assuming no change to font-size)
    padding: 0;

    button {
      position: absolute;
      top: 0;
      right: 0; 
      bottom:0; 
      left:0; 
      border: 0; 
      border-radius: 0 4px 4px 0;
      padding: 0;
      font-size:1.5em;
    }
  }
}

.crud-list__actions {
  display: flex;
  justify-content: end;
  margin-bottom: 1.5rem;
}

.crud-list__new-item {
  @include flex-row-center;
  
  form .form-group & + .help-block {
    margin-bottom: 1.5rem;
  }

  .input-group:has(.input-group-addon.hidden) .form-control:first-child {
    border-top-right-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
  }
}
