@import '../image_card';

body {
  padding-top: 8.5rem;
}

.dashboard > .tab-content > .tab-pane:not(#curate),
.companies.new,
.companies.edit,
.registrations.edit,
.registrations.update,    // when there is an error and 422 response
.stories.edit #story {
  > .container {
    display: flex;
    align-items: flex-start;
    // min-height: 100vh;
    transition: opacity .15s ease-out;
  }
}

.layout-sidebar,
.layout-main {
  position: sticky;
  // top: 1rem;
  // top: 8.5rem;
  transition: top 0.15s ease-out, opacity .15s ease-out;

  // &.layout-sidebar.collapse-header {
  //   top: 1rem;
  //   transition: top 0.2s ease-in;
  // }
}

.layout-main {
  top: 1rem;
  flex-grow: 1;
  margin-left: 1.5rem;
  padding-bottom: 10rem;
}

.layout-sidebar {
  // top: calc(#{1rem} + 54px);
  top: 8.5rem;
  flex: 0 0 260px;
  margin-right: 1.5rem;

  .nav {
    > li {
      margin: 0;    

      > a {
        display: flex;
        align-items: center;
        height: 3.75em;
        border-left: 2px solid transparent;
        padding: 10px 20px;
        // font-family: 'Lato';
        font-size: 14px;
        color: $gray;

        i {
          font-size: 1.25em;
          margin-right: 13px;
        }

        &:hover, 
        &:focus {
          background-color: darken($blueish-gray-lighter, 4%);
          border-left: 2px solid darken($blueish-gray-lighter, 4%);
          color: $gray-darker; //darken($gray, 10%);
        }
      }
      
      &.active {
        > a, 
        > a:hover, 
        > a:focus {
          border-left: 2px solid $brand-primary;
          color: $brand-primary;
          font-weight: 600;
          background-color: $blueish-gray-lighter;
        }
      }
    }
  }
}

.form-horizontal {
  padding-top: 2rem;
}

.admin-sidebar {
  background-color: $blueish-gray-lighter;
  padding: 15px;
  margin-top: 30px;

  h4 {
    margin-top: 0;
  }
}