
@import '1_prospect/prospect';
@import '2_curate/curate';
@import '3_promote/promote';
@import '4_measure/measure';
@import 'settings/settings';

.working {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
  > div {
    height: 100%;
    width: 100%;
    background-color: #444;
    opacity: 0;
    > div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      i {
        color: #fff;
        font-size: 30px;
      }
    }
  }
  &--still {
    > div {
      opacity: 0.5;
      transition: opacity 2s step-end;
    }
  }
}

.companies.new {
  .disabled-tab {
    pointer-events: none;
  }
  .content {
    margin-top: 40px;
    overflow: hidden;
  }
}

// dropdowns will initially be hidden so they can be flipped (dropup) if necessary
.actions.dropdown .dropdown-menu {
  &:not(.shown) {
    visibility: hidden;
  }
  &.flip {
    top: auto;
    bottom: 90%;
  }
}



















