
@import 'new';
@import 'show';
@import 'edit';
@import '1_prospect/prospect';
@import '2_curate/curate';
@import '3_promote/promote';
@import '4_measure/measure';

.companies, .stories.edit {

  .companies.new, .companies.edit {
    .layout-main {
      padding: 50px 40px 0 30px;
    }
  }

  #edit-company-profile > form >, #edit-tags > form >, #edit-ctas >, #edit-plugins > {
    .row > {
      div[class*="col-"]:first-of-type:not(.story-header) {
        padding: 0 15px 0 25px;
      }
      div[class*="col-"]:last-of-type, div:only-child {
        padding: 0 25px 0 15px;
      }
    }
  }

}



.datatable {


  tr.active {
    i:not(.action) {
      color: white;
      text-decoration: none;
    }
  }

  tr.active {
    td:first-child {
      // border-left: 1px solid #0095ff; // #08c;
    }
    td:last-child {
      // border-right: 1px solid #0095ff; // #08c;
    }
    i:not(.action) {
      color: white;
      text-decoration: none;
    }
  }
  tr.active:hover {
    td:first-child {
      // border-left-color: #0095ff !important;  // #0075b0
    }
    td:last-child {
      // border-right-color: #0095ff !important;  // #0075b0
    }
  }
  // child row
  tr.active:hover + tr:not(.group) > td[colspan]:not(.dataTables_empty) {
    // border-color: #0095ff !important; // #0075b0
  }

  td {
    vertical-align: middle !important;  // override bootstrap for case of inline editor expanding row height
    i[class*="fa-caret"] { color: #999; }
  }

  th.actions {
    text-align: center;
    padding: 8px 12px;
  }

  td.status.dropdown, td.actions.dropdown {
    text-align: center;
    padding: 0;
    // ref: http://stackoverflow.com/questions/11078509/how-to-increase-the-clickable-area-of-a-a-tag-button
    > a {
      display: block;
      width: 100%;
      height: 100%;
      margin-top: -8px;
      padding-top: 8px;
      margin-bottom: -8px;
      padding-bottom: 8px;
      // position: relative;
      // display: inline-block;
      // background: transparent;
      // border: transparent;
      // z-index: 1;
      // padding: 2em;
      // margin: -2em;
    }

  }
}

/**
 * this needs to be in global scope due to fixed position
 */
#story-content-submit, #invitation-template-submit {
  position: fixed;
  bottom: -66px;
  left: 0;
  right: 0;
  // border-top-right-radius: 3px;
  // border-top-left-radius: 3px;


  // use the layout* classes to stay consistent with page
  .layout-sidebar {
    padding: 0;
    border: none;
    box-shadow: none;
  }
  .layout-main {
    padding: 0 0 0 15px;
    .tab-content {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      // background-color: rgba(255, 247, 229, 0.95);
      // border: 1px solid #e5dece;
      box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.2);
      background: rgb(239, 239, 239);
      border: 1px solid #ccc;
      // opacity: 0.95;
      padding: 15px;
      text-align: right;
      p {
        font-size: 18px;
        color: rgba(51, 51, 51, 0.9);
        margin-bottom: 0;
      }
      // button {
      //   opacity: 1.0;
      // }
    }
   }
   transition: bottom 0s;
}

#story-content-submit.show, #invitation-template-submit.show {
  bottom: 0;
  transition: bottom 0.3s ease-out;
}

















