
@import '1_prospect/prospect';
@import '2_curate/curate';
@import '3_promote/promote';
@import '4_measure/measure';
@import 'settings/settings';

.companies.new {
  .disabled-tab {
    pointer-events: none;
  }

  .content {
    margin-top: 40px;
    overflow: hidden;
  }
}

// dropdowns will initially be hidden so they can be flipped (dropup) if necessary
td[data-controller="actions-dropdown"] .dropdown-menu {
  &:not(.shown) {
    visibility: hidden;
  }
  
  &.flip {
    top: auto;
    bottom: 90%;
  }
}

#prospect,
#promote {
  position: relative;

  > .spinner,
  > .container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
  }

  > .spinner {
    @include lds-ring;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  &.loading > .spinner,
  &.ready > .container {
    visibility: visible;
    opacity: 1;
  }

  &.loading > .spinner {
    transition: opacity 0.25s ease-out;
  }

  &.ready {
    > .spinner {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.25s ease-in;
    }
    
    > .container {
      transition: opacity 0.25s ease-out;
    }
  } 
}

















