@import 'tables';
@import '../customer_wins/table';
@import '../customer_wins/win_story';
@import '../contributions/table';
@import '../customers/edit';
@import 'promote';
@import '4_measure/measure';

.companies.new {
  .disabled-tab {
    pointer-events: none;
  }

  .content {
    margin-top: 40px;
    overflow: hidden;
  }
}

// dropdowns will initially be hidden so they can be flipped (dropup) if necessary
td[data-controller="dropdown"] .dropdown-menu {
  &:not(.shown) {
    visibility: hidden;
  }
  
  &.flip {
    top: auto;
    bottom: 90%;
  }
}

ul.image-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

turbo-frame[data-modal-target="turboFrame"] {
  @include spinner('md');

  > .spinner {
    opacity: 0;

    &--opaque {
      opacity: 1;
      transition: opacity .15s ease-out;
    }
  }
}

#prospect,
#curate,
#story,
#promote {
  @include spinner('lg');

  > .spinner {
    position: fixed;
    top: 8.5rem;
    right: 0;
    left: 0;

    .loading > & {
      transition: opacity .15s ease-out;
    }

    .ready > & {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0s step-end;
    }
  }

  > .spinner,
  > .container-fluid {
    visibility: hidden;
    opacity: 0;
  }

  &.loading > .spinner,
  &.ready > .container-fluid {
    visibility: visible;
    opacity: 1;
  }
}