#successes-table,
#contributions-table,
#story-contributions-table,
#promoted-stories-table {
  @include row-hover-highlight;
  table-layout: fixed;

  &:not(#promoted-stories-table) td.status {
    // this ensures newlines will be respected
    // ref: https://stackoverflow.com/questions/10937218
    white-space: pre;
  }

  // child rows (must be nested under table id selectors to override datatables)
  td.child-row,
  td.contributor-child-row {
    padding: 1.75rem 1rem 2rem;
    background-color: $gray-lighter;
    // border: 1px solid #08c;
    // border-bottom: 3px solid #dfdfdf;
  
    .form-group {
      width: 100%;
      margin-bottom: 20px;
  
      .form-control {
        width: 100%;
        font-size: 13px;
      }
    }
  
    .col-sm-3 {
      padding-left: 0;
    }
  
    .col-sm-9 {
      padding: 0;
    }
  }

  // datatables table-striped class does not take row groups into account, so roll our own
  // &:not(.has-row-groups) > tbody > tr.even {
  //   background-color: #f9f9f9;
  // }
}

.table-controls {
  padding: 1.5em 1.5em 0.5em 1.5em;
  background-color: $blueish-gray-lighter;

  > div {
    @include flex-row-center-between;

    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  button:not(.clear-button) {
    &:first-of-type {
      margin-right: 0.75em;
    }
  }

  label:has(i.fa) {
    margin: 0 0.75em 0 0;;
  }

  .search-select {
    @include flex-row-center;
    flex-grow: 1;

    i {
      font-size: 1.25em;
      color: $gray;
    }

    > .ts-wrapper {
      width: 20em;
    }
  }
}

td.toggle-child,
td[data-controller="dropdown"] {
  position: relative;

  > a,
  > button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: color 0.15s ease-in-out;
    background-color: transparent;
    color: $gray-light;


    &:hover,
    &:focus,
    &:active {
      color: $gray-dark;
    }
  }
}

td.toggle-child {
  > button > i:last-child {
    display: none;
  }
  
  tr.dt-hasChild & > button {
    color: $gray-dark;

    > i:first-child {
      display: none;
    }
  
    > i:last-child {
      display: inline-block;
    }
  }
}

td[data-controller="dropdown"] {
  > a {
    @include flex-row-center-center;
    text-decoration: none;
  }
}

.popover[data-controller="table-display-options"] {
  max-width: revert;
  padding: 0;

  h3 {
    background-color: $brand-primary;
    color: #fff;
  }

  .form-group {
    display: flex;
    margin-left: 0;
    margin-right: 0;

    // curator
    &:first-child > label {
      padding-top: 5px;
    }

    > :last-child {
      flex-grow: 1;

      .checkbox + .checkbox {
        margin-top: 0.25em;
      }
    }
  }
    
  .control-label {
    margin-right: 1.25em;
    width: 15%;
  }

  .popover-content {
    padding: 1.25em 1.75em;
  }

  &.customer-wins {
    .popover-content {
      width: 28em;
    }
  }

  &.contributions {
    .popover-content {
      width: 30em;
    }
  }

  &.promoted-stories {
    .popover-content {
      width: 28em;
    }
  }
}