.row-view {
  @include spinner('md');
  position: relative;
  display: none;

  .row-view-shown & {
    display: block;
  }

  > .spinner {
    position: absolute;
    top: 2rem;
    right: 0;
    left: 0;
  }

  .loading > & {
    transition: opacity .15s ease-out;
  }

  .ready > & {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0s step-end;
  }

  > .spinner,
  > turbo-frame {
    visibility: hidden;
    opacity: 0;
  }

  &.loading > .spinner,
  &.ready > turbo-frame {
    visibility: visible;
    opacity: 1;
  }
}

.row-view__heading,
.row-view__body {
  padding: 1.5rem;
}

.row-view__heading {
  margin: 0;
  background-color: $light-blue;
  // font-size: $font-size-base;
  // font-weight: 600;
  font-size: 1.1em;
}

#successes-table,
#contributions-table,
#story-contributions-table,
#promoted-stories-table {
  @include row-hover-highlight;
  table-layout: fixed;

  .row-view-shown & {
    display: none;
  }

  // .row-view-shown & th.sorting {
  //   pointer-events: none;
    
  //   &::after {
  //     display: none;
  //   }
  // }

  th,
  td {
    > input[type="checkbox"] {
      margin: 0;
    }
  }

  th.sorting {
    &.customer::after {
      left: 85px;
    }

    &.customer-win::after {
      left: 114px;
    }

    &.contributor::after {
      left: 98px;
    }

    &.invitation-template::after {
      left: 48px;
    }

    &.story-title::after {
      left: 87px;
    }

    &.status::after {
      left: 62px
    }
  }

  &:not(#promoted-stories-table) {
    td.status {
      line-height: 1.6;

      p {
        margin: 0;
      }
    }
  }

  // child rows (must be nested under table id selectors to override datatables)
  td.child-row,
  td.contributor-child-row {
    padding: 1.75rem 1rem 2rem;
    background-color: $gray-lighter;
    // border: 1px solid #08c;
    // border-bottom: 3px solid #dfdfdf;
  
    .form-group {
      width: 100%;
      margin-bottom: 20px;
  
      .form-control {
        width: 100%;
        font-size: 13px;
      }
    }
  
    .col-sm-3 {
      padding-left: 0;
    }
  
    .col-sm-9 {
      padding: 0;
    }
  }

  // datatables table-striped class does not take row groups into account, so roll our own
  // &:not(.has-row-groups) > tbody > tr.even {
  //   background-color: #f9f9f9;
  // }
}

.table-controls {
  padding: 1.5rem;
  background-color: $blueish-gray-lighter;

  .caption {
    position: relative;
    top: -1px;
    margin: 0;
    font-family: 'Lato';
    color: $gray;
  }

  > :first-child {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin-bottom: 1.5rem;

    > :first-child,
    > :last-child {
      display: flex;
    }

    > :first-child {
      align-items: center;
      flex-shrink: 0;
    }

    > :last-child {
      justify-content: flex-end;
      gap: 1em;
      flex-grow: 1;
    }
  }    
  
  > :last-child {
    @include flex-row-center-between;

    > :last-child {
      @include flex-row-center;
      gap: 1em;
    }
  }

  .help-block,
  .pagination {
    margin: 0;
  }

  .pagination {
    display: block;
  }

  &__back-to-table,
  &__row-view-nav {
    display: none;
  }

  .row-view-shown & {
    &__back-to-table {
      display: block;
    }

    &__row-view-nav {
      @include flex-row-center;;
      gap: 1em;
    }
    
    [data-table-nav-target="info"],
    [data-table-nav-target="paginate"] {
      display: none;
    }
  }
}

.search-table {
  @include flex-row-center;
  flex-grow: 1;
  max-width: 22em;

  
  // i {
    //   font-size: 1.25em;
    //   color: $gray;
    // }
    
  > .ts-wrapper {
    // width: 20em;
    
    input {
      background-image: url('icons/bs_search.svg');
      background-repeat: no-repeat;
      background-size: 16px 16px;
      background-position: 0.5em center;
      text-indent: 1.5em;
    }
  }
}

td.toggle-child,
td[data-controller="dropdown"] {
  position: relative;

  > a {
    text-decoration: none;
  }

  > a,
  > button {
    @include flex-row-center-center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    transition: color 0.15s ease-in-out;
    background-color: transparent;
    font-size: 1.15em;
    color: $gray-light;


    &:hover,
    &:focus,
    &:active {
      color: $gray-dark;
    }
  }
}

td.toggle-child {
  > button > i:last-child {
    display: none;
  }
  
  tr.dt-hasChild & > button {
    color: $gray-dark;

    > i:first-child {
      display: none;
    }
  
    > i:last-child {
      display: inline-block;
    }
  }
}

.popover[data-controller="table-display-options"],
.popover[data-controller="visitors-display-options"]  {
  max-width: revert;
  padding: 0;

  .popover-title__wrapper {
    position: relative;
  }

  button.close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 14px;
    color: white;
    opacity: 0.4;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    span {
      position: relative;
      top: -0.15em;
    }
  }

  h3 {
    background-color: $brand-primary;
    color: white;
  }

  .form-group {
    display: flex;
    margin-left: 0;
    margin-right: 0;

    > :last-child {
      width: 30rem;

      .checkbox + .checkbox {
        margin-top: 0.25em;
      }
    }

    select + .ts-wrapper {
      width: 100%;
    }
  }
    
  .control-label {
    flex-grow: 1;
    margin-right: 1.25em;
  }

  .popover-content {
    padding: 1em 1.75em;
    // background-color: $light-gray;
  }

  // &.customer-wins {
  // }

  // &.contributions {
  // }

  // &.promoted-stories {
  // }

  // &.visitors {
  // }
}