@import 'base/variables';
@import './custom_bootstrap';
@import 'base/mixins';
@import 'base/globals';
@import 'vendor/tomselect';
@import 'site/cookie_consent';
@import 'views/navbars/company_header';
@import 'views/navbars/stories_header';
@import 'views/stories/index/search_and_filters';
@import 'views/stories/shared/gallery';
@import 'views/stories/show/show';
@import 'views/stories/shared/cookie_consent';

.stories.index {
  > .container {
    padding-bottom: 5rem;
    min-height: 100vh;  // accommodate the sign-in footer
  }
}

.stories-footer {
  border: 1px solid #e6e6e6;

  .container > div {
    @include flex-row-center-between;
  }

  img {
    margin: 1.75rem 0;
    height: 50px;
  }

  .stories.index & {
    background: #f9f9f9; 
  }
}