
<script type="text/template" id="win-story-contributions-dropdown-template">

  <ul class="list-unstyled" style="margin-bottom:0">

    <li data-group="invitation-templates">
      <a href="javascript:;">by Invitation Template</a>
    </li>

    <li data-group="questions">
      <a href="javascript:;">by Question</a>
    </li>

    <li data-group="contributors">
      <a>by Contributor</a>
    </li>

  </ul>

</script>