/ re: authenticity token: https://github.com/rails/rails/issues/22807
= form_for( \
    story,
    { url: story_path(story.id),
      method: 'PUT',
      remote: true,
      authenticity_token: true,
      html: { \
        id: 'story-content-form',
        class: 'directUpload',
        data: { \
          url: @s3_direct_post.url,
          host: URI.parse(@s3_direct_post.url).host,
          'form-data' => (@s3_direct_post.fields) } }}) do |story_form|

  = hidden_field_tag('story[form]', 'content')

  // a buffer input for uploading story images to AWS; see the summernote onImageUpload callback
  input type="file" id="narrative__img-upload" style="display: none"

  .row
    .col-lg-6
      .form-group
        = story_form.label(:quote, 'Customer Quote')
        = story_form.text_area( \
            :quote,
            { rows: 6, class: 'form-control', placeholder: 'Add a quote from a happy customer' })
      .form-group
        = story_form.label(:quote_attr_name, 'Customer Name')
        = story_form.text_field(:quote_attr_name, class: 'form-control', autocomplete: 'off')
      .form-group
        = story_form.label(:quote_attr_title, 'Customer Job Title')
        = story_form.text_field(:quote_attr_title, class: 'form-control', autocomplete: 'off')
    .col-lg-6
      = render('stories/edit/content/video', { story: story, story_form: story_form })

  .row
    .col-sm-6.form-group.summary.has-feedback
      = story_form.label(:summary, 'Summary')
      = story_form.text_area( \
          :summary,
          { class: 'form-control',
            rows: 8,
            placeholder: 'Provide a brief story summary that will appear in a preview window along with the Customer Quote',
            data: { 'summary-range': '50-150' } })

      // bootstrap validator
      .help-block.with-errors style='height:20px'
        | Minimum 50 words, Maximum 150 words
    .col-sm-6.success-results
      = render('stories/edit/content/results', { story: story, story_form: story_form })

  // - if story.contributions.submissions.present?
    = render('stories/edit/content/contributions', { contributions: story.contributions })

  .form-group.narrative style="width: 624px"
    = story_form.label(:narrative, 'Narrative')
    = story_form.text_area(:narrative, id: 'narrative-editor', data: { provider: 'summernote' })

= render('shared/submission_footer', { modifier: 'story', story: story })