
<script type='text/template' id='success-results-template'>

  <ul class='list-unstyled'>

    {{ _.each(results, function (result, index) { }}

      <li class="success-result">

        <div class="row">

          <div class='col-sm-11'>
            <p>{{= result.description }}</p>
          </div>

          <div class="col-sm-1">
            <i class='remove-result fa fa-remove'></i>
            <input name="story[success_attributes][results_attributes][{{= index }}][_destroy]" type="hidden" value="false">
            <input class="hidden" type="checkbox" value="true" name="story[success_attributes][results_attributes][{{= index }}][_destroy]" id="story_success_attributes_results_attributes_{{= index }}__destroy">
          </div>

        </div>

        <div class='row'>
          <div class="col-sm-12 save-or-cancel text-center hidden">
            <span>Save changes to remove this Result<br><a class='cancel'>Cancel</a></span>
          </div>
        </div>

      </li>

      <input type="hidden" value="{{= result.id }}" name="story[success_attributes][results_attributes][{{= index }}][id]" id="story_success_attributes_results_attributes_{{= index }}_id">

    {{ }) }}

  </ul>

  <input type="hidden" value="{{= successId }}" name="story[success_attributes][id]" id="story_success_attributes_id">

</script>

<script type="text/template" id='new-success-result-template'>

  <li class="success-result new-result">

    <div class='row'>
      <div class='col-sm-12'>

        <textarea class="form-control" rows="3" placeholder="New Result" name="story[success_attributes][results_attributes][{{= index }}][description]" id="story_success_attributes_results_attributes_{{= index }}_description"></textarea>

        <div class='save-or-cancel text-center'>
          <span>Save changes to add this Result<br><a class='cancel'>Cancel</a></span>
        </div>

      </div>

    </div>

  </li>

</script>

