
#new-story-modal {
  .modal-header {
    .close {
      font-size: 26px;
    }
  }
}

#curate {

  .sidebar-contents {
    margin-top: -10px;
    .form-group.search {
      position: relative;
      i {
        position: absolute;
        color: #999;
        right: 30px;
        bottom: 11px;
        z-index: 100;
        cursor: pointer;
      }
    }
  }

  #curate-stories {
    .layout-sidebar {
      padding-right: 0;
      h4 {
        margin-top: 3px  // so it doesn't get clipped by clip class
      }
    }
    .grid-item {  // overrides stories.scss
      padding: 0;
      margin: 4px 30px 30px 30px;
    }
    #curate-filters  {
      form {
        width: 100%;
        .form-group {
          margin-bottom: 15px;
        }
        .form-group:nth-of-type(4) {
          margin-bottom: 20px;
        }
      }
    }
    #curate-gallery {
      // see gallery.scss
    }
  }

  #curate-story {
    // settings for this table are in crowdsource.scss
    #curate-contributors-table {
    }
  }

}