
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table;  content: ''; }
.clearfix:after { clear: both; }

/* Main content */
.cs-main {
  position: relative;
  z-index: 50;
}

/* Grid container */
.cs-grid:not(.cs-grid-carousel) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Overlay */
.cs-grid::after {
  content: '';
  background: rgba(202,202,202,0.4);
  opacity: 0;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity $anim-time;
  transition: opacity $anim-time;
}

.view-single .cs-grid::after {
  opacity: 1;
}

.grid__item * {
  z-index: 10;
}

/* Placeholder element (dummy that gets animated when we click on an item) */
.placeholder {
  pointer-events: none;
  position: absolute;
  width: calc(100% + 5px);
  height: calc(100vh + 5px);
  z-index: 100;
  top: 0;
  left: 0;
  background: $color_secondary;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;

  @media only screen and (max-width: 767px) {
    background: #f2f2f2;
  }

}

.placeholder.placeholder--trans-in {
  -webkit-transition: -webkit-transform $anim-time;
  transition: transform $anim-time;
  -webkit-transition-timing-function: cubic-bezier(0.165,0.84,0.44,1);
  transition-timing-function: cubic-bezier(0.165,0.84,0.44,1);
}

.placeholder.placeholder--trans-out {
  -webkit-transition: -webkit-transform $anim-time;
  transition: transform $anim-time;
}

/* main content */
.cs-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  height: 0; /* Avoid second scroll bar in Chrome! */
  visibility: hidden;
  z-index: 400;
  overflow: hidden;
}

.cs-content.content--show {
  background-color: $content_background;
  height: 100vh;
  pointer-events: auto;
  visibility: visible;
}

/* scroll helper wrap */
.scroll-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* single content item */
.content__item {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 0;
  opacity: 0;
  padding: 0;
  pointer-events: none;
}

.content__item.content__item--show {
  height: auto;
  min-height: 100vh;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: opacity 0s;
  transition: opacity 0s;
}

.cs-close-xs {
  position: absolute;
  top: 15px;
  right: 2%;
  border: none;
  background: none;
  padding: 5px; // not really necessary, but prevents the focus highlight from looking goofy
  z-index: 100;
  span {
    color: black;
    font-size: 32px !important;
    i.fa-circle {
      opacity: 0.4;
    }
    i.fa-times-thin {
      position: absolute;
      top: -5px;
      font-size: 50px !important;
      opacity: 1;
    }
  }
}

