
$item_width: 242px;
$sidebar_width: 0px;
$color_primary: #f2f2f2;
$color_secondary: #f2f2f2;
$content_background: #f2f2f2;
$color_link: #81c483;
$anim-time: 0.3s;

@import "base";
@import "mediaqueries";
@import "../../stories/show/show";

.cs-overlay-container {
  height: auto;
  padding: 20px 0;
  // z-index: 50;
}