
<h3>Thank you for your feedback.</h3>

<p>If you have any questions, please contact your Story Curator.</p>

<div class="row">

  <div class='col-md-2'>
    <label for="curator">Story Curator</label>
  </div>

  <div class='col-md-10'>
    <span id='curator'><%= user_full_name(@curator) %></span> <br>
    <span><%= @curator.company.name %></span> <br>
    <span><%= @curator.email %></span> <br>
  </div>

</div>