
<div id='progress-modal' class="modal fade" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    data-keyboard='false' data-backdrop='static'>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-header">
        <h4>Sending request...</h4>
      </div>

      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped active"
                role='progressbar' style='width:100%'
                aria-valuenow='80' aria-valuemin="0" aria-valuemax='100'>
          </div>
        </div>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->