<ul id="contributions-nav" class="nav nav-layout-sidebar nav-stacked">

  <li class="active">
    <a href="#pre-request" data-toggle="tab">
      <i class="fa fa-play-circle"></i>
      &nbsp;&nbsp;Contributors
    </a>
  </li>

  <li>
    <a href="#in-progress" data-toggle="tab">
      <i class="fa fa-line-chart"></i>
      &nbsp;&nbsp;Progress
    </a>
  </li>

  <li>
    <a href="#feedback" data-toggle="tab">
      <i class="fa fa-comment-o"></i>
      &nbsp;&nbsp;Feedback
    </a>
  </li>

  <li>
    <a href="#contributions" data-toggle="tab">
      <i class="fa fa-users"></i>
      &nbsp;&nbsp;Contributions
    </a>
  </li>

  <li>
    <a href="#connections" data-toggle="tab">
      <i class="fa fa-linkedin-square"></i>
      &nbsp;&nbsp;Connections
    </a>
  </li>

</ul>