
<!-- contribution cards template -->
<script type="text/template" id="cc-template">

  {{ contributions.forEach(function (contribution, index) { }}

    <div class="well contribution-card accordion"
        id="{{= type }}-accordion-{{= index }}"
        data-contribution-id="{{= contribution.id }}">

      <div class="row">
        <div class="col-sm-7 vcenter" style='font-size:14px'>
          {{= contribution.contributor.first_name + ' ' + contribution.contributor.last_name }}
        </div><!--
     --><div class="col-sm-5 text-right vcenter">

          {{ if (type === 'pre-request') { }}
            <a class='send-request' data-remote="true" rel="nofollow" tabindex="-1"
                href="/contributions/{{= contribution.id }}/confirm_request">
              <i class="glyphicon glyphicon-envelope bip-clickable"
                  data-toggle='tooltip' data-placement='top'
                  title='Send contribution request'></i></a>
          {{ } }}

          {{ if (contribution.status === 'contribution' || contribution.status === 'feedback' ) { }}
            <a class="accordion-toggle" data-toggle="collapse" tabindex="-1"
                data-parent="#{{= type }}-accordion-{{= index }}"
                href="#collapse-{{= type }}-submission-{{= index }}">
              <i class="glyphicon glyphicon-comment bip-clickable"
                  data-toggle='tooltip' data-placement='top'
                  title="{{= contribution.status == 'contribution' ? 'Contribution' : 'Feedback' }}"></i></a>
          {{ } }}

          <a class="accordion-toggle" data-toggle="collapse" tabindex="-1"
              data-parent="#{{= type }}-accordion-{{= index }}"
              href="#collapse-{{= type }}-info-{{= index }}">
            <i class="glyphicon glyphicon-info-sign bip-clickable"
                data-toggle='tooltip' data-placement='top'
                title='More information'></i></a>

          <!--/*
            dynamic research button is presently only featured under Connections.
            so it's unnecessary here, but may be useful at some point
            (curator enters a linkedin_url upon on creating contributor)
          */-->
          {{ if (contribution.linkedin) { }}

            <a class='research' target="_blank" tabindex='-1'
                href="{{= contribution.contributor.linkedin_url }}">
              <i class='fa fa-linkedin-square bip-clickable-fa'
                  data-toggle='tooltip' data-placement='top'
                  title='LinkedIn profile'></i></a>

          {{ } else { }}

            <a target="_blank" tabindex="-1"
              href="http://google.com/search?q={{= contribution.contributor.first_name + '+' + contribution.contributor.last_name + '+' + contribution.success.customer.name }}">
              <i class="glyphicon glyphicon-user bip-clickable"
                  data-toggle='tooltip' data-placement='top'
                  title='Research'></i></a>

          {{ } }}

        </div>
      </div>

      {{ if (type === 'in-progress' || type === 'next-steps' || type === 'connection') { }}
        <div class="row">
          <div class="col-sm-12">
            {{= (contribution.status === 'feedback' || contribution.status === 'did_not_respond')? 'Next step:' : 'Status:' }}&nbsp;
            {{= contribution.display_status }}
          </div>
        </div>
      {{ } }}

      <div class="row">
        <div class="col-sm-12">

          <div id="collapse-{{= type }}-submission-{{= index }}"
              class="accordion-body collapse">
            <div class="accordion-inner">
              <hr>
              {{ if (contribution.status === 'contribution') { }}
                {{= contribution.contribution }}
              {{ } else if (contribution.status === 'feedback') { }}
                {{= contribution.feedback }}
              {{ } }}
            </div>
          </div>

          <div id="collapse-{{= type }}-info-{{= index }}"
              class="accordion-body collapse">
            <div class="accordion-inner">
              <hr>
              Role:&nbsp;&nbsp;{{= contribution.role }} <br>
              Email:&nbsp;&nbsp;{{= contribution.contributor.email }} <br>
              <div class="row">

                <div id='edit-{{= type }}-phone-{{= index }}'
                    class='col-sm-2 text-center pull-right cc-editable'
                    style='padding:0; margin-top:-2px'>
                  <i class='glyphicon glyphicon-pencil bip-clickable'></i>
                </div>

                <div id='{{= type }}-phone-{{= index }}' class='col-sm-10 cc-editable'
                    style='padding-right:0; margin-bottom:4px'>
                    Phone:&nbsp;&nbsp;
                  <span data-bip-type="input" data-bip-attribute="phone"
                      data-bip-activator="#edit-{{= type }}-phone-{{= index }}"
                      data-bip-html-attrs="{&quot;style&quot;:&quot;width:100%&quot;}"
                      data-bip-object="user"
                      data-bip-original-content="{{= contribution.contributor.phone }}"
                      data-bip-value="{{= contribution.contributor.phone }}"
                      data-bip-url="/contributions/{{= contribution.access_token }}"
                      data-bip-placeholder="<i>add phone ...</i>"
                      class="best_in_place"
                      id="{{= type }}_best_in_place_user_{{= contribution.contributor.id }}_phone">
                    {{= contribution.contributor.phone || "<i>add phone ...</i>" }}
                  </span>
                </div> <br style='line-height:10px'>

              </div>
              Referred by:&nbsp;&nbsp;{{= contribution.referrer_id !== null ? contribution.referrer.first_name + ' ' + contribution.referrer.last_name : "n/a" }} <br>
              Notes: <br>

              <div class="row">

                <div id="edit-{{= type }}-notes-{{= index }}"
                    class="col-sm-2 text-center pull-right cc-editable"
                    style="padding:0; margin-top:-2px">
                  <i class="glyphicon glyphicon-pencil bip-clickable"></i>
                </div>

                <div id="{{= type }}-notes-{{= index }}"
                    class="col-sm-10 cc-editable" style="padding-right:0; margin-bottom:4px">
                  <span data-bip-type="textarea" data-bip-attribute="notes"
                      data-bip-activator="#edit-{{= type }}-notes-{{= index }}"
                      data-bip-html-attrs="{&quot;style&quot;:&quot;width:100%&quot;}"
                      data-bip-object="contribution"
                      data-bip-original-content="{{= contribution.notes }}"
                      data-bip-value="{{= contribution.notes }}"
                      data-bip-url="/contributions/{{= contribution.access_token }}"
                      data-bip-placeholder="<i>add notes ...</i>"
                      class="best_in_place"
                      id="{{= type }}_best_in_place_contribution_{{= contribution.id }}_notes">
                    {{= contribution.notes || "<i>add notes ...</i>" }}
                  </span>
                </div>

              </div>

              {{ if (type == 'connection') { }}

                LinkedIn profile: <br>
                <div class="row">

                  <div id='edit-linkedin-{{= index }}'
                      class='col-sm-2 text-center pull-right cc-editable'
                      style='padding:0; margin-top:-2px'>
                    <span class='glyphicon glyphicon-pencil bip-clickable'></span>
                  </div>

                  <div id='linkedin-{{= index }}' class='col-sm-10 cc-editable'
                      style='padding-right:0'>
                    <span data-bip-type="input" data-bip-attribute="linkedin_url"
                        data-bip-activator="#edit-linkedin-{{= index }}"
                        data-bip-html-attrs="{&quot;style&quot;:&quot;width:100%&quot;}"
                        data-bip-object="user"
                        data-bip-original-content="{{= contribution.contributor.linkedin_url }}"
                        data-bip-value="{{= contribution.contributor.linkedin_url }}"
                        data-bip-url="/contributions/{{= contribution.access_token }}"
                        data-bip-placeholder="<i>add url ...</i>"
                        class="best_in_place"
                        id="best_in_place_user_{{= contribution.contributor.id }}_linkedin_url">
                      {{= contribution.contributor.linkedin_url || "<i>add url ...</i>" }}
                    </span>
                  </div>

                </div>

                {{ if (contribution.linkedin) { }}
                  <br style='line-height:10px'>
                  <div class='row text-center linkedin-profile'>
                    <!-- // linkedin widget will be inserted here -->
                  </div>
                {{ } }}

              {{ } }}
            </div>  <!-- //.accordion-inner -->
          </div>
        </div>
      </div>
    </div>
  {{ }); }}
</script>
