
<ul id="stories-gallery" class="grid list-unstyled text-center <%= no_filters_present ? 'no-filters' : '' %>">

  <% cache(cache_key, skip_digest: true) do %>

    <% stories.each do |story| %>

      <% cache("#{company.subdomain}/main-gallery-story-#{story.id}-card-" +
         "memcache-iterator-#{company.story_tile_fragments_memcache_iterator}",
         skip_digest: true) do %>

        <li class="grid-item" data-story-id="<%= story.id %>">

          <%= render(
                'stories/shared/story_card',
                {
                  company: company,
                  story: story,
                  is_curator: false,
                  is_widget: false,
                  is_external: false
                }
              ) %>

        </li>

      <% end %>

    <% end %>

  <% end %>

</ul>