
/ NOTE tabIndex = -1 must be removed for select2 to work in the modal
#new-story-modal.modal.fade role="dialog"
  .modal-dialog role="document"
    .modal-content

      .modal-header
        button.close type="button" data-dismiss="modal" aria-label="Close"
          span aria-hidden="true" &times;
        h4.modal-title New Customer Story

      .modal-body

        = form_for( \
            Story.new, 
            url: company_stories_path(company),
            html: { \
              id: 'new-story-form', 
              autocomplete: 'off',
              remote: true, 
              class: 'form-horizontal' }) do |story_form|

          / default to 0, change if success is selected
          = story_form.hidden_field(:success_id)

          .form-group.required-input
            label.col-sm-3.control-label for="story_title" Story Title
            .col-sm-9
              = story_form.text_field(:title, class: 'form-control')

          = story_form.fields_for(:success, story_form.object.build_success) do |success_form|

            = success_form.hidden_field(:id)
            = success_form.hidden_field(:name)
            = success_form.hidden_field(:customer_id)
            = success_form.hidden_field(:curator_id, value: current_user.id)

            = success_form.fields_for( \
                :customer,
                success_form.object.build_customer) do |customer_form|

              = customer_form.hidden_field(:id)
              = customer_form.hidden_field(:name)
              = customer_form.hidden_field(:company_id, value: company.id)

            .form-group.required-input
              label.col-sm-3.control-label for="story_success_attributes_customer_id" Customer
              .col-md-9
                = collection_select( \
                    nil, 
                    nil,
                    company.customers.sort_by { |customer| customer.name },
                    :id, 
                    :name, 
                    { include_blank: true },
                    { class: 'new-story customer form-control', style: 'width:100%' })

            .form-group.success
              label class='col-sm-3 control-label' for="story_success_attributes_customer_id" 
                | Customer Win
              .col-md-9
                = collection_select( \
                    nil, 
                    nil,
                    company.successes.sort_by { |success| success.name },
                    :id, 
                    :name, 
                    { include_blank: true },
                    { class: 'new-story success form-control', style: 'width:100%' })

            .form-group
              label class="col-sm-3 control-label" for="story_success_attributes_story_category_ids"
                | Category Tags
              .col-sm-9
                = success_form.collection_select( \
                    :story_category_ids,
                    company.story_categories,
                    :id,
                    :name,
                    {},
                    { class: 'story-tags form-control', multiple: true, style: 'width:100%' })

            .form-group
              .col-sm-3.control-label for="story_success_attributes_product_ids"
                | Product Tags
              .col-sm-9
                = success_form.collection_select( \
                    :product_ids,
                    company.products,
                    :id,
                    :name,
                    {},
                    { class: 'story-tags form-control', multiple: true, style: 'width:100%' })

      .modal-footer
        / <button type="reset" class="btn btn-default" data-dismiss='modal'>Cancel</button>
        button {
          type="submit" 
          class="btn btn-success text-center" 
          style="width:106px"
          form="new-story-form" }
          | Create Story
          i.fa.fa-spin.fa-circle-o-notch style="display:none"
          i.fa.fa-check style="display:none"