.search-and-filters.visible-xs-block {
  class=('visible-sm-block' unless company.story_categories.featured.blank? && company.products.featured.blank?) }
  
  = render('stories/shared/search_form', { company:, is_header_search: false })

  hr

  - if company.story_categories.featured.present? && company.products.featured.present?
    .filter-controls
      div data-filters-match-type="#{filters_match_type}"
        | Match:&nbsp;&nbsp;&nbsp;
        label.radio-inline for="match-all-xs-sm"
          input {
            type="radio" 
            name="match-type-xs-sm" 
            id="match-all-xs-sm" 
            value="all" 
            checked=('true' if filters_match_type == 'all') }
            | all
        label.radio-inline for="match-any-xs-sm"
          input {
            type="radio" 
            name="match-type-xs-sm" 
            id="match-any-xs-sm" 
            value="any" 
            checked=('true' if filters_match_type == 'any') }
            | any
      button type="button" class="btn-link" data-action="stories#clearFilters"
        | Clear all 

    .stories-filter.form-group
      .input-group.tom-select.multi
        span.input-group-addon
          = image_tag('icons/bs_funnel.svg', alt: 'filter')
        = select_tag( \
            '',
            grouped_options_for_select( \
              { \
                'Category' => company.tag_select_options('category', only_featured: true, for_multi_select: true), 
                'Product' => company.tag_select_options('product', only_featured: true, for_multi_select: true) \
              }.delete_if { |tag_type, options| options.blank? },
              filters.map { |tag_type, tag_id| "#{tag_type}-#{tag_id}" }),
            { class: 'stories-filter__select stories-filter__select--grouped',
              multiple: true,
              style: 'width: 100%',
              data: { \
                controller: 'tomselect',
                dynamic_placeholder: 'Select Category and/or Product',
                stories_target: 'filterSelect' } })
      .filter-results.text-right
        span.help-block

  - elsif company.story_categories.featured.present?
    = render( \
        'stories/shared/select_category', 
        { company:, 
          name: nil,
          select_id: SecureRandom.urlsafe_base64, 
          preselected_id: filters[:category],
          is_dashboard: false })

  - elsif company.products.featured.present?
    = render( \
        'stories/shared/select_product', 
        { company:, 
          name: nil,
          select_id: SecureRandom.urlsafe_base64, 
          preselected_id: filters[:product],
          is_dashboard: false })