.search-and-filters.visible-md-block.visible-lg-block class=(both_filters_present ? 'tall' : 'short')

  = render('stories/shared/search_form', { company: company })

  - if both_filters_present
    .text-right
      span.search-and-filters__results--combined.help-block
        - if pre_selected_filters['category'].present? || pre_selected_filters['product'].present?
          | Applied filters:&nbsp;&nbsp; #{applied_filters_results}

  - if include_category_filter?(company)
    /- cache(category_select_cache_key, skip_digest: true) do
    .stories-filter.form-group
      label Category
      = select_tag( \
          nil,
          options_for_select( \
            company.story_categories.public_select_options,
            pre_selected_filters['category'].present? ? pre_selected_filters['category'] : ''),
          { include_blank: true,
            placeholder: 'Select',
            class: 'stories-filter__select stories-filter__select--category',
            style: 'width: 100%' })
      .text-right
        span.stories-filter__results--category.help-block
          = category_results if pre_selected_filters['category'].present?

  - if include_product_filter?(company)
    /- cache(product_select_cache_key, skip_digest: true) do
    .stories-filter.form-group
      label Product
      = select_tag( \
          nil,
          options_for_select( \
            company.products.public_select_options,
            pre_selected_filters['product'].present? ? [pre_selected_filters['product']] : []),
          { include_blank: true,
            placeholder: 'Select',
            class: 'stories-filter__select stories-filter__select--product',
            style: 'width: 100%' })
      .text-right
        span.stories-filter__results--product.help-block
          = product_results if pre_selected_filters['product'].present?