.stories-filter.form-group
  = label_tag(select_id, 'Category')
  = select_tag( \
      name,
      options_for_select( \
        company.tag_select_options('category', only_featured: !is_dashboard),
        preselected_id),
      { id: select_id,
        include_blank: true,
        placeholder: 'Select',
        class: 'stories-filter__select stories-filter__select--category',
        data: { \
          controller: 'tomselect',
          tomselect_kind_value: 'category',
          stories_target: 'filterSelect' } })