
<a href="//www.linkedin.com/shareArticle?mini=true&url=<%= story.csp_story_url %>"
   class="icon-button-xs linkedin-share" target="_blank">
  <i class="fa fa-linkedin"></i><span></span>
</a>

<a href="//twitter.com/share?url=<%= story.csp_story_url %>"
   class="icon-button-xs twitter-share" target="_blank">
  <i class="fa fa-twitter"></i><span></span>
</a>

<a href="//www.facebook.com/sharer.php?u=<%= story.csp_story_url %>"
   class="icon-button-xs facebook-share" target="_blank">
  <i class="fa fa-facebook"></i><span></span>
</a>