
<div class="tab-pane fade" id="contributions">

  <div id='contribution-contributors'>

    <% @contributions_contributors.each_with_index do |contribution, index| %>

      <%= render 'stories/shared/contribution_card',
              { contribution: contribution, type: "contribution", index: index } %>

    <% end %>

  </div>
</div>