
<script type="text/template" id="stories-template">

  {{ stories.forEach(function (story) { }}

    {{ var storySlug = story.csp_story_path.slice(story.csp_story_path.lastIndexOf('/') + 1, story.csp_story_path.length); }}

    <li class='grid-item' data-story-id="{{= story.id }}" data-story-slug="{{= storySlug }}">

      <a href="{{= (story.published && story.csp_story_path) || (story.preview_published && 'javascript:;') || (isCurator && '/stories/' + story.id + '/edit') || 'javascript:;' }}"
         class="thumbnail {{= isCurator ? 'curator' : 'public' }} {{= story.published ? 'published' : (story.preview_published ? 'preview-published' : (story.logo_published ? 'logo-published' : 'pending-curation')) }} {{= story.title ? 'title-present' : '' }}"
         data-logosrc="{{= story.success.customer.logo_url }}"
         data-company-name='{{= JSON.stringify(story.success.customer.name) }}'
         data-summary='{{= JSON.stringify(story.summary) }}'
         data-quote='{{= JSON.stringify(story.quote) }}'
         data-quote-attr-name='{{= JSON.stringify(story.quote_attr_name) }}'
         data-quote-attr-title='{{= JSON.stringify(story.quote_attr_title) }}'
         data-preview-contributor='{{= JSON.stringify(story.published_contributors[0]) }}'
         style="{{= !isCurator && !(story.published || story.preview_published) ? 'pointer-events:none' : ';' }}">

        <div class="thumbnail-view">
          <div class='thumbnail-view-hover'>
            <p>{{= story.title }}</p>
          </div>
          {{ if (story.success.customer.logo_url) { }}
            <img src="{{= story.success.customer.logo_url }}">
          {{ } else { }}
            <img src="<%= asset_path('company-logo-missing.png') %>">
          {{ } }}
        </div>

        {{ if (isCurator || story.published || story.preview_published) { }}

          <div class="caption"
            style="{{= (story.published || story.preview_published || story.logo_published) ? 'background-color:' + '<%= company.header_color_1 %>' + ';color:' + '<%= company.header_text_color %>' : '' }}">
            {{= story.published ? (isCurator ? 'Published' : 'Read story') : (story.preview_published ? (isCurator ? 'Preview published' : 'See more') : (story.logo_published ? 'Logo published' : 'Pending curation')) }}
          </div>

        {{ } }}

      </a>

    </li>

  {{ }); }}

</script>
