<!--
  locals: @story
-->

<div class='col-sm-3 text-center'>
  <img id='story-show-logo-img'
    src="<%= @story.success.customer.logo_url || asset_path('company-logo-missing.png') %>">
</div>  <!-- logo -->

<!-- quote -->
<div class='col-sm-9 story-text'>
  <p id='story-quote' class='lead story-text'>
    <em>"<%= @story.quote %>"</em>
  </p>
  <div class='row'>
    <div class='col-sm-11 text-right'>
      <p id='story-quote-attr'>
        <em>- <%= @story.quote_attr %></em>
      </p>
    </div>
  </div>
</div>  <!-- quote -->

