
<div class="container">

  <div class="row story-header">

    <div class="hidden-xs col-sm-9">

      <h3>Customer Story</h3>

      <% if is_curator %>

        <div class="hidden-xs">
          <%= link_to(
                curate_story_path(story.customer.slug, story.slug, csp_curate_story: 'content'),
                { class: 'btn btn-secondary curate-story', style: 'width: 140px' }
              ) do %>
            <i class='fa fa-pencil fa-fw'></i>&nbsp;
            <span>Curate Story</span>&nbsp;
          <% end %>
        </div>

      <% end %>

    </div>

    <div class="visible-xs-block col-xs-12">
      <h3>Customer Story</h3>
    </div>

    <div class="social-buttons col-sm-3 hidden-xs text-right">
      <a href="<%= LINKEDIN_SHARE_URL + story.csp_story_url %>" target="_blank"
         class="icon-button linkedin-share">
        <i class="fa fa-linkedin"></i><span></span>
      </a>
      <a href="<%= TWITTER_SHARE_URL + story.csp_story_url %>" target="_blank"
         class="icon-button twitter-share">
        <i class="fa fa-twitter"></i><span></span>
      </a>
      <a href="<%= FACEBOOK_SHARE_URL + story.csp_story_url %>" target="_blank"
         class="icon-button facebook-share">
        <i class="fa fa-facebook"></i><span></span>
      </a>
    </div>

  </div>

</div>