<div class='row'>
  <div class='well'>
    <div class="container-fluid">
      <div class="row text-justify">

        <div id='edit-story-title'
            style='position:absolute; right:20px; margin-top:-3px'>
          <span class='glyphicon glyphicon-pencil bip-clickable'></span>
        </div>

        <div id='story-title' class='col-md-11'>
          <%= best_in_place @story, :title, as: :textarea, url: story_path(@story),
              html_attrs: { style: 'width:100%' },
              activator: '#edit-story-title', place_holder: "Add a title ..." %>
        </div>

      </div>
    </div>
  </div>  <!-- well -->
</div>