
<div class="tab-pane fade" id="connections">
  <div id='contribution-connections'>

    <% @contributions_connections.each_with_index do |contribution, index| %>

      <%= render 'stories/shared/contribution_card',
            { contribution: contribution, type: "connection", index: index } %>

    <% end %>

  </div>
</div>