<!-- connection -->
<div class="tab-pane fade" id="connections">

  <div class="heading-block">
    <h4>
      Story Connections
    </h4>
  </div> <!-- /.heading-block -->

  <div id='contribution-connections'>
    <div class='text-center'>

      <% @contributions.select { |c| c.linkedin == true }
                       .each do |contribution| %>

          <script type="IN/MemberProfile"
                 data-id="<%= contribution.contributor.linkedin_url %>"
             data-format="inline" data-related="false" data-width='340'></script>

      <% end %>

    </div>
  </div>  <!-- contribution connections -->
</div>  <!-- connection -->