
<div class="tab-pane fade" id="in-progress">

  <div id='in-progress-contributors'>

    <% if @contributions_in_progress.empty? %>
      <p class="lead text-center" style='margin-top:2.8%'>None currently</p>
    <% end %>

    <% @contributions_in_progress.each_with_index do |contribution, index| %>

      <%= render 'stories/shared/contribution_card',
            { contribution: contribution, type: "in-progress", index: index } %>

    <% end %>

  </div>
</div> <!-- in-progress