
<div class="tab-pane fade" id="connections">
  <div id='contribution-connections'>

    <% @contributions_connections.each_with_index do |contribution, index| %>

      <% if contribution.linkedin? %>

        <div class='text-center'>
          <script type="IN/MemberProfile"
                 data-id="<%= contribution.contributor.linkedin_url %>"
             data-format="inline" data-related="false" data-width='340'></script>
        </div>

      <% else %>

        <%= render 'stories/shared/contribution_card',
              { contribution: contribution, type: "connection", index: index } %>

      <% end %>

    <% end %>

  </div>
</div>