

<%= link_to root_path do %>
  <span class='glyphicon glyphicon-chevron-left'
      style='color:#337ab7; margin-right:5px'>
  </span>More stories</span>
<% end %>

<% if company_curator? @company.id %>

  <div>
    <%= link_to edit_story_path(@story.id) do %>
      <span class='glyphicon glyphicon-chevron-left'
          style='color:#337ab7; margin-right:5px'>
      </span><span>Edit story</span>
    <% end %>

  </div>

<% end %>


