<div class='row'>
  <div class="well" id='story-quote-well' style='position:relative; margin-bottom:10px'>
    <div class='container-fluid'>

      <div class="row text-justify">

        <div id='edit-story-quote'
            style='position:absolute; right:20px; margin-top:-3px'>
          <span class='glyphicon glyphicon-pencil bip-clickable'></span>
        </div>

        <div id='story-quote' class="col-md-11">
          <!-- http://stackoverflow.com/questions/13561533 -->
          <%= best_in_place @story, :quote, as: :textarea, url: story_path(@story.id),
              display_with: lambda { |text| story_quote(text) }, sanitize: false,
              html_attrs: { style: 'width:100%' },
              activator: '#edit-story-quote',
              place_holder: "Add a customer quote ..." %>
        </div>

      </div>  <!-- row --> <br>

      <div class="row">

        <div id='edit-story-quote-attr'
            style='position:absolute; right:20px; margin-top:-3px'>
          <span class='glyphicon glyphicon-pencil bip-clickable'></span>
        </div>

        <div id='story-quote-attr' class='col-md-11'>

          <%= best_in_place @story, :quote_attr, url: story_path(@story.id),
              activator: '#edit-story-quote-attr',
              place_holder: "Add an attribution ...",
              html_attrs: { style: 'width: 100%' } %>

        </div>

      </div> <!-- row -->

    </div>  <!-- container -->
  </div>  <!-- well -->
</div>