
<script id='sub-linkedin-widget-template' type='text/template'>

  <div class="sub-widget-wrapper hidden" style="{{= wide ? 'width:420px' : 'width:340px' }}">
    <div class="container-outer">
      <div class="li-profile-container member-profile"
           style="{{= wide ? 'width:416px' : 'width:336px' }}">
        <div class="li-profile-card vcard">
          <div class="ie-filter-fix">
            <div class="member-info">
              <h1>
                <a href="{{= contributor.linkedin_url }}"
                   target='_blank' class='url'>
                  <span id="name" class="n fn">
                    <span class="given-name">{{= contributor.first_name }}</span>
                    <span class="family-name">{{= contributor.last_name }}</span>
                  </span> </a>
              </h1>
              <p>
                <span class="title">
                  <b>{{= contributor.linkedin_title }}</b>
                  at
                  <b class="org">{{= contributor.linkedin_company }}</b>
                </span>
                <span class="locality">
                  {{= contributor.linkedin_location }}
                </span>
              </p>
              <div class="widget-actions">
                <p>
                  <a href="{{= contributor.linkedin_url }}"
                     target='_blank' class='btn-ternary'>
                    View Profile
                  </a>
                </p>
              </div>
            </div>
            <div class="member-photo">
              <img class='photo' height='80'
                  src="{{= contributor.linkedin_photo_url }}" alt="">
              <span class='mark'></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</script>