#new-success-modal.modal.fade role="dialog"
  .modal-dialog role="document"
    .modal-content

      .modal-header 
        button.close type="button" data-dismiss="modal" aria-label="Close"
          span aria-hidden="true"
            |&times;
        h4.modal-title
          |New Customer Win(s)

      .modal-body

        .new-records 
          label
            |Added the following Customer Wins 
            ul.list-unstyled

        = form_with( \
          model: [company, Success.new], \
          format: :js, \
          local: false, \
          html: { id: 'new-success-form', class: 'form-horizontal' }) do |success_form|

          = success_form.hidden_field(:customer_id)
          = success_form.fields_for(:customer, success_form.object.build_customer) do |customer_form|
            = customer_form.hidden_field(:id)
            = customer_form.hidden_field(:name)
            = customer_form.hidden_field(:company_id, value: company.id)

          .form-group.source
            label.col-sm-3.control-label
              |Source
            .col-sm-9
              .btn-group style="margin-bottom: 10px;"
                = label_tag('source_create', class: 'radio-inline') do
                  = radio_button_tag('source', 'create', true)
                  |New Customer Win
                = label_tag('source_import', class: 'radio-inline') do
                  = radio_button_tag('source', 'import')
                  |Import CSV File

          .form-group.csv-file.required-input
            label.col-sm-3.control-label
              |File
            .col-sm-9

              .fileinput.fileinput-new.input-group data-provides="fileinput"
                .form-control data-trigger="fileinput"
                  i.glyphicon.glyphicon-file.fileinput-exists
                  .fileinput-filename.placeholder 
                    |Upload
                .input-group-addon.btn.btn-default.btn-file
                  label for="csv-file-input"
                    i.fa.fa-fw.fa-upload
                    input type="file" id="csv-file-input" style="display:none"
              span.help-block

          .form-group.customer.required-input
            label.col-sm-3.control-label
              |Customer
            .col-sm-9
              = select( \
                nil, \
                nil, \
                company.customers.sort_by { |c| c.name }.map { |c| [c.name, c.id] },  \
                { include_blank: true }, \
                { name: '', class: 'new-success customer form-control', style: 'width:100%', required: true })
              span.help-block 
                |Required

          .form-group.required-input 
            label.col-sm-3.control-label for="success_name" 
              |Name
            .col-sm-9
              = success_form.text_field( \
                :name, \
                class: 'form-control', \
                required: true, \
                placeholder: 'Name of Project / Deal / Opportunity from CRM')
              span.help-block 
                |Required 

          .form-group.curator.required-input
            label.col-sm-3.control-label for="success_curator_id"
              |Curator
            .col-sm-9
              = success_form.collection_select( \
                :curator_id, \
                company.curators.sort_by { |c| c.last_name }, \
                :id, \
                :full_name, \
                { include_blank: true }, \
                { class: 'new-success curator form-control', style: 'width:100%', required: true })
              span.help-block
                |Required

          = success_form.fields_for(:contributions, success_form.object.contributions.build) do |contribution_form|
            / = contribution_form.hidden_field( \
            /   :invitation_template_id, \
            /   value: company.invitation_templates.customer_success.id \
            / )

            .form-group.referrer
              label.col-sm-3.control-label for="referrer_id"
                |Referred by
              .col-sm-9
                = contribution_form.collection_select( \
                  :referrer_id, \
                  company.referrers \
                    .sort_by { |referrer| referrer.last_name } \
                    .unshift(User.new(id: 0, first_name: '- Create New Contact -', last_name:'')), \
                  :id, \
                  :full_name, \
                  { include_blank: true }, \
                  # effectively disabled by default by giving it a blank name \
                  { name: '', class: 'new-success referrer form-control', style: 'width:100%' } )

            = render( \
              'companies/shared/create_contact', \
              { form: 'new-success', contribution_form: contribution_form, contact_type: 'referrer' })

          = success_form.fields_for(:contributions, success_form.object.contributions.build) do |contribution_form|
            / = contribution_form.hidden_field( \
            /   :invitation_template_id, \
            /   value: company.invitation_templates.customer.id)
            = contribution_form.hidden_field(:success_contact, value: true)
            .form-group.contributor
              label.col-sm-3.control-label for="contributor_id"
                |Customer Contact
              .col-sm-9
                = contribution_form.collection_select( \
                  :contributor_id, \
                  (company.contributors - company.referrers - company.curators) \
                    .sort_by { |contributor| contributor.last_name } \
                    .unshift(User.new(id: 0, first_name: '- Create New Contact -', last_name:'')), \
                  :id, \
                  :full_name, \
                  { include_blank: true }, \
                  # effectively disabled by default by giving it a blank name \
                  { name: '', class: 'new-success contributor form-control', style: 'width:100%' })
            = render( \
              'companies/shared/create_contact', \
              { form: 'new-success', contribution_form: contribution_form, contact_type: 'contributor' })

          .form-group.win-story
            label.col-sm-3.control-label for="success_win_story_html"
              |Description
            .col-sm-9
              = success_form.text_area( \
                :win_story_html, \
                rows: 4, \
                class: 'form-control', \
                placeholder: 'Description of Project / Deal / Opportunity from CRM')

      .modal-footer
        / <!-- <button type="reset" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
        button.btn.btn-success.text-center type="submit" style="width:80px" form="new-success-form"
          span 
            |Create
          i.fa.fa-spin.fa-circle-o-notch style="display:none"
          i.fa.fa-check style="display:none"