
<script type='text/template' id='success-details-template'>

  {{ var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content'); }}

  <div class="container success-details" style='width:100%'>

    <form id="success-form-{{= success.id }}" action='{{= successPath }}' method='post' data-remote='true' data-type='script' class='success-form'>

      <input type="hidden" name="_method" value="put">
      <input type="hidden" name="authenticity_token" value="{{= AUTH_TOKEN }}">

      <div class="row">
        <div class="col-sm-8">

          <div class='form-group' style='width:100%'>
            <label for='success_description'>Win Story Template</label>
              <textarea id='success_description' name="success[description]" class="form-control" rows='9' style='width:100%'>{{= success.description }}</textarea>
          </div>

        </div>

        <div class="col-sm-4">

          <!-- <div class='form-group' style='width:100%'> -->
            <label for='curator_name'>Curator</label>
            <p style="margin-bottom: 15px">{{= success.curator.full_name }}</p>
    <!--         <input type="text" id='curator_name' class="form-control" value="{{= success.curator.full_name }}" style='width:100%' readonly> -->
          <!-- </div> -->

          {{ if (success.referrer) { }}

            <!-- <div class='form-group' style='width:100%'> -->
              <label>Referrer</label>
              <p style="margin-bottom: 15px">{{= success.referrer.first_name + ' ' + success.referrer.last_name }}</p>
  <!--             <input type="text" class="form-control" value="{{= success.referrer.first_name + ' ' + success.referrer.last_name }}" style='width:100%' readonly> -->
            <!-- </div> -->

          {{ } }}

          {{ if (success.contact) { }}

            <!-- <div class='form-group' style='width:100%'> -->
              <label>Customer Contact</label>
              <p style="margin-bottom: 15px">{{= success.contact.first_name + ' ' + success.contact.last_name }}</p>
     <!--          <input type="text" class="form-control" value="{{= success.contact.first_name + ' ' + success.contact.last_name }}" style='width:100%' readonly> -->
            <!-- </div> -->

          {{ } }}

        </div>
      </div>

      <hr>

      <div class='row'>
        <div class="col-sm-12 text-right">
          <button type="reset" class="btn btn-sm btn-default">
            Close
          </button>
          <button type="submit" disabled class="btn btn-sm btn-success text-center" style="width:97px">
            <span>Save changes</span>
            <i class='fa fa-spin fa-circle-o-notch' style='display:none'></i>
            <i class='fa fa-check' style='display:none'></i>
          </button>&nbsp;
        </div>
      </div>

    </form>

  </div>

</script>