
<table id="successes-table" 
    class="datatable table table-hover table-bordered"
    width="100%"
    style="visibility: hidden">

  <thead>
    <tr>
      <th class="toggle-success-child">
      <!-- padding ensures a min width; spec'ed in dt init but may fall short -->
        <i class="fa fa-rocket" style="color:#666; padding: 0 6px"></i>
      </th>
      <th>Customer Win</th>
      <th>Customer</th>  <!-- hidden, row grouping -->
      <th>Curator</th>  <!--  hidden -->
      <th>Status</th>
      <th>Story</th>  <!-- hidden -->
      <th class="actions">Actions</th>
    </tr>
  </thead>

  <tbody>
  </tbody>

</table>

