/.loading style="height:3rem"
  = image_tag('icons/180-ring.svg', alt: 'loading', style: 'height:100%')

.table-controls
  div
    .curator-select data-action="tomselect:change-curator->resource#onCuratorChange"
      label
        span Curator
      = select_tag( \
          nil,
          options_from_collection_for_select(company.curators, :id, :full_name, current_user.id),
          { include_blank: true,
            placeholder: 'Select',
            class: 'form-control',
            data: { \
              controller: 'tomselect', 
              tomselect_type_value: 'curator', 
              resource_target: 'curatorSelect' } })
    
    .filter-select data-action="tomselect:change-filter->resource#onFilterChange tomselect:search->resource#searchTable"
      label
        i.fa.fa-filter
      = select_tag( \
          nil,
          grouped_options_for_select( \
            'Customer' => company.customers.map { |customer| [customer.name, "customer-#{customer.id}"] },
            'Customer Win' => company.successes.map { |success| [success.name, "success-#{success.id}"] }),
          { include_blank: true,
            placeholder: 'Search / Select',
            id: 'successes-filter',
            class: 'dt-filter form-control',
            data: { \
              controller: 'tomselect', 
              tomselect_type_value: 'filter', 
              resource_target: 'filterSelect',
              dashboard_target: 'customerWinsFilter' } })

  div
    div
      / empty label for spacing
      /label 
      /button.btn.btn-secondary {
        type="button"
        data-controller="modal-trigger"
        data-modal-trigger-modal-outlet="#main-modal"
        data-modal-trigger-title-value="New Customer Win"
        data-modal-trigger-turbo-frame-attrs="{\"id\":\"new-contribution\",\"src\":\"#{new_company_success_path(company)}\"}"
        data-action="modal-trigger#showModal" }
        i.fa.fa-fw.fa-plus-circle
        |&nbsp;&nbsp;New Customer Win
      button.btn.btn-default {
        type="button" 
        data-resource-target="newItemBtn"
        data-controller="modal-trigger"
        data-modal-trigger-modal-outlet="#main-modal"
        data-modal-trigger-title-value="New Customer Win"
        data-modal-trigger-turbo-frame-attrs-value="#{
          { id: 'new-customer-win', src: new_company_success_path(company) + "?curator_id=#{current_user.id}" }.to_json }"
        data-action="modal-trigger#showModal"
        aria-label="New Customer Win" }
        i.fa.fa-fw.fa-plus

      button.btn.btn-default {
        type="button" 
        aria-label="Table Display Options" 
        data-resource-target="tableDisplayOptionsBtn" }
        i.fa.fa-fw.fa-server

    div 
      .help-block.text-right data-resource-target="filterResults"

/.row.successes-header
  .col-sm-7
    .form-horizontal
      .form-group
        label.col-sm-3.control-label Group
        .col-sm-9
          .checkbox
            label for="group-by-customer"
              input type="checkbox" id="group-by-customer" data-action="customer-wins#toggleRowGroups" checked=""
              span 
                |&nbsp;&nbsp;by Customer
      .form-group
        label.col-sm-3.control-label Show
        .col-sm-9
          .checkbox
            label for="show-wins-with-story"
              input.checkbox-filter {
                type="checkbox" 
                id="show-wins-with-story"
                data-customer-wins-target="filterCheckbox"
                data-action="customer-wins#searchTable" 
                checked="" }
              span 
                |&nbsp;&nbsp;Customer Wins with Story started
  .col-sm-5.select-filters
    .form-horizontal
      .form-group
        label.col-sm-3.control-label Curator
        .col-sm-9 style="padding:0"
          = select_tag( \
              nil,
              options_from_collection_for_select(company.curators, :id, :full_name, current_user.id),
              { include_blank: true,
                placeholder: 'Search / Select',
                class: 'prospect successes curator-select form-control',
                data: { \
                  controller: 'tomselect', 
                  tomselect_type_value: 'curator', 
                  customer_wins_target: 'curatorSelect',
                  sync_tables: 'true' } })
      .form-group.search
        label.col-sm-3.control-label for="successes-filter" Filter
        .col-sm-9 style="padding:0"
          = select_tag( \
              nil,
              grouped_options_for_select( \
                'Customer' => company.customers.map { |customer| [customer.name, "customer-#{customer.id}"] },
                'Customer Win' => company.successes.map { |success| [success.name, "success-#{success.id}"] }),
              { include_blank: true,
                placeholder: 'Search / Select',
                id: 'successes-filter',
                class: 'dt-filter form-control',
                data: { \
                  controller: 'tomselect', 
                  tomselect_type_value: 'filter', 
                  customer_wins_target: 'filterSelect',
                  dashboard_target: 'customerWinsFilter',
                  sync_tables: true } })
    .help-block.text-right data-customer-wins-target="filterResults"

table#successes-table.table.datatable.table-bordered.has-row-groups {
  data-controller="datatable"
  data-resource-target="datatable"
  data-datatable-dashboard-outlet=".dashboard"
  data-datatable-resource-outlet="#customer-wins"
  data-datatable-enable-row-groups-value="true"
  data-action="datatable:init->resource#tableInitComplete"
  width="100%" }
  thead
    tr
      th.toggle-child
        / padding ensures a min width; spec'ed in dt init but may fall short
        i.fa.fa-rocket style="color:#666; padding: 0 6px"
      th Customer Win
      / hidden, row grouping
      th Customer
      / hidden
      th Curator
      th Status
      / hidden
      th Story
      th.actions Actions