/.loading style="height:3rem"
  = image_tag('icons/180-ring.svg', alt: 'loading', style: 'height:100%')

= render( \
    'companies/shared/table_controls',
    { company: company, 
      curator_id: current_user.id,
      row_name: 'Customer Win',
      modal_turbo_frame_attrs: { \
        id: 'new-customer-win', 
        src: new_company_success_path(company) + "?curator_id=#{current_user.id}" },
      dashboard_target: 'customerWinsFilter',
      search_options: { \
        'Customer' => company.customers.sort_by(&:name).map { |customer| [customer.name, "customer-#{customer.id}"] },
        'Customer Win' => company.successes.sort_by(&:updated_at).reverse.map { |success| [success.name, "success-#{success.id}"] } }})  

table#successes-table.table.datatable.table-bordered.has-row-groups {
  data-controller="datatable"
  data-resource-target="datatable"
  data-datatable-dashboard-outlet=".dashboard"
  data-datatable-resource-outlet="#customer-wins"
  data-datatable-enable-row-groups-value="true"
  data-action="datatable:init->resource#tableInitComplete" }
  thead
    tr
      th.toggle-child
        / padding ensures a min width; spec'ed in dt init but may fall short
        i.fa.fa-rocket style="color:#666; padding: 0 6px"
      th Customer Win
      / hidden, row grouping
      th Customer
      / hidden
      th Curator
      th Status
      / hidden
      th Story
      th.actions Actions