
<script type="text/template" id="win-story-placeholders-dropdown-template">

  {{ var dtContributors = $('#prospect-contributors-table').DataTable(); }}

  <ul class="list-unstyled" style="margin-bottom:0">

    <li data-placeholder="<span contenteditable=&quot;false&quot;>[customer logo]</span>">
      <a href="javascript:;">Customer Logo</a>
    </li>
    <li data-placeholder="<span contenteditable=&quot;false&quot;>[customer description]</span>">
      <a href="javascript:;">Customer Description</a>
    </li>
    <li data-placeholder="<span contenteditable=&quot;false&quot;>[all contributions]</span>">
      <a href="javascript:;">All Contributions</a>
    </li>

    <li style="font-weight: bold; pointer-events: none">Individual Contributions</li>

    {{ _.uniq(contributionsData.answers, false, function (answer) { return answer.contribution_id; }).forEach(function (answer) { }}

      {{ var contributor = dtContributors.rows('[data-contribution-id="' + answer.contribution_id + '"]').data()[0].contributor; }}

      <li data-contribution-id="{{= answer.contribution_id }}" data-placeholder="[Individual Contribution: {{= contributor.full_name }}]">
        <a>{{= contributor.full_name }}</a>
      </li>

    {{   }); }}

    <li style="font-weight: bold; pointer-events: none">Group Contributions</li>

    {{ contributionsData.questions.forEach(function (question) { }}

      <li  data-placeholder="<div data-question-id='{{= question.id }}' contenteditable='false'>[Group Contribution: {{= question.question }}]</div>">
        <a>{{= question.question }}</a>
      </li>

    {{ }) }}

  </ul>

</script>
