
<script type="text/template" id="win-story-placeholders-dropdown-template">

  {{ var dtContributors = $('#prospect-contributors-table').DataTable(); }}

  <ul class="list-unstyled" style="margin-bottom:0">

    <li data-placeholder="<span contenteditable=&quot;false&quot;>[customer logo]</span>">
      <a href="javascript:;">Customer Logo</a>
    </li>
    <li data-placeholder="<span contenteditable=&quot;false&quot;>[customer description]</span>">
      <a href="javascript:;">Customer Description</a>
    </li>
    <li data-placeholder="<span contenteditable=&quot;false&quot;>[all contributions]</span>">
      <a href="javascript:;">All Contributions</a>
    </li>

    <li style="font-weight: bold; pointer-events: none">Contributor Q&amp;A</li>

    {{ _.uniq(contributionsData.answers, false, function (answer) { return answer.contribution_id; }).forEach(function (answer) { }}

      {{ var contributor = dtContributors.rows('[data-contribution-id="' + answer.contribution_id + '"]').data()[0].contributor; }}

      <li data-contribution-id="{{= answer.contribution_id }}" data-placeholder="<span contenteditable=&quot;false&quot;>[Contributor Q&A: {{= contributor.full_name }}]</span>">
        <a href="javascript:;">{{= contributor.full_name }}</a>
      </li>

    {{   }); }}

    <li style="font-weight: bold; pointer-events: none">Group Q&amp;A</li>

    {{ contributionsData.questions.forEach(function (question) { }}

      <li data-question-id="{{= question.id }}" data-placeholder="<span contenteditable=&quot;false&quot;>[Group Q&A: {{= question.question }}]</span>">
        <a href="javascript:;">{{= question.question }}</a>
      </li>

    {{ }) }}

  </ul>

</script>
