
.modal:not(#video-modal):not(.bootbox) {
  .modal-content {
    overflow: hidden;
    .modal-header {
      background: #f9f9f9;
      color: #555;
    }
    .modal-footer {
      background: #f9f9f9;
    }
  }
}