
#company-header {

  button.primary-cta {
    border-radius: 2px;
    text-transform: uppercase;
    opacity: 1;
    padding: 11px 24px 13px 24px;  // adjust for font
    &:hover {
      background-color: #003464 !important;
    }
    a {
      span {
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;
      }
    }
  }

}