
export default (success) => `

<div class="container success-child-row" style="width: 100%">
  <form id="success-form-${ success.id }" class="success-form"
        method="post" action="/successes/${ success.id }" 
        data-remote="true" data-type="script">

    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="authenticity_token" value="${ $('meta[name=csrf-token]').attr('content') }">
    <input type="hidden" name="success[win_story_html]">
    <input type="hidden" name="success[win_story_text]">
    <input type="hidden" name="success[win_story_markdown]">
    <input type="hidden" name="success[win_story_completed]" value="${ success.win_story_completed }">

    <div class="row">
      <div class="col-sm-12" style="display:flex; padding: 0 5px;">
        <div style="display:inline-block">

          <div class="form-group win-story" style="position:relative; width: 600px;">

            <button type="button" class="win-story-actions__expand">
              <i class="fa fa-fw fa-expand"></i>
              <i class="fa fa-fw fa-compress" style="display:none"></i>
            </button>

            <label for="win-story-editor">
              Win Story
            </label>

            <div id="win-story-editor" class="form-control" contenteditable="false"></div>

            <span class="win-story-actions" style="position:absolute; top:0; right:0; padding-right: 5px">
              ${ winStoryActions() }
            </span>
          </div>

          <div class="text-right" style="height: 30px">

            <button type="submit" class="btn btn-sm btn-success text-center mark-completed" 
                    style="display: none;" disabled>
              <span class="mark-completed">Mark as Completed</span>
              <span class="save-changes" style="display: none;">Save changes</span>
              <i class="fa fa-spin fa-circle-o-notch" style="display: none"></i>
              <i class="fa fa-check" style="display: none"></i>
            </button>

          </div>

        </div>

        <div style="display:inline-block; flex-grow: 1; padding: 20px 18px 0 18px;">

          <label for="curator_name">Curator</label>
          <p style="margin-bottom: 15px">${ success.curator.full_name }</p>
          ${ success.referrer ? `
            <label>Referrer</label>
            <p style="margin-bottom: 15px">
              ${ success.referrer.first_name + ' ' + success.referrer.last_name }
            </p>` : ``
          }
          ${ success.contact ? ` 
            <label>Customer Contact</label>
            <p style="margin-bottom: 15px">
              ${ success.contact.first_name + ' ' + success.contact.last_name }
            </p>` : ``
          }

        </div>

      </div>
    </div>

  </form>
</div>
`

function winStoryActions() {
  return `
    <button type="button" class="win-story-actions__edit">
      <i class="fa fa-fw fa-edit"></i>
      <i class="fa fa-fw fa-search" style="display:none"></i>
      <span>Edit</span>
      <span style="display:none">View</span>
    </button>
    ${
      "<%= Rails.env.development? === 'true' %>" ? `
        <button type="button" class="win-story-actions__email" 
                data-toggle="modal" data-target="#win-story-email-modal">
          <i class="fa fa-fw fa-envelope-o"></i>
          Email
        </button>` : ``
    }
    <button type="button" class="win-story-actions__copy">
      <i class="fa fa-fw fa-clipboard"></i>
      Copy
    </button>
    ${
      "<%= Rails.env.development? === 'true' %>" ? `
        <button type="button" class="win-story-actions__pdf" disabled>
          <i class="fa fa-fw fa-file-pdf-o"></i>
          PDF
        </button>
        <button type="button" class="win-story-actions__zapier" data-toggle="modal" data-target="#win-story-zapier-modal" style="position:relative">
          <img src="https://s3-us-west-1.amazonaws.com/csp-production-assets/zapier/zapier-brand.png" alt="zapier">
          <span>Zapier</span>
        </button>` : ''
    }
  `
}