main.user-profile form {
  position: relative;
  left: -2.5%;
  margin: 0 auto;
  width: 70rem;
  
  .input-group,
  input {
    max-width: 28rem;
  }
  
  .input-group:not(:has(.input-group-btn)) {
    width: 100%;
    
    input {
      border-top-right-radius: $input-border-radius;
      border-bottom-left-radius: $input-border-radius;
    }
  }
}

.user-profile__photo {
  .image-card {
    display: inline-block;
  }
}

.user-profile__current-password {
  display: flex;

  > [class*="col-"]:not(label) {
    display: flex;
    flex-direction: column; 
    justify-content: flex-end
  }

  form.has-new-password & {
    label::before {
      content: 'Current ';
    }
  }
}

.user-profile__password,
.user-profile__password-confirmation {
  display: none;
  
  form.has-new-password & {
    display: block;
  }
}

// allow these labels to overflow to the left
.user-profile__current-password,
.user-profile__password,
.user-profile__password-confirmation {
  label {
    direction: rtl;
    white-space: nowrap;
  }
}