
#switch-user {
  margin: 20px 0;
}

.user-photo-upload {
  display: flex;
  flex-direction: column;
  width: 170px; 
  height: 170px; 
  background: $blueish-gray-lighter;
  .fileinput {
    margin-bottom: 0;  // override jasny
    padding-top: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    .thumbnail {
      pointer-events: none;
      width: 120px;
      height: 120px;
      margin-bottom: 0;  // override jasny
      div {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        // these settings come from jasny and bootstrap;
        // => need to recreate them since insertion of centering div kills them
        img {
          max-height: 100%;
          display: block;
          max-width: 100%;
          height: auto;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

.btn.user-photo-upload__button {
  flex-grow: 1;
  background: none;
  border: none;
  padding: 5px 12px 7px 12px;
  font-size: 13px;
  width: 100%;
  color: #666;
  &:hover, &:focus, &.focus {
    color: #222;
  }
  &:active, &.active {
    box-shadow: none;
  }
}

.profile.edit {

  // for safari
  input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
  }

  // .layout-sidebar {
  //   @media only screen and (min-width: 992px) {
  //     width: 22%
  //   }
  // }
  // .layout-main {
  //   @media only screen and (min-width: 992px) {
  //     width: 78%
  //   }
  // }

  // #profile-tab {
  //   form > .row:first-of-type {
  //     > div:first-of-type {
  //       padding: 0 15px 0 25px;
  //       .form-group:first-of-type {
  //         margin-bottom: 12px;
  //       }
  //       .fileinput {
  //         position: relative;
  //         .thumbnail {
  //           height: 115px;
  //           width: 115px;
  //         }
  //         .photo-btns {
  //           > div:first-child {
  //             margin-bottom: 8px;
  //           }
  //           position: absolute;
  //           top: 0;
  //           left: 125px;
  //         }
  //       }
  //     }
  //     > div:last-of-type {
  //       padding: 0 25px 0 15px;
  //       .form-group:nth-of-type(2) {
  //         // margin-bottom: 32px;
  //       }
  //       .linkedin-url {
  //         position: relative;
  //         .input-group {
  //           width: 100%;
  //         }
  //         a.linkedin-connect {
  //           z-index: 100;
  //           position: absolute;
  //           top: 23px;
  //           left: 0;
  //           right: 79px;
  //           background-color: #2672ae;
  //           color: white;
  //           border-top-right-radius: 0;
  //           border-bottom-right-radius: 0;
  //         }
  //         a.linkedin-connect:hover {
  //           border-color: #245e98;
  //         }
  //         i {
  //           color: #666;
  //         }
  //       }
  //       .linkedin-url.url-present {
  //         a.linkedin-connect {
  //           display: none;
  //         }
  //       }
  //       .linkedin-url.url-absent {
  //         .input-group-btn {
  //           opacity: 0.5;
  //           pointer-events: none;
  //         }
  //       }
  //     }
  //   }
  // }

}