#user-profile-form,
#change-password-form {
  input {
    max-width: 28rem;
  }
}

#user-profile-form {
  .user-photo {
    margin-bottom: 2.25rem;

    @media (min-width: 991px) {
      padding: 0;
      text-align: right;
    }
  }

  .form-group {
    margin-left: 0;
    margin-right: 0;
  }

  .image-card {
    display: inline-block;
  }
}