= form_with( \
    model: company,
    id: 'contributor-prompts-form',
    class: 'form-horizontal',
    style: 'padding-top:2.25rem',
    data: { \
      controller: 'contributor-prompts toast',
      toast_errors_value: \
        (errors if defined?(errors) && turbo_frame_request_id == 'contributor-prompts-frame'),
      action: [ \
        'turbo:submit-start->contributor-prompts#onSubmitStart',
        'turbo:submit-end->contributor-prompts#onSubmitEnd',
        'list:ready-to-submit->contributor-prompts#turboSubmit' ].join(' ') }) do |form|

  .form-group
    .col-sm-12

      = tag.div( \
          id: 'contributor-prompts-list',
          class: 'crud-list',
          data: { \
            controller: 'list',
            list_sort_enabled_value: false,
            list_new_item_field_name_value: 'company[contributor_questions_attributes][0][question]' }) do

        .crud-list__new-item style="margin-bottom:2.25rem" data-list-target="newItem"
          .input-group
            = form.fields_for(:contributor_questions, company.prompts.build) do |prompt_fields|
              = prompt_fields.text_field( \
                  :question,
                  name: '',
                  class: 'form-control',
                  placeholder: 'Add a new Contributor Prompt',
                  minlength: 5,
                  maxlength: 20,
                  autocomplete: 'off',
                  data: { \
                    list_target: 'newItemInput',
                    action: 'list#onInputNewItem' })
            .input-group-addon.hidden
              = tag.button( \
                  type: 'button',
                  class: 'btn btn-default',
                  data: { \
                    controller: 'tooltip',
                    list_target: 'cancelButton',
                    tooltip_options_value: { title: 'Discard', delay: { show: 500, hide: 0 } },
                    action: "list#cancelNewItem" }) do
                | &times;
          = tag.button( \
              type: 'submit',
              class: 'btn btn-sm btn-success hidden',
              style: 'padding: 7px 12px',
              data: { \
                content: 'Add Prompt',
                list_target: 'newItemSubmit',
                action: 'list#onClickSubmit',
                disable_with_html: disabled_submit_button_html })

        .help-block

        .crud-list__actions.text-right style="display:flex; justify-content:end; margin-bottom:1.5rem"
          .dropdown 
            = tag.button( \
                type: 'button',
                id: 'contributor-prompt-tags',
                class: 'btn btn-default dropdown-toggle',
                data: { toggle: 'dropdown' },
                aria: { haspopup: true, expanded: false }) do
              i.fa.fa-tags
              |&nbsp;&nbsp;Tagged&nbsp;&nbsp;
              span.caret
            = tag.ul( \
                class: 'dropdown-menu dropdown-menu-right',
                style: 'max-height: 300px; overflow-y: auto;',
                aria: { labelledby: 'contributor-prompt-tags' }) do
              li.dropdown-header Role
              li 
                a href=""
                  .checkbox 
                    label 
                      input type="checkbox" 
                      | Customer
              li
                a href="" Sales
              li.divider role="separator"
              li.dropdown-header Category 
              - company.categories.each do |category|
                li 
                  a href="" = category.name
              li.divider role="separator"
              li.dropdown-header Product 
              - company.products.each do |product|
                li 
                  a href="" = product.name

        = tag.ul(class: 'list-group list-unstyled', data: { list_target: 'list' }) do
          = form.fields_for(:contributor_questions) do |prompt_fields|
            - next if prompt_fields.object.new_record?
            
            = tag.li(class: 'list-group-item', data: { list_target: 'item' }) do
              
              .list-group-item__item
                .list-group-item__content 
                  p 
                    = prompt_fields.object.question
                  .input-group
                    = prompt_fields.text_field( \
                        :question,
                        class: 'form-control',
                        autocomplete: 'off',
                        data: { \
                          list_target: 'itemInput',
                          initial_value: prompt_fields.object.question })
                    = prompt_fields.check_box( \
                        :_destroy,
                        class: 'hidden',
                        data: { list_target: '_destroyCheckbox' })
                    .input-group-addon
                      = tag.button( \
                          type: 'button',
                          class: 'btn btn-default',
                          data: { \
                            controller: 'tooltip',
                            tooltip_options_value: { title: 'Discard changes', delay: { show: 500, hide: 0 } },
                            list_target: 'cancelButton',
                            action: 'list#cancelEdit' }) do
                        | &times;
                  = tag.button( \
                      type: 'submit',
                      class: 'btn btn-sm btn-success',
                      style: 'padding: 7px 12px',
                      # disabled: true,
                      data: { \
                        content: 'Save changes',
                        field_name: '',
                        action: 'list#onClickSubmit',
                        disable_with_html: disabled_submit_button_html })

                .list-group-item__actions
                  = tag.button( \
                      type: 'button',
                      class: 'btn',
                      data: { action: 'list#editItem' }) do
                    i.fa.fa-fw.fa-pencil
                  = tag.button( \
                      type: 'button',
                      class: 'btn',
                      data: { \
                        action: 'list#deleteItem' }) do
                    i.fa.fa-fw.fa-trash