
<div class="row">

  <div class="col-sm-7">
    <label class='control-label'>
      Contributor Invitation Template
    </label>
    <%= select_tag('',
          grouped_options_for_select(
            company.crowdsourcing_templates.grouped_select_options
          ), {
            include_blank: true,
            class: 'crowdsourcing-template form-control', style: 'width:100%'
          }) %>
  </div>

  <div class="col-sm-5">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <button type="button" class="btn btn-default new-template" data-toggle="tooltip" title="New template">
          <i class="fa fa-fw fa-file-o"></i>
        </button>
        <button type="button" class="btn btn-default copy-template" data-toggle="tooltip" title="Copy template" disabled>
          <i class="fa fa-fw fa-copy"></i>
        </button>
        <button type="button" class="btn btn-default restore-template" data-toggle="tooltip" title="Restore template to factory default" disabled>
          <i class="fa fa-fw fa-repeat"></i>
        </button>
        <button type="button" class="btn btn-default delete-template" data-toggle="tooltip" title="Delete template" disabled>
          <i class="fa fa-fw fa-remove"></i>
        </button>
      </div>
    </div>
  </div>

</div>

<div id='crowdsourcing-template-container'>
</div>

<div id='crowdsourcing-template-submit' class="container">
  <div class="row">
    <div class="col-sm-4 col-md-3 layout-sidebar"></div>
    <div class="col-sm-8 col-md-9 layout-main">
      <div class="tab-content stacked-content">
        <p class="pull-left"></p>
      <!--   <button type="reset" form="story-content-form" class="btn btn-default">
          Clear changes
        </button> -->
        <button type="submit" form="crowdsourcing-template-form" class="btn btn-success text-center">
          <span></span>
          <i class='fa fa-spin fa-circle-o-notch' style='display:none'></i>
          <i class='fa fa-check' style='display:none'></i>
        </button>

      </div>
    </div>
  </div>
</div>

<% content_for(:underscore_templates) do %>

  <script type='text/template' id='contributor-questions-template'>

    {{ _.each(contributorQuestions, function (question, index) { }}

      <li class="contributor-question">

        <div class="row">

          <div class='col-sm-11'>
            <p>{{= question.question }}</p>
          </div>

          <div class="col-sm-1">
            <i class='remove-question fa fa-remove'></i>
            <input name="crowdsourcing_template[contributor_questions_attributes][{{= index }}][_destroy]" type="hidden" value="false">
            <input class="hidden" type="checkbox" value="true" name="crowdsourcing_template[contributor_questions_attributes][{{= index }}][_destroy]" id="crowdsourcing_template_contributor_questions_attributes_{{= index }}__destroy">
          </div>

        </div>

        <div class='row'>
          <div class="col-sm-12 save-or-cancel text-center hidden">
            <span>Save changes to remove this Question<br><a class='cancel'>Cancel</a></span>
          </div>
        </div>

      </li>

      <input type="hidden" value="{{= question.id }}" name="crowdsourcing_template[contributor_questions_attributes][{{= index }}][id]" id="crowdsourcing_template_contributor_questions_attributes_{{= index }}_id">
      <input type="hidden" value="{{= company.id }}" name="crowdsourcing_template[contributor_questions_attributes][{{= index }}][company_id]" id="crowdsourcing_template_contributor_questions_attributes_{{= index }}_company_id">

    {{ }) }}

  </script>

  <script type="text/template" id='new-contributor-question-template'>

    <li class="contributor-question new-question">

      <div class='row'>
        <div class='col-sm-12'>

          <input type="hidden" value="{{= company.id }}" name="crowdsourcing_template[contributor_questions_attributes][{{= index }}][company_id]" id="crowdsourcing_template_contributor_questions_attributes_{{= index }}_company_id">

          {{ if (existingQuestion) { }}

            <p>{{= existingQuestion.question }}</p>

            <input type="hidden" value="{{= existingQuestion.id }}" name="crowdsourcing_template[contributor_questions_attributes][{{= index }}][id]" id="crowdsourcing_template_contributor_questions_attributes_{{= index }}_id">

          {{ } else { }}

            <textarea class="form-control" rows="3" placeholder="New Question" name="crowdsourcing_template[contributor_questions_attributes][{{= index }}][question]" id="crowdsourcing_template_contributor_questions_attributes_{{= index }}_question"></textarea>

          {{ } }}

          <div class='save-or-cancel text-center'>
            <span>Save changes to add this Question<br><a class='cancel'>Cancel</a></span>
          </div>

        </div>
      </div>

    </li>

  </script>

<% end %>


