
<%#= form_tag "/", method: :put, remote: true,
      class: 'form-horizontal', id: 'email-templates-form' do %>

<!--   <div class="form-group">
    <%#= label_tag "Template", nil, class: "control-label col-sm-2" %>
    <div class="col-sm-8">
      <%#= select_tag "template[name]",
            options_for_select(templates_select),
           { class: 'templates-select form-control', style: 'width:100%' } %>
    </div>
    <div class="col-sm-2 btn-group" id="restore-dropdown">
      <button type="button" class="btn btn-default dropdown-toggle"
          data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
        Defaults <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a id='restore-all-templates' href="javascript:;">Restore all templates</a>
        </li>
        <li class='disabled'>
          <a id='restore-current-template' href="javascript:;">Restore this template</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <%#= label_tag "template[subject]", "Subject", class: "control-label col-sm-2" %>
    <div class="col-sm-8">
      <div class="input-group">
        <%#= text_field_tag "template[subject]", nil, class: 'form-control' %>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Insert&nbsp;&nbsp;<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Company name</a></li>
              <li><a href="#">Customer name</a></li>
              <li><a href="#">Contributor first name</a></li>
              <li><a href="#">Contributor last name</a></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <button id='test-template' type='button' class='btn btn-default' disabled='true'>
        Test
      </button>
    </div>
  </div>

  <div class="form-group">
    <%#= label_tag "Body", nil, class: "control-label col-sm-2" %>
    <div class="col-sm-8">
      <%#= text_area_tag "template[body]", nil, data: { provider: 'summernote'},
              id: 'email-template-editor', class: 'form-control' %>
    </div>
    <div class="col-sm-2">
      <%#= submit_tag "Save changes", class: "btn btn-success",
            id: 'save-template', disabled: true %> <br><br>
      <button id='cancel-template' type='button' class='btn btn-default' disabled='true'>
        Cancel
      </button>

    </div>
  </div> -->

<%# end %>

<div class="row">
  <div class="form-horizontal" style='margin-left:-50px'>

      <%= label_tag "Template", nil, class: "control-label col-sm-2" %>
      <div class="col-sm-5">
        <%= select_tag "template[name]",
              options_for_select(company.crowdsourcing_templates.map { |t| [t.name, t.id] }.unshift(['']).sort),
             { class: 'templates-select form-control', style: 'width:100%' } %>
      </div>

    <div class="col-sm-2 btn-group" id="restore-dropdown">
      <button type="button" class="btn btn-default dropdown-toggle" style='width:100%'
          data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
        Defaults&nbsp;&nbsp;<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a id='restore-all-templates' href="javascript:;">Restore all templates</a>
        </li>
        <li class='disabled'>
          <a id='restore-current-template' href="javascript:;">Restore this template</a>
        </li>
      </ul>
    </div>

    <div class="col-sm-2">
      <button id='test-template' type='button' class='btn btn-default' disabled='true' style='width:100%'>
        Test
      </button>
    </div>

  </div>
</div>

<hr>

<div id='crowdsourcing-template-container'>
</div>

<% content_for(:underscore_templates) do %>

  <script type='text/template' id='contributor-questions-template'>

    {{ _.each(contributorQuestions, function (question, index) { }}

      <li class="contributor-question">

        <div class="row">

          <div class='col-sm-11'>
            <p>{{= question.question }}</p>
            <div class='save-or-cancel text-center hidden'>
              <span>Save changes below or <a class='cancel-remove-question'>Cancel</a></span>
            </div>
          </div>

          <div class="col-sm-1">
            <i class='remove-question fa fa-remove'></i>
            <input name="crowdsourcing_template[contributor_questions_attributes][{{= index }}][_destroy]" type="hidden" value="false">
            <input class="hidden" type="checkbox" value="true" name="crowdsourcing_template[contributor_questions_attributes][{{= index }}][_destroy]" id="crowdsourcing_template_contributor_questions_attributes_{{= index }}__destroy">
          </div>

        </div>

      </li>

      <input type="hidden" value="{{= question.id }}" name="crowdsourcing_template[contributor_questions_attributes][{{= index }}][id]" id="crowdsourcing_template_contributor_questions_attributes_{{= index }}_id">

    {{ }) }}

  </script>

  <script type="text/template" id='new-contributor-question-template'>

    <li class="contributor-question new-question">

      <div class='row'>
        <div class='col-sm-12'>

          <textarea class="form-control" rows="3" placeholder="Add a question" name="crowdsourcing_template[contributor_questions_attributes][{{= questionIndex }}][question]" id="template[contributor_questions_attributes][{{= questionIndex }}][question]"></textarea>

          <div class='save-or-cancel text-center'>
            <span>Save changes below or <a class='cancel-add-question'>Cancel</a></span>
          </div>

        </div>
      </div>

    </li>

  </script>

<% end %>


