
<label class='control-label'>
  Contributor Invitation Template
</label>
<div class="row">

  <div class="col-sm-7">
    <%= select_tag('',
          grouped_options_for_select(
            company.crowdsourcing_templates.grouped_select_options
          ), {
            include_blank: true,
            class: 'crowdsourcing-template form-control', style: 'width:100%'
          }) %>
  </div>

  <div class="col-sm-2 btn-group" id="template-actions-dropdown" style='padding-left:0'>
    <button type="button" class="btn btn-secondary dropdown-toggle text-center"
            style='width:100%'data-toggle="dropdown" aria-haspopup="true"aria-expanded="false">
      <span>Actions&nbsp;&nbsp;&nbsp;<span class="caret"></span></span>
      <i class='fa fa-spinner fa-pulse' style='display:none'></i>
      <i class='fa fa-check' style='display:none'></i>
    </button>
    <ul class="dropdown-menu">
      <li class='new-template'>
        <a href='javascript:;'>
          <i class='action fa fa-file-o'></i>&nbsp;
          <span>New template</span>
        </a>
      </li>
      <li class='copy-template disabled'>
        <a href='javascript:;'>
          <i class='action fa fa-copy'></i>&nbsp;
          <span>Copy selected template</span>
        </a>
      </li>
      <li class='delete-template disabled'>
        <a href='javascript:;'>
          <i class="action fa fa-remove"></i>&nbsp;
          <span>Delete selected template</span>
        </a>
      </li>
      <li class='restore-selected disabled'>
        <a href="javascript:;">
          <i class="action fa fa-repeat"></i>&nbsp;
          <span>Restore selected default template</span>
        </a>
      </li>
      <li class='restore-all'>
        <a href="javascript:;">
          <i class="action fa fa-repeat"></i>&nbsp;
          <span>Restore all default templates</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-sm-3">
    <!-- filler -->
  </div>

</div>

<hr style='margin-top:25px; margin-bottom:25px'>

<div id='crowdsourcing-template-container'>
</div>

<% content_for(:underscore_templates) do %>

  <script type='text/template' id='contributor-questions-template'>

    {{ _.each(contributorQuestions, function (question, index) { }}

      <li class="contributor-question">

        <div class="row">

          <div class='col-sm-11'>
            <p>{{= question.question }}</p>
          </div>

          <div class="col-sm-1">
            <i class='remove-question fa fa-remove'></i>
            <input name="crowdsourcing_template[contributor_questions_attributes][{{= index }}][_destroy]" type="hidden" value="false">
            <input class="hidden" type="checkbox" value="true" name="crowdsourcing_template[contributor_questions_attributes][{{= index }}][_destroy]" id="crowdsourcing_template_contributor_questions_attributes_{{= index }}__destroy">
          </div>

        </div>

        <div class='row'>
          <div class="col-sm-12 save-or-cancel text-center hidden">
            <span>Save changes to remove this Question<br><a class='cancel'>Cancel</a></span>
          </div>
        </div>

      </li>

      <input type="hidden" value="{{= question.id }}" name="crowdsourcing_template[contributor_questions_attributes][{{= index }}][id]" id="crowdsourcing_template_contributor_questions_attributes_{{= index }}_id">
      <input type="hidden" value="{{= company.id }}" name="crowdsourcing_template[contributor_questions_attributes][{{= index }}][company_id]" id="crowdsourcing_template_contributor_questions_attributes_{{= index }}_company_id">

    {{ }) }}

  </script>

  <script type="text/template" id='new-contributor-question-template'>

    <li class="contributor-question new-question">

      <div class='row'>
        <div class='col-sm-12'>

          <input type="hidden" value="{{= company.id }}" name="crowdsourcing_template[contributor_questions_attributes][{{= index }}][company_id]" id="crowdsourcing_template_contributor_questions_attributes_{{= index }}_company_id">

          {{ if (existingQuestion) { }}

            <p>{{= existingQuestion.question }}</p>

            <input type="hidden" value="{{= existingQuestion.id }}" name="crowdsourcing_template[contributor_questions_attributes][{{= index }}][id]" id="crowdsourcing_template_contributor_questions_attributes_{{= index }}_id">

          {{ } else { }}

            <textarea class="form-control" rows="3" placeholder="New Question" name="crowdsourcing_template[contributor_questions_attributes][{{= index }}][question]" id="crowdsourcing_template_contributor_questions_attributes_{{= index }}_question"></textarea>

          {{ } }}

          <div class='save-or-cancel text-center'>
            <span>Save changes to add this Question<br><a class='cancel'>Cancel</a></span>
          </div>

        </div>
      </div>

    </li>

  </script>

<% end %>


