= turbo_frame_tag('company-ctas')

  = tag.div class: 'form-horizontal',
            data: { \
              controller: 'company-ctas toast',
              toast_flash_value: (flash.to_h if flash.any? && turbo_frame_request_id == 'company-ctas') }
    
    .form-group style="margin-bottom:2.9rem"
      .col-sm-12.col-md-offset-2.col-md-10 
        = link_to( \
            new_company_cta_path(company),
            class: 'btn btn-secondary',
            aria: { label: 'New Call-to-Action' },
            data: { \ 
              turbo_stream: true,
              controller: 'modal-trigger',
              modal_trigger_modal_outlet: '#main-modal',
              modal_trigger_params_value: { title: 'New Call-to-Action', className: 'new-cta' } }) do
          i.fa.fa-plus
          |&nbsp;&nbsp;New

    .form-group
      .visible-sm-block.col-sm-12
        label Main
      label.col-md-2.control-label.visible-md-inline-block.visible-lg-inline-block Main
      .col-sm-12.col-md-10

        - if primary_cta = company.ctas.primary.take
          = tag.ul( \
              class: 'list-group list-group--collapsible list-unstyled',
              data: { controller: 'list-group', list_group_collapse_enabled_value: true },
              style: 'margin-bottom:0')
            li.list-group-item data-list-group-target="item"
              .list-group-item__item
                .list-group-item__content
                  = tag.a href: "#edit-cta-#{primary_cta.id}",
                          aria: { expanded: 'false' },
                          data: { toggle: 'collapse' }
                    p = "#{primary_cta.type == 'CtaLink' ? '[LINK]' : '[FORM]'} #{primary_cta.description}"
                i.fa.fa-fw.fa-chevron-up data-toggle="collapse" data-target="#edit-cta-#{primary_cta.id}"
                i.fa.fa-fw.fa-chevron-down data-toggle="collapse" data-target="#edit-cta-#{primary_cta.id}"
              .collapse id="edit-cta-#{primary_cta.id}" data-list-group-target="collapse"
                = render('ctas/edit', company:, cta: primary_cta)
        - else 
          = link_to( \
              new_company_cta_path(company) + '?primary=true',
              class: 'btn btn-secondary',
              style: 'margin-bottom:2.25rem',
              aria: { label: 'New Call-to-Action' },
              data: { \ 
                turbo_stream: true,
                controller: 'modal-trigger',
                modal_trigger_modal_outlet: '#main-modal',
                modal_trigger_params_value: { \
                  title: 'New Call-to-Action',
                  className: 'new-cta' } }) do
            i.fa.fa-plus
            |&nbsp;&nbsp;New
          /.list-group style="margin-bottom:10px"
            a.list-group-item--empty href="" aria-labelled-by="primary-cta-label-md-lg"
              p None

    .form-group
      .visible-sm-block.col-sm-12
        label Sidebar
      label.col-md-2.control-label.visible-md-inline-block.visible-lg-inline-block Sidebar
      .col-sm-12.col-md-10

        - if company.ctas.sidebar.present?
          
          = content_tag( \
              company.ctas.sidebar.count > 1 ? :ol : :ul,
              class: [ \
                'list-group list-group--collapsible list-unstyled',
                { 'list-group--sortable':  company.ctas.sidebar.count > 1 } ],
              data: { \
                controller: 'list-group',
                list_group_collapse_enabled_value: true })

            - company.ctas.sidebar.each do |cta|
              li.list-group-item data-list-group-target="item"
                .list-group-item__item
                  = tag.i(class: 'fa fa-fw fa-arrows-v') if company.ctas.sidebar.count > 1
                  .list-group-item__content
                    = tag.a href: "#edit-cta-#{cta.id}",
                            aria: { expanded: 'false' },
                            data: { toggle: 'collapse' }
                      p = "#{cta.type == 'CtaLink' ? '[LINK]' : '[FORM]'} #{cta.description}"
                  i.fa.fa-fw.fa-chevron-up data-toggle="collapse" data-target="#edit-cta-#{cta.id}"
                  i.fa.fa-fw.fa-chevron-down data-toggle="collapse" data-target="#edit-cta-#{cta.id}"
                .collapse id="edit-cta-#{cta.id}" data-list-group-target="collapse"
                  = render('ctas/edit', company:, cta:)