
<div class="row">

  <div class="col-sm-7">
    <label class='control-label'>
      Contributor Invitation Template
    </label>
    <%= select_tag('',
          grouped_options_for_select(
            company.invitation_templates.grouped_select_options
          ), {
            include_blank: true,
            class: 'invitation-template form-control', style: 'width:100%'
          }) %>
  </div>

  <div class="col-sm-5">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <button type="button" class="btn btn-default new-template" data-toggle="tooltip" title="New template">
          <i class="fa fa-fw fa-file-o"></i>
        </button>
        <button type="button" class="btn btn-default copy-template" data-toggle="tooltip" title="Copy template" disabled>
          <i class="fa fa-fw fa-copy"></i>
        </button>
        <button type="button" class="btn btn-default restore-template" data-toggle="tooltip" title="Restore template to factory default" disabled>
          <i class="fa fa-fw fa-repeat"></i>
        </button>
        <button type="button" class="btn btn-default delete-template" data-toggle="tooltip" title="Delete template" disabled>
          <i class="fa fa-fw fa-remove"></i>
        </button>
      </div>
    </div>
  </div>

</div>

<div id='invitation-template-container'>
</div>

<%= render(
      'shared/submission_footer', 
      { modifier: 'invitation-template', story: nil }
    ) %>

<% content_for(:underscore_templates) do %>

  <script type='text/template' id='contributor-questions-template'>

    {{ _.each(templateQuestions, function (tq, index) { }}

      <li class="contributor-question">

        <div class="row">

          <div class='col-sm-11'>
            <p>{{= tq.contributor_question.question }}</p>
          </div>

          <div class="col-sm-1">
            <i class='remove-question fa fa-remove'></i>
            <input name="invitation_template[templates_questions_attributes][{{= index }}][_destroy]" type="hidden" value="false">
            <input class="hidden" type="checkbox" value="true" name="invitation_template[templates_questions_attributes][{{= index }}][_destroy]" id="invitation_template_templates_questions_attributes_{{= index }}__destroy">
          </div>

        </div>

        <div class='row'>
          <div class="col-sm-12 save-or-cancel text-center hidden">
            <span>Save changes to remove this Question<br><a class='cancel'>Cancel</a></span>
          </div>
        </div>

      </li>

      <input type="hidden" value="{{= tq.id }}" name="invitation_template[templates_questions_attributes][{{= index }}][id]" id="invitation_template_templates_questions_attributes_{{= index }}_id">

    {{ }) }}

  </script>

  <script type="text/template" id='new-contributor-question-template'>

    <li class="contributor-question new-question">

      <div class='row'>
        <div class='col-sm-12'>


          {{ if (existingQuestion) { }}

            <p>{{= existingQuestion.question }}</p>

            <input type="hidden" value="{{= existingQuestion.id }}" name="invitation_template[templates_questions_attributes][{{= index }}][contributor_question_id]" id="invitation_template_templates_questions_attributes_{{= index }}_contributor_question_id">

            <input type="hidden" value="{{= invitationTemplateId }}" name="invitation_template[templates_questions_attributes][{{= index }}][invitation_template_id]" id="invitation_template_templates_questions_attributes_{{= index }}_invitation_template_id">

          {{ } else { }}

            <input type="hidden" value="{{= company.id }}" name="invitation_template[contributor_questions_attributes][{{= index }}][company_id]" id="invitation_template_contributor_questions_attributes_{{= index }}_company_id">

            <textarea class="form-control" rows="3" placeholder="New Question" name="invitation_template[contributor_questions_attributes][{{= index }}][question]" id="invitation_template_contributor_questions_attributes_{{= index }}_question"></textarea>

          {{ } }}

          <div class='save-or-cancel text-center'>
            <span>Save changes to add this Question<br><a class='cancel'>Cancel</a></span>
          </div>

        </div>
      </div>

    </li>

  </script>

<% end %>


