
<div id="new-cta-modal" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New CTA</h4>
      </div>

      <div class="modal-body">

        <%= render('ctas/new_cta_form', { company: company }) %>

      </div>

      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button type="submit" class="btn btn-success" form="new-cta-form" style="width:82px">
          <span>Add CTA</span>
          <i class='fa fa-spin fa-circle-o-notch' style='display:none'></i>
          <i class='fa fa-check' style='display:none'></i>
        </button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->