
<ul class="nav nav-layout-sidebar nav-stacked">

  <li>
    <a href="#edit-company-profile" data-toggle="tab">
      <i class="fa fa-fw fa-globe"></i>
      <span>Company Profile</span>
    </a>
  </li>

  <li>
    <a href="#edit-crowdsource" data-toggle="tab" class='<%= @company.new_record? ? 'disabled-tab' : '' %>'>
      <i class="fa fa-fw fa-users"></i>
      <span>Crowdsource Settings</span>
    </a>
  </li>

  <li>
    <a href="#edit-tags" data-toggle="tab" class='<%= @company.new_record? ? 'disabled-tab' : '' %>'>
      <i class="fa fa-fw fa-tags"></i>
      <span>Story Tags</span>
    </a>
  </li>

  <li>
    <a href="#edit-ctas" data-toggle="tab" class='<%= @company.new_record? ? 'disabled-tab' : '' %>'>
      <i class="fa fa-fw fa-hand-pointer-o"></i>
      <span>Link &amp Form CTAs</span>
    </a>
  </li>

  <li>
    <a href="#edit-plugins" data-toggle="tab" class='<%= @company.new_record? ? 'disabled-tab' : '' %>'>
      <i class='fa fa-fw fa-plug' style='font-size:15px; top:2px; margin-left:2px'></i>
      <span></span>Stories Plugin</span>
    </a>
  </li>

</ul>