= turbo_frame_tag('company-tags') do

  = form_with( \
      model: company,
      url: tags_company_path(company),
      id: 'company-tags-form',
      class: 'form-horizontal',
      data: { \
        controller: 'company-tags toast',
        toast_flash_value: (flash.to_h if flash.any? and turbo_frame_request_id == 'company-tags'),
        toast_errors_value: (@errors if @errors and turbo_frame_request_id == 'company-tags'),
        action: [ \
          'tomselect:add-tag->company-tags#onAddTag',
          'tomselect:remove-tag->company-tags#onRemoveTag',
          'turbo:submit-start->company-tags#onTurboSubmitStart'].join(' ') }) do |form|

    - ['story_categories', 'products'].each do |source|
      - label_text = source == 'story_categories' ? 'Category' : source.singularize.capitalize

      = form.fields_for(source) do |tag_fields|
        / leave the order of inputs in place as the stimulus controller behavior depends on it
        = tag_fields.hidden_field(:id, data: { source:, company_tags_target: 'hiddenField' })
        = tag_fields.hidden_field(:name, data: { source:, company_tags_target: 'hiddenField' })
        = tag_fields.check_box( \
            :_destroy,
            { checked: false, hidden: true, data: { source:, company_tags_target: 'hiddenField' } },
            true,
            false)

      .form-group
        .visible-sm-block.visible-md-block.col-sm-offset-1.col-sm-11
          label for="company-#{source}-tags"
            = label_text
        label.col-lg-2.control-label.visible-lg-inline-block for="company-#{source}-tags"
          = label_text
        .col-sm-offset-1.col-sm-11.col-md-10.col-lg-offset-0.col-lg-8
          input.form-control {
            id="company-#{source}-tags"
            value=company.send(source).map(&:name).join(',')
            autocomplete="off"
            data-controller="tomselect"
            data-tomselect-source-value="#{source}"
            data-tomselect-custom-options-value={ create: true, selectOnTab: true, persist: false }.to_json
            data-dynamic-placeholder="Add tags" }

    .row
      .col-sm-offset-1.col-sm-11.col-md-10.col-lg-offset-2.col-lg-8
        = button_tag( \
            '',
            type: 'submit',
            class: 'btn btn-success',
            form: 'company-tags-form',
            data: { \
              content: 'Save changes',
              company_tags_target: 'submitBtn',
              disable_with_html: disabled_submit_button_html })