= turbo_frame_tag('company-tags-frame') do

  = form_with( \
      model: company,
      id: 'company-tags-form',
      class: 'form-horizontal',
      data: { \
        controller: 'company-tags toast',
        toast_errors_value: (@errors if @errors && turbo_frame_request_id == 'company-tags-frame'),
        action: [ \
          'tomselect:add-tag->company-tags#onAddTag',
          'tomselect:remove-tag->company-tags#onRemoveTag',
          'turbo:submit-start->company-tags#onSubmitStart' ].join(' ') }) do |form|

    - %w[category_tags product_tags].each do |source|
      - label_text = source.match(/(?<type>[a-z]+)_tags/)[:type].capitalize

      = form.fields_for(source) do |tag_fields|
        = tag_fields.hidden_field( \
            :id,
            disabled: true,
            data: { tag_name: tag_fields.object.name, company_tags_target: 'tagInput' })
        = tag_fields.hidden_field( \
            :_destroy,
            value: '1',
            disabled: true,
            data: { tag_name: tag_fields.object.name, company_tags_target: 'tagInput' })

      .form-group
        .visible-sm-block.col-sm-12
          / Tomselect will only modify the first label it finds, so we proactively set `for` for each label)
          label for="company-#{source}-ts-control"
            = label_text
        = tag.label( \
            for: "company-#{source}-ts-control",
            class: 'col-md-2 control-label visible-md-inline-block visible-lg-inline-block') do
          = label_text
        .col-sm-12.col-md-10
          = tag.input( \
              id: "company-#{source}",
              class: 'form-control',
              value: company.send(source).map(&:name).join(','),
              autocomplete: 'off',
              data: { \
                controller: 'tomselect',
                tomselect_source_value: source,
                tomselect_custom_options_value: { create: true, selectOnTab: true, persist: false },
                dynamic_placeholder: 'Add tags' })

    .row
      .col-sm-12.col-md-offset-2.col-md-10
        = button_tag( \
            '',
            type: 'submit',
            class: 'btn btn-success',
            form: 'company-tags-form',
            disabled: true,
            name: nil,
            data: { \
              content: 'Save changes',
              company_tags_target: 'submitBtn',
              disable_with_html: disabled_submit_button_html })