
<script type="text/template" id="cta-template">

  <li class="list-group-item" data-cta-id="{{= cta.id }}">

    <div class="cta-description">
      <i class="fa fa-fw fa-{{= cta.type == 'CTALink' ? 'link' : 'wpforms' }}"></i>
      <span>{{= cta.description }}</span>
      <a href="javascript:;" class="remove">
        <i class="fa fa-fw fa-remove"></i>
      </a>
    </div>

    <div id="edit-cta-{{= cta.id }}" class='collapse edit-cta'>
      <hr style="margin-bottom: 15px;border-top: 1px solid #ddd">

      <form id="cta-{{= cta.id }}-form" action="/ctas/{{= cta.id }}" accept-charset="UTF-8" data-remote="true" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input type="hidden" name="_method" value="put">

        {{ if (isPrimary) { }}

    {{ var preventChanges = ['varmour', 'retailnext', 'centerforcustomerengagement', 'compas'].includes(company.subdomain); }}

    {{ if (preventChanges) { }}
      <div style="margin-bottom: 10px; background: transparent; opacity: 0.5" data-toggle="tooltip" data-placement="top" data-container="body" data-title="Contact Customer Stories">
    {{ } }}

          <div id="primary-cta-colors" class="form-group row" style="{{= preventChanges ? 'pointer-events: none' : '' }}">
            <label class="col-sm-2 control-label" for="primary_cta_background_color">
              Button
            </label>
            <div class="col-sm-4">
              <input type="text" name="primary_cta[background_color]" id="primary_cta_background_color" value="{{= company.primary_cta_background_color || '#337ab7' }}" class="form-control mini-colors">
            </div>
            <label class="col-sm-2 control-label text-right" for="primary_cta_text_color">
              Text
            </label>
            <div class="col-sm-4">
              <input type="text" name="primary_cta[text_color]" id="primary_cta_text_color" value="{{= company.primary_cta_text_color || '#ffffff' }}" class="form-control mini-colors minicolors-input">
            </div>
          </div>

    {{ if (preventChanges) { }}
      </div>
    {{ } }}

        {{ } }}

        <div class="form-group" style="margin: 0 0 15px 0">
          <label for="{{= 'cta_' + cta.id + '_description' }}">Name</label>
          <input type="text" id="{{= 'cta_' + cta.id + '_description' }}" class="form-control" name="{{= 'cta_' + cta.id + '[description]' }}" placeholder="description" value="{{= cta.description }}">
        </div>

        <div class="form-group" style="margin: 0 0 15px 0">
          <label for="{{= 'cta_' + cta.id + '_display_text' }}">Display text</label>
          <input type="text" id="{{= 'cta_' + cta.id + '_display_text' }}" class="form-control"
                 name="{{= 'cta_' + cta.id + '[display_text]' }}" placeholder="display text"
                 value="{{= cta.display_text }}">
        </div>

        {{ if (cta.type == 'CTALink') { }}

          <div class="form-group" style="margin: 0 0 15px 0">
            <label for="{{= 'cta_' + cta.id + '_link_url' }}">Website address</label>
            <input type="text" id="{{= 'cta_' + cta.id + '_link_url' }}" class="form-control"
                   name="{{= 'cta_' + cta.id + '[link_url]' }}" placeholder="website address"
                   value="{{= cta.link_url }}">
          </div>

        {{ } else if (cta.type == 'CTAForm') { }}

          <div class="form-group" style="margin: 0 0 10px 0">
            <label for="{{= 'cta_' + cta.id + '_form_html' }}">HTML</label>
            <textarea id="{{= 'cta_' + cta.id + '_form_html' }}" class="form-control" rows="3"
                      name="{{= 'cta_' + cta.id + '[form_html]' }}" value=""
                      placeholder="html, e.g. <script> and <form> tags">
            </textarea>
          </div>

        {{ } }}

        <div class="checkbox text-right">
          <label>
            <!--
            note that an input to represent the false value would be necesseary here if we wanted to
            see the parameter with false value on the server. however in this case we're only interested
            if the value is true
            -->
            <input type="checkbox" value="true" name="{{= cta.primary ? 'cta_' + cta.id + '[remove_primary]' : 'cta_' + cta.id + '[make_primary]' }}" id="{{= cta.primary ? 'cta_' + cta.id + '_remove_primary' : 'cta_' + cta.id + '_make_primary' }}"
            <span>{{= cta.primary ? 'Remove primary' : 'Make primary' }}</span>
          </label>
        </div>

        <div class="form-group text-right" style="margin: 0;">
          <button type="submit" class="btn btn-sm btn-success" form="cta-{{= cta.id }}-form" style="width: 98px">
            <span>Save changes</span>
            <i class='fa fa-spin fa-circle-o-notch' style='display:none'></i>
            <i class='fa fa-check' style='display:none'></i>
          </button>
        </div>

      </form>

    </div>

  </li>

</script>