div data-company-ctas-target="cta"

  = cta_fields.hidden_field(:id)

  .form-group 
    = cta_fields.label(:description)
    = cta_fields.text_field( \
        :description,
        class: 'form-control',
        placeholder: 'Description',
        autocomplete: 'off')

  .form-group 
    = cta_fields.label(:display_text)
    = cta_fields.text_field( \
        :display_text,
        class: 'form-control',
        placeholder: 'Display text',
        autocomplete: 'off',
        data: { action: 'company-ctas#updateCustomButtonText' })

  .form-group 
    - if cta_fields.object.type == 'CtaLink'
      = cta_fields.label(:link_url, 'Website URL')
      = cta_fields.text_field( \
          :link_url,
          class: 'form-control',
          placeholder: 'Website URL',
          autocomplete: 'off' )

    - elsif cta_fields.object.type == 'CtaForm'
      = cta_fields.label(:form_html, 'HTML')
      = cta_fields.text_area( \
          :form_html,
          class: 'form-control',
          placeholder: '<script> or <form> tags',
          autocomplete: 'off',
          rows: 3 )

  .form-group 
    = cta_fields.label(:tag_ids, 'Tags')
    = cta_fields.select( \
        :tag_ids,
        grouped_options_for_select( \
          { 'Category' => company.tag_select_options(:category, with_stories_count: false, for_multi_select: true),
            'Product' => company.tag_select_options(:product, with_stories_count: false, for_multi_select: true) } \
            .delete_if { |_, options| options.empty? },
          cta_fields.object.tags.map { |tag| tag_dom_id(tag) }),
        {},
        id: dom_id(cta_fields.object),
        multiple: true,
        data: { \
          controller: 'tomselect',
          tomselect_kind_value: 'tag',
          dynamic_placeholder: 'Select Tags' })

  .form-group 
    .checkbox
      = cta_fields.label(:primary) do
        = cta_fields.check_box( \
            :primary,
            { data: { action: 'company-ctas#togglePrimary' } },
            not cta_fields.object.primary?,
            cta_fields.object.primary? )
        = "#{cta_fields.object.primary? ? 'Remove as' : 'Make this the'} Main CTA"

  = tag.div( \
      class: ['cta__custom-button', { hidden: !cta_fields.object.primary? }],
      data: { company_ctas_target: 'customButton' }) do

    div
      = form.label(:primary_cta_background_color, 'Button')
      = form.color_field( \
          :primary_cta_background_color,
          class: 'form-control',
          disabled: !cta_fields.object.primary?,
          data: { company_ctas_target: 'customButtonColorInput' })
      = form.label(:primary_cta_text_color, 'Text')
      = form.color_field( \
          :primary_cta_text_color,
          class: 'form-control',
          disabled: !cta_fields.object.primary?,
          data: { company_ctas_target: 'customButtonColorInput' })

    div style="background-color:#{company.header_color_1}"
      = tag.button( \
          class: 'btn btn-lg btn-custom',
          type: 'button',
          data: { \
            company_ctas_target: 'customButtonDemo',
            bg_color: company.primary_cta_background_color,
            color: company.primary_cta_text_color }) do
        = cta_fields.object.display_text
    
    .help-block CTA button will appear in the header as shown

  hr

  div style="display:flex; justify-content:#{cta_fields.object.primary? ? 'flex-end' : 'space-between'}"
    - unless cta_fields.object.primary?
      / Use link_to instead of button_to to avoid issues with nested forms
      = link_to( \
          'Delete',
          company_cta_path(company, cta_fields.object),
          class: 'btn btn-sm btn-danger',
          data: { turbo_method: 'delete', turbo_confirm: 'Delete this CTA?' })
    = tag.input( \
        type: 'submit',
        class: 'btn btn-sm btn-success',
        # disabled: true,
        formaction: company_cta_path(company, cta_fields.object),
        data: { \
          content: 'Save changes',
          company_ctas_target: 'submitBtn',
          disable_with_html: disabled_submit_button_html })