/ TODO: If the description is optional, what to show as the list item heading?
= turbo_stream.send(:append, 'main-modal-body') do

  = form_with( \
      model: @company,
      url: company_ctas_path(@company),
      method: :post,
      id: 'new-cta-form',
      data: { \
        controller: 'company-ctas',
        company_ctas_modal_outlet: '#main-modal',
        action: [ \
          'turbo:submit-start->company-ctas#onSubmitStart',
          'turbo:submit-end->company-ctas#onSubmitEnd' ].join(' ') },
      html: { \
        novalidate: true,
        autocomplete: 'off' }) do |form|
    
    = form.fields_for(:ctas, @cta) do |cta_fields|
      = render('ctas/cta_fields', company: @company, company_form: form, cta_fields:)

= turbo_stream.send(:append, 'main-modal-content') do 
  .modal-footer data-modal-target="footer"
    button.btn.btn-default type="button" data-dismiss="modal" Cancel
    = tag.button( \
        type: 'submit',
        class: 'btn btn-success',
        form: 'new-cta-form',
        data: { \
          content: 'Create',
          disable_with_html: disabled_submit_button_html })
