/ TODO: If the description is optional, what to show as the list item heading?
= turbo_stream.send(:append, 'main-modal-body') do

  = form_with( \
      model: @company,
      url: company_ctas_path(@company),
      method: :post,
      id: 'new-cta-form',
      data: { \
        controller: 'company-ctas',
        company_ctas_modal_outlet: '#main-modal',
        
        #'submit->company-ctas#validate',
        action: [ \
          'turbo:submit-end->company-ctas#onSubmitEnd' ].join(' ') },
      html: { \
        novalidate: true,
        autocomplete: 'off' }) do |form|
    
    = form.fields_for(:ctas, @cta) do |cta_fields|
      
      div data-company-ctas-target="cta"

        .form-group data-action="change->company-ctas#toggleType"
          label Type
          div
            = cta_fields.label(:type_ctalink, class: 'radio-inline') do
              = cta_fields.radio_button(:type, 'CtaLink', checked: true)
              | Link
            = cta_fields.label(:type_ctaform, class: 'radio-inline') do
              = cta_fields.radio_button(:type, 'CtaForm')
              | Web Form
          /.radio style="margin-top:0"
            = cta_fields.label(:type_ctalink) do
              = cta_fields.radio_button(:type, 'CtaLink', checked: true)
              | Link
          /.radio
            = cta_fields.label(:type_ctaform) do
              = cta_fields.radio_button(:type, 'CtaForm')
              | Web Form

        .form-group 
          = cta_fields.label(:description)
          = cta_fields.text_field( \
              :description,
              class: 'form-control',
              placeholder: 'Description',
              autocomplete: 'off')

        .form-group 
          = cta_fields.label(:display_text)
          = cta_fields.text_field( \
              :display_text,
              class: 'form-control',
              placeholder: 'Display text',
              autocomplete: 'off',
              data: { action: 'company-ctas#updateCustomButtonText' })

        = tag.div( \
            class: ['form-group', { hidden: cta_fields.object.type != 'CtaLink' }],
            data: { company_ctas_target: 'typeSpecificField' }) do
          = cta_fields.label(:link_url, 'Website URL')
          = cta_fields.text_field( \
              :link_url,
              value: 'https://example.com',
              class: 'form-control',
              placeholder: 'Website URL',
              autocomplete: 'off' )

        = tag.div( \
            class: ['form-group', { hidden: cta_fields.object.type != 'CtaForm' }],
            data: { company_ctas_target: 'typeSpecificField' }) do
          = cta_fields.label(:form_html, 'HTML')
          = cta_fields.text_area( \
              :form_html,
              class: 'form-control',
              placeholder: '<script> or <form> tags',
              autocomplete: 'off',
              rows: 3 )

        .form-group 
          .checkbox
            = cta_fields.label(:primary) do
              = cta_fields.check_box( \
                  :primary,
                  { data: { action: 'company-ctas#togglePrimary' } })
              = "#{cta_fields.object.primary? ? 'Remove as' : 'Make this the'} Main CTA"

        = tag.div( \
            class: ['cta__custom-button', { hidden: !cta_fields.object.primary? }],
            data: { company_ctas_target: 'customButton' }) do

          div
            = form.label(:primary_cta_background_color, 'Button')
            = form.color_field( \
                :primary_cta_background_color,
                class: 'form-control',
                disabled: !cta_fields.object.primary?,
                data: { company_ctas_target: 'customButtonColorInput' })
            = form.label(:primary_cta_text_color, 'Text')
            = form.color_field( \
                :primary_cta_text_color,
                class: 'form-control',
                disabled: !cta_fields.object.primary?,
                data: { company_ctas_target: 'customButtonColorInput' })

          div style="background-color:#{@company.header_color_1}"
            = button_tag( \
                'Click me!',
                class: 'btn btn-lg btn-custom',
                type: 'button',
                data: { \
                  company_ctas_target: 'customButtonDemo',
                  bg_color: @company.primary_cta_background_color,
                  color: @company.primary_cta_text_color })
          
          .help-block CTA button will appear in the header as shown

= turbo_stream.send(:append, 'main-modal-content') do 
  .modal-footer data-modal-target="footer"
    button.btn.btn-default type="button" data-dismiss="modal" Cancel
    = tag.button( \
        type: 'submit',
        class: 'btn btn-success',
        form: 'new-cta-form',
        data: { \
          content: 'Create',
          disable_with_html: disabled_submit_button_html })
