
<div class="layout">

  <div class="col-md-3 col-sm-4 layout-sidebar">

    <h4 class='lead'>Customer Stories</h4>

    <hr style='margin-bottom: 0'>

    <button type='button' style='width:160px; height:32px; margin:25px 0;' class='btn btn-secondary btn-sm' data-toggle='modal' data-target='#new-story-modal'><i class='glyphicon glyphicon-plus-sign' style='font-size:15px;top:2px'></i>&nbsp;&nbsp;&nbsp;New Story&nbsp;</button>

    <h5 class='lead' style='font-size:20px; margin-bottom:12px'>Search</h5>

    <%= render 'companies/curate/filters', { company: company } %>

  </div>

  <div class="col-md-9 col-sm-8 layout-main">

    <ul id="curate-gallery" class='grid list-unstyled text-center'>
    </ul>

  </div>

</div>


