
<div id="curate-filters">

  <div class="form-group">
    <label for="">Curator</label>
    <%= select_tag('',
          options_for_select(company.curators.select_options),
          { include_blank: true, class: "curate curator-select form-control", style: "width:100%" }
        ) %>
  </div>

  <div class="form-group">
    <label for="">Customer</label>
    <%= select_tag('',
          options_for_select(company.customers.select_options),
          { include_blank: true, class: "curate customer-select form-control", style: "width:100%" }
        ) %>
  </div>

  <div class="form-group">
    <label for="">Story Category</label>
    <%= select_tag('',
          options_for_select(company.story_categories.select_options),
          { include_blank: true, class: "curate category-select form-control", style: "width:100%" }
        ) %>
  </div>

  <div class="form-group">
    <label for="">Product</label>
    <%= select_tag('',
          options_for_select(company.products.select_options),
          { include_blank: true, class: "curate product-select form-control", style: "width:100%" }
        ) %>
  </div>

</div>