
<div id='edit-story-ctas'>

  <p class='lead'>CTAs</p>

  <div class="well">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">

          <%= form_tag ctas_story_path(story.id), method: :put, remote: true,
                id: 'story-ctas-form' do %>

            <div class="form-group">
              <!-- <label for="#story-ctas-select"></label> -->

      <%= select_tag 'ctas[]',
            grouped_options_for_select(
              company.ctas.select_options,
              { selected: story.ctas.pluck(:id), disabled: ['none available'] }
            ), { id: 'story-ctas-select', class: 'form-control', multiple: true } %>

            </div>

            <div class="form-group text-right">
              <span class='ajax-confirm' style='display:none;color:#5cb85c'>
                <i class='fa fa-check'></i>
              </span>&nbsp;
              <input type='submit' id='story-ctas-submit'
                     class='btn btn-sm btn-primary' value="Save" disabled>&nbsp;
              <button type="reset" id='story-ctas-reset'
                      class="btn btn-sm btn-default" disabled>Cancel</button>
            </div>

          <% end %>


        </div>
      </div>
    </div>
  </div>

</div>