
<script type='text/template' id='cta-template'>

  <div class='ctas-list-item'>

    <div class="modify-cta">
      <div class='delete-cta' data-action="/ctas/{{= action.id }}">
        <i class='glyphicon glyphicon-remove bip-clickable'></i>
      </div>
    </div>

    <div class="row cta">
      <div class="col-sm-1">
        <i class="fa fa-{{= action.type == 'CTALink' ? 'link' : 'wpforms' }}"></i>
      </div>
      <div class="col-sm-11">
        <span>{{= action.description }}</span>
      </div>
    </div>

  </div>

</script>