
<div class="hidden-xs">

  <section class="narrative <%= is_widget ? 'cs-well' : 'well' %>">

    <!-- need the container for providing inherited styling -->
    <div class="section-title-container">
      <h4><%= story.title %></h4>
    </div>

    <div>
      <%= story.content.html_safe %>
    </div>

  </section>

</div>

<div class="visible-xs-block">

  <section class="narrative">

    <div>
      <%= story.content.html_safe %>
    </div>

  </section>

</div>