
<div class="cs-container cs-story-preview">

  <div class="cs-row">
    <div class="col-sm-12 text-center">

      <div class="customer-logo">
        <%= image_tag (story.customer.logo_url || LOGO_PLACEHOLDER_URL), class: 'img-responsive' %>
      </div>
    <!--   <div class="customer-name">
        <span><%#= story.customer.name %></span>
      </div> -->

    </div>
  </div>

  <div class="cs-row">
    <div class="col-sm-6">



    </div>
    <div class="col-sm-6">

    </div>
  </div>

</div>