
<section class="story-results visible-xs-block">

  <div class="section-title text-center">
    <h4>Results</h4>
  </div>

  <!-- <div class="ul-container"> -->

    <ul class="fa-ul">

      <% story.results.each do |result| %>

        <li>
          <i class="fa-li fa fa-check"></i>
          <%= result.description %>
        </li>

      <% end %>

    </ul>

  <!-- </div> -->

</section>

<section class="story-results hidden-xs">

  <div class="section-title text-center">
    <h4>Results</h4>
  </div>

  <ul class="list-unstyled">

  <% story.results.each do |result| %>

    <li>

      <div class="<%= is_plugin ? 'cs-row' : 'row' %>">
        <div class="col-sm-1">
          <i class="fa fa-check"></i>
        </div>
        <div class="col-sm-11">
          <span><%= result.description %></span>
        </div>
      </div>

    </li>

  <% end %>

  </ul>

</section>

