
<div class="<%= is_plugin ? 'cs-container' : 'container' %>">
  <div class="<%= is_plugin ? 'cs-row' : 'row' %>">
    <div class="col-xs-12">

      <div class="section-title story-title text-center">
        <h3><%= story.title %></h3>
      </div>

      <%= render(
            'stories/shared/share_buttons', 
            { 
              story: story, 
              container_class: is_plugin ? 'cs-share-buttons' : 'share-buttons',
              button_class: is_plugin ? 'cs-share-button' : 'share-button'
            }
          ) %>

    </div>
  </div>
</div>

