
<div class="modal fade story-video" id="<%= is_widget ? 'cs-story-video-modal' : 'story-video-modal' %>"
      tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div style='background-color:black' class="modal-content">
      <div class="modal-body" style='padding-bottom:32px'>
        <button type="button" style='color:white; opacity:0.6'
            class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <iframe width="100%" src="" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>