<div id='wrapper'>

    <div class="masthead">

      <div class="container">

        <h1 class="masthead-subtitle">
          Signup
        </h1>


      </div> <!-- /.container -->

    </div> <!-- /.masthead -->


    <div class="content">

      <div class="container">

        <hr class="spacer-sm">

        <div class="account-wrapper">

          <div class="account-body">

            <h3>Get Started with a Free Account.</h3>

            <h5>Sign up in 30 seconds. No credit card required.</h5>

            <form class="form account-form" method="POST" action="../admin/index.html">

              <div class="form-group">
                <label for="signup-email" class="placeholder-hidden">Email Address</label>
                <input type="text" class="form-control" id="signup-email" placeholder="Your Email" tabindex="1">
              </div> <!-- /.form-group -->

              <div class="form-group">
                <label for="signup-fullname" class="placeholder-hidden">Your Name</label>
                <input type="text" class="form-control" id="signup-fullname" placeholder="Your Name" tabindex="2">
              </div> <!-- /.form-group -->

              <div class="form-group">
                <label for="signup-username" class="placeholder-hidden">Username</label>
                <input type="text" class="form-control" id="signup-username" placeholder="Username" tabindex="3">
              </div> <!-- /.form-group -->

              <div class="form-group">
                <label for="login-password" class="placeholder-hidden">Password</label>
                <input type="password" class="form-control" id="login-password" placeholder="Password" tabindex="4">
              </div> <!-- /.form-group -->

              <div class="form-group">
                <label class="checkbox-inline">
                <input type="checkbox" class="" value="" tabindex="5"> I agree to the <a href="javascript:;" target="_blank">Terms of Service</a> &amp; <a href="javascript:;" target="_blank">Privacy Policy</a>
                </label>
              </div> <!-- /.form-group -->

              <div class="form-group">
                <button type="submit" class="btn btn-secondary btn-block btn-lg" tabindex="6">
                Create My Account &nbsp; <i class="fa fa-play-circle"></i>
                </button>
              </div> <!-- /.form-group -->

            </form>

          </div> <!-- /.account-body -->

          <div class="account-footer">
            <p>
            Already have an account? &nbsp;
            <a href="./account-login.html" class="">Login to your Account!</a>
            </p>
          </div> <!-- /.account-footer -->

        </div> <!-- /.account-wrapper -->

        <br><br><br>

      </div> <!-- /.container -->

    </div> <!-- /.content -->


</div> <!-- /#wrapper -->

