
<script id='contributors-table-header-template' type='text/template'>

  <div class='row contributors-header'>

    <div class='col-sm-3 buttons'>

      <div>
        <button type='button' class='btn btn-secondary btn-sm' data-toggle='modal' data-target='#new-contributor-modal'><i class='glyphicon glyphicon-plus-sign'></i>&nbsp;&nbsp;&nbsp;Add New Contributor&nbsp;</button>
      </div>

      <div>
        <button type='button' class='btn btn-secondary btn-sm'><i class='glyphicon glyphicon-import'></i>&nbsp&nbsp;&nbsp;Import Contributors&nbsp;</button>
      </div>

    </div>

    <div class='col-sm-5 checkbox-filters'>

      <label class='checkbox-filter' style='padding-left:10px' for="toggle-group-by-success">
        <input type="checkbox" id="toggle-group-by-success" checked>
        <span>&nbsp;&nbsp;Group by Customer&nbsp;&nbsp;&#8211;&nbsp;&nbsp;Story Candidate&nbsp;/&nbsp;Story</span>
      </label>

      <label class='checkbox-filter' style='padding-left:10px' for="show-completed">
        <input type="checkbox" id="show-completed">
        <span>&nbsp;&nbsp;Show Contributors with Status = completed</span>
      </label>

      <label class='checkbox-filter' style='padding-left:10px' for="show-published">
        <input type="checkbox" id="show-published">
        <span>&nbsp;&nbsp;Show Contributors to published Stories</span>
      </label>

    </div>

    <div class='col-sm-4 select-filters'>

      <div>
        <label>Curator&nbsp;</label>
        <select class='crowdsource curator-select form-control text-left' style="width:{{= selectWidth.toString() + 'px' }};">

          <option value='0' selected>All Curators<option>

          {{ _.each(curators, function (curator) { }}

            <option data-column='curator' value="{{= curator.id }}">{{= curator.first_name + ' ' + curator.last_name }}</option>

          {{ }); }}

        </select>
      </div>

      <div>

        <label>Filter&nbsp;</label>
        <select id='contributors-filter' class='dt-filter form-control text-left' style="width:{{= selectWidth.toString() + 'px' }};">

          <option value='0' data-column='contributor' selected>All Contributors</option>

          <optgroup label='Contributor'>

            {{ _.each(contributors, function (contributor) { }}

              <option value="contributor-{{= contributor.id }}" data-column='contributor'>{{= contributor.full_name }}</option>

            {{ }) }}

          </optgroup>

          <optgroup label='Customer'>

            {{ _.each(customers, function (customer) { }}

              <option value="customer-{{= customer.id }}" data-column='customer'>{{= customer.name }}</option>

            {{ }); }}

          </optgroup>

          <optgroup label='Story Candidate'>

            {{ _.each(successes, function (success) { }}

              <option value="success-{{= success.id }}" data-column='success'>{{= success.name }}</option>

            {{ }); }}

          </optgroup>

        </select>

      </div>

    </div>

  </div>

</script>


