
<script type='text/template' id='contributor-actions-dropdown-template'>

  <div style='position:relative'>

    <a href="javascript:;" class="dropdown-toggle" data-toggle='dropdown'>
      <i class='fa fa-caret-down'></i>
    </a>

    <ul class='contributor-actions dropdown-menu dropdown-menu-right dropdown-actions'>

      {{ if (status === 'pre_request') { }}

        <li class='send-request'>
          <a href="javascript:;">
            <i class='fa fa-envelope-o fa-fw action'></i>&nbsp;&nbsp;
            <span>Send Invitation</span>
          </a>
        </li>

      {{ } else { }}

        <li class='view-request'>
          <a href="javascript:;">
            <i class='fa fa-search fa-fw action'></i>&nbsp;&nbsp;
            <span>View Sent Invitation</span>
          </a>
        </li>

      {{ } }}

      {{ if (status === 'did_not_respond') { }}

        <li class='re-send-request'>
          <a href="javascript:;">
            <i class='fa fa-envelope-o fa-fw action'></i>&nbsp;&nbsp;
            <span>Re-send Invitation</span>
          </a>
        </li>

      {{ } }}


      {{ if ( status.match(/(contribution|feedback)/) ) { }}

        <li>
          <a href="#contribution-content-modal" data-toggle='modal'>
            <i class='fa fa-search fa-fw action'></i>&nbsp;&nbsp;
            <span>View {{= status.includes('contribution') ? 'Contribution' : 'Feedback' }}</span>
          </a>
        </li>

        {{ if ( status.match(/submitted/) ) { }}

          <li class='completed'>
            <a href="javascript:;">
              <i class='fa fa-check fa-fw action'></i>&nbsp;&nbsp;
              <span>Mark as completed</span>
            </a>
          </li>

        {{ } }}


      {{ } }}

      {{ if (workflowStage === 'crowdsource') { }}

        {{ if (story && story.published) { }}

          <li class='view-story'>
            <a href="{{= viewStoryPath }}"}>
              <i class='fa fa-search fa-fw action'></i>&nbsp;&nbsp;
              <span>View Customer Story</span>
            </a>
          </li>

        {{ } else if (story) { }}

          <li class='curate-story'>
            <a href="{{= curateStoryPath }}"}>
              <i class='fa fa-edit fa-fw action'></i>&nbsp;&nbsp;
              <span>Curate Customer Story</span>
            </a>
          </li>

        {{ } else { }}

          <li class='view-customer-win'>
            <a href="javascript:;"}>
              <i class='fa fa-rocket fa-fw action'></i>&nbsp;&nbsp;
              <span>View Customer Win</span>
            </a>
          </li>

        {{ } }}

      {{ } }}

      <li class='remove'>
        <a href="javascript:;">
          <i class='fa fa-remove fa-fw action'></i>&nbsp;&nbsp;
          <span>Remove</span>
        </a>
      </li>

    </ul>

  </div>

</script>

