
<script type='text/template' id='contributors-dropdown-template'>

  <div style='position:relative'>

    <a href="javascript:;" class="dropdown-toggle" data-toggle='dropdown'>
      <i class='fa fa-caret-down'></i>
    </a>

    <ul class='dropdown-menu dropdown-menu-right'>

      {{ if (status === 'pre_request') { }}

        <li class='send-request'>
          <a href="javascript:;">
            <i class='fa fa-envelope-o action'></i>&nbsp;
            <span>Send Contribution Request</span>
          </a>
        </li>

      {{ } else { }}

        <li class='view-request'>
          <a href="javascript:;">
            <i class='fa fa-search action'></i>&nbsp;
            <span>View Sent Request</span>
          </a>
        </li>

      {{ } }}

      {{ if (workflowStage === 'crowdsource') { }}

        {{ if (story && story.published) { }}

          <li class='view-story'>
            <a href="{{= viewStoryPath }}"}>
              <i class='fa fa-search action'></i>&nbsp;
              <span>View Story</span>
            </a>
          </li>

        {{ } else if (story) { }}

          <li class='curate-story'>
            <a href="{{= curateStoryPath }}"}>
              <i class='fa fa-edit action'></i>&nbsp;
              <span>Curate Story</span>
            </a>
          </li>

        {{ } else { }}

          <li class='view-candidate'>
            <a href="javascript:;"}>
              <i class='fa fa-search action'></i>&nbsp;
              <span>View Candidate</span>
            </a>
          </li>

        {{ } }}

      {{ } }}

      {{ if (['contribution_submitted', 'feedback_submitted'].includes(status)) { }}

        <li class='view-submission'>
          <a href="#contribution-content-modal" data-toggle='modal'>
            <i class='fa fa-search action'></i>&nbsp;
            <span>View {{= status === 'contribution_submitted' ? 'contribution' : 'feedback' }}</span>
          </a>
        </li>

        <li>
          <a href="javascript:;">
            <i class='fa fa-check action'></i>&nbsp;
            <span>Mark as Complete</span>
          </a>
        </li>

      {{ } }}

      <li>
        <a href="javascript:;">
          <i class='fa fa-remove action'></i>&nbsp;
          <span>Remove</span>
        </a>
      </li>

    </ul>

  </div>

</script>

