
<script id='contributors-table-header-template' type='text/template'>

  <div class='row contributors-header' style='visibility:hidden'>

    <div class='col-sm-6'>

      <div class='buttons'>

        <div style='padding:0 15px'>
          <button type='button' class='btn btn-secondary btn-sm' data-toggle='modal' data-target='#new-contributor-modal'><i class='glyphicon glyphicon-plus-sign'></i>&nbsp;&nbsp;&nbsp;Add New Contributor&nbsp;</button>
        </div>

        <div style='padding:0 15px'>
          <button type='button' class='btn btn-secondary btn-sm'><i class='glyphicon glyphicon-import'></i>&nbsp&nbsp;&nbsp;Import Contributors&nbsp;</button>
        </div>
      </div>

      <div>
        <label class='checkbox-filter' for="toggle-group-by-success">
          <input type="checkbox" id="toggle-group-by-success" checked>
          <span style='font-weight:600'>&nbsp;&nbsp;Group by Customer Win / Story</span>
        </label>
      </div>

    </div>

    <div class='col-sm-6 form-horizontal select-filters'>
      <div class='form-group'>
        <label class='col-sm-3 control-label'>Curator</label>
        <div class='col-sm-9' style='padding:0'>

          <select class='crowdsource curator-select form-control text-left'>

            <option value='0' selected>All Curators<option>

            {{ _.each(curators, function (curator) { }}

              <option data-column='curator' value="{{= curator.id }}">{{= curator.first_name + ' ' + curator.last_name }}</option>

            {{ }); }}

          </select>

        </div>
      </div>

      <div class='form-group'>
        <label class='col-sm-3 control-label'>Search</label>
        <div class='col-sm-9' style='padding:0'>

          <select id='contributors-filter' class='dt-filter form-control text-left'>

            <option></option>

            <option value='0' data-column='contributor' selected>All Contributors</option>

            <optgroup label='Contributor'></optgroup>
            <optgroup label='Customer'></optgroup>
            <optgroup label='Customer Win'></optgroup>

          </select>

        </div>
      </div>

      <div class='form-group'>
        <label class='col-sm-3 control-label'>Show</label>
        <div class='col-sm-9' style='padding:0'>
          <div class='checkbox checkbox-filters'>

            <label class='checkbox-filter' for="show-completed">
              <input type="checkbox" id="show-completed">
              <span>&nbsp;&nbsp;Contributors with completed Contribution</span>
            </label>

            <label class='checkbox-filter' for="show-published">
              <input type="checkbox" id="show-published">
              <span>&nbsp;&nbsp;Contributors to published Customer Stories</span>
            </label>

          </div>
        </div>
      </div>

    </div>
  </div>

</script>


