
<div id="csp-footer" style="line-height: 1.0rem; font-size: 0.7rem; color: #999; margin-top: 25px">

  <p >You can <a href="<%= contribution.invitation_link('opt_out') %>">opt out</a> of this invitation or <a href="<%= contribution.invitation_link('remove') %>">remove</a> yourself from any future invitations.</p>

  <div>
    <span>Powered by <a href="<%= Rails.application.routes.url_helpers.root_url %>">customerstories.net</a></span>
  </div>

</div>