<h3>Tell us about your success</h3>

<h2>Click here to contribute</h2>


Sample Email Template(1st email to customer)

Subject: Participate in a [customer_name]/[company_name] success story

Body:

Dear [first_name],

My name is [curator_first_name] and I’ll be curating a story about the success of your project.  The value of participating is it will be closely connected with Linkedin so it’s an opportunity to include in your CV as validation of your great work.  The story will also be used as a case study to help others learn about solving similar challenges.

Best of all, I’ll be doing the work narrating the story and all I need from you are some notes from your perspective.  It will take maximum 5 minutes:   [link_to_contribute_page]

If you cannot contribute to a success story, please give us feedback why:  [link_to_feedback_page]

If you have any questions, please email or call me.

Thank you,
[curator_first_name] [curator_last_name]
[curator_title]
[curator_email_address]
[curator_phone]

To opt out of a story all together, please click here: [story_opt_out]