<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Story Contribution Reminder</title>
  </head>
  <body>

    <%= @body %>

    <img src="<%= @footer_img_url %>" alt="csp-logo">

  </body>
</html>