<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Story Contribution Reminder</title>
  </head>
  <body>

    <%= @body %> <br>

    <img src="<%= @footer_img_url %>" alt="csp-logo">

    <p style='font-size: 10px'>311 Claire Place, Menlo Park, California 94025, USA</p>

  </body>
</html>