<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Story Contribution Request</title>
  </head>
  <body>

    <%= @body %>

    <img src="<%= @footer_img_url %>" alt="powered-by-csp">

    <p>311 Claire Place, Menlo Park, California 94025, USA</p>

  </body>
</html>

