<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Story Contribution Request</title>
  </head>
  <body>

    <%= @body %>

    <img src="https://s3-us-west-1.amazonaws.com/csp-development-assets/CS-powered-by.png" alt="csp-logo">

  </body>
</html>

