<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Story Contribution Request</title>
  </head>
  <body>

    <%= @body %>

  </body>
</html>

