<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Customer Stories</title>
    <style type="text/css">
      button.cta:hover {
        opacity: 0.85 !important;
      }
      @media only screen and (max-width: 575px) {
       .cta-wrapper {
        display: block;
        text-align: center;
       }
       .cta-wrapper + br {
         display: none;
       }
       button.cta {
          font-size: 18px !important;
          line-height: 44px !important;
          padding: 2px 16px !important;
        }
        button.cta > span {
          font-size: 26px !important;
          /*display: none;*/
        }
        #csp-footer > div:last-of-type {
          text-align: center;
        }
      }
    </style>
  </head>
  <body>

    <%= @body %>

    <%= render('user_mailer/standard_footer', { contribution: @contribution }) %>

  </body>
</html>

