<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Customer Stories</title>
    <style type="text/css">
      .csp-cta:hover {
        opacity: 0.9 !important;
      }
      @media only screen and (max-width: 575px) {
       .cta-wrapper {
        display: block;
        text-align: center;
       }
       .cta-wrapper + br {
         display: none;
       }
        #csp-footer > div:last-of-type {
          text-align: center;
        }
      }
    </style>
  </head>
  <body>

    <%= @body %>

    <%= render('user_mailer/standard_footer', { contribution: @contribution }) %>

  </body>
</html>

