<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Customer Stories</title>
    <style type="text/css">
      button.cta {
        font-size: 14px;
        margin: 12px 0;
        /*cursor: pointer !important;*/
        line-height: 1.42857143;
        padding: 6px 12px;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
        border-radius: 4px;
        opacity: 0.85;
      }
      button.cta:hover {
        opacity: 1.0 !important;
      }
      #csp-logo {
        margin: 15px 0;
      }
      #curator-signature img {
        width: 80px;
        margin-bottom: 4px;
      }
      #curator-signature span {
        line-height: 1.4;
      }
    </style>
  </head>
  <body>

    <%= @body %> <br>

    <img id="csp-logo" src="<%= CS_POWERED_LOGO_URL %>" alt="csp-logo">

  </body>
</html>

