<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Customer Stories</title>
    <style type="text/css">
      .csp-cta:hover {
        opacity: 0.9 !important;
      }
      @media only screen and (max-width: 500px) {
        .csp-cta {
          padding: 14px 20px !important;
        }
       .cta-wrapper {
        display: block;
        text-align: center;
       }
       .cta-wrapper + br {
         display: none;
       }
        #csp-footer {
          text-align: center;
        }
      }
    </style>
  </head>
  <body>

    <%= @body.html_safe %>

    <!-- contribution won't be present for the alert email -->
    <% if @contribution.present? %>
      <%= render('user_mailer/standard_footer', { contribution: @contribution }) %>
    <% end %>

  </body>
</html>

