<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Customer Stories</title>
    <style type="text/css">
      button.cta:hover {
        opacity: 1.0 !important;
      }
    </style>
  </head>
  <body>

    <%= @body %> <br>

    <img id="csp-logo" style="margin: 15px 0;" src="<%= CS_POWERED_LOGO_URL %>" alt="Powered by Customer Stories" onerror="this.style.display='none'">

  </body>
</html>

