
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title></title>
    <style type="text/css">

    </style>
  </head>
  <body>


    <%= image_tag(@customer.logo_url, placeholder: 'customer logo', style: 'max-height: 80px') %>

    <%#= @customer.description %>

    <%= @success.win_story %>

    <!-- collated contributions -->


  </body>
</html>