= form_with( \
    model: story,
    format: :json,
    html: { \
      id: 'story-narrative-content-form',
      class: 'directUpload form-horizontal',
      autocomplete: 'off',
      data: { \
        url: @s3_direct_post.url,
        host: URI.parse(@s3_direct_post.url).host,
        asset_host: Rails.application.config.asset_host,
        s3_data: @s3_direct_post.fields }}) do |form|

  // a buffer input for uploading story images to AWS; see the summernote onImageUpload callback
  /input type="file" id="narrative__img-upload" style="display: none"

  .form-group
    .visible-sm-block.col-sm-12
      = form.label(:title, for: 'story-title-sm')
      = form.text_field(:title, id: 'story-title-sm', class: 'form-control')
    = form.label( \
        :title,
        for: 'story-title-md',
        class: 'control-label col-md-2 visible-md-inline-block visible-lg-inline-block')
    .col-md-9.col-lg-8.visible-md-block.visible-lg-block
      = form.text_field(:title, id: 'story-title-md', class: 'form-control')
    
  .form-group 
    .visible-sm-block.col-sm-12 
      = form.label(:narrative, 'Body', for: 'narrative-editor-sm')
      = form.text_area( \
          :narrative,
          id: 'narrative-editor-sm',
          class: 'form-control',
          contenteditable: false,
          data: { \
            controller: 'summernote',
            summernote_enabled_value: true,
            summernote_config_key_value: 'story',
            summernote_config_args_value: [nil].to_json,
            action: 'summernote:init->summernote#onInitComplete' })
    = form.label( \
        :narrative,
        'Body',
        for: 'narrative-editor',
        class: 'control-label col-sm-2 visible-md-inline-block visible-lg-inline-block')
    .col-sm-10.col-md-9.col-lg-8.visible-md-block.visible-lg-block
      = form.text_area( \
          :narrative,
          id: 'narrative-editor',
          class: 'form-control',
          contenteditable: false,
          data: { \
            controller: 'summernote',
            summernote_enabled_value: true,
            summernote_config_key_value: 'story',
            summernote_config_args_value: [nil].to_json,
            action: 'summernote:init->summernote#onInitComplete' })

  .form-group
    .col-sm-12.col-md-offset-2.col-md-9.col-lg-8.text-right
      = form.submit('Save changes', class: 'btn btn-success')