= turbo_frame_tag('story-narrative-content-frame') do

  = form_with( \
      model: story,
      id: 'story-narrative-content-form',
      class: 'form-horizontal',
      data: { \
        controller: 'story-narrative-content toast',
        toast_flash_value: (flash.to_h if flash.any? && turbo_frame_request_id == 'story-narrative-content-frame'),
        toast_errors_value: (@errors if @errors.present? && turbo_frame_request_id == 'story-narrative-content-frame'),
        action: [ \
          'turbo:submit-start->story-narrative-content#onSubmitStart',
          'turbo:submit-end->story-narrative-content#onSubmitEnd',
          'list:sorted->story-narrative-content#onSortedResults',
          'list:delete-item->story-narrative-content#deleteResult' ].join(' ') },
      html: { \
        novalidate: true,
        autocomplete: 'off' }) do |form|

    / For identifying the field being submitted in TurboSubmitStartEvent and TurboSubmitStopEvent events: 
    / Some submit events do not have a submitter, e.g. deleting a Result.
    / = tag.button( \
        type: 'submit',
        class: 'hidden',
        data: { \
          field_name: "story[new_results][]" })

    // a buffer input for uploading story images to AWS; see the summernote onImageUpload callback
    input#narrative__img-upload.hidden type="file"

    .form-group
      .visible-sm-block.visible-md-block.col-sm-12
        = form.label(:title, 'Title')
      = form.label(:title, 'Title', class: 'control-label visible-lg-inline-block col-lg-2')
      .col-sm-12.col-lg-10

        div style="display:flex; align-items:flex-start"
          = form.text_field( \
              :title,
              class: 'form-control',
              placeholder: 'Add a title for the story',
              minlength: 5,
              maxlength: 200,
              data: { \
                story_narrative_content_target: 'titleInput',
                action: 'input->story-narrative-content#onTitleInput' })
          = button_tag( \
              '',
              type: 'submit',
              class: 'btn btn-sm btn-success hidden',
              style: 'padding: 7px 12px',
              # disabled: true,
              data: { \
                content: 'Save changes',
                story_narrative_content_target: 'titleSubmit',
                field_name: 'story[title]',
                disable_with_html: disabled_submit_button_html })
        .help-block 
          | Must be between MIN and MAX characters

    .form-group
      .visible-sm-block.visible-md-block.col-sm-12
        = form.label(:new_results) do 
          | Results&nbsp;&nbsp; 
          = render('stories/edit/toggle_results', id: 'toggle-results-sm-md', story:)
      = form.label(:new_results, class: 'control-label visible-lg-inline-block col-lg-2') do 
          | Results 
          = render('stories/edit/toggle_results', id: 'toggle-results-lg', story:)
      .col-sm-12.col-lg-10
        = render('stories/edit/results', story:)
    
    .form-group
      .visible-sm-block.visible-md-block.col-sm-12
        = form.label(:narrative, 'Story')
      = form.label(:narrative, 'Story', class: 'control-label visible-lg-inline-block col-lg-2')
      .col-sm-12.col-lg-10

        = form.text_area( \
            :narrative,
            class: 'form-control',
            data: { \
              controller: 'summernote',
              summernote_enabled_value: true,
              summernote_config_key_value: 'story',
              summernote_config_args_value: [nil].to_json,
              story_target: 'narrativeTextarea' })