
<ul class="nav nav-layout-sidebar nav-stacked">

  <li>
    <a href='javascript:;'
       class='all-stories'>
      <i class='fa fa-chevron-circle-left'></i>
      &nbsp;&nbsp;All Stories
    </a>
  </li>

  <li class="<%= tab == '#story-settings' ? 'active' : (tab.nil? ? 'active' : '') %>">
    <a href="#story-settings" data-toggle="tab">
      <i class="fa fa-gear"></i>
      &nbsp;&nbsp;Story Settings
    </a>
  </li>

  <li class="<%= tab == '#story-content' ? 'active' : '' %>">
    <a href="#story-content" data-toggle="tab">
      <i class="fa fa-edit"></i>
      &nbsp;&nbsp;Story Content
    </a>
  </li>

  <li class="<%= tab == '#story-contributors' ? 'active' : '' %>">
    <a href="#story-contributors" data-toggle="tab">
      <i class="fa fa-users"></i>
      &nbsp;&nbsp;Story Contributors
    </a>
  </li>

</ul>