- kind = field == :logo_published ? 'Logo' : (field == :preview_published ? 'Preview' : 'Story')

div {
  data-controller="bootstrap-switch"
  data-bootstrap-switch-disabled-value=('true' if field == :preview_published)
  data-bootstrap-switch-size-value="large"
  data-toggle=('tooltip' if field == :preview_published) 
  title=('Contact Customer Stories' if field == :preview_published) }
  = story_form.label(field, kind)
  = story_form.check_box( \
      field,
      class: 'form-control',
      disabled: field == :preview_published,
      data: { \
        bootstrap_switch_target: 'switch',
        on_text: '&nbsp;&nbsp;&nbsp;',
        off_text: '&nbsp;&nbsp;&nbsp;' })