
<div>
  <label>Results</label>
  <button type='button' class='add-result btn btn-secondary btn-sm pull-right'>
    Add Result
  </button>
</div>

<ul class='list-unstyled'>

  <%= f.fields_for(:results) do |result_f|  %>

    <li class="success-result">

      <div class="row">

        <div class='col-sm-11'>
          <p><%= result_f.object.description %></p>
        </div>

        <div class="col-sm-1">
          <i class='remove-result fa fa-remove'></i>
          <%= result_f.check_box(:_destroy, { class: 'hidden' }, 'true', 'false') %>
        </div>

      </div>

    </li>

  <% end %>

</ul>

<% content_for(:underscore_templates) do %>

  <script type="text/template" id='new-result-template'>

    <li class="success-result new-result">

      <div class='row'>

        <div class="col-sm-11">
          <textarea class="form-control" rows="3" placeholder="Add a measurable result for this customer success" name="story[results_attributes][{{ resultIndex }}][description]" id="story[results_attributes][{{ resultIndex }}][description]"></textarea>
        </div>

        <div class="col-sm-1">
          <i class="remove-result fa fa-remove"></i>
          <input name="story[results_attributes][{{= resultIndex }}][_destroy]" type="hidden" value="false">
          <input class="hidden" type="checkbox" value="true" name="story[results_attributes][{{= resultIndex }}][_destroy]" id="story_results_attributes_{{= resultIndex }}__destroy">
        </div>

      </div>

    </li>

  </script>

<% end %>
