
<ul class="nav nav-layout-sidebar nav-stacked">

  <li>
    <a href='javascript:;'
       class='all-stories'>
      <i class='fa fa-chevron-circle-left'></i>
      &nbsp;&nbsp;All Stories
<!--       <span class='pull-right'>
      </span> -->
    </a>
  </li>

  <li class="active">
    <a href="#story-settings-tab-pane" data-toggle="tab">
      <i class="fa fa-gear"></i>
      &nbsp;&nbsp;Story Settings
    </a>
  </li>

  <li>
    <a href="#story-settings-tab-pane" data-toggle="tab">
      <i class="fa fa-edit"></i>
      &nbsp;&nbsp;Story Content
    </a>
  </li>

  <li>
    <a href="#curate-contributors-tab-pane" data-toggle="tab">
      <i class="fa fa-users"></i>
      &nbsp;&nbsp;Success Contributors
    </a>
  </li>

</ul>