= turbo_frame_tag('story-settings-frame') do

  = form_with( \
      model: story,
      id: 'story-settings-form',
      class: 'form-horizontal', 
      data: { \
        controller: 'story-settings toast',
        toast_flash_value: (flash.to_h if flash.any? && turbo_frame_request_id == 'story-settings-frame'),
        toast_errors_value: (@errors if @errors.present? && turbo_frame_request_id == 'story-settings-frame'),
        action: [ \
          'image-card:ready-to-validate->story-settings#updateValidator',
          'image-card:validated->story-settings#updateValidator',
          'image-card:upload-ready->story-settings#onUploadReady',
          'change->story-settings#submit',
          'bootstrap-switch:switch->story-settings#submit',
          'turbo:submit-end->story-settings#reset'].join(' ') },
      html: { \
        novalidate: true,
        autocomplete: 'off' }) do |story_form|

    = story_form.fields_for(:success) do |success_form|
      .form-group
        .visible-sm-block.col-sm-12
          = success_form.label(:story_category_ids, 'Category Tags')
        = success_form.label( \
            :story_category_ids,
            'Category Tags',
            class: 'control-label visible-md-inline-block visible-lg-inline-block col-md-4')
        .col-sm-12.col-md-8
          = success_form.collection_select( \
              :story_category_ids,
              company.story_categories.sort_by(&:name),
              :id,
              :name,
              { include_blank: story.category_tags.empty? },
              { multiple: true,
                class: 'form-control',
                data: { \
                  controller: 'tomselect',
                  tomselect_kind_value: 'category',
                  dynamic_placeholder: 'Select tags' } }) 

      .form-group
        .visible-sm-block.col-sm-12
          = success_form.label(:product_ids, 'Product Tags')
        = success_form.label( \
            :product_ids,
            'Product Tags',
            class: 'control-label visible-md-inline-block visible-lg-inline-block col-md-4')
        .col-sm-12.col-md-8
          = success_form.collection_select( \
              :product_ids,
              company.products,
              :id,
              :name,
              { include_blank: story.product_tags.empty? },
              { multiple: true,
                class: 'form-control',
                data: { \
                  controller: 'tomselect',
                  tomselect_kind_value: 'product',
                  dynamic_placeholder: 'Select tags' } })
      
      .form-group
        .visible-sm-block.col-sm-12
          = success_form.label(:cta_ids, 'CTAs')
        = success_form.label( \
            :cta_ids, 'CTA Links & Forms',
            class: 'control-label visible-md-inline-block visible-lg-inline-block col-md-4')
        .col-sm-12.col-md-8
          = success_form.grouped_collection_select( \
              :cta_ids,
              company.ctas.group_by(&:type).map do |type, ctas| \
                [type == 'CtaLink' ? 'Links' : 'Web Forms', ctas.sort_by(&:display_text)] \
              end,
              :second,
              :first,
              :id,
              :display_text,
              { include_blank: true },
              { multiple: true,
                class: 'form-control',
                data: { \
                  controller: 'tomselect',
                  tomselect_kind_value: 'cta',
                  dynamic_placeholder: 'Select CTAs' } })

    .og-tags.row
      .visible-sm-block.col-sm-12
        label Open Graph Data
      label.control-label.visible-md-inline-block.visible-lg-inline-block.col-md-4 Open Graph Data
      .col-sm-12.col-md-8
        .og-tags__background
          .form-group
            .col-sm-12
              = story_form.label(:og_title, 'Title')
              div
                = story_form.text_field( \
                    :og_title,
                    class: 'form-control',
                    maxlength: 90,
                    placeholder: 'og:title',
                    oninput: \
            "this.nextElementSibling.classList.toggle('hidden', this.value === this.dataset.initialValue)",
                    data: { \
                      story_settings_target: 'ogTitleInput',
                      initial_value: story.og_title })
                button.btn.btn-success.hidden Save changes

          .form-group
            .col-sm-12
              = story_form.label(:og_description, 'Description')
              div
                = story_form.text_area( \
                    :og_description,
                    class: 'form-control',
                    rows: 3,
                    maxlength: 200,
                    oninput: \
            "this.nextElementSibling.classList.toggle('hidden', this.value === this.dataset.initialValue)",
                    data: { \
                      story_settings_target: 'ogDescriptionTextarea',
                      initial_value: story.og_description })
                button.btn.btn-success.hidden Save changes
          .form-group
            .col-sm-12
              = story_form.label(:og_image_url, 'Image')
              = render( \
                  ImageCardComponent.new( \
                    'Story', 
                    image_data: { type: 'OpenGraph', url: story.og_image_url } )) do
                = story_form.hidden_field( \
                    :og_image_url,
                    disabled: true,
                    data: { image_card_target: 'input urlInput' })

    .hidden-link.form-group
      .visible-sm-block.col-sm-12
        = story_form.label(:hidden_link, 'Private Link')
      = story_form.label( \
          :hidden_link,
          'Private Link',
          class: 'control-label visible-md-inline-block visible-lg-inline-block col-md-4')
      .col-sm-12.col-md-8
        .input-group
          = story_form.text_field( \
              :hidden_link,
              { class: 'form-control',
                placeholder: 'Click the Refresh button to generate a URL',
                readonly: true,
                data: { story_settings_target: 'hiddenLinkInput' }})
          span.input-group-btn
            = button_tag( \
                class: 'hidden-link__refresh btn btn-default',
                type: 'button',
                style: 'border-radius: 0; border-left: 0',
                data: { \
                  controller: 'tooltip',
                  tooltip_options_value: { title: 'Refresh', container: 'body', placement: 'top' },
                  action: 'story-settings#refreshHiddenLink' }) do
              i.fa.fa-refresh
          span.input-group-btn
            = button_tag( \
                class: "btn btn-default #{'disabled' if story.hidden_link.blank?}",
                type: "button",
                disabled: story.hidden_link.blank?,
                data: { \
                  controller: "tooltip",
                  action: "story-settings#copyHiddenLink",
                  tooltip_options_value: { title: 'Copy to clipboard', container: 'body', placement: 'top' },
                  story_settings_target: "hiddenLinkCopyBtn" }) do
              i.fa.fa-clipboard
        span.help-block style="margin-bottom: 0"
          | Allows for viewing the story prior to publishing.

    .story-settings__publish.form-group
      .visible-sm-block.col-sm-12
        label Status
      label.control-label.visible-md-inline-block.visible-lg-inline-block.col-md-4 Status
      .col-sm-12.col-md-8
        div
          - { 'Listed' => :logo_published,
              'Previewed' => :preview_published,
              'Published' => :published }.each do |label_text, attr| 
            = content_tag( \
                :div,
                data: { \
                  controller: "bootstrap-switch #{'tooltip' if attr == :preview_published}",
                  bootstrap_switch_disabled_value: ('true' if attr == :preview_published),
                  tooltip_options_value: \
                    ({ title: 'Contact us', container: 'body' }.to_json if attr == :preview_published) }) do
              = story_form.label(attr, label_text)
              = story_form.check_box( \
                  attr,
                  class: 'form-control',
                  disabled: attr == :preview_published,
                  data: { \
                    bootstrap_switch_target: 'switch',
                    on_text: '&nbsp;&nbsp;&nbsp;',
                    off_text: '&nbsp;&nbsp;&nbsp;' })

    .story-settings__remove.form-group
      .visible-sm-block.col-sm-12
        label
      label.control-label.visible-md-inline-block.visible-lg-inline-block.col-md-4
      .col-sm-12.col-md-8
        div
          button.btn.btn-secondary type="button"
            i.fa.fa-fw.fa-archive
            | &nbsp;&nbsp;
            | Archive this Story
          = link_to( \
              story_path(story),
              class: 'btn btn-danger--outline',
              data: { \
                turbo_method: 'delete',
                turbo_frame: '_top',
                turbo_confirm: 'Are you sure you want to delete this Story? This action cannot be undone.' }) do
              i.fa.fa-fw.fa-trash
              | &nbsp;&nbsp;
              | Delete this Story

  / #story-settings__ads-inputs
      topic
      <input type="hidden"
              name="story[topic_ad_attributes][id]"
              value="<%= story.topic_ad.try(:id) %>" disabled>
      <input type="hidden"
              name="story[topic_ad_attributes][_destroy]"
              value="false" disabled>
      <input type="checkbox" class="hidden"
              name="story[topic_ad_attributes][_destroy]"
              value="true" disabled>
      <input type="hidden"
              name="story[topic_ad_attributes][adwords_ad_group_id]"
              value="<%= story.company.topic_campaign.ad_group.id %>" disabled>
      <input type="hidden"
              name="story[topic_ad_attributes][ad_id]"
              value="<%= story.topic_ad.try(:ad_id) %>" disabled>
      retarget
      <input type="hidden"
              name="story[retarget_ad_attributes][id]"
              value="<%= story.retarget_ad.try(:id) %>" disabled>
      <input type="hidden"
              name="story[retarget_ad_attributes][_destroy]"
              value="false" disabled>
      <input type="checkbox" class="hidden"
              name="story[retarget_ad_attributes][_destroy]"
              value="true" disabled>
      <input type="hidden"
              name="story[retarget_ad_attributes][adwords_ad_group_id]"
              value="<%= story.company.retarget_campaign.ad_group.id %>" disabled>
      <input type="hidden"
              name="story[retarget_ad_attributes][ad_id]"
              value="<%= story.retarget_ad.try(:ad_id) %>" disabled>

    // new stories start in ENABLED state
    //<% if story.company.promote_tr? %>
      <input type="hidden"
              name="story[topic_ad_attributes][status]"
              value="ENABLED" disabled>
      <input type="hidden"
              name="story[retarget_ad_attributes][status]"
              value="ENABLED" disabled>
      <% end %>

  /= hidden_field_tag('settings', true)