
#curate.tab-pane.fade role="tabpanel" class=('active in' if workflow_stage == 'curate')

  .hidden
    ul.nav.nav-tabs
      li class=('active' if curate_view == 'stories')
        a href=".curate-stories" data-toggle="tab"
      li class=('active' if curate_view == 'story')
        a href=".edit-story" data-toggle="tab"
    
  .container
    .row
      .col-sm-5.col-md-4.col-lg-3.layout-sidebar
        .tab-content

          .curate-stories.tab-pane.fade class=('active in' if curate_view == 'stories')
            .customer-stories
              a href="/" data-turbolinks="false"
                = image_tag('icons/stories_icon_2.png')
                = image_tag('icons/stories-icon-hover.png')
                span
                  | Customer Stories
              span
                button.btn-add.btn-add--new-story {
                  type="button" 
                  data-toggle="modal" 
                  data-target="#new-story-modal" }
                  span.fa-stack.fa-lg
                    i.fa.fa-circle-o.fa-stack-2x
                    i.fa.fa-plus.fa-stack-1x
            = render('companies/2_curate/filters', { company: company })

          .edit-story.tab-pane.fade class=('active in' if curate_view == 'story')
            ul.nav
              li
                a.all-stories href="javascript:;"
                  i.fa.fa-chevron-circle-left
                  | &nbsp;&nbsp;All Stories
              li class=('active' if edit_story_tab == '#story-settings' || edit_story_tab.nil?)
                a href="#story-settings" data-toggle="tab"
                  i.fa.fa-gear
                  | &nbsp;&nbsp;Story Settings
              li class=('active' if edit_story_tab == '#story-content')
                a href="#story-content" data-toggle="tab"
                  i.fa.fa-edit 
                  | &nbsp;&nbsp;Story Content
              li class=('active' if edit_story_tab == '#story-contributors')
                a href="#story-contributors" data-toggle="tab"
                  span
                    i.fa.fa-users
                    | &nbsp;&nbsp;
                    span
                      | Story Contributors
                  span
                    button.btn-add {
                      type="button" 
                      class=('shown' if edit_story_tab == '#story-contributors')
                      data-toggle="modal" 
                      data-target="#new-contributor-modal" }
                      span.fa-stack.fa-lg
                        i.fa.fa-circle-o.fa-stack-2x
                        i.fa.fa-plus.fa-stack-1x

      .col-sm-5.col-md-4.col-lg-9.layout-main
        .tab-content

          .curate-stories.tab-pane.fade class=('active in' if curate_view == 'stories')
            .grid-container
              ul#curate-gallery.grid.list-unstyled.text-center

          #edit-story.edit-story.tab-pane.fade class=('active in' if curate_view == 'story')
            - if curate_view == 'story'
              = render( \
                  'stories/edit/edit',
                  { company: company, story: story, tab: edit_story_tab })