#curate-filters
  .form-group
    = label_tag('dashboard-curator-filter', 'Curator')
    = select_tag( \
        nil,
        options_for_select(company.curators.select_options),
        { id: 'dashboard-curator-filter', 
          include_blank: true, 
          class: "curate-filters__curator form-control", 
          style: "width:100%" })

  .form-group
    = label_tag('dashboard-status-filter', 'Status')
    = select_tag( \
        nil,
        options_for_select( \
          [['Not published', '0'], ['Logo published', '1'], ['Preview published', '2'], ['Story published', '3']]),
        { id:'dashboard-status-filter', 
          include_blank: true, 
          class: "curate-filters__status form-control", 
          style: "width:100%" })

  .form-group
    = label_tag('dashboard-customer-filter', 'Customer')
    = select_tag( \
        nil,
        options_for_select(company.customers.select_options),
        { id: 'dashboard-customer-filter',
          include_blank: true, 
          class: "curate-filters__customer form-control", 
          style: "width:100%" })

  .form-group
    = label_tag('dashboard-category-filter', 'Category')
    = select_tag( \
        nil,
        options_for_select(company.story_categories.select_options),
        { id: 'dashboard-category-filter',
          include_blank: true, 
          class: "curate-filters__category form-control", 
          style: "width:100%" })

  .form-group
    = label_tag('dashboard-product-filter', 'Product')
    = select_tag( \
        nil,
        options_for_select(company.products.select_options),
        { id: 'dashboard-product-filter',
          include_blank: true, 
          class: "curate-filters__product form-control", 
          style: "width:100%" })