<table id="stories-table" 
    class="datatable table table-hover table-bordered" 
    cellspacing="0" 
    width="100%">

  <thead>
    <tr>
      <th class="toggle-child-row">
        <!-- padding ensures a min width; spec"ed in dt init but may fall short -->
        <!-- <i class="fa fa-user" style="color:#666; padding: 0 6px"></i> -->
      </th>
      <th>Curator</th>
      <th>Customer</th>
      <th>Title</th>
      <th>Status</th>
      <th>Last Updated</th>
      <th>data</th>   <!-- hidden -->
    </tr>
  </thead>

  <tbody>
  </tbody>

</table>