
<div class="modal fade" id="activity-feed-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" >
      <div class="modal-header">
        <h4 class="modal-title">Last 7 days</h4>
      </div>
      <div class="modal-body">

        <h4>Hi Mom</h4>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>
