
<ul id='company-nav-tabs' class='nav nav-tabs pull-right' role='tablist'>

  <% if curator?(company) && !current_page?(controller: 'stories', action: 'index') %>

    <li class="dropdown company-settings pull-right">
      <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
        <span class="visible-xs-inline" style="display: inline !important">
          <i class='glyphicon glyphicon-cog' style='margin-right:2px'></i>
        </span>
        <i class="fa fa-caret-down"></i>
      </a>

      <ul class="dropdown-menu" role="menu" style="padding: 9px 0">
        <li>
          <a href='/settings#company-profile'>
            <i class="fa fa-fw fa-globe"></i>&nbsp;&nbsp;
            Company Profile
          </a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a href='/settings#crowdsource'>
            <i class="fa fa-fw fa-users"></i>&nbsp;&nbsp;
            Crowdsource Settings
          </a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a href='/settings#tags'>
            <i class="fa fa-fw fa-tags"></i>&nbsp;&nbsp;
            Story Tags
          </a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a href='/settings#ctas'>
            <i class="fa fa-fw fa-hand-pointer-o"></i>&nbsp;&nbsp;
            Link &amp Form CTAs
          </a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a href='/settings#plugins'>
            <i class='fa fa-fw fa-plug' style='font-size:15px; top:2px; margin-left:2px'></i>&nbsp;&nbsp;
            Stories Plugin
          </a>
        </li>
      </ul>

    </li>

  <% end %>

  <% if current_page?(controller: 'stories', action: 'index') && curator?(company) %>

    <a href='/curate'>
      <i class='glyphicon glyphicon-home' style='font-size: 18px; '></i>
    </a>

  <% else %>

    <li class="dropdown user-profile">
      <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
        <span class="visible-xs-inline" style="display: inline !important">
          <i class='glyphicon glyphicon-user' style='margin-right:2px'></i>
        </span>
        <i class="fa fa-caret-down"></i>
      </a>

      <ul class="dropdown-menu" style='right:0;left:auto' role="menu">

        <% if curator?(company) %>
          <li>
            <a href='/user-profile'>
              <%= current_user.full_name %>
            </a>
          </li>
        <% else %>
          <li>
            <%= link_to edit_profile_no_company_path do %>
              <%= current_user.full_name %>
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        </li>

      </ul>
    </li>

  <% end %>
</ul>