
<ul id='company-nav-dropdowns' class='nav nav-tabs mainnav-menu pull-right' role='tablist'>

  <% if curator?(company) && !main_gallery? %>

    <li class="dropdown company-settings pull-right">
      <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
        <span class="visible-xs-inline" style="display: inline !important">
          <i class='glyphicon glyphicon-cog' style='margin-right:2px'></i>
        </span>
        <i class="fa fa-caret-down"></i>
      </a>

      <ul class="dropdown-menu" role="menu">
        <li>
          <a href='/settings'>
            Company Settings
          </a>
        </li>
      </ul>

    </li>

  <% end %>

  <% if main_gallery? && curator?(company) %>

    <a href='/curate'>
      <i class='glyphicon glyphicon-home' style='font-size: 18px; '></i>
    </a>

  <% else %>

    <li class="dropdown user-profile">
      <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
        <span class="visible-xs-inline" style="display: inline !important">
          <i class='glyphicon glyphicon-user' style='margin-right:2px'></i>
        </span>
        <i class="fa fa-caret-down"></i>
      </a>

      <ul class="dropdown-menu" style='right:0;left:auto' role="menu">

        <% if curator?(company) %>
          <li>
            <a href='/user-profile'>
              <%= current_user.full_name %>
            </a>
          </li>
        <% else %>
          <li>
            <%= link_to edit_profile_no_company_path do %>
              <%= current_user.full_name %>
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        </li>

      </ul>
    </li>

  <% end %>
</ul>