
<ul class="nav nav-tabs nav-settings pull-right" role="tablist">

  <% if curator?(company) && !current_page?(controller: 'stories', action: 'index') %>

    <li class="dropdown company-settings">

      <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
        <i class="fa fa-fw fa-gear"></i>
        <i class="fa fa-caret-down"></i>
      </a>

      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li>
          <a href='/settings#company-profile'>
            <i class="fa fa-fw fa-globe"></i>&nbsp;&nbsp;
            Company Profile
          </a>
        </li>
        <%# <li role="separator" class="divider"></li> %>
        <li>
          <a href='/settings#crowdsource'>
            <i class="fa fa-fw fa-users"></i>&nbsp;&nbsp;
            Crowdsource Settings
          </a>
        </li>
        <%# <li role="separator" class="divider"></li> %>
        <li>
          <a href='/settings#plugins'>
            <i class='fa fa-fw fa-plug'></i>&nbsp;&nbsp;
            Customer Stories Plugin
          </a>
        </li>
        <li>
          <a href='/settings#ctas'>
            <i class="fa fa-fw fa-hand-pointer-o"></i>&nbsp;&nbsp;
            Link &amp Form CTAs
          </a>
        </li>
        <li>
          <a href='/settings#tags'>
            <i class="fa fa-fw fa-tags"></i>&nbsp;&nbsp;
            Story Tags
          </a>
        </li>
      </ul>

    </li>

  <% end %>

  <% if current_page?(controller: 'stories', action: 'index') && curator?(company) %>

    <%# <a href="/curate">
      <i class="glyphicon glyphicon-home" style="font-size: 18px;"></i>
    </a> %>

  <% else %>

    <li class="dropdown user-profile">

      <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
        <i class="fa fa-fw fa-user-circle-o"></i>
        <i class="fa fa-caret-down"></i>
      </a>

      <ul class="dropdown-menu dropdown-menu-right" role="menu">

        <% if curator?(company) %>
          <li>
            <a href='/user-profile'>
              <i class="fa fa-fw fa-user-circle-o"></i>&nbsp;&nbsp;
              <%= current_user.full_name %>
            </a>
          </li>
        <% else %>
          <li>
            <%= link_to edit_profile_no_company_path do %>
              <i class="fa fa-fw fa-user-circle-o"></i>&nbsp;&nbsp;
              <%= current_user.full_name %>
            <% end %>
          </li>
        <% end %>
        <%# <li role="separator" class="divider"></li> %>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-fw fa-sign-out"></i>&nbsp;&nbsp;
            Sign out
          <% end %>
        </li>

      </ul>
    </li>

  <% end %>
  
</ul>