.new-contact.hidden { 
  data-customer-win-form-target=("#{contact_type}Fields" if form == 'new-success')
  data-contribution-form-target=("#{contact_type}Fields" if form == 'new-contributor')
  class="#{form} create-#{contact_type}" }

  = parent_fields.fields_for( \
      contact_type.to_sym,
      contact_type == 'referrer' ? \
        parent_fields.object.build_referrer : \
        parent_fields.object.build_contributor) do |user_fields|

    = user_fields.hidden_field( \
        :id,
        value: '',
        disabled: true,
        data: input_data_attrs)

    = user_fields.hidden_field( \
        :sign_up_code,
        value: 'csp_beta',
        disabled: true,
        data: input_data_attrs)

    = user_fields.hidden_field( \
        :password,
        disabled: true,
        data: input_data_attrs)

    .form-group.contact-first-name.required-input
      = user_fields.label(:first_name, 'First Name', class: 'col-sm-3 control-label')
      .col-sm-9
        / tabindex: '-1' allows manual focus
        = user_fields.text_field( \
            :first_name,
            class: 'form-control',
            disabled: true,
            tabindex: '-1',
            data: input_data_attrs)
        span.help-block Required

    .form-group.contact-last-name.required-input
      = user_fields.label(:last_name, 'Last Name', class: 'col-sm-3 control-label')
      .col-sm-9
        = user_fields.text_field( \
            :last_name,
            class: 'form-control',
            disabled: true,
            data: input_data_attrs)
        span.help-block Required

    .form-group.contact-email.required-input
      = user_fields.label(:email, 'Email', class: 'col-sm-3 control-label')
      .col-sm-9
        = user_fields.email_field( \
            :email,
            class: 'form-control',
            disabled: true,
            data: input_data_attrs)
        span.help-block