
<div id='new-customer-modal' class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Customer</h4>
      </div>
      <div class="modal-body">

        <div class="form-group">

          <label class='control-label'>
            Type
          </label>
          <div class='customer-types btn-group' data-toggle='buttons'>
           <!--  <%#= label_tag :show, class: 'radio-inline' do %>
              <%#= radio_button_tag :type, 'business' %>
              Business
            <%# end %>
            <%#= label_tag :show, class: 'radio-inline' do %>
              <%#= radio_button_tag :type, 'consumer' %>
              Consumer
            <%# end %> -->
            <label class="active" data-toggle='tab' data-target='#new-biz-pane'>
              <input type="radio" name="options" autocomplete="off" checked> Business
            </label>
            <label data-toggle='tab' data-target='#new-cust-pane'>
              <input type="radio" name="options" autocomplete="off"> Consumer
            </label>
          </div>
        </div>

        <div id='new-biz-pane' class="form-group">

          <h3>new-biz-form</h3>

        </div>

        <div id='new-cust-pane' class="form-group" style='display:none'>

          <h3>new-cust-form</h3>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->