<!-- pipeline -->
<div role='tabpanel' class='tab-pane content' id='pipeline'>
  <div class='container'>
    <div class='row'>
      <div class='portlet portlet-default'>

        <div class="portlet-header">
          <h4 class="portlet-title">
            <u>Closed Deals Waiting To Spawn Success Story </u>
          </h4>
        </div> <!-- /.portlet-header -->

        <div class='portlet-body'>

            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Customer</th>
                  <th>Deal Close Date</th>
                  <th>Days Aged</th>
                  <th class="text-center"> Action</th>
                </tr>
              </thead>

              <tbody>

                <% @company.successes.each do |success| %>
                  <% if success.story.nil? %>

                    <tr>
                      <td><%= success.customer.name %></td>
                      <td><%= success.created_at.to_date %></td>
                      <td><%= ((Time.now-success.created_at)/86400).round(0) %></td>


                      <td class="text-center valign-left">
                        <button class="btn btn-xs btn-secondary"
                            data-toggle="modal"  data-target="#new-story-modal">
                          Spawn Story
                        </button>
                      </td>
                    </tr>

                  <% end %>
                <% end %>

              </tbody>
            </table>

        </div>
      </div>  <!-- portlet -->
    </div>  <!-- row -->
  </div>  <!-- container -->
</div>  <!-- pipeline