<!-- promote -->
<div id='promote-panel'
     class="<%= workflow_tab == 'promote' ? 'active tab-pane content' : 'tab-pane content' %>" role='tabpanel'>

  <div class='container'>
    <div class='row'>
      <div class='portlet portlet-default'>

        <div class="portlet-header">
          <h5 class="portlet-title">




        </div>

      </div>  <!-- portlet -->
    </div>  <!-- row -->
  </div>  <!-- container -->
</div>  <!-- promote