
<div id='promote-panel'
     class="<%= workflow_tab == 'promote' ? 'active tab-pane fade in content' : 'tab-pane fade content' %>"role='tabpanel'>
  <div class="content clip">
    <div class='container'>

      <div class="layout layout-main-right layout-stack-sm">
        <div class="col-md-3 col-sm-4 layout-sidebar">

          <div class="nav-layout-sidebar-skip">
            <strong>Tab Navigation</strong> / <a href="#settings-content">Skip to Content</a>
          </div>

          <ul class="nav nav-layout-sidebar nav-stacked">
            <li class='active'>
              <a href=".tab-pane.promote-settings" data-toggle="tab">
              <i class="fa fa-gear"></i>
              &nbsp;&nbsp;Settings
              </a>
            </li>
            <li>
              <a href=".tab-pane.promote-sponsored" data-toggle="tab">
              <i class="fa fa-pencil"></i>
              &nbsp;&nbsp;Sponsored Stories
              </a>
            </li>
          </ul>

        </div>

        <div class="col-md-9 col-sm-8 layout-main">

          <div id="settings-content" class="tab-content stacked-content">

            <div class="promote-settings tab-pane fade in active">
              <%= render 'adwords/campaign_management', { company: company } %>
            </div>

            <div class="promote-sponsored tab-pane fade">
              <%= render 'adwords/ads_preview', { company: company } %>
            </div>
          </div>

        </div>

      </div>

    </div>  <!-- container -->
  </div>
</div>  <!-- promote -->


