<!-- promote -->
<div id='promote-panel'
     class="<%= workflow_tab == 'promote' ? 'active tab-pane content' : 'tab-pane content' %>" role='tabpanel'>

  <div class='container'>
    <div class='row'>
      <div class='portlet portlet-default'>



          <button id='get-ads-btn' type='button' class='btn btn-primary'>
            Get Ads
          </button>

      </div>  <!-- portlet -->
    </div>  <!-- row -->
  </div>  <!-- container -->
</div>  <!-- promote