<!-- promote -->
<div role='tabpanel' class='tab-pane content' id='promote'>
  <div class='container'>
    <div class='row'>
      <div class='portlet portlet-default'>
        
                <div class="portlet-header">
          <h4 class="portlet-title">
            <u>Promote</u>
          </h4>
        </div>
        <div class='portlet-body'>
         
                 <div class="feature-lg">

          <div class="row">

            <div class="col-sm-4">
              
               
              <figure class="thumbnail">
                <%= image_tag 'mvp-landing/2014-10-26_1640.png',
                  { class: 'img-responsive layout-main-left center-block',
                    style: 'width: 100%;', alt: '' } %>
              </figure>
            </div><!-- /.col -->

            <div class="col-sm-6">

              <br class="xs-30 sm-0">

              <div class="feature-content">
 

                <h3>Promote Stories in Ad Networks</h3>

                 <div>

        <input type="checkbox" id='publish-story'>
        <label for="publish-story">Enable Retargeting</label>
   
      </div>         
         <br>
                 <div>
        
        <input type="checkbox" id='publish-story'>
        <label for="publish-story">Enable CRM Targeting</label>
      </div>           
      <br>
                 <div>
        <input type="checkbox" id='publish-story'>
        <label for="publish-story">Enable Audience Targeting</label>
      </div>
            </div> <!-- /.feature-content -->
            </div><!-- /.col -->

          </div> <!-- /.row -->

        </div> <!-- /.feature-lg -->
         
         
        </div>
      </div>  <!-- portlet -->
    </div>  <!-- row -->
  </div>  <!-- container -->
</div>  <!-- promote