
<ul class="nav nav-layout-sidebar nav-stacked">

  <li class="active">
    <a href="#company-profile" data-toggle="tab">
      <i class="fa fa-users"></i>
      &nbsp;&nbsp;Company Profile
    </a>
  </li>

  <li>
    <a href="#email-templates" data-toggle="tab"
       class='<%= @company.new_record? ? 'disabled-tab' : '' %>'>
      <i class="fa fa-envelope-o"></i>
      &nbsp;&nbsp;Email Templates
    </a>
  </li>

  <li>
    <a href="#story-tags" data-toggle="tab"
       class='<%= @company.new_record? ? 'disabled-tab' : '' %>'>
      <i class="fa fa-tags"></i>
      &nbsp;&nbsp;Story Tags
    </a>
  </li>

  <li>
    <a href="#story-ctas" data-toggle="tab"
       class='<%= @company.new_record? ? 'disabled-tab' : '' %>'>
      <i class="fa fa-bullhorn"></i>
      &nbsp;&nbsp;Story CTAs
    </a>
  </li>

  <li>
    <a href="#widget-config" data-toggle="tab"
       class='<%= @company.new_record? ? 'disabled-tab' : '' %>'>
      <i class="fa fa-caret-square-o-up"></i>
      &nbsp;&nbsp;Stories Widget
    </a>
  </li>

</ul>