.table-controls 
  div
    .search-select data-action="tomselect:change-filter->#{resource_ctrl_id}#onChangeSearchSelect tomselect:search->#{resource_ctrl_id}#onTomselectSearch"
      label
        i.fa.fa-search
      = select_tag( \
          nil,
          grouped_options_for_select(search_options),
          { include_blank: true,
            placeholder: 'Search',
            class: 'form-control',
            data: { \
              controller: 'tomselect', 
              tomselect_kind_value: 'filter', 
              "#{resource_ctrl_id}_target" => 'searchSelect',
              dashboard_target: "#{resource_name}SearchSelect" } })
    = button_tag( \
        type: 'button',
        class: 'btn btn-secondary',
        aria: { label: "New #{row_name}" },
        data: { \
          "#{resource_ctrl_id}_target" => 'newItemBtn', 
          controller: 'modal-trigger', 
          modal_trigger_modal_outlet: '#main-modal', 
          modal_trigger_title_value: "New #{row_name}", 
          modal_trigger_turbo_frame_attrs_value: modal_turbo_frame_attrs }) do
        i.fa.fa-plus
        |&nbsp;&nbsp;New
    = button_tag( \
        type: 'button', 
        class: 'btn btn-default', 
        aria: { label: 'Table Display Settings' }, 
        data: { "#{resource_ctrl_id}_target" => 'displayOptionsBtn' }) do
        i.fa.fa-gear
        |&nbsp;&nbsp;Preferences

  div style="display:flex; justify-content:flex-end"
    = content_tag(:div, '', class: 'help-block text-right', data: { "#{resource_ctrl_id}_target" => 'filterResults' })