- hide_filters ||= false

.table-controls 
  div class=('hidden' if hide_filters)
    .curator-select data-action="tomselect:change-curator->resource#onChangeCurator"
      label 
        span Curator
      = select_tag( \
          nil,
          options_from_collection_for_select(company.curators, :id, :full_name, curator_id),
          { include_blank: true,
            placeholder: 'Select',
            class: 'form-control',
            data: { \
              controller: 'tomselect', 
              tomselect_kind_value: 'curator', 
              resource_target: 'curatorSelect' } })

    .filter-select data-action="tomselect:change-filter->resource#onChangeFilter tomselect:search->resource#searchTable"
      label
        i.fa.fa-search
      = select_tag( \
          nil,
          grouped_options_for_select(search_options),
          { include_blank: true,
            placeholder: 'Search / Select',
            class: 'form-control',
            data: { \
              controller: 'tomselect', 
              tomselect_kind_value: 'filter', 
              resource_target: 'filterSelect',
              dashboard_target: } })
  
  div
    div
      - if row_name.present?
        button.btn.btn-default {
          type="button"
          data-resource-target="newItemBtn"
          data-controller="modal-trigger"
          data-modal-trigger-modal-outlet="#main-modal"
          data-modal-trigger-title-value="New #{row_name}"
          data-modal-trigger-turbo-frame-attrs-value="#{modal_turbo_frame_attrs.to_json if modal_turbo_frame_attrs.present?}"
          data-modal-trigger-submit-button-text-value="Add #{row_name}"
          aria-label="New #{row_name}" }
          i.fa.fa-fw.fa-plus
      button.btn.btn-default {
        type="button" 
        class=('hidden' if hide_filters)
        aria-label="Table Display Options" 
        data-resource-target="tableDisplayOptionsBtn" }
        i.fa.fa-fw.fa-server
    div class=('hidden' if hide_filters)
      .help-block.text-right data-resource-target="filterResults"