
<ul id='workflow-tabs-list'
    class='nav nav-tabs' role='tablist' style='border-bottom:0'>

  <li id='crowdsource-tab' class="<%= workflow_tab == 'crowdsource' ? 'active' : '' %>"
      role='presentation' style='margin-bottom: 0px'>
    <a href='#crowdsource-panel' role='tab' data-toggle='tab' aria-controls='crowdsource'
        data-turbolinks='false'>
      Crowdsource
    </a>
  </li>

  <li id='curate-tab' class="<%= workflow_tab == 'curate' ? 'active' : '' %>"
      role='presentation' style='margin-bottom: 0px'>
    <a href='#curate-panel' role='tab' data-toggle='tab' aria-controls='curate'
       data-turbolinks='false'>
      Curate
    </a>
  </li>

  <li id='promote-tab' class="<%= workflow_tab == 'promote' ? 'active' : '' %>"
      role='presentation' style='margin-bottom: 0px'>
    <a href='#promote-panel' role='tab' data-toggle='tab' aria-controls='promote'
        data-turbolinks='false'>
      Promote
    </a>
  </li>

  <li id='measure-tab' class="<%= workflow_tab == 'measure' ? 'active' : '' %>"
      role='presentation' style='margin-bottom: 0px'>
    <a href='#measure-panel' role='tab' data-toggle='tab' aria-controls='measure'
        data-turbolinks='false'>
      Measure
    </a>
  </li>

</ul>