
<ul id='workflow-tabs'
    class='nav nav-tabs' role='tablist' style='border-bottom:0'>

  <li id='prospect-tab' class="<%= workflow_stage == 'prospect' ? 'active' : '' %>"
      role='presentation' style='margin-bottom: 0px'>
    <a href='#prospect' role='tab' data-toggle='tab'
       aria-controls='prospect' data-turbolinks='false'>
      Prospect
    </a>
  </li>

  <li id='curate-tab' class="<%= workflow_stage == 'curate' ? 'active' : '' %>"
      role='presentation' style='margin-bottom: 0px'>
    <a href='#curate' role='tab' data-toggle='tab'
       aria-controls='curate' data-turbolinks='false'>
      Curate
    </a>
  </li>

  <li id='promote-tab' class="<%= workflow_stage == 'promote' ? 'active' : '' %>"
      role='presentation' style='margin-bottom: 0px'>
    <a href='#promote' role='tab' data-toggle='tab'
       aria-controls='promote' data-turbolinks='false'>
      Promote
    </a>
  </li>

  <li id='measure-tab' class="<%= workflow_stage == 'measure' ? 'active' : '' %>"
      role='presentation' style='margin-bottom: 0px'>
    <a href='#measure' role='tab' data-toggle='tab'
       aria-controls='measure' data-turbolinks='false'>
      Measure
    </a>
  </li>

</ul>