<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @form.company.name %> Web form</title>
</head>
<body>

  <div style='margin:0 auto'>
    <%= @form.form_html.html_safe %>
  </div>

</body>
</html>