
@import '../../views/plugins/plugins';

$trunity-orange: #FEBE57;

#cs-container .cs-tabbed-carousel,
.trunity.stories.show .cs-tabbed-carousel {

  .cs-header {
    background-color: $trunity-orange;
    color: #333;

    img {
      @include svg-fill(#333333);
    }
  }

  .cs-drawer-content {
    border-top-color: $trunity-orange; 
  }

}