
#company-header {
  opacity: 0.9;
  .navbar-container {
    .row {
      .navbar-header { }
      a.primary-cta  {
        background-color: transparent !important;
        border-color: #e41516 !important;
        color: #e41516 !important;
        font-size: 13px;
        border-radius: 20px;
        line-height: 38px;
        padding: 0 26px;
        text-align: center;
        font-weight: 600;
        transition: background .25s ease;
        &:hover, &:focus {
          background: #e41516 !important;
          color: #fff !important;
        }
      }
    }
  }
}