$thumbnail-padding-and-border: $thumbnail-padding + 1px;

.image-card {
  position: relative;
  
  // @at-root li#{&} {
  //   display: inline-block;
  //   margin: 0.5rem;
    
  //   &.gads-default,
  //   &--company-logo {
  //     margin: 0 0.5rem;
  //   }
  // }

  &--selectable {
    cursor: pointer;
  }
  
  &--uploading {
    @include spinner('sm');
    
    > .spinner {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // Don't show until successfully uploaded
  &--uploading .fileinput-preview img {
    display: none;
  }

  .form-group {
    margin: 0;
  }

  .fileinput, 
  .fileinput-new,
  .fileinput-preview {
    position: relative;
    margin: 0;  // override jasny bootstrap
  }
}

.image-card__checkmark {
  display: none;
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  align-items: center;
  padding: 4px;
  font-size: 12px;
  color: $brand-primary;

  .image-card--selected & {
    display: flex;
  }

  > div {
    position: relative;

    > div {
      position: absolute;
      top: 2px;
      left: 4px;
      height: 24px;
      width: 24px;
      background: #fff;
      border-radius: 14px;
    }
  }

  i {
    -webkit-text-stroke: 1px #fff;  // should match background color
  }
}

.image-card__header {
  position: absolute;
  top: $thumbnail-padding-and-border;
  left: $thumbnail-padding-and-border;
  right: $thumbnail-padding-and-border;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;

  // .image-card--uploading .form-group:not(.has-error) &,
  .has-error & button:not(.btn-remove),
  .image-card--uploading &,
  [class*="to-be-"] & {
    display: none;
  }

  button {
    margin-top: 0.25em;
    margin-right: 0.25em;
    border: 0;
    border-radius: 50%;
    padding: 0;
    width: 2em;
    height: 2em;
    background-color: rgba(64, 64, 64, 0.5);
    font-size: 1.25em;
    color: rgba(255, 255, 255, 0.85);

    &:hover {
      background-color: rgba(64, 64, 64, 0.75);
      color: #fff;
    }

    &.btn-remove {
      display: none;
    }
  }

  .has-error & .btn-remove {
    display: inline-block;
  }
}

.image-card__error {
  position: absolute;
  z-index: 10;
  top: $thumbnail-padding-and-border;
  right: $thumbnail-padding-and-border;
  bottom: $thumbnail-padding-and-border;
  left: $thumbnail-padding-and-border;
  display: none;
  background: transparent;
  font-size: 1.75em;
  color: $state-danger-text;

  .has-error & {
    @include flex-row-center-center;
  }
}

.image-card__mask {
  position: absolute;
  z-index: 1;
  top: $thumbnail-padding-and-border;
  right: $thumbnail-padding-and-border;
  bottom: $thumbnail-padding-and-border;
  left: $thumbnail-padding-and-border;
  display: none;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(12px);

  .has-error & {
    display: revert;
  }
}

.image-card__frame {
  .image-card--SquareImage & {
    width: 15rem;
    height: 15rem;
  }

  .image-card--SquareLogo &,
  .image-card--UserPhoto & {
    width: 13rem;
    height: 13rem;
  }

  .image-card--LandscapeImage & {
    width: calc(210px + #{2 * $thumbnail-padding-and-border});
    height: calc(110px + #{2 * $thumbnail-padding-and-border});
  }

  .image-card--LandscapeLogo & {
    width: calc(248px + #{2 * $thumbnail-padding-and-border});
    height: calc(62px + #{2 * $thumbnail-padding-and-border});
  }

  .image-card--OpenGraph & {
    width: 100%;
    height: 238px;
  }

  .thumbnail {
    width: 100%;
    height: 100%;
    padding: $thumbnail-padding;
    transition: border 0s;
  }
}

.image-card__footer {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  justify-content: center;
  padding: 8px;
  border-bottom-left-radius: $thumbnail-border-radius;
  border-bottom-right-radius: $thumbnail-border-radius;
  background-color: rgba(75, 75, 75, 0.7);

  button {
    margin: 0 3px;
    flex-grow: 0.5;
    border: none;
  }

  [class*="to-be-"] & {
    display: flex;
  }

  .image-card--SquareImage &,
  .image-card--SquareLogo & {
    flex-direction: column;
    align-items: center;

    button:first-of-type {
      margin-bottom: 8px;
    }
  }
    
  .image-card--SquareImage & button {
    width: 75%;
  }

  .image-card--SquareLogo & button {
    width: 90%;
  }

  .to-be-default & {
    .btn-danger {
      display: none;
    }
  }

  .to-be-removed & {
    .btn-success {
      display: none;
    }
  }
}