body.devise {
  main {
    background-color: $light-gray;
  }

  .account-body {
    border: none;
    background-color: transparent;
    box-shadow: none;
    color: $body-text-color;

    p {
      line-height: 1.25em;
    }
  }
  
  .account-form { 
    .form-group {
      margin-bottom: $form-group-margin-bottom;

      [required] + .help-block {
        display: none;
      }
    
      &.has-error [required] + .help-block {
        display: block
      }
    }
  }

  .help-block {
    margin-bottom: 0;
    font-size: $font-size-small;
  }
}