body.devise {
  main {
    background-color: $light-gray;
  }

  .account-body {
    border: none;
    background-color: transparent;
    box-shadow: none;
    color: $body-text-color;

    h4 {
      margin-bottom: 0.5em;
    }

    a {
      font-weight: 600;
    }
    
    p {
      line-height: 1.5em;
    }
  }
  
  .account-form { 
    margin: 1.75em 0;

    .form-group {
      margin-bottom: 2rem; //$form-group-margin-bottom;

      [required]:not([autocomplete="new-password"]) + .help-block {
        display: none;
      }
    
      &.has-error [required] + .help-block {
        display: block
      }
    }
  }

  .help-block {
    margin-bottom: 0;
    font-size: $font-size-small;
  }
}