body.devise {
  main {
    background-color: $light-gray;
  }

  .account-body {
    border: none;
    background-color: transparent;
    box-shadow: none;
    color: $body-text-color;

    p {
      line-height: 1.2em;
    }

    .form-group {
      margin-bottom: 20px;
    }
  }
}