$mobile-navbar-height: 62px;
$navbar-height: 85px;   // from mvp-landing

.navbar-default {
  @include bs-xs {
    height: $mobile-navbar-height;  // height must be explicitly set for transition
  }

  transition: top 0.2s ease-out;

  // ripped from instapage: 0 4px 3px 0 rgba(34,90,182,.12), 0 0 1px 0 rgba(41,92,176,.25)
  // then use hexcolortool.com to set top bar (full color spectrum) to 195 (matches $sky-blue and $dark-blue)
  box-shadow: 0 4px 3px 0 rgba(33,144,181,.12), 0 0 1px 0 rgba(42,144,178,.25);

  // don't use class name 'collapse' or it will conflict with the bootstrap class and the transition won't work
  &.collapse-header {
    @include bs-xs {
      top: calc(#{$mobile-navbar-height * -1});
    }

    transition: top 0.2s ease-in;
    top: calc(#{$navbar-height * -1});
  }

  .navbar-brand img {
    max-height: 100%;
  }

  .navbar-collapse {
    @include bs-xs {
      box-shadow: 0 4px 3px 0 rgba(33,144,181,.12), 0 0 1px 0 rgba(42,144,178,.25);
    }

    border-color: transparent;
    background-color: white;
  }

  .navbar-nav {
    // > li:not(:last-of-type) {
    > li {
      margin-right: 12px;
    }

    > li > a {
      font-weight: 300;

      &:link,
      &:visited {
        color: $body-text-color;
      }
      
      &:hover,
      &:active {
        color: black;
      }
    }

    > li.active > a,
    > li.active > a:hover {
      background-color: $light-gray;
      color: black;
    }
  }

  .navbar-toggle {
    border-color: $medium-blue;
  
    i {
      color: $medium-blue;
    }
  
    &:hover,
    &:focus {
      background-color: $light-gray;
    }
  }
}

// signed in user
.navbar-right .navbar-brand {
  padding-left: 26px;
  line-height: 20px;          // for centering image vertically (matches font of adjacent items)

  img {
    display: inline-block;    // for centering image vertically
    vertical-align: middle;   // for centering image vertically
    margin: auto;             // for centering image vertically
  }
}