@import 'base/variables';
@import 'landing_bootstrap';
@import 'font-awesome';
@import 'mvpready-landing-2_1_1';
@import 'base/mixins';
@import 'views/site';

$mobile-navbar-height: 62px;
$navbar-height: 85px;   // from mvp-landing

// Most of these come from this palette generator: https://mycolor.space/?hex=%2385CEE6&sub=1
$body-text-color: #425961;
$accent-color: #964167;
$sky-blue: #85cee6;
$medium-blue: #59a3ba;  // matches the 'Why Customer Stories?' images
$dark-blue: #16556a;  // #005368;
$light-blue: #f0ffff; // eaf6fb
$gray: #e0e8eb; // #b8d5d7;
$light-gray: #eaf2f5;

@import 'navbar';
@import 'buttons';
@import 'devise';
@import 'pricing';
@import 'footer';

html,
body {
  height: 100%;
}

body {
  font-size: 14px;

  @include bs-xs {
    padding-top: $mobile-navbar-height;
  }

  @include bs-sm {
    padding-top: $navbar-height;
  }

  // give padded space the right color
  &.home,
  &.product,
  &.plans,
  &.terms,
  &.privacy,
  &.company,
  &.our-story {
    background-color: $sky-blue;
  }

  main {
    background-color: white;
  }

  &.devise {
    background-color: $light-gray;
  }
}

main {
  min-height: 100vh;  // this will hide the footers
}

// MVP overrides
body,
.copyright p {
  color: $body-text-color;
}

a:not(.btn),
.footer a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $dark-blue
  }
}

.heading-block {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $body-text-color;
  }
}

p.lead {
  margin-bottom: 15px;
  line-height: 1.5;
  font-weight: normal;
  color: inherit;
}

i,
.text-secondary {
  color: $dark-blue;
}

.bg-secondary {
  background-color: $medium-blue;
}

.heading-block::after {
  background-color: $accent-color;
}

// .alert-danger {
//   background-color: $state-danger-bg;
//   border-color: $state-danger-bg;
//   color: $state-danger-text;
// }

// replace Oswald with Lato
// note the need to change font weight: Lato only has 300,400,700 but Oswald uses 500,600
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.table-bordered thead tr th,
.table-bordered tfoot tr th,
.navbar-nav > li > a {
  font-family: 'Lato', 'Trebuchet MS', 'Open Sans', arial, sans-serif;

  .table-bordered thead tr &,
  .table-bordered tfoot tr th {
    font-weight: bold;
  }

  .navbar-nav > li > & {
    font-weight: normal;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

// .navbar-nav > li > a.create-account {
//   position: relative;
//   top: -2px;
//   margin: 0 12px;
//   border: 2px solid $dark-blue;
//   background-color
//   color: white;
// }

.masthead-text {
  padding-top: 0;
  color: $dark-blue;
}

.masthead-subtitle {
  font-weight: normal;
  color: $dark-blue;
}

.masthead {
  background-color: $sky-blue;
}

.home-section {
  border-color: $light-gray;
}

.feature-figure img,
.testimonial-content {
  border-color: $gray;

  &::after {
    border-top-color: $light-gray;
  }
}

.feature-figure img {
  box-shadow: none;
  border-radius: 5px;

  body.home & {
    @include bs-md {
      max-height: 180px;
    }
  }
}

.feature-sm {
  // padding: 0 10px 0 10px;
  // font-size: 20px;
  
  ul {
    padding-left: 15px;
  }
  
  i {
    top: 5px;
  }

  &.promote {
    i {
      font-size: 25px;
      
      &.fa-bullhorn  {
        top: 32px;
      }
  
      &:not(.fa-bullhorn) {
        left: 20px;
      }
    }
  }

  body.product .visible-xs-block & {
    margin: 0 auto 30px auto;
    max-width: 500px;
  }
}

.feature-sm-label {
  line-height: 25px;
}

.feature-lg-label {
  font-size: 40px;
}

li.feature-sm-content {
  line-height: 1.7em;
}

.testimonial-author-info h4 {
  margin-bottom: 0.35em;
}

.testimonial-image img {
  width: 65px;
  height: 65px;
}

.copyright {
  background: white;
}

.clients-list {
  margin-bottom: 25px;

  li {
    vertical-align: middle;
    margin: 0 25px 50px 25px;
  }

  img.pixlee  {
    height: 30px;
  }

  img.compas {
    height: 40px;
  }

  img.varmour {
    height: 26px;
  }

  img.trunity {
    height: 46px;
  }

  img.cce {
    position: relative;
    top: 10px;
    height: 74px;
  }

  @include bs-lg {
    li {
      margin-left: 12px;
      margin-right: 12px;
    }
  }
}

.testimonials-list {
  li {
    vertical-align: top;
    width: 340px;
    
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  @include bs-sm {
    li {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  @include bs-md {
    li {
      margin-left: 25px;
      margin-right: 25px;
    }
  }

  @include bs-lg {
    li {
      margin-bottom: 0 !important;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

body.home,
body.company {
  .feature-sm {
    padding-left: 10px;
    
    > i {
      margin-bottom: 30px;
    }
    
    @include bs-xs {
      padding: 0 10%;
    }
  }

  .carousel .item {
    @include bs-xs {
      padding: 30px 0;
    }
    @include bs-sm {
      padding: 60px 0;
    }
    @include bs-md {
      padding: 60px 0 0;
    }
    // @media (max-width: 767px) {
    //   padding: 30px 0;
    // }
    // @media (max-width: 991px) {
    //   padding: 60px 0;
    // }
    // @media (min-width: 992px) {
    //   padding: 60px 0 0;
    // }
  }

  .feature-lg:not(:last-child) {
    @include bs-xs {
      margin-bottom: 50px;
    }

    @include bs-sm {
      margin-bottom: 50px;
    }

    @include bs-md {
      margin-bottom: 80px;
    }
  }
}

body.company {
  .feature-figure {
    @include bs-xs {
      margin-bottom: 50px;
    }
  }
}

body.product {  
  .masthead .row {
    .btn-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 25px;
      height: 100%;
    }

    @include bs-sm{
      height: 143px;  // explicit height is needed to center the column w/ button

      > [class*="col-"]:last-child {
        height: 100%;
      }
    }

    @include bs-md {
      .btn-wrapper {
        justify-content: flex-start;
      }
    }
  }
}

body.our-story {
  p {
    font-size: 16px;
  }
}

body.terms,
body.privacy,
body.our-story {
  .content {
    padding: 60px 0;
  }
}

#section-features .feature-lg img {
  @include bs-lg {
    max-width: 75%;
    margin: 0 auto;
  }
}

#how-it-works,
#section-contact {
  background-color: $light-gray;
  
  h2,
  h3 {
    color: $dark-blue;
  }
}

#section-contact {
  padding: 50px 0;
}

@include bs-sm {
  .home-section:first-child,
  .content-feature:first-child {
    padding-top: 75px;
  }
}