
<table id="measure-stories-table" width="100%" class="datatable table table-hover table-bordered" style="visibility: hidden">

  <thead>
    <tr>
      <th>Customer</th>
      <th>Title</th>
      <th>Publish Date</th>
      <th>Unique Visitors</th>
      <th>Landing</th>
    </tr>
  </thead>

</table>