= render( \
    'companies/shared/table_controls',
    { company:,
      caption: 'Visitors',
      resource_name: 'visitors',
      resource_ctrl_id: 'visitors',
      search_options: { \
        'Story' => company.stories.published.map(&:select_option),
        'Category' => company.tag_select_options(:category),
        'Product' => company.tag_select_options(:product) }})

#visitors-column-chart 

#stories-bar-chart