= render( \
    'companies/shared/table_controls',
    { company:,
      caption: 'Visitors',
      resource_name: 'visitors',
      resource_ctrl_id: 'visitors',
      search_options: { \
        'Story' => company.stories.published.map(&:select_option),
        'Category' => company.tag_select_options(:category, for_multi_select: true),
        'Product' => company.tag_select_options(:product, for_multi_select: true) }})

h4.text-center.hidden style="margin: 5rem 0;" data-visitors-target="noDataMesg" 
  | No data available

#visitors-column-chart data-visitors-target="columnChart"

#stories-bar-chart data-visitors-target="barChart"