#curate .layout-sidebar .curate-stories {
  @include hide-until-init;
  background-color: $medium-gray;
  background-clip: content-box;
  padding: 0;
}
#curate .layout-main .curate-stories {
  margin: 0 -15px;
}

#curate-filters  {
  // margin: 0 -15px;
  padding: 20px 15px 15px;
  .form-group {
    margin-bottom: 20px;
  }
}

.customer-stories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $csp-title-font;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 10px;
  img {
    height: 20px;
    margin-right: 16px;
  }
  > a, span {
    display: flex;
    align-items: center;
  }
  > a {
    color: $nav-blue;
    padding: 8px;
    text-decoration: none;
    height: 100%;
    flex-grow: 1;
    img:last-of-type {
      display: none;
    }
    &:hover {
      color: #1db5ff; //#3af;
      img:first-of-type {
        display: none;
      }
      img:last-of-type {
        // display: initial;
        display: revert;
      }
    }
  }
}
