
<!-- it's actually a contributions table, but presented to user as Contributors -->
<table id="contributors-table" 
    class="datatable table table-hover table-bordered" 
    cellspacing="0" 
    width="100%" 
    style="visibility: hidden">

  <thead>
    <tr>
      <th class="toggle-child-row">
        <!-- padding ensures a min width; spec"ed in dt init but may fall short -->
        <i class="fa fa-user" style="color:#666; padding: 0 6px"></i>
      </th>
      <th>Contributor</th>
      <th>Customer Win</th>  <!-- hidden -->
      <th>Invitation Template</th>
      <th>Curator</th>  <!-- hidden -->
      <th>Customer</th>  <!-- hidden -->
      <th>Status</th>
      <th class="actions">Actions</th>
      <th>Story Published</th>  <!-- boolean, hidden -->
    </tr>
  </thead>

  <tbody>
  </tbody>

</table>

