- is_story_contributors ||= false

= render( \
    'companies/shared/table_controls',
    { company: company, 
      curator_id: current_user.id,
      row_name: 'Contributor',
      hide_filters: is_story_contributors,
      modal_turbo_frame_attrs: { \
        id: 'new-contribution', 
        src: '/successes/0/contributions/new' },
      dashboard_target: 'contributorsFilter',
      search_options: { \
        'Customer' => company.customers.sort_by(&:name).map { |customer| [customer.name, "customer-#{customer.id}"] },
        'Customer Win' => company.successes.sort_by(&:updated_at).map { |success| [success.name, "success-#{success.id}"] },
        'Contributor' => company.contributors.sort_by(&:last_name).map { |user| [user.full_name, "contributor-#{user.id}"] } } })

/ it's actually a contributions table, but presented to the user as Contributors
table.datatable.table.table-bordered {
  id="#{is_story_contributors ? 'story-contributors-table' : 'contributors-table'}"
  class=('has-row-groups' unless is_story_contributors)
  data-controller="datatable"
  data-resource-target="datatable"
  data-datatable-dashboard-outlet=".dashboard"
  data-datatable-enable-row-groups-value="#{is_story_contributors ? 'false' : 'true'}"
  data-datatable-resource-outlet="#{is_story_contributors ? '#story-contributors' : '#contributors'}"
  data-action="datatable:init->resource#tableInitComplete"
  cellspacing="0" }

  thead
    tr
      th.toggle-contributor-child
        / padding ensures a min width; specified in dt init but may fall short
        i.fa.fa-user style="color:#666; padding: 0 6px"
      th Contributor

      / hidden
      th Customer Win

      th Invitation Template

      / hidden
      th Curator
      th Customer
      
      th Status
      th.actions Actions

      / hidden boolean
      th Story Published