
/ it's actually a contributions table, but presented to user as Contributors
table {
  id="#{workflow_stage}-contributors-table" 
  class="datatable table table-hover table-bordered" 
  cellspacing="0" 
  width="100%" 
  style="visibility: hidden" }

  thead
    tr
      th class="toggle-contributor-child"
        / padding ensures a min width; specified in dt init but may fall short
        i class="fa fa-user" style="color:#666; padding: 0 6px"
      th | Contributor

      / hidden
      th | Customer Win

      th | Invitation Template

      / hidden
      th | Curator
      th | Customer
      
      th | Status
      th class="actions" | Actions

      / hidden boolean
      th | Story Published

