= turbo_frame_tag('edit-invitation-template')
  
  = form_with( \
      model: [@company, @template],
      format: :json,
      html: { \
        id: 'invitation-template-form',
        class: 'form-horizontal',
        autocomplete: 'off',
        novalidate: true,
        data: { \
          controller: 'invitation-template',
          company_settings_target: 'invitationTemplateForm',
          action: 'ajax:beforeSend->invitation-template#validate ajax:complete->invitation-template#onAjaxComplete' } }) do |form|

    .form-group.required
      = form.label(:name, class: 'col-sm-3 control-label')
      .col-sm-9.col-md-8.col-lg-6
        = form.text_field(:name, class: 'form-control')