#customer-form {
  .customer-logo {
    position: relative;
    background-color: $light-gray;
    padding: 4rem 2.5rem 0 2.5rem;

    .fileinput {
      width: 100%;
      margin-bottom: 0;
    }
    
    .thumbnail {
      padding: 20px 0;
      width: 100%;
      margin-bottom: 0;
      
      img {
        max-height: 80px;
        max-width: 50%;
      }
    }

    .customer-name {
      display: none;
      position: absolute;
      height: 5.5rem;
      left: 0;
      right: 0;
      bottom: 4rem;
      font-size: 16px;
      color: #666;
    }

    &.with-customer-name {
      .customer-name {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 4rem;
      }

      .thumbnail {
        padding-bottom: 5.5rem;
      }
    }
  }

  .customer-logo__header,
  .customer-logo__footer {
    height: 4rem;
  }

  .customer-logo__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    
    > * {
      height: 100%;
    }

    &.has-error {
      .customer-logo__flash {
        display: flex;
        opacity: 1;
      }
      
      .customer-logo__upload {
        display: none;
      }
    }
  }

  .customer-logo__upload, 
  .customer-logo__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    width: 100%;
  }
  
  .customer-logo__upload {
    position: absolute;
    top: 0;

    i {
      font-size: 16px;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background: transparent;
      color: #666;

      &:hover,
      &:hover i {
        color: #222;
      }
    }
  }
  
  .customer-logo__footer {
    // bottom: 0;
    height: 4rem;
    background-color: $light-gray;

    .checkbox {
      display: flex; 
      align-items: center;
      padding-top: 0; 
    }
  }

  .customer-logo__flash {
    position: absolute;
    background-color: #d9534f;
    color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 0;
    align-items: center;
    justify-content: center;
    display: none;
  }
}