#customer-form {
  .form-group.logo {
    > div:first-child {
      @include flex-row-center-between;
      margin-bottom: 5px;

      label,
      .checkbox {
        margin: 0;
      }
    }

    .customer-name {
      display: none;
      z-index: 1;
    }
    
    &:has([type="checkbox"]:checked) {
      .customer-name {
        @include flex-row-center-center;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 6rem;
        font-family: 'Lato';
        font-size: 1.25em;
      }

      .image-card__frame {
        height: 18rem;

        .thumbnail {
          padding: 2rem 0 0;
        }
      }
    }
  }

  .image-card__frame {
    height: 14rem;

    .thumbnail {
      padding: 2rem 0;
      
      img {
        max-width: 75%;
        max-height: 10rem;
      }
    }
  }
}