
/*
*= require ./new
*= require ./show
*= require ./edit
*= require ./1_prospect/prospect
*= require ./2_curate/curate
*= require ./3_promote/promote
*= require ./4_measure/measure
*/

.companies, .stories.edit {

  .companies.new, .companies.edit {
    .layout-main {
      padding: 50px 40px 0 30px;
    }
  }

  #company-profile > form >, #story-tags > form >, #story-ctas >, #widget-config > {
    .row > {
      div:first-of-type {
        padding: 0 15px 0 25px;
      }
      div:last-of-type, div:only-child {
        padding: 0 25px 0 15px;
      }
    }
  }

  .logo-upload {
    margin-bottom: 11px !important;  // override mvpadmin .form-group
    .fileinput {
      width: 100%
    }
    .fileinput .thumbnail {
      width: 100%;
      position: relative;
      height: 65px;
      padding: 0;
      margin-bottom: 16px;
    }
    .fileinput .thumbnail > img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 15px;
      margin: auto;
      max-height: 45px !important   // override .fileinput
    }
  }

}

.datatable {

  tr.active {
    i:not(.action) {
      color: white;
      text-decoration: none;
    }
  }

  tr.active {
    td:first-child {
      border-left: 1px solid #08c;
    }
    td:last-child {
      border-right: 1px solid #08c;
    }
    i:not(.action) {
      color: white;
      text-decoration: none;
    }
  }
  tr.active:hover {
    td:first-child {
      border-left-color: #0075b0 !important;
    }
    td:last-child {
      border-right-color: #0075b0 !important;
    }
  }
  // child row
  tr.active:hover + tr:not(.group) > td[colspan]:not(.dataTables_empty) {
    border-color: #0075b0 !important
  }

  td {
    vertical-align: middle !important;  // override bootstrap for case of inline editor expanding row height
    i[class*="fa-caret"] { color: #999; }
  }

  th.actions {
    text-align: center;
    padding: 8px 12px;
  }

  td.status.dropdown, td.actions.dropdown {
    text-align: center;

    // ref: http://stackoverflow.com/questions/11078509/how-to-increase-the-clickable-area-of-a-a-tag-button
    > a {
      position: relative;
      display: inline-block;
      background: transparent;
      border: transparent;
      z-index: 1;
      padding: 2em;
      margin: -2em;
    }
    .dropdown-menu {
      padding: 9px 0;
    }
  }
  td.status.dropdown.open, td.actions.dropdown.open {
    border-bottom: 1px solid #d74b4b;
    .dropdown-menu {
      border-top-right-radius: 0;
      margin: 1px 0;
    }
  }

}


















