
#curate {

  .sidebar-contents {
    margin-top: -10px;
  }

  #curate-stories {
    h4 {
      margin-top: 3px  // so it doesn't get clipped by clip class
    }
    .grid-item {  // overrides stories.scss
      padding: 0;
      margin: 4px 30px 30px 30px;
    }
    #curate-filters  {
      form {
        width: 100%;
        .form-group {
          margin-bottom: 15px;
        }
        .form-group:nth-of-type(3) {
          margin-bottom: 20px;
        }
      }
    }
    #curate-gallery {
      // the icon needs to be wrapped in a div in order for the transform to work
      // (center if element is centered, not top-left of element)
      // IN PROGRESS
      a.thumbnail .loading {
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        color: #666;
      }
      li.selected {
        .thumbnail-view-hover p { display: none; }
        // .thumbnail-view-hover i { display: block; }
      }
    }
  }

  #curate-story {

    // don't make visible until plugins have loaded
    .layout-main {
      // visibility: hidden;
    }

    // most settings for this table are in crowdsource.scss
    #curate-contributors-table {
      td.actions-dropdown {
        .dropdown-menu {
          left: -74px;
        }
      }
      td.dataTables_empty {

      }
    }

  }

}