
.companies.show {

  /********** curate table **************/
  .td-story-date {
    width: 12%;
  }
  .td-story-status {
    width: 15%;
  }
  .td-story-actions {
    width: 10%;
  }
  // this will stretch the table cell to fit content
  // (don't want to wrap a customer or curator name)
  .td-story-curator,
  .td-story-customer {
    width:1%;
    white-space:nowrap;
  }
  /***************************************/

  /***********************************************/
  /*      curate panel
  /***********************************************/

  /* New Story / Gallery View buttons
    (rule applies to bootstrap row) */
  @media (min-width: 768px) {
    .curate-nav {
      margin-top: -1.8%;
      margin-bottom: 2.5%;
    }
  }

  @media (min-width: 992px) {
    .curate-nav {
      margin-top: -1.4%;
      margin-bottom: 2%;
    }
  }

  @media (min-width: 1200px) {
    .curate-nav {
      margin-top: -1%;
      margin-bottom: 1.8%;
    }
  }

  #activity-feed-btn + .popover {
    max-width: none;
    width: 500px;
  }

  .activity-feed-popover {
    top: -70px !important;
  }

  .activity-feed-popover .arrow {
    top: 86px !important;
  }

  .activity-feed-popover .popover-content {
    max-height: 500px;
    overflow-y: auto;
  }
  .activity-feed {
    padding: 15px;
  }
  .activity-feed .feed-item {
    position: relative;
    padding-bottom: 20px;
    padding-left: 30px;
    border-left: 2px solid #e4e8eb;
  }
  .activity-feed .feed-item:last-child {
    border-color: transparent;
  }
  .activity-feed .feed-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -6px;
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #f37167;
  }
  .activity-feed .feed-item .date {
    position: relative;
    top: -5px;
    color: #8c96a3;
    text-transform: uppercase;
    font-size: 13px;
  }
  .activity-feed .feed-item .text {
    position: relative;
    top: -3px;
  }

}