
/*
*= require ./settings/crowdsourcing_templates
*= require ./settings/ctas
*= require ./settings/widget_config
*/

.companies.edit {

  /***********************************************/
  /*      email template editor
  /***********************************************/

  #email-templates-form .control-label {
    margin-left: -30px;
  }

  #email-templates-form > div > div > button {
    width: 100%;
  }

  /***********************************************/
  /*      summernote
  /***********************************************/

  .note-group-select-from-files {
    display: none;
  }

}