
.companies.edit {

  .nav-layout-sidebar {
    .disabled-tab { color: #ccc; }
  }

  .content {
    margin-top: 40px;
    overflow: hidden;
  }

  #story-ctas {
    .form-group {
      margin-bottom: 10px;
    }
    #new-cta-form {
      .btn-group {
        margin-bottom: 0;
        label {
          margin-right: 14px;
        }
        .radio-inline, .checkbox-inline {
          margin-bottom: 4px;
        }
      }
      // 'Make primary' checkbox
      .row:nth-of-type(2) div[class^='col']:first-child {
        padding-left: 28px;
      }
      #new-cta-inputs input {
        margin-bottom: 10px;

      }
      .html-input {
        display: none;   // to be toggled
      }
    }
    label {
      margin-bottom: 10px;
    }
    li label {
      margin-bottom: 7px;
    }
    .list-group {
      margin-bottom: 30px;
    }
    #primary-cta-colors {
      // padding: 0 10px 0 10px;
      label {
        margin-top: 7px;
      }
      // // margin-bottom: 10px;
      div.col-sm-4:first-of-type {
        padding-right: 0;
      }
      div.col-sm-4:last-of-type {
        padding-left: 0;
      }
    }
    .list-group-item {
      background: #f5f5f5;
      padding: 15px 12px;  // overrides bootstrap 10px 15px
      margin-bottom: 10px;
      .cta-description {
        position: relative;
        span {
          padding: 0 6px;
        }
        i.glyphicon-remove {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          margin: auto;
        }
        i.glyphicon-pencil {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 32px;
          margin: auto;
        }
      }
      div.collapse {
        padding: 0;
      }
    }

    #primary-cta, #secondary-ctas {
      .form-group:last-of-type {
        margin-bottom: 0
      }
    }
  }

  #widget-config {
    form {
      .spinner {
        input {
          text-align: right;
        }
        .input-group-btn-vertical {
          position: relative;
          white-space: nowrap;
          width: 2%;
          vertical-align: middle;
          display: table-cell;
        }
        .input-group-btn-vertical > .btn {
          display: block;
          float: none;
          width: 100%;
          max-width: 100%;
          padding: 8px;
          margin-left: -1px;
          position: relative;
          border-radius: 0;
        }
        .input-group-btn-vertical > .btn:first-child {
          border-top-right-radius: 4px;
        }
        .input-group-btn-vertical > .btn:last-child {
          margin-top: -2px;
          border-bottom-right-radius: 4px;
        }
        .input-group-btn-vertical i {
          position: absolute;
          top: 0;
          left: 4px;
        }
      }
      .form-group:nth-of-type(2) {
        // margin-bottom: 5px;
      }
      .form-group:nth-of-type(3) {
        [class^='col']:first-child {
          padding-right: 0;
        }
      }
      .row.disabled {
        label, .form-control, i { color: #ccc; }
      }
    }
  }

  #widget-config > .row > {
    div[class^='col']:first-child {
    }
    div[class^='col']:last-child {
      div.form-group:first-of-type { margin-bottom: 20px; }
      label:not(.radio-inline) { margin-bottom: 8px; }
      #widget-html-btn { margin-bottom: 20px; }
      // select box containers
      div[id^='widget-filter'] {
        display: none;
      }
      // select boxes
      div[class^='widget-filter'] {
        width: 100%;
      }
      > .row:last-child {
        position: relative;
        div[class^='col'] {
          position: absolute;   // prevents overflow
          left: 0;
          right: 0;
          i {
            position: absolute;
            top: 1px;
            right: 16px;
            visibility: hidden;
          }
        }
      }
    }
  }

  /***********************************************/
  /*      email template editor
  /***********************************************/

  #email-templates-form .control-label {
    margin-left: -30px;
  }

  #email-templates-form > div > div > button {
    width: 100%;
  }

  /***********************************************/
  /*      summernote
  /***********************************************/

  .note-group-select-from-files {
    display: none;
  }

}