
#measure-panel {

  #measure-activity-table {
    tbody {
      border-top: 0;  // override bootstrap
    }
    .event-type {
      label {
        cursor: pointer;
      }
      tr {
        background: #f4f4f4;
      }
    }
    .event-type-group {
      display: none;
    }
    [data-toggle="toggle"] {  // hide the checkbox
      display: none;
    }
  }

}