
#promote-panel {

  .layout {
    > .col-md-9 {
      padding-top: 55px;
    }
  }

  .enable-promote-type {
    margin-top: 1px;  // line up with Sponsored Stories text-align: left;
    label {
      margin-right: 30px;
    }
    label.checkbox-inline {
      margin-right: 15px;
      margin-bottom: 4px;
    }
  }

  #image-select-modal {
    .thumbnail {
      height: 110px;
      width: 210px;
      cursor: pointer;
    }
    .thumbnail.selected {
      border-color: #337ab7;  // from bootstrap $brand-primary
    }
    .modal-body {
      background-color: #f2f2f2;
      li {
        margin: 15px 20px;
      }
    }
  }

  #sponsored-stories-tab-pane {

    #promote-settings-form {
      margin-bottom: 30px;
      padding-left: 30px;
    }

    // ref: https://github.com/vitalets/x-editable/issues/361
    td.sponsored-story-title {
      p { margin: 0; }
      a { cursor: pointer; }
      .editable-container.editable-inline,
      .editable-container.editable-inline .control-group.form-group,
      .editable-container.editable-inline .control-group.form-group .editable-input,
      .editable-container.editable-inline .control-group.form-group .editable-input textarea,
      .editable-container.editable-inline .control-group.form-group .editable-input select,
      .editable-container.editable-inline .control-group.form-group .editable-input input:not([type=radio]):not([type=checkbox]):not([type=submit]) {
        width: 100% !important;
      }
      .editable-buttons {
        display: block;
        float: right;
        margin-top: 5px;
      }
    }

    // limit the Preview width
    tr > th:last-of-type, tr > td:last-of-type {
      max-width: 30px !important;
    }

    td.sponsored-story-image {
      text-align: center;
      vertical-align: middle;
      padding: 8px 14px;
      .fileinput {
        margin: 0;
        .thumbnail {
          height: 80px;
          width: 153px;
          cursor: pointer;
          margin: 0;
        }
      }
    }

    .status-dropdown, .preview-window {
      text-align: center;
      vertical-align: middle;
      // ref: http://stackoverflow.com/questions/11078509/how-to-increase-the-clickable-area-of-a-a-tag-button
      > div > a, > a {
        display: inline-block;
        position: relative;
        z-index: 1;
        padding: 2em;
        margin: -2em;
        color: #666;
      }
      > a:hover {
        color: #222;
      }
      > div.open {
        > a.paused { color: #222; }
        > a.enabled { color: #456f59; }
      }
      > div > a.enabled {
        color: #4d8664;
      }
      > div > a.enabled:hover {
        color: #456f59;
        text-decoration: none;
      }
      > div > a.paused {
        color: #666;
      }
      > div > a.paused:hover {
        color: #222;
        text-decoration: none;
      }
      .dropdown-menu {
        a i {
          color: #666;
        }
        a.paused i {
          color: #222;
        }
        i.fa-play {
          color: #4d8664;;
        }
      }

    }

    .status-dropdown {
      a.dropdown-toggle:focus {
        color: #222;
        text-decoration: none
      }
      i:first-of-type {
        font-size: 18px;
      }
      i:last-of-type {
        font-size: 14px
      }
      .dropdown-menu {
        margin-top: 15px;
      }
    }
    .preview-window {
      font-size: 18px;
      i { padding-top: 2px; }
    }
  }

  #promote-settings-tab-pane {

    > div, form {
      padding-right: 25px;
    }

    .form-group {
      margin-bottom: 25px;  // bootstrap default, also covers div.form-inline (normally 0)
    }

    label[for="company_adwords_short_headline"] {
      margin-right: 10px;
    }

    label.adwords-logo, label.adwords-image {
      margin-bottom: 10px;
    }

    .fileinput, .fileinput-preview {
      margin: 0;
    }

    .fileinput {
      position: relative;
      .photo-btns {
        position: absolute;
        top: 0;
        > div:first-child {
          margin-bottom: 8px;
        }
      }
    }

    .fileinput.adwords-logo {
      .thumbnail {
        height: 110px;
        width: 110px;
      }
      .photo-btns {
        left: 120px;
      }
    }

    .fileinput.adwords-image {
      .thumbnail {
        height: 110px;
        width: 210px;
      }
      .photo-btns {
        left: 220px;
      }
    }

    button.new-adwords-image {
      margin-bottom: 20px;
    }

    li.adwords-image {
      position: relative;
      margin-right: 60px;
      margin-bottom: 30px;

      .fileinput .thumbnail {
        height: 110px;
        width: 210px;
      }

      .to-be-removed {
        border-color: #cc2d2d;
      }

      .change-image, .remove-image {
        position: absolute;
        top: 0px;
        font-size: 18px;
        color: #666;
        cursor: pointer;
      }
      .change-image:hover, .remove-image:hover {
        color: #222;
      }
      .change-image { right: -25px; }
      .remove-image { right: -50px; }

    }


  }

}