
#promote-panel {

  .layout {
    > .col-md-3 {
      width: 20%;
    }
    > .col-md-9 {
      width: 80%;
      padding-top: 55px;
    }
  }


  .promote-settings {
    label {
      margin-right: 30px;
    }
    label.checkbox-inline {
      margin-right: 15px;
      margin-bottom: 4px;
    }
    .tooltip {
      z-index:10000000
    }
  }

  // border-radius settings override bootstrap
  .ad-types.btn-group {
    label {
      width: 22%
    }
    label:nth-of-type(1) {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    label:nth-of-type(2) {
      margin: 0 15px;

      border-radius: 4px;
    }
    label:nth-of-type(3) {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }

  #native-ads-panel {
   a{color:#0088ff}a.rh-ms-mute-undo {color:#0088ff;}body,table,div,ul,li{margin:0;padding:0}body{font-family:"Slabo 27px","Times New Roman",serif;}
   .ads .image-link {display:inline-block;}.ads .image-link img {display:block;}.reviews {line-height:0;}.body-link,.body-link:hover,.body-link:visited {text-decoration:none;color:inherit;}
   .title-link{color:rgba(0,0,0,.87)}.button-text{color:#4285f4}.url-link{color:rgba(0,0,0,.54)}.image-link{background-color:#e9e9e9}.title{font-family:"Roboto-Medium",Arial,sans-serif;font-size:12px;line-height:16px}.url{font-family:"Roboto-Light",Arial,sans-serif;font-size:9px}.button{font-family:"Roboto-Medium",Arial,sans-serif;font-size:12px}.button-text{text-transform:uppercase}.ads a{text-decoration:none}.ads{width:300px;height:100px}.ad{position:absolute;left:0;right:0;bottom:0;top:0}.body{display:none}.image,.image-link,.image img{display:inline-block;height:100px;width:100px}.image,.title,.url{float:left}.title{width:165px;margin-top:10px;margin-left:10px;margin-bottom:6px}.url{width:180px;margin-left:10px}.button{position:absolute;bottom:10px;right:10px}.button svg{display:none}.attribution{display:none}
   div,ul,li{margin:0;padding:0;}.abgc{display:block;height:15px;position:absolute;right:0px;top:0px;text-rendering:geometricPrecision;width:15px;z-index:9020;}.abgb{display:block;height:15px;width:15px;}.abgc img{display:block;}.abgc svg{display:block;}.abgs{display:none;height:100%;}.abgl{text-decoration:none;}.abgi{fill-opacity:1.0;fill:#00aecd;stroke:none;}.abgbg{fill-opacity:1.0;fill:#cdcccc;stroke:none;}.abgtxt{fill:black;font-family:'Arial';font-size:100px;overflow:visible;stroke:none;}
  }

  #image-ads-panel {
    #ad1 {
      .abgc { right: -48px !important; } // hack
      margin:0;padding:0;overflow:hidden;
      div,ul,li{margin:0;padding:0;}.abgc{display:block;height:15px;position:absolute;right:0px;top:0px;text-rendering:geometricPrecision;width:15px;z-index:9020;}.abgb{display:block;height:15px;width:15px;}.abgc img{display:block;}.abgc svg{display:block;}.abgs{display:none;height:100%;}.abgl{text-decoration:none;}.abgi{fill-opacity:1.0;fill:#00aecd;stroke:none;}.abgbg{fill-opacity:1.0;fill:#cdcccc;stroke:none;}.abgtxt{fill:black;font-family:'Arial';font-size:100px;overflow:visible;stroke:none;}
    }
    #ad2 {
      margin:0;padding:0;overflow:hidden;
      div,ul,li{margin:0;padding:0;}.abgc{display:block;height:15px;position:absolute;right:0px;top:0px;text-rendering:geometricPrecision;width:15px;z-index:9020;}.abgb{display:block;height:15px;width:15px;}.abgc img{display:block;}.abgc svg{display:block;}.abgs{display:none;height:100%;}.abgl{text-decoration:none;}.abgi{fill-opacity:1.0;fill:#00aecd;stroke:none;}.abgbg{fill-opacity:1.0;fill:#cdcccc;stroke:none;}.abgtxt{fill:black;font-family:'Arial';font-size:100px;overflow:visible;stroke:none;}
    }
  }

}