
.native-ad {
  display: flex;
  .long-headline {
    overflow: hidden;
    a {
      text-decoration: none;
      cursor: pointer;
      font-size: 14px;
      color: #212121;
    }
  }
  .business-name a {
    cursor: pointer;
    font-size: 11px;
    line-height: 13px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .call-to-action a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
  }
}

.native-ad.native-1 {
  &::before {
    content: 'Native 480x120'
  }
  width: 480px;
  height: 120px;
  .landscape-image {
    height: 100%;
    width: 229px;
    flex-shrink: 0;
    background: {
      repeat: no-repeat;
      size: contain;
      position: center;
    }
  }
  > div:last-child {
    padding: 4px 0 4px 13px;
    .long-headline {
      height: 54px;
      padding-right: 30px;
      a {
        line-height: 17px;
        font-weight: 400;
      }
    }
    .business-name {
      display: flex;
      align-items: center;
      height: 13px;
      a {
        color: #b2b2b2;
      }
    }
    .call-to-action a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 75px;
      height: 25px;
      font-size: 11px;
      line-height: 13px;
      background-color: #4e92df;
      box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
      font-weight: 500;
      color: #fff;
    }
  }
}

.native-ad.native-sm {
  &::before {
    content: 'Native 373x116'
  }
  width: 373px;
  height: 116px;
  padding: 10px;
  flex-direction: row;
  align-items: flex-start;
  .square-image {
    display: inline-block;
    height: 78px;
    width: 78px;
    flex-shrink: 0;
    background: {
      size: contain;
      repeat: no-repeat;
      position: center;
    }
  }
  > div:last-child {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    // width: 260px;
    height: 100%;
    padding-left: 15px;
    .long-headline {
      height: 57px;
      width: 100%;
      a {
        line-height: 18px;
        font-weight: 500;
      }
    }
    > div:last-child {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .business-name {
        display: inline-flex;
        align-items: center;
        a {
          color: #8c8c8c;
        }
      }
      .call-to-action {
        display: inline-block;
        a {
          width: 75px;
          height: 28px;
          border: 1px solid #999999;
          font-size: 12px;
          line-height: 28px;
          color: #757575;
          font-weight: 400;
        }
      }
    }
  }
}

.native-ad.native-2 {
  &::before {
    content: 'Native 300x250'
  }
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 250px;
  .landscape-image {
    height: 157px;
    // width: 100%;
    cursor: pointer;
    background: {
      repeat: no-repeat;
      size: contain;
      position: center;
    }
  }
  .first-row {
    display: flex;
    width: 100%;
    // font-size: 0;
    // height: 61px;
    flex-grow: 1;
    // line-height: 0;
    padding: 10px 12px 0 15px;
    // width: 273px;
    .logo {
      width: 45px;
      height: 45px;
      margin-right: 12px;
      flex-shrink: 0;
      align-self: center;
      background: {
        repeat: no-repeat;
        size: contain;
        position: center;
      }
    }
    .headlines {
      display: flex;
      flex-direction: column;
    }
    .short-headline {
      color: #212121;
      font-size: 14px;
      line-height: 17px;
      font-weight: 500;
      cursor: pointer;
      margin-bottom: 2px;
    }
    .long-headline {
      height: 28px;
      flex-grow: 1;
      a {
        color: #757575;
        font-size: 12px;
        font-weight: 300;
        line-height: 14px;
        cursor: pointer;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .second-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 29px;
    width: 100%;
    padding: 3px 12px 5px 15px;
    .business-name a {
      color: #424242;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .call-to-action {
      display: flex;
      align-items: center;
      a {
        display: inline-block;
        color: #212121;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        margin: 0 0.3em;
      }
      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 13px;
      }
    }
  }
}