

<script type='text/template' id='promoted-story-actions-dropdown-template'>

  <a href="javascript;" class="dropdown-toggle" data-toggle='dropdown'>
    <i class='fa fa-caret-down'></i>
  </a>

  <ul class='promoted-story-actions dropdown-menu dropdown-menu-right dropdown-actions'>

    <li class='preview'>
      <a href="javascript:;">
        <i class='fa fa-external-link fa-fw action'></i>&nbsp;&nbsp;
        <span>Preview</span>
      </a>
    </li>

    <li role="separator" class="divider"></li>

    <li class='remove'>
      <a href="javascript:;">
        <i class='fa fa-remove fa-fw action'></i>&nbsp;&nbsp;
        <span>Remove</span>
      </a>
    </li>

  </ul>

</script>

