.company-nav {
  border-top: 2px solid transparent;  // leave some space for turbo progress bar
  border-bottom: 1px solid #dfdfdf;
  background-color: #fff;
  transition: top 0.15s ease-in;

  &.collapse-header {
    top: -53px;   // 50 + 2 (top border) + 1 (bottom border)
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 1px;
    height: 50px;

    &::before,
    &::after {
      content: none;
    }
  }

  &.unregistered {
    .nav-workflow {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  .nav-tabs {
    display: flex;
    align-items: stretch;
    border: 0;

    // this removes space from left and right edge
    &::before,
    &::after {
      content: none;
    }

    > li {
      float: none;

      > a {
        display: flex;
        align-items: center;
        padding: 0 0.75em;
        height: 100%;
        font-size: 1.25em;
        
        &, 
        &:hover, 
        &:focus {
          border: 0;
          border-bottom: 2px solid transparent;
        }

        &.dropdown-toggle {
          > :first-child {
            margin-right: 0.35em;
          }
        }
      }

      &:not(.active) {
        > a {
          color: $gray;
          font-weight: 400;
        }
        
        > a:hover, 
        > a:focus,
        &.open:not(.active) > a {
          color: $gray-darker;
        }
      }

      &.active {
        > a, 
        > a:hover, 
        > a:focus {
          border-bottom-color: $nav-blue;
          font-weight: bold;
          color: $nav-blue; 
        }
      }
    }

    &.nav-workflow {
      justify-content: space-between;
      width: 29em;
      
      [data-dashboard-active-tab-value="story"] & {
        display: block;
        width: auto;
      }

      > li {
        > a {
          font-family: 'Lato';
      
          ~ i {
            font-size: 0.85em;
            color: $nav-blue;
          }
        
          ~ span {
            font-size: $font-size-base;
          }
        
          ~ i,
          ~ span {
            margin-right: 1em
          }
        }
      }
    }

    &.nav-settings {
      
      > li {
        > a.dropdown-toggle {
          img {
            height: 42px;   // don't use % or the image will grow horizontally depending on the image's size
            opacity: 0.85;
          }
          
          &:hover,
          &:focus {
            img {
              opacity: 1;
            }
          }
        }
        
        &.active > a > img {
          opacity: 1;
        }
      }

      // @mixin tab-arrows($width) {
      //   > div {
      //     visibility: hidden;
      //     position: absolute; 
      //     bottom: -6px; 
      //     width: 0;
      //     height: 0;
      //     border-top: 6px solid $nav-blue;
      //     border-left: ($width / 2 + 0px) solid transparent; 
      //     border-right: ($width / 2 + 0px) solid transparent; 
      //   }
      //   &.active > div {
      //     visibility: visible;  // temporarily hidden
      //   }
      // }
      
      // li.dropdown {
      //   @include tab-arrows(64);  
      
      //   // &.open:not(.active) {
      //     // remove the caret from dropdown
      //     // .dropdown-menu::after, .dropdown-menu::before {
      //     //   display:none;
      //     // }
      //   // }
      // }
    }
  }
}