#company-nav {
  @mixin nav-tab-border {
    > a, 
    > a:hover, 
    > a:focus {
      border: {
        width: 2px 0 2px 0;
        style: solid;
        color: transparent;
      }
    }
  }
  
  @mixin nav-tab-color {
    > a {
      color: #666;
    }
    
    > a:hover, 
    > a:focus,
    &.open:not(.active) > a {
      color: #222;
    }
  }
  
  @mixin active-tab {
    > a, 
    > a:hover, 
    > a:focus {
      color: $nav-blue; 
      border-bottom-color: $nav-blue;
    }
  }
  
  margin-bottom: 40px;
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;

  &.unregistered {
    .nav-workflow {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  .nav-tabs > li {
    &,
    &.dropdown {
      @include nav-tab-border;
      @include nav-tab-color;
    }

    &.active {
      @include active-tab;
    }
  }
}

.nav-tabs.nav-workflow {
  display: flex;
  width: 24em;
  justify-content: space-between;
  font-size: 16px;
  border-bottom: 0;

  // this removes space from left and right edge
  &::before,
  &::after {
    content: none;
  }

  [data-dashboard-active-tab-value="story"] & {
    display: block;
    width: auto;
  }

  > li {
    margin-bottom: 0;

    > a {
      display: inline-block;
      font-family: 'Lato';
      font-weight: 400;
    }

    &.active {
      font-weight: bold;
    }
  }
}

.nav-tabs.nav-settings {
  @mixin tab-arrows($width) {
    > div {
      visibility: hidden;
      position: absolute; 
      bottom: -6px; 
      width: 0;
      height: 0;
      border-top: 6px solid $nav-blue;
      border-left: ($width / 2 + 0px) solid transparent; 
      border-right: ($width / 2 + 0px) solid transparent; 
    }
    &.active > div {
      // visibility: visible;  // temporarily hidden
    }
  }
  
  border: 0;

  li.dropdown {
    @include tab-arrows(64);  

    > a {
      font-size: 16px;
    }

    // &.open:not(.active) {
      // remove the caret from dropdown
      // .dropdown-menu::after, .dropdown-menu::before {
      //   display:none;
      // }
    // }
  }
}