
#company-nav {
  margin-bottom: 40px;
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
  &.unregistered {
    .nav-workflow {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}

.nav-tabs.nav-workflow {
  font-size: 16px;
  border-bottom: 0;
  
  // hard-coded widths prevent width from changing when text is bolded 
  // (the trick outlined here didn't work: http://jsfiddle.net/85LbG/)
  > li:nth-of-type(1) {
    width: 102px
  }
  > li:nth-of-type(2) {
    width: 89px
  }
  > li:nth-of-type(3) {
    width: 101px;
  }
  > li:nth-of-type(4) {
    width: 101px;
  }
  > li {
    margin-bottom: 0;
    > a {
      background-color: #fff;
      font-family: 'Lato';
      color: #666;
      font-weight: 400;
      border: 2px solid transparent;
      &:hover, &:focus {
        background-color: #fff;
        color: #222;
        border: 2px solid transparent;
      }
    }
    &.active {
      > a, > a:hover, > a:focus {
        color: $nav-blue; // #0095ff; // #d74b4b;  // #4885ed;
        font-weight: bold;
        border: 2px solid transparent;
        border-bottom: 2px solid $nav-blue; // #0095ff; //#d74b4b;  // #4885ed;
      }
    }
    
  }
}

.nav-tabs.nav-settings {
  border: 0;
  li.dropdown {
    > a {
      font-size: 16px;
      border: 2px solid transparent;
      &:hover, &:focus {
        color: #222;
        background-color: transparent;
        border-color: transparent;
      }
    }
    &.active {
      > a, > a:hover, > a:focus {
        color: $nav-blue; 
        border-color: transparent;
        border-bottom: 2px solid $nav-blue;
      }
    }
    &.open:not(.active) {
      > a {
        background-color: #fff;  // this prevents background color flicker when closing the dropdown
        color: #222;
      }
      // remove the caret from dropdown
      // .dropdown-menu::after, .dropdown-menu::before {
      //   display:none;
      // }
    }
  }
} 

