.company-header {
  height: $company-header-height;
  
  .container {
    @include flex-row-center-between;
    height: 100%;
    padding: 0;
    
    &::before,
    &::after {
      content: none;
    }
  }
}

.company-header__logo {
  img {
    max-height: $company-logo-max-height;
  }
}