
#company-header {
  /* color1, color2, and text color are defined in company model */
  /* background-color set to transparent in mvpready-admin.css */
  background-clip: border-box;
  border: 0;
  height: $company-header-height;
  .navbar-container {
    height: 100%;
    .row {
      height: 100%;
      display: flex;
      align-items: center;
      .navbar-header {
        a {
          display: flex;
          align-items: center;
          padding: 0;
          img {
            max-height: 50px;
          }
        }
      }
      button.primary-cta {
        padding: 10px 32px;  // doubles bootstrap horizontal padding
        opacity: 0.9;
        border: 1px solid transparent;
        &:hover, &:focus {
          opacity: 1;
        }
        a {
          text-decoration: none;
          color: unset;  // let the style attribute on the button define the color
          span {
            // font-weight: 600;
          }
        }
      }
    }
  }
  .stories.index &, .stories.show & {
    height: 70px;
  }
}