
body.compas {
  font-family: "Open Sans", sans-serif;
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
  .grid-container .grid a.thumbnail .thumbnail-view .thumbnail-view-hover p {
    font-family: "Open Sans", sans-serif;
  }
  .admin.navbar {
    opacity: 0.9;
  }
  #header-2-wrapper {
    padding-top: 70px;
    #header-2 {
      margin-top: 0;
    }
  }
  #company-nav {
    // margin-top: 65px;
  }
}