
// ref: https://gist.github.com/anotheruiguy/7379570
@font-face {
  font-family: 'Metropolis Light';
  src: font-url("metropolis.light.otf") format('opentype');
}
$metropolis-light: 'Metropolis Light', 'Lato', sans-serif;
@font-face {
  font-family: 'Metropolis Medium';
  src: font-url("Metropolis-Medium.otf") format('opentype');
}
$metropolis-medium: 'Metropolis Medium', 'Lato', sans-serif;

@import 'cce/cce';
@import 'compas/compas';
@import 'retailnext/retailnext';
@import 'varmour/varmour';