= turbo_frame_tag('edit-ad-images') do

  = form_with( \
      model: ad,
      format: :json,
      html: { \
        id: 'edit-ad-images-form',
        data: { \
          controller: 'promoted-story-images',
          modal_target: 'form',
          ad_images_target: 'form',
          action: 'ajax:success->promoted-story-images#onAjaxSuccess' }}) do |form|

    .text-center
      .btn-group data-controller="btn-group"
        a.btn.btn-secondary.active {
          href="#ad-images__marketing" 
          data-toggle="tab"
          data-btn-group-target="btn"
          role="tab" }
          i.fa.fa-fw.fa-image
          | &nbsp;&nbsp;
          | Marketing Images
        a.btn.btn-secondary {
          href="#ad-images__logos" 
          data-toggle="tab"
          data-btn-group-target="btn"
          role="tab" }
          i.fa.fa-fw.fa-flag
          | &nbsp;&nbsp;
          | Logos

    .tab-content
      #ad-images__marketing.tab-pane.active
        ul data-max="15"
          - ad.company.ad_images.marketing.sort_by { |image| sort_ad_images(ad, image) }.each.with_index do |ad_image, i|
            = render( \
                'adwords_images/ad_image_card',
                { form_object: ad,
                  ad_image:,
                  field_name_prefix: "adwords_ad[adwords_images_attributes][#{i}]",
                  collection: 'images' })
      #ad-images__logos.tab-pane
        ul data-max="5"
          - ad.company.ad_images.logo.sort_by { |image| sort_ad_images(ad, image) }.each.with_index do |ad_image, i|
            = render( \
                'adwords_images/ad_image_card',
                { form_object: ad,
                  ad_image:,
                  field_name_prefix: "adwords_ad[adwords_images_attributes][#{ i + ad.company.ad_images.marketing.count }]",
                  collection: 'logos' })