
<script id="mobile-screen-template" type="text/template">

  <div class="mobile__abstract--navigation">
    <div class="menu-icon"><i class="fa fa-fw fa-bars"></i></div>
    <div class="headline"></div>
    <div class="search-icon"><i class="fa fa-fw fa-search"></i></div>
  </div>

  <div class="mobile__abstract--paragraph">
    <div class="long-line"></div>
    <div class="long-line"></div>
    <div class="long-line"></div>
    <div class="short-line"></div>
  </div>

  <div class="mobile__preview--300x250">

  </div>


</script>