#youtube-desktop.tab-pane.fade style="padding-top: 40px"

  .ad.image-ad.banner
    = render('adwords_ads/ads_by_google')
    .landscape-image style="background-image: url(#{image_url})"
    .logo style="background-image: url(#{logo_url})"
    .short-headline
      span
        = short_headline
    .long-headline
      span
        = long_headline
    .button
      svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
        polyline fill="none" points="42,32 60,50 42,68" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" stroke="rgba(0,0,0,1)"
    .spacer

  = render('adwords_ads/previews/image1_300x250', is_mobile: false)

