- ad_image_card = lambda do |ad_image, selected|
  - capture do 
    = render(ImageCardComponent.new( \
        'AdwordsAd',
        image_object: ad_image,
        form_controller_id: 'ad',
        uploadable: false,
        selectable: true,
        selected: )) do |component|
      = component.with_form_control do 
        = hidden_field_tag('adwords_ad[adwords_image_ids][]', '')
      = component.with_form_control do
        = check_box_tag( \
            'adwords_ad[adwords_image_ids][]',
            ad_image.id,
            selected,
            { class: 'hidden', data: { ad_target: 'adImageCheckbox' } })

= turbo_stream.append 'main-modal-content' do 
  .modal-footer data-modal-target="footer"
    button.btn.btn-default type="button" data-dismiss="modal" Cancel
    = tag.button( \
        class: 'form__submit btn btn-success',
        form: 'edit-ad-images-form',
        # disabled: true,
        data: { \
          content: 'Save selections',
          disable_with_html: disabled_submit_button_html })

= turbo_stream.append 'main-modal-body' do

  = form_with(model: @ad,
              id: 'edit-ad-images-form',
              data: { \
                controller: 'ad',
                action: [ 'image-card:selected->ad#toggleAdImage',
                          'turbo:submit-start->ad#onSubmitStart',
                          'turbo:submit-end->modal#hide' ].join(' ') }) do |form|

    .text-center
      .btn-group data-controller="btn-group"
        a.btn.btn-secondary.active {
          href="#ad-images__marketing" 
          data-toggle="tab"
          data-btn-group-target="btn"
          role="tab" }
          i.fa.fa-fw.fa-image
          | &nbsp;&nbsp;
          | Marketing Images
        a.btn.btn-secondary {
          href="#ad-images__logos" 
          data-toggle="tab"
          data-btn-group-target="btn"
          role="tab" }
          i.fa.fa-fw.fa-flag
          | &nbsp;&nbsp;
          | Logos

    .tab-content

      #ad-images__marketing.tab-pane.active
        ul.image-cards.list-unstyled data-max="#{AdwordsAd::MAX_MARKETING_IMAGES.to_s}"
          - @ad.company.ad_images.marketing.sort_by { |image| sort_ad_images(@ad, image) } \
               .each.with_index do |ad_image, i|
            li 
              = ad_image_card.call(ad_image, @ad.images.include?(ad_image))
                  
      #ad-images__logos.tab-pane
        ul.image-cards.list-unstyled data-max="#{AdwordsAd::MAX_LOGOS.to_s}"
          - @ad.company.ad_images.logo.sort_by { |image| sort_ad_images(@ad, image) } \
               .each.with_index do |ad_image, i|
            li 
              = ad_image_card.call(ad_image, @ad.images.include?(ad_image))
