
(function () {

  var res = <%= raw @response_data.to_json %>,
      $table = $('#promoted-stories-table'),
      promoteIsDisabled = !$table.data('promote-tr'),
      dt = $table.DataTable(),
      $row = $table.find('[data-story-id="' + res.promotedStory.id + '"]'),
      isStatusUpdate = res.previousChanges && (res.previousChanges[0] === 'status'),

      // this mirrors the createdRow option in the table setup
      addClickBlockers = function () {
        $row.find('td.promoted-story-images, td.promoted-story-title, td.status')
              .prepend('<div class="click-blocker"></div>');
        if (promoteIsDisabled) {
          $row.find('td.status .click-blocker')
                .attr({
                  'data-toggle': 'tooltip',
                  'data-placement': 'left',
                  'data-title': 'Contact Customer Stories to enable this feature'
                })
        }
      },
      initStatusSwitch = function () {
        $row.find('.bs-switch.promote-control')
              .bootstrapSwitch({ size: 'small', disabled: promoteIsDisabled })
              .end()
            .find('td.status [data-toggle="tooltip"]')  // may or may not be there depending on company.promote-tr
              .tooltip({
                container: 'body',
                delay: { show: 500, hide: 0 }
              });
      },
      updateRow = function () {
        dt.row($row).data(res.promotedStory);
        addClickBlockers();  //  this must run before initStatusSwitch()
        initStatusSwitch();
        $row.attr('data-submitted', '');
      },
      flashError = function () {
        $row.children().toggle().end()
            .find('td.flash > div')
            .addClass('alert alert-danger')
            .text('Sorry, there was an error when updating the Promoted Story');
        setTimeout(function () {
          $row.find('td.flash > div')
              .empty()
              .removeClass('alert alert-danger')
                .end()
              .children().toggle();
        }, 2500);
      },
      flashImagesSuccess = function () {
        var $td = $row.find('td.promoted-story-images'),
            landscapeImages = dt.row($row).data().ads_images.filter(function (image) {
                                return image.type === 'LandscapeImage'
                              });
        console.log($row)
        $td.addClass('alert alert-success')
           .html('<i class="fa fa-fw fa-check"></i>&nbsp;&nbsp;<span>Updated</span>');
        setTimeout(function () {
          $td.empty()
             .removeClass('alert alert-success')
             .html(
               '<div class="fileinput">' +
                 '<div class="fileinput-preview thumbnail">' +
                   '<img src="' + (landscapeImages.length ? landscapeImages[0].image_url : '') + '" alt="promoted story image">' +
                 '</div>' +
                 '<input type="file" name="image_url" id="image_url" class="hidden" ' +
               '</div>'
             )
        }, 2500);
      };

  console.log('res', res);

  if (res.isImagesUpdate) {
    toggleFormDone($('#ads-images-form'), false);
    $('#ads-images-modal')
      .one('hidden.bs.modal', function () {
        if (res.gadsErrors) {
          flashError()
        } else {
          flashImagesSuccess();
          debugger;
          console.log($row.data('submitted'))
          setTimeout(updateRow, 2500);
        }
      })
      .modal('hide');
    if (!res.gadsErrors) updateRow();

  } else if (isStatusUpdate) {
    var $switch = $row.find('.bootstrap-switch'),
        prevStatus = res.previousChanges[1][0],
        newStatus = res.gadsErrors ? prevStatus : res.previousChanges[1][1];

    if (res.gadsErrors){
      flashError();

      // revert to previous state
      $switch
        .find(newStatus === 'ENABLED' ? '.bootstrap-switch-handle-on' : '.bootstrap-switch-handle-off')
          .find('.fa-spin, ' + (newStatus === 'ENABLED' ? '.fa-play' : '.fa-pause'))
            .toggle()
            .end()
          .end()
        .find('.bs-switch.promote-control')
          .bootstrapSwitch('toggleState');

    } else {
      $switch
        .find(newStatus === 'ENABLED' ? '.bootstrap-switch-handle-on' : '.bootstrap-switch-handle-off')
          .find('.fa-spin, .fa-check')
            .toggle();
      setTimeout(updateRow, 2500);
    }
  }

}());