
(function () {

  var resData = <%= raw @response_data.to_json %>,
      $table = $('#promoted-stories-table'),
      dt = $table.DataTable(),
      $row = $table.find('[data-story-id="' + resData.promotedStory.id + '"]'),
      dtRow = dt.row('[data-story-id="' + resData.promotedStory.id + '"]'),
      isStatusUpdate = resData.previousChanges && (resData.previousChanges[0] === 'status'),
      updateRowData = function () { dtRow.data(resData.promotedStory); },
      initStatusSwitch = function () {
        $row.find('.bs-switch.promote-control').bootstrapSwitch({ size: 'small' });
      },
      flash = function ($td, status) {
        var landscapeImages = $td.is('.promoted-story-images') &&
                              dtRow.data().ads_images.filter(function (image) {
                                return image.type === 'LandscapeImage'
                              });

        $td.addClass(status)
           .html(
             status.includes('has-success') ?
                '<span>Updated successfully</span>' :
                '<span>Sorry, there was an error</span>'
           )
        setTimeout(function () {
          $td.removeClass(status).empty();
          if ($td.is('.promoted-story-images')) {
            $td.html(
                '<div class="fileinput">' +
                  '<div class="fileinput-preview thumbnail">' +
                    '<img src="' + (landscapeImages.length ? landscapeImages[0].image_url : '') + '" alt="promoted story image">' +
                  '</div>' +
                  '<input type="file" name="image_url" id="image_url" class="hidden" ' +
                '</div>'
              )

          } else if ($td.is('.status')) {

          }
        }, 2000)
      };

  console.log('resData', resData);

  if (resData.isImagesUpdate) {
    toggleFormDone($('#ads-images-form'), false);
    $('#ads-images-modal')
      .one('hidden.bs.modal', function () {
        var $td = $row.find('td.promoted-story-images');
        if (resData.errors) {
          flash($td, 'has-feedback has-error')
        } else {
          flash($td, 'has-feedback has-success')
        }
      })
      .modal('hide');
    updateRowData();
    initStatusSwitch();

  } else if (isStatusUpdate) {
    var $switchContainer = (
          $table.find('tr[data-story-id="' + resData.promotedStory.id + '"] .bootstrap-switch-container')
        ),
        prevStatus = resData.previousChanges[1][0],
        newStatus = resData.previousChanges[1][1];

    if (resData.errors){
      // return to previous state

    } else {
      $switchContainer
        .find(newStatus === 'ENABLED' ? '.bootstrap-switch-handle-on' : '.bootstrap-switch-handle-off')
        .find('.fa-spin, .fa-check').toggle();
      setTimeout(function () {
        $switchContainer.closest('form').attr('data-submitted', '');
        updateRowData();
        initStatusSwitch();
      }, 2000)

    }
  }

}());