
(function () {

  var res = <%= raw @response_data.to_json %>,
      $table = $('#promoted-stories-table'),
      dt = $table.DataTable(),
      $row = $table.find('[data-story-id="' + res.promotedStory.id + '"]'),
      dtRow = dt.row('[data-story-id="' + res.promotedStory.id + '"]'),
      isStatusUpdate = res.previousChanges && (res.previousChanges[0] === 'status'),
      updateRowData = function () { dtRow.data(res.promotedStory); },
      initStatusSwitch = function () {
        console.log('wtf')
        $row.find('.bs-switch.promote-control')
              .bootstrapSwitch({ size: 'small', disabled: !$table.data('promote-tr') })
              .end()
            .find('[data-toggle="tooltip"]').tooltip({
                container: 'body',
                delay: { show: 500, hide: 0 }
              });
      },
      flashError = function () {
        $row.children().toggle().end()
            .find('td.flash > div')
            .addClass('alert alert-danger')
            .text('Sorry, there was an error when updating the Promoted Story');
        setTimeout(function () {
          $row.find('td.flash > div')
              .empty()
              .removeClass('alert alert-danger')
                .end()
              .children().toggle();
        }, 2500);
      },
      flashImagesSuccess = function () {
        var $td = $row.find('td.promoted-story-images'),
            landscapeImages = dtRow.data().ads_images.filter(function (image) {
                                return image.type === 'LandscapeImage'
                              });
        $td.addClass('alert alert-success')
           .html('<i class="fa fa-fw fa-check"></i>&nbsp;&nbsp;<span>Updated</span>');
        setTimeout(function () {
          $td.empty()
             .removeClass('alert alert-success')
             .html(
               '<div class="fileinput">' +
                 '<div class="fileinput-preview thumbnail">' +
                   '<img src="' + (landscapeImages.length ? landscapeImages[0].image_url : '') + '" alt="promoted story image">' +
                 '</div>' +
                 '<input type="file" name="image_url" id="image_url" class="hidden" ' +
               '</div>'
             )
        }, 2500);
      };

  console.log('res', res);

  if (res.isImagesUpdate) {
    toggleFormDone($('#ads-images-form'), false);
    $('#ads-images-modal')
      .one('hidden.bs.modal', function () {
        res.gadsErrors ?
          flashError() :
          flashImagesSuccess();
      })
      .modal('hide');
    if (!res.gadsErrors) updateRowData();
    initStatusSwitch();

  } else if (isStatusUpdate) {
    var $switchContainer = $row.find('.bootstrap-switch-container'),
        prevStatus = res.previousChanges[1][0],
        newStatus = res.gadsErrors ? prevStatus : res.previousChanges[1][1];

    if (res.gadsErrors){
      flashError();
      $switchContainer
        .find(newStatus === 'ENABLED' ? '.bootstrap-switch-handle-on' : '.bootstrap-switch-handle-off')
          .find('.fa-spin, ' + (newStatus === 'ENABLED' ? '.fa-play' : '.fa-pause'))
            .toggle()
            .end()
          .end()
        .find('.bs-switch.promote-control')
          .bootstrapSwitch('toggleState');

    } else {
      $switchContainer
        .find(newStatus === 'ENABLED' ? '.bootstrap-switch-handle-on' : '.bootstrap-switch-handle-off')
        .find('.fa-spin, .fa-check').toggle();
      setTimeout(function () {
        $switchContainer.closest('form').attr('data-submitted', '');
        updateRowData();
        initStatusSwitch();
      }, 2500)
    }
  }

}());