
.cs-overlay-container class=('pre-selected' if preselected_story_id.present?)
  .cs-main
    .cs-grid.cs-grid-carousel

      .cs-carousel.cs-container-fluid {
        class="cs-carousel--#{carousel_version} #{background ? 'cs-carousel--' + background + '-background' : ''}" }
        .cs-row
          .cs-carousel__arrow.cs-carousel__arrow--left.col-xs-2.col-sm-1
            button
          .cs-carousel__carousel.cs-rh-container.col-xs-8.col-sm-10
            / text-center in case not enough stories to fill carousel
            .cs-row.row-horizon.text-center
              / the bootstrap styling starts to break down after 30 stories
              - stories.each do |story|
                .col-xs-12
                  = render( \
                      'stories/shared/story_card',
                      { story: story,
                        card_class: story_card_class(story, **{ is_plugin: true, is_grayscale: is_grayscale, preselected_story_id: preselected_story_id }),
                        plugin_type: 'carousel',
                        background: background,
                        is_dashboard: false,
                        is_plugin: true,
                        is_external: true })
          .cs-carousel__arrow.cs-carousel__arrow--right.col-xs-2.col-sm-1
            button
        .cs-carousel__scroll-xs
          button.cs-carousel__arrow-xs.cs-carousel__arrow-xs--left type="button"
            = image_tag('icons/bs_chevron_left.svg', alt: 'scroll-left')
          .cs-carousel__pagination-xs.text-center
          button.cs-carousel__arrow-xs.cs-carousel__arrow-xs--right type="button"
            = image_tag('icons/bs_chevron_right.svg', alt: 'scroll-right')
        .cs-carousel__pagination
        .cs-carousel__prev-next
          button.cs-carousel__prev.cs-carousel__prev--bookend type="button" Previous
          span
          button.cs-carousel__next type="button" Next

    section.cs-content
      .scroll-wrap
        - stories.each do |story|
          .content__item.content__item--carousel
            - if preselected_story_id == story.id
              = render( \
                  "stories/show/#{story.published? ? 'story' : 'preview'}",
                  { company: story.company,
                    story: story,
                    has_video: story.video[:thumbnail_url].present?,
                    related_stories: nil,
                    is_plugin: true,
                    window_width: window_width })
      button.visible-xs-inline.cs-close-xs type="button"
        = image_tag('icons/bs_x_lg.svg', alt: 'close')