.cs-overlay-container class=('pre-selected' if preselected_story_id.present?)
  .cs-main
    section.cs-grid style="visibility: hidden"
      - stories.each do |story|
        = render( \
            'stories/shared/story_card',
            { story: story,
              card_class: story_card_class(story, **{ is_plugin: true, logos_only: logos_only, is_grayscale: is_grayscale, preselected_story_id: preselected_story_id }),
              plugin_type: 'gallery',
              is_dashboard: false,
              is_plugin: true,
              is_external: true })
    section.cs-content
      .scroll-wrap
        - stories.each do |story|
          .content__item
            - if preselected_story_id == story.id
              = render( \
                  "stories/show/#{story.published? ? 'story' : 'preview'}",
                  { company: story.company,
                    story: story,
                    has_video: story.video[:thumbnail_url].present?,
                    related_stories: nil,
                    is_plugin: true,
                    window_width: window_width })
      button.visible-xs-inline.cs-close-xs type="button"
        = image_tag('icons/bs_x_lg.svg', alt: 'close')