
<div class="cs-overlay-container <%= pre_selected_story_id.present? ? 'pre-selected' : '' %>">

  <div class="cs-main">

    <section class="cs-grid" style="visibility: hidden">

      <% stories.each do |story| %>

        <%= render(
              'stories/shared/story_card',
              {
                story: story,
                card_class: story_card_class(
                  story, logo_style, false, true, is_grayscale, pre_selected_story_id
                ),
                plugin_type: 'gallery',
                is_dashboard: false,
                is_plugin: true,
                is_external: true
              }
            ) %>

      <% end %>

    </section><!-- /grid -->

    <section class="cs-content">

      <div class="scroll-wrap">

        <% stories.each do |story| %>

          <div class="content__item">

            <% if pre_selected_story_id == story.id %>

              <%= render(
                    story.published? ? 'stories/show/story' : 'stories/show/preview',
                    {
                      company: story.company,
                      story: story,
                      contributors: contributors,
                      related_stories: nil,
                      is_plugin: true,
                      plugin_type: 'gallery',
                      window_width: window_width
                    }
                  ) %>

            <% end %>

          </div>

        <% end %>

      </div>

      <!-- <button class="close-button"><i class="fa fa-times-thin fa-3x"></i><span>Close</span></button> -->

      <button type="button" class="visible-xs-inline cs-close-xs">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-times-thin fa-inverse fa-stack-1x"></i>
        </span>
      </button>

    </section><!-- /content -->

  </div><!-- /main -->

</div>