
section.cs-tabbed-carousel style="visibility: hidden"
  .cs-container
    .cs-row.cs-header-row
      .visible-xs-block.col-xs-12.text-center
        / the widget toggles on initial display, so start with "open" 
        header.cs-header.open style="#{is_external ? tabbed_carousel_style(company, tab_color, text_color) : ''}"
          button.cs-toggle type="button"
            span = title
            div = image_tag('icons/bs_chevron_down.svg', alt: 'chevron-down')
            div = image_tag('icons/bs_chevron_up.svg', alt: 'chevron-up')
          button.cs-close type="button"
            div = image_tag('icons/bs_x_lg.svg', alt: 'close')

      .hidden-xs.col-sm-5.col-sm-offset-7.col-md-4.col-md-offset-8.col-lg-3.col-lg-offset-9
        / the widget toggles on initial display, so start with "open"
        header.cs-header.open style="#{is_external ? tabbed_carousel_style(company, tab_color, text_color) : ''}"
          button.cs-toggle type="button"
            span = title
            div = image_tag('icons/bs_chevron_down.svg', alt: 'chevron-down')
            div = image_tag('icons/bs_chevron_up.svg', alt: 'chevron-up')
          button.cs-close type="button"
            div = image_tag('icons/bs_x_lg.svg', alt: 'close')

      / attempt to bring back hover effects...
      /<div class="hidden-xs col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-8 col-lg-3 col-lg-offset-9">
        <header class="cs-header" style="<%= tabbed_carousel_style(company, tab_color, text_color) %>">
          <div class="cs-flexbox-outer">
            <div class="cs-flexbox-inner">
              <span class="cs-title"><%= title %></span>
              <span class="cs-chevrons">
                <i class="fa fa-fw fa-chevron-up"></i>
                <i class="fa fa-fw fa-chevron-down"></i>
              </span>
            </div>
            <span class="cs-remove">
              <i class="fa fa-fw fa-remove"></i>
            </span>
          </div>
        </header>
        </div>

  .cs-container-fluid
    .cs-drawer-content style="#{is_external ? tabbed_carousel_style(company, tab_color, text_color, true) : ''}"

      / this approach is needed if a uniform background color *with opacity* across drawer content and header is desired
      / reason: overlapping backgrounds with some transparency will necessitate background-clip setting and this causes screwy animation
      / <div class="container" style="position: absolute; top: -51px; left: 0; right: 0; margin: 0 auto; height: 48px; background: transparent">
        <div class="row" style="height: 100%">
          <div class="col-xs-12" style="height: 100%">
            <div style="height: 100%; width: 200px; background: rgba(0,0,0, 0.8)"></div>
          </div>
        </div>
        </div>

      .cs-row.cs-pagination-row.text-center

      .cs-row
        .cs-tabbed-carousel__arrow.cs-tabbed-carousel__arrow--left.hidden-xs.col-sm-1
          button
        .col-xs-12.col-sm-10 style="padding:0"
          .cs-row.row-horizon.text-center
            / the bootstrap styling starts to break down after 30 stories
            / mobile styling gets weird after 18
            - stories.each do |story|
              .col-xs-8.col-sm-5.col-md-3
                = render( \
                    'stories/shared/story_card',
                    { story: story,
                      card_class: story_card_class(story, **{ is_plugin: true }).concat(' story-card--small'),
                      plugin_type: 'tabbed_carousel',
                      is_dashboard: false,
                      is_plugin: is_plugin,
                      is_external: is_external })
        .cs-tabbed-carousel__arrow.cs-tabbed-carousel__arrow--right.hidden-xs.col-sm-1
          button
