
<div class="mobile__abstract--youtube-watch-top">
  <div class="video-content"></div>
  <div class="video-info">
    <div class="mobile__abstract--paragraph">
      <div class="long-line"></div>
      <div class="long-line"></div>
      <div class="short-line"></div>
    </div>
  </div>
  <div class="video-actions">
    <div>
      <i class="fa fa-fw fa-thumbs-up"></i>
      <div class="bar"></div>
    </div>
    <div>
      <i class="fa fa-fw fa-thumbs-down"></i>
      <div class="bar"></div>
    </div>
    <div>
      <i class="fa fa-fw fa-commenting"></i>
      <div class="bar"></div>
    </div>
    <div>
      <i class="fa fa-fw fa-refresh"></i>
      <div class="bar"></div>
    </div>
    <div>
      <i class="fa fa-fw fa-download"></i>
      <div class="bar"></div>
    </div>
  </div>
  <div class="uploader-info">
    <div class="profile-image"></div>
    <div class="profile-text"></div>
  </div>
</div>

<div class="ad youtube--watch">
  <div class="landscape-image" style="background-image: url(<%= @image_url %>)"></div>
  <div>
    <div class="short-headline">
      <a href="javascript:;"><%= @short_headline %></a>
    </div>
    <div class="business-name">
      <div class="ad-box ad-box-yellow">Ad</div>
      <a href="javascript:;"><%= @company.name %></a>
    </div>
    <div class="call-to-action">
      <a href="javascript:;"><%= @call_to_action %></a>
    </div>
  </div>
</div>

<div class="mobile__abstract--youtube-watch-bottom">
  <div class="comments">
    <div class="comment-container">
      <div class="comment"></div>
      <div class="timestamp"></div>
    </div>
    <div class="comment-container">
      <div class="comment"></div>
      <div class="timestamp"></div>
    </div>
    <div class="comment-container">
      <div class="comment"></div>
      <div class="timestamp"></div>
    </div>
    <div class="comment-container">
      <div class="comment"></div>
      <div class="timestamp"></div>
    </div>
  </div>
</div>



