.mobile__abstract--youtube-watch-top
  .video-content
  .video-info
    .mobile__abstract--paragraph
      .long-line
      .long-line
      .short-line
    
  .video-actions
    div
      i.fa.fa-fw.fa-thumbs-up
      .bar
    div
      i.fa.fa-fw.fa-thumbs-down
      .bar
    div
      i.fa.fa-fw.fa-commenting
      .bar
    div
      i.fa.fa-fw.fa-refresh
      .bar
    div
      i.fa.fa-fw.fa-download
      .bar
  
  .uploader-info
    .profile-image
    .profile-text

.ad.youtube--watch
  .landscape-image style="background-image: url(#{image_url})"
  div
    .short-headline
      a href="javascript:;"
        = short_headline
    .business-name
      .ad-box.ad-box-yellow
        | Ad
      a href="javascript:;"
        = company_name
    .call-to-action
      a href="javascript:;"
        = cta_text
    
.mobile__abstract--youtube-watch-bottom
  .comments
    .comment-container
      .comment
      .timestamp
    .comment-container
      .comment
      .timestamp
    .comment-container
      .comment
      .timestamp
    .comment-container
      .comment
      .timestamp

