
<%= render(
      'companies/4_measure/filter_form',
      {
        company: company,
        form_id: 'charts-filter-form',
        story_select_id: 'charts-story-select',
        date_range_input_id: 'charts-date-range-input'
      }
    ) %>

<div class="row">

  <div class="col-sm-6">
    <div id='visitors-bar-graph' style='max-width:100%'></div>
  </div>

  <div class="col-sm-6">
    <div id='referrer-type-pie-chart' style='max-width:100%'></div>
  </div>

</div>
