.btn {
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
  
  &:not(.btn-sm):not(.btn-lg) {
    font-size: 13px;
  }
}

@mixin custom-button-variant {
  $light-gray-darken-10: darken($light-gray, 10%);
  $light-gray-darken-17: darken($light-gray, 17%);
  $btn-default-border-darken-12: darken($btn-default-border, 12%);
  $btn-default-border-darken-25: darken($btn-default-border, 25%);

  color: var(--btn-custom-color, #{$btn-default-color});
  background-color: var(--btn-custom-bg, #{$light-gray});
  border-color: var(--btn-custom-border, #{$btn-default-border});

  &:focus,
  &.focus {
    color: var(--btn-custom-color, #{$btn-default-color});
    background-color: var(--btn-custom-bg-darken-10, #{$light-gray-darken-10});
    border-color: var(--btn-custom-border-darken-25, #{$btn-default-border-darken-25});
  }

  &:hover {
    color: var(--btn-custom-color, #{$btn-default-color});
    background-color: var(--btn-custom-bg-darken-10, #{$light-gray-darken-10});
    border-color: var(--btn-custom-border-darken-12, #{$btn-default-border-darken-12});
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: var(--btn-custom-color, #{$btn-default-color});
    background-color: var(--btn-custom-bg-darken-10, #{$light-gray-darken-10});
    border-color: var(--btn-custom-border-darken-12, #{$btn-default-border-darken-12});
    
    &:hover,
    &:focus,
    &.focus {
      color: var(--btn-custom-color, #{$btn-default-color});
      background-color: var(--btn-custom-bg-darken-17, #{$light-gray-darken-17});
      border-color: var(--btn-custom-border-darken-25, #{$btn-default-border-darken-25});
    }
  }
}

.btn-default {
  // 2% is the different between the default background (#fff) and $light-gray
  @include button-variant(darken($btn-default-color, 2%), $light-gray, darken($btn-default-border, 2%));
}

.btn-custom {
  @include custom-button-variant;
}

.btn-secondary {
  @include button-variant($brand-primary, $light-gray, $brand-primary);

  // align text color changes with border color changes
  // see [path to bootstrap-sass]/assets/stylesheets/bootstrap/_mixins.scss
  &:focus,
  &.focus {
    color: darken($brand-primary, 25%);
  }

  &:hover {
    color: darken($brand-primary, 12%);
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: darken($brand-primary, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: darken($brand-primary, 25%);
    }
  }
}

// only change to bootstrap is to make the border the same color as the background
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-bg);
}

.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-bg);
}

.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-bg);
}

.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-bg);
}