.btn {
  font-size: 13px;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.btn-default {
  @include button-variant($btn-default-color, $light-gray, $btn-default-border);
}

.btn-secondary {
  @include button-variant($brand-primary, $light-gray, $brand-primary);

  // align text color changes with border color changes
  // see [path to bootstrap-sass]/assets/stylesheets/bootstrap/_mixins.scss
  &:focus,
  &.focus {
    color: darken($brand-primary, 25%);
  }

  &:hover {
    color: darken($brand-primary, 12%);
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: darken($brand-primary, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: darken($brand-primary, 25%);
    }
  }
}