
@import 'buttons';
@import 'story_card';

body {
  font-family: 'Open Sans', 'Trebuchet MS', arial, sans-serif;
  font-size: 13px;
  padding: 0;
  margin: 0;

  // this prevents presence/absence of scroll bar from shfiting the page left/right
  // TODO ... or maybe this: https://css-tricks.com/elegant-fix-jumping-scrollbar-issue/
  overflow-y: scroll;

  &:not(.site) {
    background-color: #f9f9f9;
  }
}

.container {
  position: relative;
}

a {
  color: #07c;  // #3367d6;
  &:hover, &:active {
    color: #3af;
    text-decoration: none;
  }
}

label {
  font-weight: 600;
}

hr {
  border-top: 1px solid #dfdfdf;
}

.required-input label:not(.radio-inline):not(.checkbox-inline):not([for="csv-file-input"]):after {
  color: #a94442;  // #D9534F;
  content: " *";
}

#flash {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  border-radius: 0;
  font-size: 16px;
  margin: 0;
}
body.sessions #flash,
body.site #flash {
  height: 85px;
}

.turbolinks-progress-bar {
  height: 1px;
  background-color: $nav-blue; // #77b6ff;
}

/**
 * this needs to be in global scope due to fixed position
 */
 .submission-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -66px;
  transition: bottom 0s;
  [class*="col-"] {
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border: 1px solid #ccc;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 15px 15px 18px;
  }
  p {
    font-size: 16px;
    color: #262626;
    margin-bottom: 0;
  }
  &.show {
    bottom: 0;
    transition: bottom 0.3s ease-in-out;
  }
}




