
$company-header-height: 65px;
$stories-header-height: 40px;

$csp-bg-gray: #f2f2f2;
$csp-fg-gray: #efefef;

body {
  font-family: 'Open Sans', 'Trebuchet MS', arial, sans-serif;
  font-size: 13px;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
}

a {
  color: #07c;  // #3367d6;
  &:hover, &:active {
    color: #3af;
    text-decoration: none;
  }
}

.nav-tabs .dropdown-menu {
  border-radius: 3px;
}

ul.dropdown-menu {
  border-color: #ccc;
  li {
    margin-right: .5em;
    margin-left: .5em;
    a {
      font-size: 13px;
      padding: 6px 12px;
      border-radius: 3px;
    }
    a:hover, a:focus {
      color: #fff; //  #333;
      background-color: #0095ff; //  #f2f2f2;
    }
  }
}

.turbolinks-progress-bar {
  height: 1px;
  background-color: #0095ff; // #77b6ff;
}



