@media (min-width: 1200px) {
  // .container {
    // width: 1200px;
  // }  
}

.layout-main {
  min-height: 100vh;   // TODO: replace with html, body { height: 100% }
  padding-bottom: 100px;

  .companies.edit &,
  .companies.new &,
  .profile.edit & {
    padding-top: 15px;
  }
}

.layout-sidebar {
  // border: 1px solid #dfdfdf;
  .nav {
    > li {
      margin: 0;    

      > a {
        display: flex;
        align-items: center;
        // margin-left: -15px;
        // margin-right: -15px;
        height: 56px;
        font-family: 'Lato';
        border-left: 2px solid transparent;
        font-size: 14px;
        color: #666;
        padding: 10px 20px;

        // > span {
        //   display: flex;
        //   align-items: center;
        // }

        i {
          font-size: 1.25em;
          margin-right: 13px;
        }

        &:hover, 
        &:focus {
          background-color: $dark-gray;
          // border-left: 2px solid #e5e5e5;
          border-left: 2px solid $dark-gray;
          color: #222;
        }
      }
      
      &.active {
        // margin-right: 0;
        > a, 
        a:hover, 
        a:focus {
          // border-left: 2px solid $nav-blue; // #0095ff;
          border-left: 2px solid $nav-blue; // #0095ff;
          // border-right-color: transparent; 
          color: $nav-blue; // #0095ff;
          font-weight: 600;
          background-color: #efefef;
        }
      }
    }
  }

  .disabled-tab { 
    color: #ccc; 
  }
}

.admin-sidebar {
  background-color: #efefef;
  padding: 15px;
  margin-top: 30px;

  h4 {
    color: #d11302;
    margin-top: 0;
  }
}