

@media (min-width: 1200px) {
  #prospect .container,
  #curate .container,
  #promote .container,
  #measure .container {
    width: 1200px;
  }  
}

.layout-sidebar {
  // border: 1px solid #dfdfdf;
  .nav {
    > li {
      margin: 0;      
      > a {
        display: flex;
        align-items: center;
        // margin-left: -15px;
        // margin-right: -15px;
        height: 56px;
        font-family: 'Lato';
        border-left: 2px solid transparent;
        font-size: 14px;
        color: #666;
        padding: 10px 20px;
        > span {
          display: flex;
          align-items: center;
        }
        &[href="#successes"], &[href="#prospect-contributors"] {
          padding: 10px 10px 10px 20px;
          justify-content: space-between;
        }
        i:not([class*="fa-stack"]) {
          font-size: 1.25em;
          margin-right: 13px;
        }
        &:hover, &:focus {
          background-color: #e5e5e5;
          // border-left: 2px solid #e5e5e5;
          border-left: 2px solid #e5e5e5;
          color: #222;
        }
      }
      &.active {
        // margin-right: 0;
        > a, a:hover, a:focus {
          // border-left: 2px solid $nav-blue; // #0095ff;
          border-left: 2px solid $nav-blue; // #0095ff;
          // border-right-color: transparent; 
          color: $nav-blue; // #0095ff;
          font-weight: 600;
          background-color: #efefef;
        }
      }
    }
  }

  .disabled-tab { 
    color: #ccc; 
  }

  // New customer wins, New contributors
  .btn-add {
    @include fa-button($medium-gray);

    // wait until both tables are loaded to show (see csp_datatables.js); 
    // don't use transition on initial load
    display: none;  
    opacity: 1;
    transition: opacity 0.15s linear;  // matches bootstrap tab .fade transition
    &:not(.shown):not([data-target="#new-story-modal"]) {
      visibility: hidden;
      opacity: 0;
    }
  }
}

.layout-main {
  // padding: 0 15px 100px 30px;
}