@media (min-width: 1200px) {
  .container {
    // width: 1200px;
  }  
}

.layout-main {
  min-height: 100vh;   // TODO: replace with html, body { height: 100% }
  padding-bottom: 100px;

  .companies.edit &,
  .companies.new &,
  .profile.edit & {
    padding-top: 15px;
  }

  #prospect &,
  #promote & {
    position: relative;

    > .loading,
    > .tab-content {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
    }
    
    > .loading {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      visibility: visible;
      opacity: 1;
    }
  
    > .tab-content {
      visibility: hidden;
      opacity: 0;
    }
  }

  #prospect.ready &,
  #promote.ready & {
    > .loading,
    > .tab-content {
      transition: opacity 0.25s ease-in-out;
    }

    > .loading {
      visibility: hidden;
      opacity: 0;
    }

    > .tab-content {
      visibility: visible;
      opacity: 1;
    }
  }
}

.layout-sidebar {
  // border: 1px solid #dfdfdf;
  .nav {
    > li {
      margin: 0;    

      > a {
        display: flex;
        align-items: center;
        // margin-left: -15px;
        // margin-right: -15px;
        height: 56px;
        font-family: 'Lato';
        border-left: 2px solid transparent;
        font-size: 14px;
        color: #666;
        padding: 10px 20px;

        > span {
          display: flex;
          align-items: center;
        }

        // REMOVED due to no more "Add" buttons in the sidebar
        // &[href="#successes"], &[href*="contributors"] {
          // padding: 10px 10px 10px 20px;
          // justify-content: space-between;
        // }

        i:not([class*="fa-stack"]) {
          font-size: 1.25em;
          margin-right: 13px;
        }

        &:hover, &:focus {
          background-color: #e5e5e5;
          // border-left: 2px solid #e5e5e5;
          border-left: 2px solid #e5e5e5;
          color: #222;
        }
      }
      &.active {
        // margin-right: 0;
        > a, 
        a:hover, 
        a:focus {
          // border-left: 2px solid $nav-blue; // #0095ff;
          border-left: 2px solid $nav-blue; // #0095ff;
          // border-right-color: transparent; 
          color: $nav-blue; // #0095ff;
          font-weight: 600;
          background-color: #efefef;
        }
      }
    }
  }

  .disabled-tab { 
    color: #ccc; 
  }

  

  // New customer wins, New contributors
  .btn-add {
    @include fa-button($medium-gray);

    // wait until both tables are loaded to show (see csp_datatables.js); 
    // don't use transition on initial load
    &:not(.btn-add--new-story) {
      display: none;  
      opacity: 1; 
      transition: opacity 0.15s linear;  // matches bootstrap tab .fade transition

      &:not(.shown) {
        visibility: hidden;
        opacity: 0;
      }
    }
  }

}

.admin-sidebar {
  background-color: #efefef;
  padding: 15px;
  margin-top: 30px;

  h4 {
    color: #d11302;
    margin-top: 0;
  }
}