@media (min-width: 1200px) {
  // .container {
    // width: 1200px;
  // }  
}

.layout-main {
  min-height: 100vh;   // TODO: replace with html, body { height: 100% }
  padding-bottom: 100px;

  .companies.edit &,
  .companies.new &,
  .profile.edit & {
    padding-top: 15px;
  }
}

.layout-sidebar {
  .nav {
    > li {
      margin: 0;    

      > a {
        display: flex;
        align-items: center;
        height: 56px;
        border-left: 2px solid transparent;
        padding: 10px 20px;
        font-family: 'Lato';
        font-size: 14px;
        color: $gray;

        i {
          font-size: 1.25em;
          margin-right: 13px;
        }

        &:hover, 
        &:focus {
          background-color: darken($blueish-gray-lighter, 5%);
          border-left: 2px solid darken($blueish-gray-lighter, 5%);
          color: darken($gray, 5%);
        }
      }
      
      &.active {
        > a, 
        > a:hover, 
        > a:focus {
          border-left: 2px solid $brand-primary;
          color: $brand-primary;
          font-weight: 600;
          background-color: $blueish-gray-lighter;
        }
      }
    }
  }

  .disabled-tab { 
    color: #ccc; 
  }
}

.admin-sidebar {
  background-color: $blueish-gray-lighter;
  padding: 15px;
  margin-top: 30px;

  h4 {
    margin-top: 0;
  }
}