
/**
 * old settings that need a proper home!
 */
body {
  // this prevents presence/absence of scroll bar from shfiting the page left/right
  // or maybe this: https://css-tricks.com/elegant-fix-jumping-scrollbar-issue/
  overflow-y: scroll;
}

body:not(.site) {
  background-color: #f9f9f9;
}

body.stories.show {
  background-color: #fff;  /* :not(.stories.show) doesn't work, ref https://stackoverflow.com/questions/10711730 */
}


// the shadow settings are copied from mvp
.btn-success, .btn-success[disabled]:hover, .btn-success.disabled:hover,
.btn-success[disabled]:focus, .btn-success.disabled:focus,
.btn-success[disabled]:active, .btn-success[disabled]:active:hover {
  background-color: #4d8664;
  border-color: #45715a;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

// .note-link-btn is summernote dialog
.btn-success:hover, .btn-success:focus, .btn-success:active,
.btn-success:active:hover, .btn-success:active:focus {
  background-color: #456f59;
  border-color: #395f4e;
}

.bip-clickable {
  height: 28px;
  width: 28px;
  color: #666;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}

.bip-clickable:hover, .bip-clickable-fa:hover  {
  color: white !important;
  background-color: rgb(14, 122, 254); // #4885ed; //#666;
}

.progress-bar-info, .alert-info {
  background-color: #6685a4;  // btn-secondary
  border-color: #54718d;
  color: #fff;
}

hr {
  border-top: 1px solid #dfdfdf;
}

// this gets rid of the vertical portion of the first tab for views
// that employ the mvp tabbed content layout
.container.clip {
  margin-top: 30px;
  overflow: hidden;
  padding-bottom: 100px;  // this leaves room for dropdowns in Crowdsource
}

.alert-success {
//   background-color: #4d8664 !important;
//   border-color: #45715a !important;
  border-radius: 0;
}

.required-input label:not(.radio-inline):not(.checkbox-inline):not([for="csv-file-input"]):after {
  color: #a94442;  // #D9534F;
  content: " *";
}

#back-to-top {
  display: none !important;
}
/*
 *  below related to S3 upload
 */
.progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  height:  1.2em;
  padding-left: 0.2em;
  color:   white;
  display: none;
}