
@mixin LI-profile-badge ($bg-color) {
  .LI-badge-container {
    width: 100%;
    background-color: $bg-color;  // #f2f2f2;
    margin-bottom: 15px;
    -webkit-box-shadow: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);  // matches story cards
    .LI-name-container {
      margin-bottom: 15px;
      .LI-profile-pic-container {
        padding-bottom: 0;
        img {
          width: 65px;
          height: 65px;
        }
      }
      > .LI-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding-left: 5px;
      }
    }
    .LI-more-info {
      display: none;
    }
    .LI-footer {
      display: flex;
      justify-content: space-between;
    }
  }
}

@mixin fa-button () {
  display: flex;
  align-items:center;
  background:none;
  border: none;
  outline: none;
  color: #666;
  font-size: 12px;
  padding: 4px;
  &:hover {
    color: #222;
  }
  i {
    -webkit-text-stroke: 1px #f9f9f9;  // should match background color
    &.fa-question {
      -webkit-text-stroke: 0.5px #f9f9f9;
      top: -1px;
      left: -0.5px;
    }
  }
  &[disabled] {
    &:hover {
      color: #666;
      cursor: not-allowed;
    }
  }
}

@mixin bs-xs {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin bs-sm {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin bs-md {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin bs-lg {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin customer-logo ($bg-color) {
  display: flex;
  margin: 30px 0;
  background-color: $bg-color;  // need this for the mix-blend-mode to work correctly
  > div {
    max-width: 50%;  // this can be wider for the quote-logo horizontal layout
    img {
      margin: 0 auto;
      max-height: 65px;
      mix-blend-mode: multiply;
    }
  }
  .customer-name, .cs-customer-name {
    color: #888;
    margin-top: 20px;
    span {
      font-size: 16px !important;
    }
  }
  @include bs-sm {
    justify-content: center;
    > div {
      img {
        max-height: 80px;
      }
    }
  }
  @include bs-lg {
    .customer-name, .cs-customer-name {
      margin-top: 25px;
      span {
        font-size: 18px !important;
      }
    }
  }

}
