@mixin hover {
  border: 1px solid transparent;
  box-shadow: $story-card-box-shadow-hover;

  .story-card__logo {
    display: none;
  }

  .story-card__title {
    transform: translateY(0%);
  }

  .story-card__cta::after {
    visibility: visible;
    transition: all 0s step-end;
  }

  .story-card__customer {
    display: none
    // visibility: hidden;
    // transition: all 0s step-end;
  }
}

.story-card--card,
.story-card--logo-only {
  position: relative;
  margin: 15px;

  .story-card__link {
    display: block;
    position: relative;
    background-color: #fff;
    padding: 0;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: $story-card-box-shadow;
    transition: box-shadow 0.1s ease-in-out; 

    &:active {
      filter: brightness(94%);
      box-shadow: $story-card-box-shadow-hover;
    }

    &:hover {
      @include hover;
    }
  }

  .story-card__content {
    position: relative;
    width: 100%;
    height: 80%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .story-card__logo { 
    display: flex;
    align-items: center;  
    justify-content: center;
    height: 100%;
    width: 100%;
    opacity: 1;
    // transition: opacity $transition-time ease-in-out;
    transition: opacity 0s step-end;

    img {
      max-height: 70%;
      max-width: 70%;
  
      // this compensates for a bug in chrome, which causes images of a
      // certain aspect ratio to expand and contract very slightly on
      // hover and opacity transition
      // ref: https://stackoverflow.com/questions/20886991
      -webkit-transform: translateZ(0);
      mix-blend-mode: multiply;
    }
  }

  .story-card__title {
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: transparent;
    transform: translateY(-100%);
    transition: all 0s step-end;
    overflow: hidden;

    p {
      padding: 0 12px;
      text-align: center;
      color: $story-card-text-color !important;
  
      // weebly will squish together letters and words in the customer name together without these...
      word-spacing: normal;
      letter-spacing: normal;
      margin-bottom: 0;
    }
  } 

  .story-card__caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35%;
    border-radius: 0;
    background: transparent;
    text-align: center;

    span {
      font: {
        family: inherit !important;
        size: $story-card-caption-size !important;
      }
      position: absolute;
      width: 90%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  
      // weebly will squish together letters and words in the customer name together without these...
      word-spacing: normal;
      letter-spacing: normal;
    }
  }

  .story-card__customer {
    color: $story-card-text-color;
  }

  .story-card__cta:after {
    color: $story-card-text-color;
    text-decoration: underline;
    visibility: hidden;
    transition: all 0s;
  }

  &.loading, 
  &.cs-loading {
    filter: brightness(96%);
  }

  &.still-loading, 
  &.cs-still-loading {
    .story-card__title, 
    .story-card__cta::after,
    .story-card__loading {
      transition: opacity 0.25s ease-in-out;
    }
    .story-card__title, 
    .story-card__cta::after {
      visibility: hidden;
      opacity: 0;
    }

    .story-card__loading {
      visibility: visible;
      opacity: 1;
    }
  }

  &.hover:not(.og-expanded), 
  &.cs-hover:not(.og-expanded),
  &.og-expanded,
  &.loading,
  &.cs-loading {
    .story-card__link {
      @include hover;
    }
  }

  &.story-card--small {
    .story-card__link {
      width: $small-story-card-width;
      height: $small-story-card-height;
    }

    .story-card__title p, 
    .story-card__title span {
      font-size: 13px !important;
    }

    .story-card__logo img {
      max-height: 60%;
      max-width: 60%;
    }
  }

  &.story-card--published {  
    .story-card__cta:after {
      content: 'Read Story';
    } 
  }

  &.story-card--preview-published {
    .story-card__cta:after {
      content: 'Read More';
    }
  }

  &.story-card--dashboard {
    .story-card__cta:after {
      content: 'Configure Story';
    }
  }
}