@import 'story_card_v1';
// @import 'story_card_v2';

.story-card__link {
  width: $story-card-width;
  height: $story-card-height;
}

.story-card__loading {
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, -50%);
  
  img {
    @include svg-fill(#555555);
    height: 24px;
  }
}

.story-card__title p {
  @include max-lines(3);
  
  font: {
    family: inherit !important;
    size: $story-card-title-size !important;
    weight: 600 !important;
  }
  line-height: 2em !important;
}

.story-card__customer {
  line-height: 1.55;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.story-card {
  // #cs-gallery & {
  //   margin: 15px !important;  // pixlee blog override
  // }

  &--logo-only, 
  &--card {
    background-image: none !important;  // override inline style
  }

  &--logo-only {
    &.hover:not(.og-expanded), 
    &.cs-hover:not(.og-expanded),
    &.og-expanded,
    &.loading,
    &.cs-loading {
      .story-card__link {
        border: none;
        box-shadow: none
      }
    }

    .story-card__link {
      width: 150px;
      height: 75px;
      background-color: transparent;
      border: none;
      box-shadow: none;

      .story-card__content, 
      .story-card__caption {
        height: 100%;
      }

      .story-card__title, 
      .story-card__customer {
        display: none;
      }

      .story-card__logo img {
        mix-blend-mode: multiply;
      }

      &:hover {
        border: none;
        box-shadow: none;
      }
    }
  }

  &--grayscale {
    .story-card__logo img {
      filter: grayscale(100%);
    }
  }

  &--logo-published:not(.story-card--dashboard) .story-card__link {
    pointer-events: none;
  }

  @media only screen and (max-width: 767px) {
    &--logo-only {
      margin: 0;

      .story-card__link {
        margin: 20px 0;
      }
    }
  }

  @media only screen and (min-width: 768px) {
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    #stories-gallery &, 
    .related-stories & {
      .story-card__link {
        width: $small-story-card-width;  
        height: $small-story-card-height; 
      }

      .story-card__title p {
        font-size: 13px !important;
      }
    }
  }

  @media only screen and (min-width: 992px) {
    #stories-gallery &, 
    .related-stories & {
      margin: 20px;
    }

    #stories-gallery &--dashboard {
      margin: 0 5px 10px;;
    }

    .related-stories & {
      margin: 10px 18px;
    }
  }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .related-stories & {
      margin: 15px;

      a {
        width: $small-story-card-width; 
        height: $small-story-card-height;  
      }
    }
  }

  @media only screen and (min-width: 1200px) {
  }
}