

$company-header-height: 65px;
$stories-header-height: 40px;

$csp-bg-gray: #f2f2f2;
$csp-fg-gray: #efefef;

$light-gray: #f9f9f9;
$medium-gray: #efefef;
$dark-gray: #e5e5e5;

$nav-blue: #039be5; // #0288d1 // #0074eb;  // #0095ff; //#d74b4b;  // #4885ed;


// https://www.invisionapp.com/inside-design/finding-the-right-color-palettes-for-data-visualizations/