$brand-primary: #0372aa;
$brand-success: #198703; 
$brand-danger: #e32926; // #e53935; 
$brand-warning: #ff8000;

// all state backgrounds are 75%-lightened versions of the brand colors
// for text: ask copilot to compute given existing bg/text relationships, 
// then darken (if necessary) the text until it passes contrast check: #665c1e
$state-success-bg: #bff2a9;     
$state-success-text: #2a4d2a; 
$state-info-bg: #c3ffff;       
$state-info-text: #125959;
$state-warning-bg: #ffffc0;   
$state-warning-text: #5e541c;
$state-danger-bg: #ffe9e6;    
$state-danger-text: #863427;

$light-gray: mix($brand-primary, #f9f9f9, 1%);
$gray-lighter: #eee;
$blueish-gray-lighter: mix($brand-primary, $gray-lighter, 1%);
$nav-blue: $brand-primary; 
$nav-blue-hover: darken($brand-primary, 10%);
$light-blue: #e8ffff;  // 90% lightened brand-primary

$csp-body-font: 'Open Sans', sans-serif;
$csp-title-font: 'Lato', 'Open Sans', sans-serif;

$company-body-font: $csp-body-font !default;
$company-title-font: $csp-title-font !default;

$company-header-height: 70px !default;
$company-logo-max-height: 50px !default;
$stories-header-height: 48px !default;
 
$stories-bg-color: $light-gray !default;  

// https://www.invisionapp.com/inside-design/finding-the-right-color-palettes-for-data-visualizations/

$story-card-width: 242px !default;
$carousel-story-card-width: $story-card-width !default;
$story-card-height: 170px !default;
$carousel-story-card-height: $story-card-height !default;
$small-story-card-width: 200px !default;
$small-story-card-height: 140px !default;

$story-card-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08) !default;
$story-card-box-shadow-hover: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08) !default;

$story-card-title-size: 15px !default;
$story-card-caption-size: 14px !default;
$story-card-text-color: #444 !default;

$ts-active-option-background: $nav-blue !default;

$form-group-margin-bottom: 2.15rem;
$input-border-focus: $brand-primary;
$table-bg-hover: $light-blue;
$nav-link-hover-bg: transparent;