$brand-primary: #039be5;  // #0288d1 // #0074eb;  // #0095ff; //#d74b4b;  // #4885ed;
$brand-success: #26b859;
$brand-danger: #d11302;

$light-gray: #f9f9f9;
$medium-gray: #efefef;
$dark-gray: #e5e5e5;
$nav-blue: $brand-primary; 
$light-blue: #e8ffff;

$csp-body-font: 'Open Sans', sans-serif;
$csp-title-font: 'Lato', 'Open Sans', sans-serif;

$company-body-font: $csp-body-font !default;
$company-title-font: $csp-title-font !default;

$company-header-height: 70px !default;
$company-logo-max-height: 50px !default;
$stories-header-height: 48px !default;
 
$stories-bg-color: $light-gray !default;  
$stories-fg-color: $medium-gray !default;

// same as btn-success, with opacity
$status-on-color: rgba(140, 221, 129, 0.5); // #8CDD81;	 //  rgba(3, 155, 229, 0.35); (btn-primary w opacity)

// https://www.invisionapp.com/inside-design/finding-the-right-color-palettes-for-data-visualizations/

$story-card-width: 242px !default;
$carousel-story-card-width: $story-card-width !default;
$story-card-height: 170px !default;
$carousel-story-card-height: $story-card-height !default;
$small-story-card-width: 200px !default;
$small-story-card-height: 140px !default;

$story-card-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08) !default;
$story-card-box-shadow-hover: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08) !default;

$story-card-title-size: 15px !default;
$story-card-caption-size: 14px !default;
$story-card-text-color: #444 !default;

$ts-active-option-background: $nav-blue !default;

$form-group-margin-bottom: 1em;
$input-border-focus: $brand-primary;
$table-bg-hover: $light-blue;