
body.widgets.demo.retailnext {

  font-family: $retailnext-body-font;

  .thumbnail-view-hover, .caption, .section-title-container {
    font-family: 'Montserrat';
  }

  .story-content {
    font-weight: 300;
  }

}