
$retailnext-background: #f5f5f5;

& {
  background-color: $retailnext-background;

  a.cs-thumbnail {
    border: 0;
    border-bottom: 2px solid #ccc;
    box-shadow: 0 0;
    transition: background-color 300ms ease;
    .thumbnail-view {
      .thumbnail-view-hover {
        transition: all 0s step-end;
        p {
          font: {
            family: inherit !important;
            size: 15px !important;
            weight: normal !important;
          }
        }
      }
      img {
        mix-blend-mode: multiply;
      }
    }
    .caption {
      span {
        transition: visibility 0s step-end;
      }
      span.click-action:after {
        color: #00b1c4;
        transition: visibility 0s step-end;
      }
    }
    &:hover, &.cs-loading {
      border: 0;
      border-bottom: 2px solid #ccc;
      box-shadow: 0 0;
      background-color: $retailnext-foreground;
      transition: background-color 100ms ease;
      .thumbnail-view-hover {
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transition: all 0s step-end;
      }
      img {
        opacity: 0;
        transition: all 0s;
      }
      .caption {
        span.customer-name {
          transition: all 0ms step-end;
        }
        span.click-action:after {
          transition: all 0ms step-end;
        }
      }
    }
  }

}


// @media only screen and (max-width: 767px) {
// }

// @media only screen and (min-width: 768px) {
// }

// @media only screen and (min-width: 992px) {
// }

// @media only screen and (min-width: 1200px) {
// }


