
.cs-section {
  .cs-header-row {
    height: 44px;
  }
  .cs-header {
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
    .cs-flexbox {
      // padding-top: 1px;
    }
  }
  a.thumbnail, a.cs-thumbnail {
    border: 0;
    box-shadow: 0 0;
    transition: background-color 300ms ease;
    .thumbnail-view {
      .thumbnail-view-hover {
        transition: all 0ms step-end;
        p {
          font: {
            // family: $metropolis-light;
            size: 13px;
            weight: 600;
          }
        }
      }
      img {
        mix-blend-mode: multiply;
      }
    }
    .caption {
      font: {
        // family: $metropolis-light;
        size: 13px;
      }
      color: #444;
      span.customer-name {
        transition: visibility 0ms step-end;
      }
      span.click-action:after {
        color: #00b1c4;
        transition: visibility 0ms step-end;
      }
    }
    &:hover {
      background-color: #ebebeb;
      transition: background-color 100ms ease;
      .thumbnail-view-hover {
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transition: all 0ms step-end;
      }
      img {
        opacity: 0;
        transition: all 0s;
      }
      .caption {
        span.customer-name {
          // visibility: hidden;
          transition: all 0ms step-end;
        }
        span.click-action:after {
          // visibility: visible;
          transition: all 0ms step-end;
        }
      }
    }
  }
}