
<!-- ref: http://stackoverflow.com/questions/10808109/script-tag-async-defer -->
<!-- ref: http://stackoverflow.com/questions/6026645/document-readyfunction-vs-script-at-the-bottom-of-page -->

<% if include_gtm?(company, current_user, controller_name, action_name) %>

  <!-- Google Tag Manager (for browser with js disabled) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-<%= company.try(:gtm_id) %>"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager -->

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer', 'GTM-' + "<%= company.try(:gtm_id) %>");</script>
  <!-- End Google Tag Manager -->

<% end %>

<% if production? && !user_signed_in? %>

  <!-- cookie consent -->
  <% if company.try(:subdomain) != 'varmour' %>

    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <%= render('shared/cookieconsent', { controller: controller_name }) %>

  <% end %>

  <!-- clicky for browsers with js disabled (see clicky.js for $.getScript) -->
  <noscript>
    <p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100886848ns.gif" />
    </p>
  </noscript>

<% end %>

<!-- agile crm -->
<!-- <script id="_agile_min_js" async type="text/javascript" src="https://customerstories.agilecrm.com/stats/min/agile-min.js"> </script> <script type="text/javascript" > var Agile_API = Agile_API || {};Agile_API.on_after_load = function(){_agile.set_account('1g26nfs2fgphtg7vp574pelpdi', 'customerstories'); _agile.track_page_view();}; </script> -->

<!-- google ad words (re-targeting) -->
<!-- <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 919156278;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
</script> -->
<!-- <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js" async>
</script> -->
<!-- browsers with js disabled -->
<!-- <noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/919156278/?guid=ON&amp;script=0"/>
  </div>
</noscript> -->

<!-- Adroll CRM targeting -->
<!--   <script type="text/javascript">
    adroll_adv_id = "WZHVL3T2BFD67DGPDZXPOR";
    adroll_pix_id = "S3NNBWGIABFTFAG3BRHH7P";
    /* OPTIONAL: provide email to improve user identification */
    /* adroll_email = "username@example.com"; */
    (function () {
        var _onload = function(){
            if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return;}
            if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return;}
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
        };
        if (window.addEventListener) {window.addEventListener('load', _onload, false);}
        else {window.attachEvent('onload', _onload);}
    }());
  </script> -->
