<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="col-sm-3">

        <div class="heading-block">
          <h4>Narrate Systems, Inc.</h4>
        </div> <!-- /.heading-block -->

        <ul class="icons-list">
          <li>
            <i class="icon-li fa fa-pencil-square-o"></i>
            <a href="/tos"> Terms of Service</a>
          </li>

          <li>
            <i class="icon-li fa fa-user"></i>
            <a href="/privacy"> Privacy Policy</a>
          </li>

          <li>
            <i class="icon-li fa fa-building"></i>
            <a href="/our-company"> Company</a>
          </li>

          <li>
            <i class="icon-li fa fa-group"></i>
            <a href="/our-story"> Our Story</a>
          </li>

        </ul>

      </div> <!-- /.col -->

      <div class="col-sm-3">

        <div class="heading-block">
          <h4>Keep In Touch</h4>
        </div> <!-- /.heading-block -->

        <ul class="icons-list">
          <li>
            <i class="icon-li fa fa-home"></i>
            Menlo Park, CA 94025
          </li>

    <!--      <li>   -->
   <!--         <i class="icon-li fa fa-phone"></i>   -->
   <!--         +1 650 327 6040   -->
    <!--      </li>   -->

          <li>
            <i class="icon-li fa fa-envelope"></i>
            <a href="mailto:info@customerstories.net">info@customerstories.net</a>
          </li>
        </ul>

      </div> <!-- /.col -->

      <div class="col-sm-3">

        <div class="heading-block">
          <h4>Connect With Us</h4>
        </div> <!-- /.heading-block -->

        <ul class="icons-list">
          <li>
            <i class="icon-li fa fa-linkedin"></i>
            <a href="https://www.linkedin.com/company/customerstories" target="_blank">Linkedin</a>
          </li>

          <li>
            <i class="icon-li fa fa-facebook"></i>
            <a href="javascript:;">Facebook</a>
          </li>

          <li>
            <i class="icon-li fa fa-twitter"></i>
            <a href="javascript:;">Twitter</a>
          </li>

          <li>
            <i class="icon-li fa fa-google-plus"></i>
            <a href="javascript:;">Google Plus</a>
          </li>
        </ul>

      </div> <!-- /.col -->

      <div class="col-sm-3">

        <div class="heading-block">
          <h4>Stay Updated</h4>
        </div> <!-- /.heading-block -->

        <p>Get email updates about Customer Stories, beta program and news.  Send email to <a href="mailto:info@customerstories.net" >info@customerstories.net </a></p>

      </div> <!-- /.col -->

    </div> <!-- /.row -->
  </div> <!-- /.container -->
</footer>

<footer class="copyright">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 text-center">
        <p>Copyright &copy; 2017 customerstories.net by Narrate Systems, Inc.</p>
      </div> <!-- /.col -->

    </div> <!-- /.row -->
  </div>
</footer>
