<!-- flash messaging -->
<div class="container" style='z-index:999;position:fixed;width:100%;padding:0'>
  <% flash.each do |type, msg| %>

    <!-- bootstrap type: success, info, warning, danger -->
    <!-- devise uses built-in types notice and alert,
          map those to bootstrap: -->
    <% if msg.present? && msg.is_a?(String) %>
      <% type = 'success' if type == 'notice' %>
      <% type = 'danger' if type == 'alert' %>

      <div id="flash"
           class="col-xs-12 text-center alert alert-<%= type %>"
           role="alert">
           <!--  <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">&times;</button> -->
           <%= msg %>
      </div>

    <% end %>
  <% end %>
</div>