<!-- flash messaging -->
<div class="container" style='z-index:999; position:fixed; width:100%'>
  <% flash.each do |type, msg| %>
    <!-- bootstrap type: success, info, warning, danger -->
    <!-- devise uses built-in types notice and alert,
          map those to bootstrap: -->
    <% if msg.is_a?(String) %>
      <% type = 'success' if type == 'notice' %>
      <% type = 'danger' if type == 'alert' %>

      <div id='flash'
           class="col-md-6 col-md-offset-3 text-center alert alert-<%= type %>"
           role="alert">
        <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">&times;</button>
        <%= content_tag :div, msg, id: "flash_#{type}" %>
      </div>

    <% end %>
    <!-- clear the flash hash -->
    <% flash.discard(type) %>
  <% end %>
</div>