// `form.submit` or `submit_tag` will result in an input element with a value attribute
// that can't be html. So use a button instead. Also we need button_tag so we can interpolate.
// Button text content is set via data attribute / css.
// Don't omit type="submit" as it is a css selector.
= button_tag( \
    '',
    type: 'submit',
    class: 'btn btn-success',
    form: "#{form_ctrl_id}-form",
    data: { \
      content:,
      "#{form_ctrl_id.tr('-', '_')}_target" => 'submitBtn',
      disable_with_html: disabled_submit_button_html })
