
<div class="row">
  <div class="col-sm-12 text-right">
    <div class="form-group">

      <button type="reset" class="btn btn-default">Cancel</button>
      <button type="submit" class="btn btn-success text-center" style='width: 114px'>
        <span>Save changes</span>
        <i class='fa fa-spinner fa-pulse' style='display:none'></i>
        <i class='fa fa-check' style='display:none'></i>
      </button>

    </div>
  </div>
</div>