.spinner__buttons
  button.btn.btn-default {
    type="button" 
    data-input-spinner-target="incrementBtn" 
    data-action="input-spinner#increment" }
    i.fa.fa-caret-up
  button.btn.btn-default {
    type="button" 
    data-input-spinner-target="decrementBtn"
    data-action="input-spinner#decrement" }
    i.fa.fa-caret-down