<ul class='nav nav-tabs mainnav-menu' role='tablist' style='border-bottom:0'>

  <% if ['alpha', 'beta'].include? @company.feature_flag %>
  <!--   <li id='pipeline-tab' class='tooltip-wrapper-tabs'
        style='margin-bottom: 0px; display:inline-block'
        data-title="This section is currently disabled">
      <a href='#pipeline' role='tab' aria-controls='pipeline'
          style='pointer-events:none' disabled>
        Pipeline
      </a>
    </li> -->
  <% else %>
    <li id='pipeline-tab' class="<%= @mainnav_tab == 'pipeline' ? 'active' : '' %>"
        role='presentation' style='margin-bottom: 0px'>
      <a href='#pipeline' role='tab' data-toggle='tab' aria-controls='pipeline'>
        Pipeline
      </a>
    </li>
  <% end %>

  <li id='curate-tab' class="<%= @mainnav_tab == 'curate' ? 'active' : '' %>"
      role='presentation' style='margin-bottom: 0px'>
    <a href='#curate' role='tab' data-toggle='tab' aria-controls='curate'>
      Curate
    </a>
  </li>

  <li id='promote-tab' class="<%= @mainnav_tab == 'promote' ? 'active' : '' %>"
      role='presentation' style='margin-bottom: 0px'>
    <a href='#promote' role='tab' data-toggle='tab' aria-controls='promote'>
      Promote
    </a>
  </li>

  <% if ['alpha', 'beta'].include? @company.feature_flag %>
    <li id='measure-tab' class='tooltip-wrapper-tabs'
        style='margin-bottom: 0px; display:inline-block'
        data-title="Coming soon">
      <a href='#measure' role='tab' aria-controls='measure'
          style='pointer-events:none' disabled>
        Measure
      </a>
    </li>
  <% else %>
    <li id='measure-tab' class="<%= @mainnav_tab == 'measure' ? 'active' : '' %>"
        role='presentation' style='margin-bottom: 0px'>
      <a href='#measure' role='tab' data-toggle='tab' aria-controls='measure'>
        Measure
      </a>
    </li>
  <% end %>

</ul>