<header class="navbar" role="banner">
  <div class="container">
    <div class="navbar-header">

      <!-- TODO need a company_registered? helper method -->
      <!-- for demo version, just load Cisco logo -->
      <% if user_signed_in? %>

        <img src="<%= asset_path('cisco-logo.jpg') %>" alt="Company Logo"
            style="width:90px">
        <%#= image_tag current_user.company.logo.url(:thumb),
              { class: 'navbar-brand navbar-brand-img', alt: 'Company Logo' } %>

      <% else %>

        <%= image_tag "mvp-landing/logo_full.png",
            { class: 'navbar-brand navbar-brand-img', alt: 'CSP Logo' } %>

      <% end %>

      <button class="navbar-toggle" type="button"
              data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-cog"></i>
      </button>

    </div> <!-- /.navbar-header -->

    <%= render 'shared/flash' %>

    <% if user_signed_in? %>

      <nav class="collapse navbar-collapse" role="navigation">
        <%= render '/shared/mvp_admin_navbar_nav' %>
      </nav>

    <% end %>

  </div> <!-- /.container -->
</header>