
<%= render 'shared/flash' %>

<header class="navbar" role="banner">
  <div class="container">

    <div class="navbar-header">

      <!-- /csp add - logo goes to home page -->
      <a href="/">
        <%= image_tag 'mvp-landing/logo_full.png',
            { class: 'navbar-brand navbar-brand-img', alt: 'CSP Logo' } %>
      </a>

      <button class="navbar-toggle" type="button"
              data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>

    </div> <!-- /.navbar-header -->

    <nav class="collapse navbar-collapse" role="navigation">

      <% if user_signed_in? %>

        <%= render '/shared/mvp_admin_navbar_nav' %>

      <% else %>

        <%= render '/shared/mvp_landing_navbar_nav' %>

      <% end %>

    </nav>

  </div> <!-- /.container -->
</header>