
<% if flash.any? %>

  <%= render 'shared/flash' %>
<!-- This partial will only render if there is something in the flash hash
     In case of AJAX request / JS response, need to render below -->

<% else %>

  <div class='container' style='z-index:999; position:fixed; width:100%' >
    <div id='flash'
       class="hidden col-md-6 col-md-offset-3 text-center alert alert-info"
       role="alert">
      <button type="button" class="close" data-dismiss="alert"
              aria-hidden="true">&times;</button>
    </div>
  </div>

<% end %>

<header class="navbar" role="banner">
  <div class="container">

    <!-- navbar-header -->
    <div class="navbar-header">

      <!-- TODO need a company_registered? helper method -->
      <!-- for demo version, just load Cisco logo -->
      <% if user_signed_in? %>

        <%= image_tag "cisco-logo.jpg",
            { class: 'navbar-brand navbar-brand-img',
              style: 'width:90px', alt: 'Company Logo' } %>
        <%#= image_tag current_user.company.logo.url(:thumb),
              { class: 'navbar-brand navbar-brand-img', alt: 'Company Logo' } %>

      <% else %>

        <%= image_tag "mvp-landing/logo_full.png",
            { class: 'navbar-brand navbar-brand-img', alt: 'CSP Logo' } %>

      <% end %>

      <button class="navbar-toggle" type="button"
              data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-cog"></i>
      </button>
    </div> <!-- /.navbar-header -->



    <% if user_signed_in? %>

      <nav class="collapse navbar-collapse" role="navigation">
        <%= render '/shared/mvp_admin_navbar_nav' %>
      </nav>

    <% end %>

  </div> <!-- /.container -->
</header>