
<% if flash.any? %>

  <%= render 'shared/flash' %>
<!-- This partial will only render if there is something in the flash hash
     In case of AJAX request / JS response, render below -->

<% else %>

  <div class='container' style='z-index:999; position:fixed; width:100%' >
    <div id='flash'
       class="hidden col-md-6 col-md-offset-3 text-center alert"
       role="alert">
      <button type="button" class="close" data-dismiss="alert"
              aria-hidden="true">&times;</button>
    </div>
  </div>

<% end %>

<nav class="navbar navbar-default" role="banner" style="<%= admin_navbar_style %>">
  <div class="container">
<!-- <div class="row"> -->
    <div class="navbar-header col-xs-10">

      <%= render 'shared/admin_navbar_header' %>

    </div>
    <div class="col-xs-2 text-right">

      <%= render 'shared/admin_navbar_session' %>

    </div>

  <!-- </div> -->
  </div>
</nav>