<header class="navbar" role="banner">

  <div class="container">

    <div class="navbar-header">

      <%= image_tag 'mvp-landing/csp_logo.png',
          { class: 'navbar-brand navbar-brand-img', alt: 'CSP Logo' } %>

      <button class="navbar-toggle" type="button"
              data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>

    </div> <!-- /.navbar-header -->

    <nav class="collapse navbar-collapse" role="navigation">

      <ul class="nav navbar-nav navbar-right mainnav-menu">

        <li class="dropdown hidden">
          <a href="./page-faq.html">
            FAQ
          </a>
        </li>

        <li class="dropdown hidden">
          <a href="./page-pricing.html">
            Pricing
          </a>
        </li>

        <li class="dropdown hidden">
          <a href="./page-contact.html">
            Contact
          </a>
        </li>

        <li class="dropdown hidden">

          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
          Blog
          <i class="fa fa-caret-down navbar-caret"></i>
          </a>

          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="./page-blog.html">
              <i class="fa fa-comments-o dropdown-icon"></i>
              Blog Index
              </a>
            </li>

            <li>
              <a href="./page-blog-single.html">
              <i class="fa fa-comments-o dropdown-icon"></i>
              Blog Single
              </a>
            </li>
          </ul>

        </li>

        <li class="dropdown ">

          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
          Login
          <i class="fa fa-caret-down navbar-caret"></i>
          </a>

          <ul class="dropdown-menu" role="menu">

            <li>
              <%= link_to new_user_session_path do %>
                <i class="fa fa-unlock dropdown-icon"></i>
                Login
              <% end %>
            </li>

            <li>
              <!-- TODO: Log in with LinkedIn -->
              <a href="javascript:;">
              <i class="fa fa-unlock dropdown-icon"></i>
              Login Social
              </a>
            </li>

            <li>
              <!-- TODO: Link to forgot password page -->
              <a href="javascript:;">
              <i class="fa fa-unlock dropdown-icon"></i>
              Forgot Password
              </a>
            </li>

            <li>
              <%= link_to new_user_registration_path do %>
                <i class="fa fa-star dropdown-icon"></i>
                Signup
              <% end %>
            </li>

          </ul>

        </li>

        <li class="dropdown hidden">

          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
          More
          <i class="fa fa-caret-down navbar-caret"></i>
          </a>

          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="../admin/">
              <i class="fa fa-external-link dropdown-icon"></i>
              Admin Template
              </a>
            </li>
            <li>
              <a href="../launch/">
              <i class="fa fa-external-link dropdown-icon"></i>
              Launch Template
              </a>
            </li>
          </ul>
        </li>

      </ul>

    </nav>

  </div> <!-- /.container -->

</header>