
<% if flash.any? %>

  <%= render 'shared/flash' %>
<!-- This partial will only render if there is something in the flash hash
     In case of AJAX request / JS response, render below -->

<% else %>

  <div class='container' style='z-index:999; position:fixed; width:100%; padding:0'>
    <div id='flash' style='font-size:16px;height:65px;border-radius:0;padding-top:19px'
       class="hidden col-xs-12 text-center alert"
       role="alert">
       <!-- <button type="button" class="close" data-dismiss="alert"
               aria-hidden="true">&times;</button> -->
    </div>
  </div>

<% end %>

<nav class="navbar navbar-default admin" role="banner" style="<%= admin_navbar_style %>">
  <div class="container" style='padding:0'>
<!-- <div class="row"> -->
    <div class="navbar-header col-xs-12 col-sm-9">

      <%= render 'shared/admin_navbar_header' %>

    </div>

    <% if controller_name == 'stories' && action_name == 'show' %>

      <div class='hidden-xs col-sm-3 text-right'>

        <% if @company.cta_button.try(:btn_text).present? %>

          <%= link_to @company.cta_button.btn_text,
                @company.cta_button.url, target: '_blank',
                class: "btn cta_btn cta-link",
                style: "background-color:#{@company.cta_button.background_color};color:#{@company.cta_button.color};border-color:#{@company.cta_button.background_color}" %>

        <% end %>

      </div>

    <% else %>

      <div class="hidden-xs col-sm-3">
        <!-- filler -->
      </div>

    <% end %>

  <!-- </div> -->
  </div>
</nav>