
<% if flash.any? %>

  <%= render 'shared/flash' %>
<!-- This partial will only render if there is something in the flash hash
     In case of AJAX request / JS response, render below -->

<% else %>

  <div class='container' style='z-index:999; position:fixed; width:100%; padding:0'>
    <div id='flash' style='font-size:16px;height:65px;border-radius:0;padding-top:19px'
       class="hidden col-xs-12 text-center alert"
       role="alert">
       <!-- <button type="button" class="close" data-dismiss="alert"
               aria-hidden="true">&times;</button> -->
    </div>
  </div>

<% end %>

<nav class="navbar navbar-default admin" role="banner"
     style="<%= @company ? @company.header_style : Company::CSP.header_style %>">
  <div class="container navbar-container">
    <div class="row">

      <div class="navbar-header col-xs-12 col-sm-8">
        <%= render 'shared/admin_navbar_header' %>
      </div>

      <% if controller_name == 'stories' && (['index', 'show'].include?(action_name)) %>

        <div class='hidden-xs col-sm-4 text-right'>

          <% if @company.ctas.primary %>

            <%= link_to(@company.ctas.primary.display_text,
                  @company.ctas.primary.link_url, target: '_blank',
                  id: 'primary-cta-btn', class: "btn cta-link",
                  style: "background-color:#{@company.primary_cta_background_color};color:#{@company.primary_cta_text_color};border-color:#{@company.primary_cta_background_color}") %>

          <% end %>

        </div>

      <% else %>

        <div class="hidden-xs col-sm-4">
          <!-- filler -->
        </div>

      <% end %>

    </div>
  </div>
</nav>