<header class="navbar" role="banner">
  <div class="container">

    <div class="navbar-header">

      <!-- this conditional logic is necessary until all routes are
      encapsulated in the angular app -->
      <% if params[:controller] == 'companies' %>
        <!-- angular -->
        <img ng-show="company.logo_path"
            ng-src="{{ company.logo_path }}" alt="paperclip logo"
            class='navbar-brand navbar-brand-img'
            style='height:54px'>
        <img ng-hide="company.logo_path"
            ng-src="<%= asset_path 'companies/thumb/missing_logo.png' %>"
            style='height:54px'>

      <% else %>
        <!-- no angular -->
        <%= image_tag current_user.company.logo.url(:thumb),
            { class: 'navbar-brand navbar-brand-img', alt: 'CSP Logo' } %>

      <% end %>

      <button class="navbar-toggle" type="button"
              data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-cog"></i>
      </button>

    </div> <!-- /.navbar-header -->

    <%= render 'shared/flash' %>

    <nav class="collapse navbar-collapse" role="navigation">

      <%= render '/shared/mvp_admin_navbar_nav' %>

    </nav>

  </div> <!-- /.container -->
</header>