<header class="navbar" role="banner">
  <div class="container">
    <div class="navbar-header">

      <% if current_user.company_id %>  <!-- company is registered -->

        <%= image_tag current_user.company.logo.url(:thumb),
              { class: 'navbar-brand navbar-brand-img', alt: 'Company Logo' } %>

      <% else %>

        <%= image_tag "mvp-admin/csp_logo.png",
            { class: 'navbar-brand navbar-brand-img', alt: 'CSP Logo' } %>

      <% end %>

      <button class="navbar-toggle" type="button"
              data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-cog"></i>
      </button>

    </div> <!-- /.navbar-header -->

    <%= render 'shared/flash' %>

    <nav class="collapse navbar-collapse" role="navigation">

      <%= render '/shared/mvp_admin_navbar_nav' %>

    </nav>
  </div> <!-- /.container -->
</header>