

    <a href="http://twitter.com/home?status=" title="Share on Twitter"
        target="_blank" class="btn btn-twitter">
      <i class="fa fa-twitter"></i> Twitter
    </a>&nbsp

    <a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary="
        title="Share on LinkedIn" target="_blank" class="btn btn-linkedin">
      <i class="fa fa-linkedin"></i> LinkedIn
    </a>&nbsp

    <a href="https://plus.google.com/share?url=" title="Share on Google+"
        target="_blank" class="btn btn-googleplus">
      <i class="fa fa-google-plus"></i> Google+
    </a>

