
<ul class='nav nav-tabs workflow-tabs mainnav-menu' role='tablist' style='border-bottom:0'>

  <% if ['alpha', 'beta', 'demo'].include? company.feature_flag %>
  <!--   <li id='pipeline-tab'
        style='margin-bottom: 0px; display:inline-block'
        data-title="This section is currently disabled">
      <a href='#pipeline' role='tab' aria-controls='pipeline'
          style='pointer-events:none' disabled>
        Pipeline
      </a>
    </li> -->
  <% else %>
    <li id='pipeline-tab' class="<%= workflow_tab == 'pipeline' ? 'active' : '' %>"
        role='presentation' style='margin-bottom: 0px'>
      <a href='#pipeline-panel' role='tab' data-toggle='tab' aria-controls='pipeline'
          data-turbolinks='false'>
        Pipeline
      </a>
    </li>
  <% end %>

  <li id='curate-tab' class="<%= workflow_tab == 'curate' ? 'active' : '' %>"
      role='presentation' style='margin-bottom: 0px'>
    <a href='#curate-panel' role='tab' data-toggle='tab' aria-controls='curate'
       data-turbolinks='false'>
      Curate
    </a>
  </li>

  <li id='promote-tab' class="<%= workflow_tab == 'promote' ? 'active' : '' %>"
      role='presentation' style='margin-bottom: 0px'>
    <a href='#promote-panel' role='tab' data-toggle='tab' aria-controls='promote'
        data-turbolinks='false'>
      Promote
    </a>
  </li>

  <% if production? && ['alpha', 'beta'].include?(company.feature_flag) %>
    <li id='measure-tab' class='tooltip-beta-measure'
        style='margin-bottom: 0px; display:inline-block'
        data-title="Coming soon">
      <a href='#measure-panel-disabled' role='tab' aria-controls='measure'
          style='pointer-events:none' disabled>
        Measure
      </a>
    </li>
  <% else %>
    <li id='measure-tab' class="<%= workflow_tab == 'measure' ? 'active' : '' %>"
        role='presentation' style='margin-bottom: 0px'>
      <a href='#measure-panel' role='tab' data-toggle='tab' aria-controls='measure'
          data-turbolinks='false'>
        Measure
      </a>
    </li>
  <% end %>

</ul>