
<div class="filters-container visible-xs-block <%= company.category_tags.blank? && company.product_tags.blank? ? '' : 'visible-sm-block' %>">

  <%= render('stories/shared/filters/search_form', { company: company }) %>

  <% if include_category_filter?(company) || include_product_filter?(company) %>

    <%= render(
          'stories/shared/filters/grouped_filters',
          {
            company: company,
            pre_selected_filters: pre_selected_filters,
            applied_filters_results: applied_filters_results,
            category_results: category_results,
            product_results: product_results
          }
        ) %>

  <% end %>

</div>