
<div class="filters-container row visible-xs-block">
  <div class="col-xs-12">

    <div class="form-group">

      <%= label_tag(:filter_select, "Filter", class: "control-label") %>
      <%= select_tag(:filter_select,
            grouped_options_for_select(
              company.stories_filter_public_grouped_options,
              [
                pre_selected_filters['category'].present? ? "c#{pre_selected_filters['category']}" : '',
                pre_selected_filters['product'].present? ? "p#{pre_selected_filters['product']}" : ''
              ].delete_if { |item| item.blank? }
            ),
            {
              include_blank: true,
              id: 'grouped-stories-filter',
              multiple: true,
              class: 'form-control',
              style: 'width: 100%'
            }
          ) %>

    </div>

  </div>
</div>