
<%= form_tag(search_stories_path, method: :GET, remote: true, class: 'stories-search-form', style: 'width: 100%') do %>

  <%= hidden_field_tag(:search, '') %>

  <div class="form-group" style="position: relative;">

<!--   <a href="javascript:;" style="position: absolute; padding: 6px 10px; top: 1px; right: 1px; font-size: 14px; color: #666; border-top-right-radius: 3px; border-bottom-right-radius: 3px;">
      <i class="fa fa-search fa-fw"></i>
    </a> -->

    <div class="input-group">
      <%= text_field_tag(nil, nil, class: 'stories-search form-control', type: 'search', placeholder: 'Search') %>
      <span class="input-group-btn">
        <!-- with hidden .clear-search, .submit search will need border radius added -->
        <!-- (easier to override bootstrap with inline styling) -->
        <button class="submit-search btn btn-default" type="button" style="border-top-right-radius: 4px; border-bottom-right-radius: 4px">
          <i class="fa fa-search fa-fw"></i>
        </button>
        <button class="clear-search btn btn-default" type="button">
          <i class="fa fa-remove fa-fw"></i>
        </button>
      </span>
    </div>

  </div>

  <span class="search-results pull-right"></span>

<% end %>

<hr>