
<%= form_tag(search_stories_path, method: :GET, remote: true, class: 'stories-search-form', style: 'width: 100%') do %>

  <%= hidden_field_tag(:search, '') %>

  <div class="form-group">

    <div class="input-group">
      <%= text_field_tag(nil, nil, class: 'stories-search form-control', type: 'search', placeholder: 'Search') %>
      <span class="input-group-btn">
        <!-- with hidden .clear-search, .submit search will need border radius added -->
        <!-- (easier to override bootstrap with inline styling) -->
        <button class="submit-search btn btn-default" type="button">
          <i class="fa fa-search fa-fw"></i>
        </button>
        <button class="clear-search btn btn-default" type="button">
          <i class="fa fa-remove fa-fw"></i>
        </button>
      </span>
    </div>

    <span class="search-results pull-right"></span>

  </div>


  <!-- <span class="search-results pull-right"></span> -->

<% end %>

<% if include_category_filter?(company) && include_product_filter?(company) %>
  <hr class="visible-md-block visible-lg-block">
<% end %>