
<section id='more-stories' style='visibility:hidden'>
  <header class='text-center' style="<%= widget.header_style(widget.tab_size, is_csp) %>">
    More Stories&nbsp;&nbsp;
    <i class='fa fa-chevron-up'></i><i class='fa fa-chevron-down'></i>
  </header>
  <div class='cs-drawer-content' style='border-top-color:<%= widget.tab_color %>'>
    <div class='cs-drawer-items'>
      <div class='cs-scroll-left'></div>
      <div class='cs-row cs-pagination-row text-center'>
      </div>
      <div class='cs-row row-horizon text-center'>

      <!-- the bootstrap styling starts to break down after 30 stories -->
      <% stories.first(30).each do |story|  %>

        <div class='col-xs-4 col-sm-3 col-md-2'>
          <a href="<%= story[:path] %>" class='cs-thumbnail'>
            <img src="<%= story[:logo] %>" alt=''>
          </a>
        </div>

      <% end %>

      </div>
      <div class='cs-scroll-right'></div>
    </div>
  </div>
</section>
