
<div class="cs-overlay-container">

  <%= render('stories/show/video_modal', { is_widget: true }) %>

  <div class="cs-main">

    <section class="cs-grid hidden">

      <% stories.each do |story| %>

        <%= render(
              'stories/shared/story_card',
              {
                story: story,
                is_curator: false,
                is_widget: true,
                is_external: true
              }
            ) %>

      <% end %>

    </section><!-- /grid -->

    <section class="cs-content">

      <div class="scroll-wrap">

        <% stories.each do |story| %>

          <div class="content__item">
          </div>

        <% end %>

      </div>

      <button class="hidden-xs close-button">

        <i class="fa fa-fw fa-times-thin fa-3x"></i>
        <!-- <span>Close</span> -->
      </button>

      <div class="visible-xs close-button-xs" style="position: absolute; top: 12px; right: 24px;">
        <span style="color: #888; font-size: 2.1em; z-index: 500; position: relative; cursor: pointer" class="fa-stack fa-5x">
          <i style="opacity: 0.5" class="fa fa-circle fa-stack-2x"></i>

          <i style="font-size: 1.5em; position: absolute; top: -5px; opacity: 1" class="fa fa-times-thin fa-inverse fa-stack-1x"></i>
        </span>
        <!-- <i style="color: white" class="fa fa-fw fa-times-thin fa-3x"></i> -->
      </div>

    </section><!-- /content -->

  </div><!-- /main -->

</div>