
<section class="cs-section" style="visibility:hidden">
  <div class="cs-container-fluid">

    <div class="cs-row">

      <div class="cs-scroll col-xs-2 col-sm-1">
        <div class="cs-scroll-left">
        </div>
      </div>

      <div class="cs-rh-container col-xs-8 col-sm-10">

        <!-- text-center in case not enough stories to fill carousel -->
        <div class="cs-row row-horizon text-center">

        <!-- the bootstrap styling starts to break down after 30 stories -->
        <% stories.first(20).each do |story|  %>

          <div class="col-xs-8 col-sm-5 col-md-3">

            <%= render(
                  'stories/shared/story_card',
                  {
                    company: company,
                    story: story,
                    is_curator: false,
                    is_widget: true,
                    is_external: true
                  }
                ) %>

<!--             <a href="<%#= story[:url] %>"
               class='cs-thumbnail <%#= story[:published] ? 'published' : (story[:preview_published] ? 'preview-published' : 'logo-published') %>'
               target="<%#= native ? '' : '_blank' %>">

              <div class="cs-thumbnail-view">
                <%# if story[:title].present? %>
                  <div class='cs-thumbnail-view-hover'>
                    <p><%#= story[:title] %></p>
                  </div>
                <%# end %>
                <img class='cs-img' src="<%#= story[:logo] %>" alt=''>
              </div>

              <div class="cs-caption">
                <span><%#= story[:customer].upcase %></span>
                <%# if story[:published] || story[:preview_published] %>
                  <span><%#= story[:published] ? 'READ STORY' : 'SEE MORE' %></span>
                <%# end %>
              </div>

            </a> -->

          </div>

        <% end %>

        </div>
      </div>

      <div class="cs-scroll col-xs-2 col-sm-1">
        <div class="cs-scroll-right">
        </div>
      </div>

      <div class="col-xs-12 cs-scroll-xs-container">
        <div class="cs-row">
          <div class="col-xs-2 cs-scroll-xs text-center">
            <div class="cs-scroll-xs-left"></div>
          </div>
          <div class="col-xs-8 cs-pagination-xs">
          </div>
          <div class="col-xs-2 cs-scroll-xs text-center">
            <div class="cs-scroll-xs-right"></div>
          </div>
        </div>
      </div>

    </div>

    <div class="cs-row cs-pagination">
    </div>

  </div>
</section>


