
<div class="ad ad--fancy1">

  <div class="ad--fancy1__landscape-image" style="background-image: url(<%= @image_url %>)">
 <!-- <div class="adfancy1__landscape-image" style="background-image: url('data:image;base64,<%#= @image_base64 %>')"> -->

  </div>


  <div class="ad--fancy1__content" style="background: <%= @image_dominant_color %>">
      <div>

      </div>


  </div>

</div>