.image-library__collection {
  margin-bottom: 0;

  .btn-group {
    width: 100%;
    // padding: 0; 
    // border-radius: 0;
  }
}

.popover.image-requirements {
  max-width: 500px;

  .popover-content {
    padding: 15px 20px;

    h4 {
      display: inline-block;
      margin-bottom: 10px;
    }

    ul {
      padding-left: 30px;
      margin-bottom: 15px;
    }
  }
}

ul:is([class*="image-library"]), 
ul:is([id*="ad-images"]) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;

  &[class*="all"] {
    margin-left: -15px;
    margin-right: -15px;
  }
}

// specificity needed?
.ad-image-card {
  display: inline-block;
  background-color: $light-gray;
  margin: 0 4px 4px;
  // box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 0 rgba(0,0,0,0.08);

  &.gads-default {
    margin: 0 8px 8px;
  }

  // .form-group {
    // don't show a new uploaded image that hasn't been validated;
    // ignore existing images as indicated by src attribute
    // &.has-feedback:not(.to-be-added) {
    // &.has-feedback {
    //   // .fileinput-preview img:not([src*="http"]) {
    //   img:not([src*="http"]) {
    //     visibility: hidden;  // show img only if valid
    //   }
    // }
  // }

  .btn-success {
    position: relative;

    .spinner {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      border-radius: $btn-border-radius-small;
      background-color: inherit;
      box-shadow: inherit;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &--saving button {
    pointer-events: none;
    
    &.btn-default {
      opacity: 0.65;
    }
    
    &.btn-success {
      background-color: #008f30;    // same as .btn-success:active:focus
      border-color: #008f30;

      .spinner {
        z-index: initial;
      }
    }
  }

  &--did-save .thumbnail {
    border-color: #0d9f40;
  }
}

.ad-image-card__header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  margin: 12px;

  button {
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.85);
    background-color: rgba(64, 64, 64, 0.5);
    padding: 6px;
    font-size: 16px;
    border-radius: 50%;

    &:hover {
      background-color: rgba(64, 64, 64, 0.75);
      color: #fff;
    }

    &.did-save {
      background-color: #dff0d8;
      border: 2px solid #0d9f40;
      pointer-events: none;
      padding: 4px;
      color: #0d9f40;
    }
  }

  .ad-image-card--new .form-group:not(.has-error) &,
  [class*="to-be-"] > &,
  .has-error > & .set-as-default,
  .gads-default > .has-error > & .btn-upload,
  .gads-default & .btn-remove,
  .ad-image-card--did-save & button:not(.did-save),
  .did-save {
    display: none;
  }

  .has-error > & .btn-remove {
    display: block;
    background-color: transparent;
    color: #a94442;
    margin: -5% -5% 0;

    &:hover {
      background-color: transparent;
      color: #690402;
    }
  }

  .ad-image-card--did-save & .did-save {
    // display: initial;
    display: revert;
  }
}

.ad-image-card__frame {
  .gads-image--square & {
    width: calc(150px + #{$thumbnail-padding + 2px});
    height: calc(150px + #{$thumbnail-padding + 2px});
  }

  .gads-logo--square & {
    width: calc(125px + #{$thumbnail-padding + 2px});
    height: calc(125px + #{$thumbnail-padding + 2px});
  }

  .gads-image--landscape & {
    width: 210px; // 244.5px;
  }

  // .gads-image--square &,
  // .gads-logo--square &,
  .gads-image--landscape & {
    height: calc(110px + #{$thumbnail-padding + 2px});
  }

  .gads-logo--landscape & {
    width: 248px;
    height: calc(62px + #{$thumbnail-padding + 6px});
  }

  .has-error > & .thumbnail {
    display: none;
  }

  .uploading-spinner {
    @include absolute-centered;
    display: none;
    font-size: 24px;
    z-index: 1;
  }

  .ad-image-card--new & img {
    display: none;
  }

  .ad-image-card--new .form-group:not(.has-error) & {
    .uploading-spinner {
      // display: initial;
      display: revert;
    }
  }
}

.ad-image-card__errors {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #a94442;
  padding: 30px;
  border: 1px solid #a94442;
  border-radius: $border-radius-base;

  .has-error & {
    display: flex;
  }

  i {
    font-size: 20px;
    margin-bottom: 8px;
  }

  div {
    text-align: center;
    font-size: 13px;
    margin-bottom: 0;
  }
  
  li {
    margin: 0
  }
}

.ad-image-card__footer {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  justify-content: center;
  background-color: rgba(75, 75, 75, 0.7);
  padding: 8px;
  border-bottom-left-radius: $thumbnail-border-radius;
  border-bottom-right-radius: $thumbnail-border-radius;

  button {
    border: none;
    margin: 0 3px;
    flex-grow: 0.5;
  }

  [class*="to-be-"] > & {
    display: flex;
  }

  .gads-image--square &,
  .gads-logo--square & {
    flex-direction: column;
    align-items: center;

    button:first-of-type {
      margin-bottom: 8px;
    }
  }
    
  .gads-image--square & button {
    width: 75%;
  }

  .gads-logo--square & button {
    width: 90%;
  }

  .to-be-default > & {
    .btn-danger {
      display: none;
    }
  }

  .to-be-removed > & {
    .btn-success {
      display: none;
    }
  }
}

#gads-form {
  padding-top: 15px;
  
  .short-headline {
    [class*="col-"] > div {
      display:flex;
      align-items:center;
      justify-content:space-between
    }
    
    button {
      width: 96px;
      margin-left: 15px;
    }
  }

  .thumbnail {
    width: 100%;
    height: 100%;
    padding: calc(#{$thumbnail-padding + 2px});
    transition: border 0s;
  }

  .fileinput, .fileinput-preview {
    position: relative;
    margin: 0;  // override jasny bootstrap
  }
}

.bootbox.modal.confirm-ad-image-removal {
  li {
    line-height: 1.7em;
  }
  .modal-content {
    overflow: hidden;  // so background color doesn't extend past border radius
  }
  .modal-header {
    background-color: #f2dede; //  #fcf8e3;
    border-color: #ebccd1; //  #faebcc;
    color: #a94442; //  #8a6d3b;
    font-size: 16px;
  }
  .modal-footer {
    background-color: #f9f9f9;
  }
  .modal-body {
    padding: 20px 15px;
  }
}