.image-library__collection {
  margin-bottom: 0;

  .btn-group {
    width: 100%;
  }
}

.popover.image-requirements {
  max-width: 500px;

  .popover-content {
    padding: 15px 20px;

    h4 {
      display: inline-block;
      margin-bottom: 10px;
    }

    ul {
      padding-left: 30px;
      margin-bottom: 15px;
    }
  }
}

ul:is([class*="image-library"]), 
ul:is([id*="ad-images"]) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;

  &[class*="all"] {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.image-card {
  position: relative;
  display: inline-block;
  margin: 0 4px 4px;

  &.gads-default {
    margin: 0 8px 8px;
  }

  &--uploading {
    @include spinner('sm');
    
    > .spinner {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &--uploading .fileinput-preview img,
  .fileinput-preview img[src*="data:image"],
  .has-error .fileinput-preview {
    display: none;
  }
}

.image-card__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  margin: 12px 10px;
  background-color: transparent;

  button {
    border: none;
    border-radius: 50%;
    padding: 6px;
    background: none;
    background-color: rgba(64, 64, 64, 0.5);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.85);

    &:hover {
      background-color: rgba(64, 64, 64, 0.75);
      color: #fff;
    }

    // &.did-save {
    //   background-color: $state-success-bg;
    //   border: 2px solid $state-success-text;
    //   pointer-events: none;
    //   padding: 4px;
    //   color: $state-success-text;
    // }
  }

  .image-card--uploading .form-group:not(.has-error) &,
  [class*="to-be-"] &,
  .has-error & button:not(:last-child),
  .gads-default & .btn-remove,
  :not(.gads-default) & .btn-remove:last-child {
    display: none;
  }

  .has-error & .btn-remove:last-child {
    display: block;
    margin: -5% -5% 0;
    background-color: transparent;
    color: $state-danger-text;

    &:hover {
      background-color: transparent;
      color: darken($state-danger-text, 10%);
    }
  }
}

.image-card__frame {
  .image-card--SquareImage & {
    width: calc(150px + #{$thumbnail-padding + 2px});
    height: calc(150px + #{$thumbnail-padding + 2px});
  }

  .image-card--SquareLogo & {
    width: calc(125px + #{$thumbnail-padding + 2px});
    height: calc(125px + #{$thumbnail-padding + 2px});
  }

  .image-card--LandscapeImage & {
    width: 210px; // 244.5px;
  }

  .image-card--LandscapeImage & {
    height: calc(110px + #{$thumbnail-padding + 2px});
  }

  .image-card--LandscapeLogo & {
    width: 248px;
    height: calc(62px + #{$thumbnail-padding + 6px});
  }
}

.image-card__errors {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  border: 1px solid $state-danger-text;
  border-radius: $border-radius-base;
  width: 100%;
  height: 100%;
  padding: 30px;
  background: #fff;
  color: $state-danger-text;

  .has-error & {
    display: flex;
  }

  i {
    font-size: 20px;
    margin-bottom: 8px;
  }

  div {
    text-align: center;
    font-size: 13px;
    margin-bottom: 0;
  }
  
  li {
    margin: 0
  }
}

.image-card__footer {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  display: none;
  padding: 8px;
  background-color: rgba(75, 75, 75, 0.7);
  border-bottom-left-radius: $thumbnail-border-radius;
  border-bottom-right-radius: $thumbnail-border-radius;

  button {
    margin: 0 3px;
    flex-grow: 0.5;
    border: none;
  }

  [class*="to-be-"] & {
    display: flex;
  }

  .image-card--SquareImage &,
  .image-card--SquareLogo & {
    flex-direction: column;
    align-items: center;

    button:first-of-type {
      margin-bottom: 8px;
    }
  }
    
  .image-card--SquareImage & button {
    width: 75%;
  }

  .image-card--SquareLogo & button {
    width: 90%;
  }

  .to-be-default > & {
    .btn-danger {
      display: none;
    }
  }

  .to-be-removed > & {
    .btn-success {
      display: none;
    }
  }
}

#gads-form {
  .short-headline {
    [class*="col-"] > div {
      @include flex-row-center-between;
    }
    
    button {
      width: 96px;
      margin-left: 15px;
    }
  }

  .thumbnail {
    width: 100%;
    height: 100%;
    padding: calc(#{$thumbnail-padding + 2px});
    transition: border 0s;
  }

  .fileinput, 
  .fileinput-preview {
    position: relative;
    margin: 0;  // override jasny bootstrap
  }
}

.bootbox.modal.confirm-ad-image-removal {
  li {
    line-height: 1.7em;
  }
  .modal-content {
    overflow: hidden;  // so background color doesn't extend past border radius
  }
  .modal-header {
    background-color: #f2dede; //  #fcf8e3;
    border-color: #ebccd1; //  #faebcc;
    color: #a94442; //  #8a6d3b;
    font-size: 16px;
  }
  .modal-footer {
    background-color: #f9f9f9;
  }
  .modal-body {
    padding: 20px 15px;
  }
}