.tooltip-inner.promoted-story-status {
  text-align: left;
  max-width: 175px;
}

#edit-adwords-ad-images-form {
  .btn-group {
    width: 75%;
  }

  .image-selections__collection {
    margin-bottom: 20px;
  }

  .ad-image-card {
    margin: 8px;
  }

  .gads-image--square .ad-image-card__frame {
    width: 105px;
    height: 105px;
  }

  .gads-image--landscape .ad-image-card__frame {
    width: 147px;
    height: 77px;
  }

  .gads-logo--square .ad-image-card__frame {
    width: 88px;
    height: 88px;
  }

  .gads-logo--landscape & {
    width: 174px;
    height: 43.5px;
  }

  .thumbnail {
    padding: 0;
    border: none;
  }

  img {
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08)
  }

  li {
    position: relative;

    .check {
      display: none;
      position: absolute;
      bottom: -10px;
      right: -10px;
      align-items: center;
      color: $brand-primary;
      font-size: 12px;
      padding: 4px;

      > div {
        position: relative;

        > div {
          position: absolute;
          top: 2px;
          left: 4px;
          height: 24px;
          width: 24px;
          background: #fff;
          border-radius: 14px;
        }
      }

      i {
        -webkit-text-stroke: 1px #fff;  // should match background color
      }
    }

    &.selected {
      .check {
        display: flex;
      }
    }
  }
}

#promoted-stories-table {
  @include row-hover-highlight;
  table-layout: fixed;

  td.promoted-story-title {
    position: relative;  // needed for click blocker

    &:not(.editor-is-open) {
      cursor: pointer;
    }

    &:not(.alert):not(.editor-is-open) {
      color: #07c;
    }

    &:not(.alert):not(.editor-is-open):hover {
      color: #3af;
    }

    textarea {
      width: 100%;
      margin-bottom: 8px;
    }

    .DTE_Form_Buttons {
      .help-block {
        display: inline-block;
        margin-top: 0;
        text-decoration: none;
      }

      .btn {
        float: right;
      }

      .btn:first-of-type {
        margin-left: 8px;  // matches td padding
      }

      .btn-success {
        width: 59px;
      }
    }

    &.form-is-clean {
      .DTE_Form_Buttons .btn-success {
        outline: none;

        &:active {
          background-color: #0095ff;  // disallow color change on click
        }
      }
    }

    &.alert {
      transition: background-color 0.25s ease;
      text-decoration: none;
      text-align: center;
      pointer-events: none;
      border-radius: 0;
    }
  }

  td.status {
    position: relative;
    padding: 8px;

    form.ads-status {
      margin-bottom: -4px;
      &[data-submitted="true"] {
        pointer-events: none;
        // cursor: not-allowed;
      }
    }

    .bootstrap-switch {
      background: #fff;
      margin-bottom: 5px;

      .bootstrap-switch-handle-on.bootstrap-switch-primary, 
      .bootstrap-switch-handle-off.bootstrap-switch-default {
        color: #666;
      }
    }
  }

  td.flash {
    display: none;
    border-right-width: 0;
    border-radius: 0;
    padding: 0;
    // pointer-events: none;

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      border-radius: 0;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.25s ease;

      &.alert {
        visibility: visible;
        opacity: 1;
        margin: 0;
        border: none;
      }
    }
  }

  .click-blocker {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
  }

  &[data-promote-tr="false"] {
    td.status .click-blocker {
      display: revert;
    }
  }

  tr[data-submitted="true"] {
    .click-blocker {
      display: revert;
    }

    td.promoted-story-title {
      cursor: initial;
    }
  }
}

// other tables have an info section that normally creates some space here
// #promoted-stories-table_wrapper > .dataTables_paginate {
//   margin-top: 35px;
// }

// #select2-ads-preview-select-results li {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }