@import 'promoted_stories_table';
@import 'gads_form';

#gads-set-reset {
  margin: 20px 0;

  button {
    width: 150px;
  }
}

#gads-checklist, 
#gads-results {
  padding-left: 20px;
  font-size: 12px;
  margin-bottom: 15px;

  li {
    margin-bottom: 5px;
  }

  li.checked, 
  li.success {
    color: #3c763d;
  }

  li.unchecked, 
  li.errors {
      color: #a94442;
  }

  p {
    margin-bottom: 0;
  }
}

#gads-results__wrapper {
  display: none;
}

#promote {
  .enable-promote-type {
    margin-top: 1px;  // line up with Promoted Stories text-align: left;

    label {
      margin-right: 30px;
    }

    label.checkbox-inline {
      margin-right: 15px;
      margin-bottom: 4px;
    }
  }
}