
#story-content {

  #story-content-form {

    .form-group {
      margin-bottom: 20px
    }
    .form-group.video {
      margin-bottom: 15px;
    }
    #story_quote {
      font-style: italic;
    }
    #story_quote::-webkit-input-placeholder {
      font-style: normal;
    }

    #video-container {
      min-height: 234px;
      img#video-placeholder {
        width: 100%;
      }
    }

    .note-editor {
      border-color: #ccc;
    }


  }


}

