
#story-content {

  #story-content-form {

    .form-group {
      margin-bottom: 20px
    }
    .form-group.video {
      margin-bottom: 15px;
    }
    #story_quote {
      font-style: italic;
    }
    #story_quote::-webkit-input-placeholder {
      font-style: normal;
    }

    #video-container {
      min-height: 234px;
      img#video-placeholder {
        width: 100%;
      }
    }

    .note-editor {
      border-color: #ccc;
    }



  }  
}

#show-contributions {
  background-color: $medium-gray;

  strong {
    font-weight: 600;
  }

  > div {    // need an inner div to allow for padding (which will screw up the div.collapse)
    padding: 15px;

    .btn-group {
      margin-bottom: 15px;

      label:first-child {
        margin-right: 25px;

        &:not(:first-of-type) {
          margin-bottom: 3px;
        }
      }
    }

    .questions,
    .contributors {
      overflow-y: scroll;
      padding: 6px;
      background-color: $light-gray;
      max-height: 200px;

      figcaption,
      p {
        margin-bottom: 5px;
      }
    }
  }
}