// @import 'contributions';

#story-narrative-content {
  [id*="story-narrative"] + .note-editor {
    // .modal.link-dialog {
    // }

    // note that the .image-dialog class must be assigned on summernote init
    .modal.image-dialog {
      .modal-body {
        padding-top: 25px;
      }

      .form-group.note-group-select-from-files {
        label {
          padding: 6px 12px;
          border: 1px solid #ccc;
          border-radius: 4px;
          cursor: pointer;

          &:hover {
            background-color: $blueish-gray-lighter;
          }
        }
      }
      
      .or {
        text-align: center;

        h5 {
          position: relative;
          width: 40%;
          margin: 20px auto;
          color: #555;
          
          &::before {
            position: absolute;
            top: 50%;
            display: block;
            z-index: 1;
            height: 1px;
            width: 100%;
            border-top: solid 1px #ccc;
            content: "";
          }
          
          span {
            background: #fff;
            padding: 0 20px;
            position: relative;
            z-index: 5;
          }
        }
      }

      .note-image-btn {
        padding: 6px 24px;
      }
    }
  }
}

#show-contributions {
  background-color: $blueish-gray-lighter;

  strong {
    font-weight: 600;
  }

  > div {    // need an inner div to allow for padding (which will screw up the div.collapse)
    padding: 15px;

    .btn-group {
      margin-bottom: 15px;

      label:first-child {
        margin-right: 25px;

        &:not(:first-of-type) {
          margin-bottom: 3px;
        }
      }
    }

    .questions,
    .contributors {
      overflow-y: scroll;
      padding: 6px;
      background-color: $light-gray;
      max-height: 200px;

      figcaption,
      p {
        margin-bottom: 5px;
      }
    }
  }
}

#story-supporting-content {
  @import 'results';

  #story_quote {
    font-style: italic;
  }

  #story_quote::-webkit-input-placeholder {
    font-style: normal;
  }

  #video-container {
    min-height: 234px;

    img#video-placeholder {
      width: 100%;
    }
  }
}

#story-settings {
  // this prevents content shifting when toggling the customer logo/name
  // TODO this (or something like it) needs to be implemented more broadly
  min-height: 100vh;
}

// #story-narrative-content-form,
// #story-settings-form  {
  // @include horizontal-form; 
// }

#story-settings-form {
  // @include hide-until-init;

  .hidden-link button {
    color: #666;
  
    &:hover {
      color: #222;
  
      &.disabled {
        color: #666;
      }
    }
  
    &:focus.disabled,
    &:active.disabled {
      outline: none;
    }
  }
}

// need specificity to override .form-group rules
#story-settings-form .og-tags {
  margin-bottom: 25px;
  .form-group {
    margin-bottom: 15px;
    
    label {
      font-weight: 400;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.og-tags__background {
  background-color: $blueish-gray-lighter;
  padding: 15px;
}

.og-image.form-group {
  > [class*="col-"] {
    // width: calc(210px + 30px);  // 210 + padding
    // height: calc(115px + 30px);  // 115 + height of label and upload button
    padding: 0;
  }
}

.og-image.fileinput,
.og-image .fileinput-preview {
  margin: 0;  // override jasny bootstrap
}

.og-image__header {
  @include flex-row-center-between;
  
  label {
    margin-bottom: 0;
  } 

  button {
    font-size: 13px; 
    padding: 5px; 
    color: #666;

    &:hover, 
    &:active {
      color: #222;
    }
  }
}

.og-image__frame {
  // position: relative;
  width: 210px;
  height: 117px;

  .has-error & .thumbnail {
    display: none;
  }

  // .uploading-spinner {
  //   @include absolute-centered;
  //   display: none;
  //   font-size: 24px;
  //   z-index: 1;
  // }
  
  .thumbnail {
    width: 100%;
    height: 100%;
  }
  
  .og-image.has-error & .og-image__thumbnail {
    border-color: #a94442;
  }
}

.og-image__errors {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #a94442;
  padding: 30px;
  border: 1px solid #a94442;
  border-radius: $border-radius-base;

  .has-error & {
    display: flex;
  }

  i {
    font-size: 20px;
    margin-bottom: 8px;
  }

  div {
    text-align: center;
    font-size: 13px;
    margin-bottom: 0;
  }
  
  ul, li {
    margin: 0
  }
}

.story-settings__publish {
  .visible-sm-block,
  .visible-md-block {
    > div {
      display: flex;
      justify-content: space-around;

      [data-controller*="bootstrap-switch"] {
        @include flex-row-center;

        label {
          margin: 0 10px 0 0;
          font-weight: normal;
        }
      }
    }
  }
}

