#story-settings {
  // this prevents content shifting when toggling the customer logo/name
  // TODO this (or something like it) needs to be implemented more broadly
  min-height: 100vh;
}

// #story-narrative-content-form,
// #story-settings-form  {
  // @include horizontal-form; 
// }

#story-settings-form {
  // @include hide-until-init;

  .hidden-link button {
    color: #666;
  
    &:hover {
      color: #222;
  
      &.disabled {
        color: #666;
      }
    }
  
    &:focus.disabled,
    &:active.disabled {
      outline: none;
    }
  }
}

// need specificity to override .form-group rules
#story-settings-form .og-tags {
  margin-bottom: 25px;
  .form-group {
    margin-bottom: 15px;
    
    label {
      font-weight: 400;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.og-tags__background {
  background-color: #efefef;
  padding: 15px;
}

.og-image.form-group {
  > [class*="col-"] {
    // width: calc(210px + 30px);  // 210 + padding
    // height: calc(115px + 30px);  // 115 + height of label and upload button
    padding: 0;
  }
}

.og-image.fileinput,
.og-image .fileinput-preview {
  margin: 0;  // override jasny bootstrap
}

.og-image__header {
  @include flex-row-center-between;
  
  label {
    margin-bottom: 0;
  } 

  button {
    font-size: 13px; 
    padding: 5px; 
    color: #666;

    &:hover, 
    &:active {
      color: #222;
    }
  }
}

.og-image__frame {
  // position: relative;
  width: 210px;
  height: 117px;

  .has-error & .thumbnail {
    display: none;
  }

  // .uploading-spinner {
  //   @include absolute-centered;
  //   display: none;
  //   font-size: 24px;
  //   z-index: 1;
  // }
  
  .thumbnail {
    width: 100%;
    height: 100%;
  }
  
  .og-image.has-error & .og-image__thumbnail {
    border-color: #a94442;
  }
}

.og-image__errors {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #a94442;
  padding: 30px;
  border: 1px solid #a94442;
  border-radius: $border-radius-base;

  .has-error & {
    display: flex;
  }

  i {
    font-size: 20px;
    margin-bottom: 8px;
  }

  div {
    text-align: center;
    font-size: 13px;
    margin-bottom: 0;
  }
  
  ul, li {
    margin: 0
  }
}

.story-settings__publish {
  .visible-sm-block,
  .visible-md-block {
    > div {
      display: flex;
      justify-content: space-around;

      [data-controller*="bootstrap-switch"] {
        @include flex-row-center;

        label {
          margin: 0 10px 0 0;
          font-weight: normal;
        }
      }
    }
  }
}

body.stories.edit {
  @import 'content';
  @import 'contributions';
  @import 'results';

  .story-header__wrapper {
    position: relative;
    height: 100px;
    margin-bottom: 30px;
  }

  .story-header__spacekeeper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
  }

  .story-header {
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $medium-gray;
    padding: 15px 25px;
    z-index: 100;  // needed for fixed positioning (see stories/edit.js)

    > div:not(.story-header__flash) {
      display: flex;
      align-items: center;

      &:first-child {
        margin-bottom: 5px;
      }

      label {
        margin: 0;
      }

      > span:nth-of-type(1) {
        width: 10%;
      }

      > span:nth-of-type(2) {
        font-size: 16px;
        color: #555;
        width: 75%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 15px;
      }

      > span:nth-of-type(3) {
        width: 15%;
      }
    }
  }

  .story-header__flash {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.25s ease;
    font-size: 14px;

    &.alert {
      visibility: visible;
      opacity: 1;
      margin: 0;

      .fa-ul {
        margin: 0;

        p {
          display: inline-block;
          margin: 0;
        }
      }
    }

    &.alert.promote-enabled {
      .fa-ul li:first-child p {
        margin-bottom: 10px;
      }
    }

    &.alert:not(.promote-enabled) {
      .fa-ul li:nth-of-type(2) {
        display: none;
      }
    }
  }
}
