
.og-image-upload.form-group {
  margin-bottom: 15px;
  > [class*="col-"] {
    width: calc(210px + 30px);  // 210 + padding
    height: calc(115px + 30px);  // 115 + height of label and upload button
  }
}

// specificity (nesting) needed to override jasny / bootstrap
.og-image-upload__fileinput {
  margin-bottom: 0;
  .og-image-upload__thumbnail {
    width: 210px;
    height: 117px;
    padding: 6px;
    border: 1px solid #ccc; 
    margin-bottom: 0;
  }
  .og-image-upload.has-error & .og-image-upload__thumbnail {
    border-color: #a94442;
  }
}

.og-image-upload__errors {
  .og-image-upload.has-error & {
    display: initial;
  }
  display: none; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  height: 100%; 
  width: 100%;
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #a94442;
    i {
      font-size: 20px;
      margin-bottom: 8px;
    }
    span {
      text-align: center;
      font-size: 13px;
      margin: 0;
    }
  }
}

.og-image-upload__button {
  font-size: 13px; 
  background: none; 
  box-shadow: none; 
  padding: 5px; 
  color: #666;
  &:hover, &:active {
    box-shadow: none;
    color: #222;
  }
}



// #edit-story view may be loaded synchronously under stories#edit
// or asynchronously under companies#show
.stories.edit #edit-story, .companies.show #edit-story {

  @import 'settings';
  @import 'content';
  @import 'contributions';
  @import 'results';

  #story-header__wrapper {
    position: relative;
    height: 100px;
    margin-bottom: 25px;
  }
  #story-header__spacekeeper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
  }
  #story-header {

    // #test {
    //   flex: 0 0 100%;
    //   z-index: -100;
    // }
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #efefef;
    padding: 15px 25px;
    z-index: 100;  // needed for fixed positioning (see stories/edit.js)
    > div:not(#story-header__flash) {
      display: flex;
      align-items: center;
      &:first-child {
        margin-bottom: 5px;
      }
      label {
        margin: 0;
      }
      > span:nth-of-type(1) {
        width: 10%;
      }
      > span:nth-of-type(2) {
        font-size: 16px;
        color: #666;
        width: 75%;
      }
      > span:nth-of-type(3) {
        width: 15%;
      }
    }
  }

  #story-header__flash {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.25s ease;
    font-size: 14px;
    &.alert {
      visibility: visible;
      opacity: 1;
      margin: 0;
      .fa-ul {
        margin: 0;
        p {
          display: inline-block;
          margin: 0;
        }
      }
    }
    &.alert.promote-enabled {
      .fa-ul li:first-child p {
        margin-bottom: 10px;
      }
    }
    &.alert:not(.promote-enabled) {
      .fa-ul li:nth-of-type(2) {
        display: none;
      }
    }
  }

}
