
// these settings mirror crowdsourcing templates / contributor questions
.success-results {
  position: relative;
  .row {
    margin: 0;
    background: #efefef;
  }

  label {
    // margin-left: -15px;
  }
  label + span {
    position: absolute;
    top: -18px;
    right: 15px;
    color: #666;  // #6685a4;
    i:first-child {
      font-size: 30px;
      top: 6px;
    }
    i:last-child {
      font-size: 15px;
      top: 5px;
    }
  }
  label + span:hover {
    color: #222; //#516c87;
    cursor: pointer;
  }
  li.success-result {
    div[class*='col-']:first-child {
      padding: 0 10px;
    }
    div[class*='col-']:last-child:not(.save-or-cancel) {
      padding: 0;
    }
    .row:hover {
      background: #e5e5e5;
    }
    p, textarea {
      margin: 10px 0;
    }
    i.fa-remove {
      margin-top: 10px;
      font-size: 20px;
      color: #666;
    }
    i.fa-remove:hover {
      color: #222;
      cursor: pointer;
    }
  }
  li.success-result.to-be-removed {
    .row {
      background-color: #f2dede;
    }
    .row:first-of-type {
      border-top: 1px solid #ebccd1;
    }
    .row:last-of-type {
      border-bottom: 1px solid #ebccd1;
    }
    .save-or-cancel {
      color: #a94442;
      margin-bottom: 10px;
    }
  }
  li.success-result.new-result {
    .row {
      background-color: #dff0d8;
      border-color: #d6e9c6;
      div[class*='col-'] {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .row:first-of-type {
      border-top: 1px solid #d6e9c6;
    }
    .row:last-of-type {
      border-bottom: 1px solid #d6e9c6;;
    }
    .save-or-cancel {
      color: #3c763d;
      margin-bottom: 10px;
    }
  }
  // prevent double borders on adjacent questions
  li.success-result.to-be-removed + input + li.success-result.to-be-removed,
  li.success-result.new-question + li.success-result.new-question {
    .row:first-of-type {
      border-top: 0;
    }
  }
  .cancel {
    cursor: pointer;
  }
}