
#story-settings {

  // this prevents content shifting when toggling the customer logo/name
  // TODO this (or something like it) needs to be implemented more broadly
  min-height: 100vh;

  .form-group.tags {
    // margin-bottom: 15px;
  }

  #publish-control {
    margin-bottom: 28px;
    .form-group {
      position: relative;
      margin: 0;
      label {
        margin-bottom: 6px;
      }
      .bootstrap-switch {
          // position: absolute;
          // left: 50%;
          // right: 50%;
          // transform: translate(-50%, -50%);
          // bottom: -45px;
      }
    }
    .form-group:nth-of-type(2) {
      margin: 0 40px;
    }
    #approval-pdf {
      position: absolute;
      left: 15px;
      bottom: -23px;
    }
  }

  .fileinput.customer-logo {
    position: relative;
    width: 100%;
    padding: 36px;
    .checkbox-inline {
      position: absolute;
      top: 8px;
      left: 12px;
    }
    .thumbnail {
      padding: 20px 0;
      width: 100%;
      img {
        max-height: 65px;
        max-width: 50%;
      }
      .customer-name {
        color: #666;
        font-size: 16px;
        margin-top: 20px;
      }
    }
    div.image-requirements {
      margin-bottom: 10px;
    }
    .change-image {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      font-size: 18px;
      color: #666;
      cursor: pointer;
      &:hover {
        color: #222;
      }
    }
    .change-image:hover {
    }
    .thumbnail {
      // margin: 0;
    }
    .help-block {
      margin: 6px 0;
    }
  }
}