
#story-settings {

  // this prevents content shifting when toggling the customer logo/name
  // TODO this (or something like it) needs to be implemented more broadly
  min-height: 100vh;

  #story-settings-form {
    .col-sm-3 {
      width: 20%;
    }
    .col-sm-7 {
      width: 60%;
    }
    .col-sm-7.col-sm-offset-3 {
      margin-left: 20%;
    }
    .col-sm-2 {
      width: 20%;
    }
    hr {
      margin-bottom: 25px;
    }
  }

  .form-group.publish {
    .publish-control {
      display: inline-block;
      margin-right: 20px;
      label {
        vertical-align: middle;
        font-weight: normal;
        margin: 0 5px 0 0;
      }
      .bootstrap-switch .bootstrap-switch-handle-on {
        background: #449d44;
      }
    }
    #approval-pdf {
      position: absolute;
      left: 15px;
      bottom: -23px;
    }
  }

}