
#company-nav.unregistered {
  #workflow-tabs {
    pointer-events: none;
    opacity: 0.5;
  }
}

// example of bolding items without affecting spacing: http://jsfiddle.net/85LbG/
#company-nav {
  position: relative;
  height: 48px;
  margin-bottom: 40px;
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
  // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 1px -1px rgba(0, 0, 0, 0.08);
  .row {
    height: 48px;
    display: flex;
    align-items: center;
  }

  li {
    position: relative;
  }

  #workflow-tabs {
    margin-bottom: 0;
    font-size: 16px;
    li.active {
      a {
        color: #d74b4b;  // #4885ed;
        font-weight: bold;
        border: transparent;
        border-bottom: 1px solid #d74b4b;  // #4885ed;
      }
      a:hover, a:focus {
        color: #d74b4b;  // #4885ed;
        border-bottom: 1px solid #d74b4b;  // #4885ed;
      }
    }
    li {
      a {
        text-decoration: none;
        // display: block;
        background-color: #ffffff;
        margin: 0;
        font-family: 'Lato';
        color: #666;
        font-weight: 400;
        padding: 12px 12px;
        letter-spacing: normal;
        border: 0;  // overrides bootstrap
      }
      a:hover, a:focus {
        background-color: #ffffff;
        color: #222;
        // font-weight: bold;
        border-color: transparent;
      }
    }
  }
  #company-nav-dropdowns {
    margin: 0;
    border-bottom: 1px solid transparent;
    a.dropdown-toggle {
      // height: 46px;
      padding: 12px 14px;
    }
    li.dropdown.active, li.dropdown.active.open {
      > a {
        color: #d74b4b;  // #4885ed;
        border-bottom: 1px solid #d74b4b;  // #4885ed;
      }
      > a:hover, a:focus {
        color: #d74b4b
      }
    }
    li.dropdown.open {
      > a {
        color: #222;
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
        border-bottom: 1px solid #d74b4b;  // #4885ed;
      }
      a:hover, a:focus {
        color: #222;
    //     border-bottom: 1px solid #4885ed;
      }
      // remove the caret from dropdown
      .dropdown-menu::after, .dropdown-menu::before {
        display:none;
      }
    }
    li.dropdown {
      a {
        // position: relative;
        // display: block;
        // background-color: #ffffff;
        // margin: 0;
        border: 0;  // overrides bootstrap
      }
      a:hover, a:focus {
        background-color: #ffffff;
        color: #222;
        // border-color: transparent;
      }
      .dropdown-menu {
        top: 104%;
        border-color: #f2f2f2;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        li {
          a {
            font-size: 13px;
            padding: 6px 12px;
            border-radius: 4px;
          }
          a:hover, a:focus {
            background-color: #f2f2f2;
          }
        }
      }
    }
    li.dropdown:hover, li.dropdown:focus {
      background-color: #fff;
    }

  }
}

// #company-nav:after {
//   content: '';
//   position: absolute;
//   top: 100%;
//   z-index: -1;
//   width: 100%;
//   height: 90px;
//   margin-top: -40px;
//   background-image: linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
//   background-repeat: repeat-x;
// }