
.navbar.landing {

  .navbar-brand {
    img {
      max-height: 100%
    }
  }

  .navbar-right .navbar-brand {
    padding-left: 26px;
    line-height: 20px;          // for centering image vertically (matches font of adjacent items)
    img {
      display: inline-block;    // for centering image vertically
      vertical-align: middle;   // for centering image vertically
      margin: auto;             // for centering image vertically
    }
  }

}