
<ul class="nav nav-layout-sidebar nav-stacked">

  <li class="active">
    <a href="#profile-tab" data-toggle="tab">
    <i class="fa fa-user"></i>
    &nbsp;&nbsp;Profile
    </a>
  </li>

  <li>
    <a href="#password-tab" data-toggle="tab">
    <i class="fa fa-lock"></i>
    &nbsp;&nbsp;Change Password
    </a>
  </li>

  <!-- don't allow access to Contributions tab until connect to LinkedIn -->
  <% if current_user.linkedin_url.present? %>
    <li>
      <a href="#my-contributions-tab" data-toggle="tab">
        <i class="fa fa-users"></i>&nbsp;&nbsp;
        Contributions
      </a>
    </li>
  <% else %>
    <li>
      <a href="javascript:;" data-toggle="tab">
        <i class="fa fa-users"></i>&nbsp;&nbsp;
        Contributions
      </a>
    </li>
  <% end %>

  <!-- <li>
    <a href="javascript:;" data-toggle="tab">
    <i class="fa fa-bullhorn"></i>
    &nbsp;&nbsp;Notifications
    </a>
  </li> -->

</ul>