@media (min-width: 768px) {
  .modal-dialog:has(turbo-frame#new-company-cta) {
    width: 510px;

    .modal-body {
      padding-right: 32px;
    }
  }
}

@mixin custom-button-demo {
  @include flex-row-center-center;
  height: $company-header-height;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  button {
    min-width: 96px;
    min-height: ($font-size-large * $line-height-large) + (2 * $padding-large-vertical) + 2px; // 2px for border
  }
}

.cta__custom-button {
  .help-block {
    margin-bottom: 0;
  }

  &--new {
    @extend .cta__custom-button;

    > .row {
      > div > div:first-child {
        @include flex-row-center-between;
        margin-bottom: $form-group-margin-bottom;
      }
  
      > div > div:last-child {
        @include custom-button-demo;
      }
  
      input {
        max-width: 42%;
      }
    }
  }

  &--edit {
    @extend .cta__custom-button;

    > div {
      > div:first-child {
        @include flex-row-center-between;
        margin-bottom: $form-group-margin-bottom;
    
        label {
          &[for*="background"] {
            margin-right: 0.75em;
          }
  
          &[for*="text"] {
            margin: 0 1em;
          }
        }
    
        > div {
          @include flex-row-center;
          flex-grow: 1;
        }
      }
      
      > div:last-child {
        @include custom-button-demo
      }
    }
  }
}

#cta-links-forms-panel {
  .list-group {
    position: relative;
    top: ($padding-base-vertical + 1) * -1; // this matches the padding-top on the control label (see _forms.scss)
  }

  .list-group-item {
    $btn-sides: 2.5em;
    $icon-font-size: 1.25em;
    
    position: relative;
    display: flex;
    align-items: center;
    min-height: 49px;   // height when hovered
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    transition: background-color 0.15s ease-in-out;
    
    i.fa-arrows-v,
    button {
      display: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    
    i {
      font-size: $icon-font-size;
      
      &.fa-arrows-v {
        left: 0.75rem;
      }
    }

    p {
      margin-bottom: 0;
    }
    
    button {
      right: 0.5rem;
      width: $btn-sides;
      height: $btn-sides;
      background: transparent;
      padding: 0;
    }

    &.ui-sortable-handle:hover {
      padding-left: 2.75em;
    }
    
    &:hover,
    &[aria-expanded="true"] {
      background: $light-blue;
      padding-right: 3.5em; 
    }

    &:hover:not([aria-expanded="true"]) button:has(i.fa-chevron-down),
    &[aria-expanded="true"] button:has(i.fa-chevron-up),
    &:hover.ui-sortable-handle .fa-arrows-v {
      display: inline-block;
    } 

    &--empty {
      @extend .list-group-item;

      background: transparent;
      border: none;
      pointer-events: none;
    }

    &:nth-last-child(2) {
      border-bottom-right-radius: $border-radius-base;
      border-bottom-left-radius: $border-radius-base;
    }
  }
  
  .collapse {
    position: relative;

    form:not(.button_to){
      margin-bottom: 1.5rem;
      padding: 1.5rem;
      background: $blueish-gray-lighter;
      border: 1px solid $list-group-border;
      border-top: none;
      
      border-bottom-right-radius: $border-radius-base;
      border-bottom-left-radius: $border-radius-base;

      hr {
        margin: 1.5rem 0;
      }
    }

    &.in + .list-group-item {
      border-top-right-radius: $border-radius-base;
      border-top-left-radius: $border-radius-base;
    }
  }
}