#cta-links-forms-panel {
  
  .list-group-item {
    $btn-sides: 2.5em;
    $icon-font-size: 1.25em;
    
    position: relative;
    display: flex;
    align-items: center;
    min-height: 49px;   // height when hovered
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    transition: background-color 0.15s ease-in-out;
    
    i.fa-arrows-v,
    button {
      display: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    
    i {
      font-size: $icon-font-size;
      
      &.fa-arrows-v {
        left: 0.75rem;
      }
    }

    p {
      margin-bottom: 0;
    }
    
    button {
      right: 0.5rem;
      width: $btn-sides;
      height: $btn-sides;
      background: transparent;
      padding: 0;
    }

    
    &.ui-sortable-handle:hover {
      padding-left: 2.75em;
    }
    
    &:hover,
    &[aria-expanded="true"] {
      background: $light-blue;
      padding-right: 3.5em; 
    }

    &:hover:not([aria-expanded="true"]) button:has(i.fa-chevron-down),
    &[aria-expanded="true"] button:has(i.fa-chevron-up),
    &:hover.ui-sortable-handle .fa-arrows-v {
      display: inline-block;
    } 
  }
  
  .collapse form {
    border-right: 1px solid $list-group-border;
    border-left: 1px solid $list-group-border;
    background: $medium-gray;
    padding: 1.5rem;

    > div:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }
}

.companies.edit {

  #call-to-action-panel {

    #new-cta-modal {
      .modal-body {
        padding: 20px 15px 0 15px;
      }
    }

    #new-cta-form {
      label {
        padding-right: 5px;
      }
      .form-group {
        .radio-inline {
          margin-right: 15px;
        }
        .col-sm-3 {
          width: 18%;
        }
        .col-sm-9 {
          width: 82%;
        }
        .col-sm-offset-3.col-sm-9 {
          margin-left: 18%;
        }
        &.cta-form {
          display: none;
        }
        .checkbox {
          padding-top: 0;
        }
      }
    }
    // [data-target="#new-cta-modal"] {
    //   cursor: pointer;
    //   color: #666;
    //   i {
    //     // TODO: Font Awesome 5 has font variants that allow different weights
    //     -webkit-text-stroke: 1px #efefef;
    //   }
    //   &:hover {
    //     color: #222;
    //   }
    // }
    .form-horizontal.cta-list {
      #new-cta-button {
        margin: 0 0 20px 0;
      }
      > .control-label {
        padding-top: 15px;
      }
      #primary-cta, #secondary-ctas {
        // width: 500px;
        &#primary-cta {
          #primary-cta-colors {
            div.col-sm-4:first-of-type {
              padding-right: 0;
            }
            div.col-sm-4:last-of-type {
              padding-left: 0;
            }
          }
        }
      }
      .list-group-item {
        background: #efefef;
        padding: 15px;  // overrides bootstrap 10px 15px
        .cta-description {
          cursor: pointer;
          position: relative;
          // padding-right: 30px;
          margin: -15px -15px -15px -15px;  // expand clickable area for .collapse
          padding: 15px 45px 15px 15px;
          span {
            padding: 0 6px;
            line-height: 1.6;
          }
          a.remove {
            position: absolute;
            top: 5px;  // -10 + 15  (account for negative margins above)
            right: 5px;  // -10 + 15
            font-size: 16px;
            color: #666;
            padding: 8px;
            &:hover {
              color: #222;
            }
          }
        }
        .collapse.edit-cta {
          // note the inline styles that are necessary for preventing jerky collapse
          cursor: auto;
        }
        &:hover, &.open {
          background-color: #e5e5e5;
        }
        .checkbox {
          margin-bottom: 10px;
        }
      }
    }

  }

}