@mixin demo-button {
  @include flex-row-center-center;
  height: $company-header-height;

  button {
    min-width: 96px;
    min-height: ($font-size-large * $line-height-large) + (2 * $padding-large-vertical) + 2px; // 2px for border
  }
}

.cta__custom-button {
  &--new {
    > div > div:first-child {
      @include flex-row-center-between;
    }

    > div > div:last-child {
      @include demo-button;
    }

    input {
      max-width: 47%;
    }
  }

  &--edit {
    > div:first-child {
      @include flex-row-center-between;
  
      > label {
        margin-right: 0.75em;
      }
  
      > div {
        @include flex-row-center;
        flex-grow: 1;
      }
    }
    
    > div:last-child {
      @include demo-button
    }
  }
}

#cta-links-forms-panel {
  .list-group-item {
    $btn-sides: 2.5em;
    $icon-font-size: 1.25em;
    
    position: relative;
    display: flex;
    align-items: center;
    min-height: 49px;   // height when hovered
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    transition: background-color 0.15s ease-in-out;
    
    i.fa-arrows-v,
    button {
      display: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    
    i {
      font-size: $icon-font-size;
      
      &.fa-arrows-v {
        left: 0.75rem;
      }
    }

    p {
      margin-bottom: 0;
    }
    
    button {
      right: 0.5rem;
      width: $btn-sides;
      height: $btn-sides;
      background: transparent;
      padding: 0;
    }

    &.ui-sortable-handle:hover {
      padding-left: 2.75em;
    }
    
    &:hover,
    &[aria-expanded="true"] {
      background: $light-blue;
      padding-right: 3.5em; 
    }

    &:hover:not([aria-expanded="true"]) button:has(i.fa-chevron-down),
    &[aria-expanded="true"] button:has(i.fa-chevron-up),
    &:hover.ui-sortable-handle .fa-arrows-v {
      display: inline-block;
    } 
  }
  
  .collapse {
    position: relative;

    form:not(.button_to) {
      border-right: 1px solid $list-group-border;
      border-left: 1px solid $list-group-border;
      background: $medium-gray;
      padding: 1.5rem;

      hr {
        margin: 0;
      }
  
      > div:not(.cta__custom-button):not(:last-child),
      > hr {
        margin-bottom: 1em;
      }
    }

    form.button_to input[type="submit"]{
      position: absolute;
      left: 1.5rem;
      bottom: 1.5rem;
    }
  }
}