.invitation-template__toolbar {
  @include flex-row-center-between;

  .ts-wrapper {
    width: auto;
    flex-grow: 1;
  }

  > :last-child {
    margin-left: 1rem;
  }
}

.bootbox.modal.confirm-restore {
  .modal-content {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    overflow: hidden;  // so background color doesn't extend past border radius
  }
  .modal-body, .modal-footer {
    color: #333;
    background-color: #fff;
  }
  .modal-body {
    // font-size: 16px !important;
  }
}

.bootbox.modal.confirm-unsaved-changes {
  .modal-content {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
    overflow: hidden;  // so background color doesn't extend past border radius
  }

  .modal-footer {
    background-color: #fff;
  }

  .modal-body {
    font-size: 14px;
  }

  &--win-story {
    .bootbox-body > div {
      @include flex-row-center-start;
    }
  }
}

.bootbox.modal.confirm-delete-template {
  .modal-content {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    overflow: hidden;  // so background color doesn't extend past border radius
  }
  .modal-footer {
    background-color: #fff;
  }
  .modal-body {
    font-size: 16px !important;
  }
}

#invitations-panel {

  > .row:first-of-type {
    display: flex;
    align-items: flex-end;
    background: #efefef; // #f5f5f5;  // #fff7e5;
    // border: 1px solid #ccc;  // #e5dece;
    // border-radius: 4px;
    padding: 15px 0;
    margin: 0 0 25px 0;
    .btn-default {
      color: #666;
    }
    .btn-default:not(:disabled):hover {
      color: #222;
    }
  }

  #invitation-template-container {
    margin-right: 15px;
  }

  .request-subject:not(.insert-data) {
    margin-bottom: 25px;
  }
  .note-editor {
    #curator-signature {
      img {
        width: 80px;
        margin-bottom: 4px;
      }
    }
  }
  .form-group.submission-page-title {
    margin-left: -15px;
    margin-right: -15px;
    // margin-bottom: 15px;
  }
  .form-group.contributor-questions {
    position: relative;
    .row {
      background: #efefef;
    }
    textarea {
      margin-left: -15px;
      margin-right: -15px;
    }
    label {
      margin-left: -15px;
    }
    li.contributor-question {
      div[class*='col-']:first-child {
        padding: 0 10px;
      }
      div[class*='col-']:last-child:not(.save-or-cancel) {
        padding: 0;
      }
      .row:hover {
        background: #e5e5e5;
      }
      p, textarea {
        margin: 10px 0;
      }
      i.fa-remove {
        margin-top: 10px;
        font-size: 20px;
        color: #666;
      }
      i.fa-remove:hover {
        color: #222;
        cursor: pointer;
      }
    }
    li.contributor-question.to-be-removed {
      .row {
        background-color: #f2dede;
      }
      .row:first-of-type {
        border-top: 1px solid #ebccd1;
      }
      .row:last-of-type {
        border-bottom: 1px solid #ebccd1;
      }
      .save-or-cancel {
        color: #a94442;
        margin-bottom: 10px;
      }
    }
    li.contributor-question.new-question {
      .row {
        background-color: #dff0d8;
        border-color: #d6e9c6;
        div[class*='col-'] {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      .row:first-of-type {
        border-top: 1px solid #d6e9c6;
      }
      .row:last-of-type {
        border-bottom: 1px solid #d6e9c6;;
      }
      .save-or-cancel {
        color: #3c763d;
        margin-bottom: 10px;
      }
    }
    // prevent double borders on adjacent questions
    li.contributor-question.to-be-removed + input + li.contributor-question.to-be-removed,
    li.contributor-question.new-question + li.contributor-question.new-question {
      .row:first-of-type {
        border-top: 0;
      }
    }
    .cancel {
      cursor: pointer;
    }
  }

}