#contributor-invitations-panel .form-horizontal {
  > .form-group:has(.invitation-template__toolbar) {
    margin-bottom: 1.25rem;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    max-width: 60rem;
  }

  @media (min-width: 1200px) {
    left: -5%;
    max-width: 80rem;
  }
}

#invitation-template-form {
  hr {
    margin: 1.5rem;
  }
}

.invitation-template__toolbar {
  @include flex-row-center-between;

  .ts-wrapper {
    width: auto;
    flex-grow: 1;
  }

  .btn-group {
    margin-left: 1rem;

    // specificity needed to override bootstrap
    > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle):has(+ .hidden) {
      border-top-right-radius: $border-radius-base;
      border-bottom-right-radius: $border-radius-base;
    }
  }

  [data-invitation-template-target="newTemplateBtn"],
  [data-invitation-template-target="submitBtn"] {
    margin-left: 1rem;
  }
}

.bootbox.modal.confirm-restore {
  .modal-content {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    overflow: hidden;  // so background color doesn't extend past border radius
  }
  .modal-body, .modal-footer {
    color: #333;
    background-color: #fff;
  }
  .modal-body {
    // font-size: 16px !important;
  }
}

.bootbox.modal.confirm-unsaved-changes {
  .modal-content {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
    overflow: hidden;  // so background color doesn't extend past border radius
  }

  .modal-footer {
    background-color: #fff;
  }

  .modal-body {
    font-size: 14px;
  }

  &--win-story {
    .bootbox-body > div {
      @include flex-row-center-start;
    }
  }
}

.bootbox.modal.confirm-delete-template {
  .modal-content {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    overflow: hidden;  // so background color doesn't extend past border radius
  }
  .modal-footer {
    background-color: #fff;
  }
  .modal-body {
    font-size: 16px !important;
  }
}