
@import 'company_logo_upload';
@import 'invitation_templates';
@import 'ctas';
@import '../../plugins/config';

p.lead {
  margin-bottom: 25px;
}

.headers-color-picker > div {
  display: flex; 
  justify-content: space-between;
}

.headers-color-picker__color {
  label {
    font-weight: normal;
  }

  input {
    width: 10em;
  }
}

#company-profile-form, #company-tags-form  {
  @include horizontal-form; 
}

#company-tags-form {
  // @include hide-until-init;

  &.form-horizontal .control-label {
    padding-top: 11px;
  }

  .select2-selection__rendered {
    cursor: text;
  }
}

.select2-container--bootstrap.select2-container--open.select2-container--below .select2-selection.story-tags__select {
  border-bottom-right-radius: $input-border-radius;
  border-bottom-left-radius: $input-border-radius;
  border-bottom-color: #66afe9; 
}

.story-tags__dropdown {
  display: none;
}

.companies.edit {
  // for safari
  input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
  }
}

// don't show until active tab is selected based on location hash
[data-controller="company-settings"] {
  visibility: hidden;

  &.has-active-tab {
    visibility: visible;
  }
}