@import './invitation_templates';
@import './ctas';
@import '../../plugins/config';
@import './company_profile';

body.companies.edit {
  // for safari
  input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
  }
}

// Don't show until active tab is selected based on location hash
[data-controller="company-settings"] {
  visibility: hidden;

  &.has-active-tab {
    visibility: visible;
  }
}

#company-tags-form {
  @media (min-width: 768px) and (max-width: 991px) {
    max-width: 55rem;
  }

  @media (min-width: 992px) {
    left: -2%;
    max-width: 65rem;
  }
}
