@import 'invitation_templates';
@import 'ctas';
@import '../../plugins/config';

p.lead {
  margin-bottom: 25px;
}

.custom-header-colors {
  > div {
    display: flex; 
    justify-content: space-between;

    > div {
      @include flex-row-center;
      flex-grow: 0.25;
      
      label {
        margin-right: 0.75em;
        font-size: $font-size-small;
        font-weight: normal;
      }
    }
  }
}

.company-header-demo,
.stories-header-demo {
  border: 1px solid #ddd;
}

.company-header-demo {
  @include flex-row-center;
  border-bottom: 0;
  padding: 0 5px;
  height: $company-header-height;

  img {
    max-height: $company-logo-max-height;

    &.generic {
      max-height: 50px;
    }
  }
}

.stories-header-demo {
  @include flex-row-center;
  border-top: 0;
  height: $stories-header-height;
  padding: 0 20px;

  &--bg-light {
    @extend .stories-header-demo;
    color: rgba(51, 51, 51, 0.9)
  }
  
  &--bg-dark {
    @extend .stories-header-demo;
    color: rgba(255, 255, 255, 0.9);
  }

  h3 {
    margin: 0;
    font-family: $company-title-font;
  }
}

.companies.edit {
  // for safari
  input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
  }
}

// don't show until active tab is selected based on location hash
[data-controller="company-settings"] {
  visibility: hidden;

  &.has-active-tab {
    visibility: visible;
  }
}