= turbo_frame_tag('edit-customer-win')

  .row-view__header 
    h4 
      = link_to( \
          win.customer.name,
          edit_customer_path(win.customer),
          data: { \
            turbo_stream: true,
            controller: 'modal-trigger',
            modal_trigger_modal_outlet: '#main-modal', 
            modal_trigger_params_value: { \
              title: 'Edit Customer', 'className' => 'edit-customer' }})
      |&nbsp;&ndash;&nbsp;
      = win.name
      
    div data-controller="dropdown" 

  .row-view__body
    = render( \
        'win_story_form',
        company: @company,
        win:,
        win_story_contributions: win.contributions_for_win_story.to_json( \
          include: { contributor: { only: [:title], methods: [:full_name] }}),
        win_story_answers: win.answers.to_json(include: { question: { only: %i[id question] }}))