
(function () {
  var $form = $('#new-success-form'),
      success = <%= @success ? true : false %> && <%= raw @success.to_json(
          only: [:id, :name, :customer_id],
          methods: [:timestamp, :referrer],
          include: {
            curator: { only: [:id] },
            customer: { only: [:name], methods: [:previous_changes] },
            contributions: {
              only: [:id, :referrer_id],
              include: {
                contributor: { only: [], methods: [:full_name, :previous_changes, :errors] },
                referrer: { only: [], methods: [:full_name, :previous_changes, :errors] }
              }
            }
          }
        ) %>,
      successes = <%= @successes ? true : false %> && <%= raw (@successes.try(:map) do |success|
          JSON.parse(success.to_json(
            only: [:id, :name, :customer_id],
            methods: [:timestamp, :referrer],
            include: {
              curator: { only: [:id] },
              customer: { only: [:name], methods: [:previous_changes] },
              contributions: {
                only: [:id, :referrer_id],
                include: {
                  contributor: { only: [], methods: [:full_name, :previous_changes, :errors] },
                  referrer: { only: [], methods: [:full_name, :previous_changes, :errors] }
                }
              }
            }
          ))
        end.to_json) %>,
      /**
       * the datatable filter state persists through a reload,
       */
      reloadContributors = function () {
        $('#prospect-contributors-table').DataTable()
          .ajax.reload(function (contributions) {
            // $('#prospect-contributors-table').closest('[id*="table_wrapper"]')
            //   .find('.search-all').trigger('click')
          });
      },
      referrerErrorsPresent = function (success) {
        return success.referrer && Object.keys(success.referrer.errors).length;
      },
      updateSelectOptions = function (successes) {
        var contact,
            successContact = function (success) {
              return (success.contributions &&
                      success.contributions.length === 1 &&
                      !success.referrer &&
                      success.contributions[0].contributor) ||
                     (success.contributions &&
                      success.contributions.length === 2 &&
                      success.contributions[1].contributor)
            };

        successes.forEach(function (success) {
          contact = successContact(success)

          // new success
          $('.dt-filter')
            .find('optgroup[label="Customer Win"]')
            .prepend(
              $('<option value="success-' + success.id + '"' +
                  ' data-column="success">' + success.name + '</option>')
            )
          $('select.success')
            .find('option:first-of-type') // empty placeholder option
            .after($('<option value="' + success.id + '">' + success.name + '</option>'))

          // new customer
          if (success.customer.previous_changes.id) {
            $('.dt-filter')
              .find('optgroup[label="Customer"]')
              .prepend(
                $('<option value="customer-' + success.customer_id + '"' +
                  ' data-column="customer">' + success.customer.name + '</option>')
              )
            $('select.customer')
              .find('option:first-of-type') // empty placeholder option
              .after($('<option value="' + success.customer_id + '">' + success.customer.name + '</option>'))
          }

          // new referrer
          if (success.referrer && success.referrer.previous_changes.id) {
            $('#contributors-filter')
              .find('optgroup[label="Contributor"]')
              .prepend(
                $('<option value="contributor-' + success.referrer.id + '"' +
                    ' data-column="contributor">' + success.referrer.full_name + '</option>')
              )
            $('select.referrer')
              .find('option[value="0"]') // - Create New Contact -
              .after(
                $('<option value="' + success.referrer.id + '">' + success.referrer.full_name + '</option>')
              )
          }

          // new contact/contributor
          if (contact && contact.previous_changes.id) {
            $('#contributors-filter')
              .find('optgroup[label="Contributor"]')
              .prepend(
                $('<option value="contributor-' + contact.id + '"' +
                    ' data-column="contributor">' + contact.full_name + '</option>')
              )
          }
        })

      },
      cbNewSuccesses = function () {
        var $newSuccesses = $('#new-success-modal').find('.new-records ul'),
            $button = $('#new-success-modal').find('button[type="submit"]');
        $('#new-success-modal').find('form, .new-records').toggle();
        $button.attr('type', 'button');
        $button.find('span').text('Ok')
        $button[0].blur();
        successes.forEach(function (success) {
          $newSuccesses.append('<li>' + success.name + '</li>')
        })
      }

  if (success) {

    if (referrerErrorsPresent(success)) {
      $('.form-group.referrer-email')
        .addClass('has-error')
        .find('.help-block')
        .text('Contact with this email already exists')
      toggleFormDone($form);
      return;
    }

    updateSelectOptions([success]);

    $('#successes-table').DataTable()
      .ajax.reload(function (successes) {
        // ref: https://stackoverflow.com/questions/6677035
        $('html, body')
          .animate({ scrollTop: 65 }, 200)
          .promise()
          .then(function () {
            $('.successes.curator-select').val(success.curator.id).trigger('change.select2')
            $('#successes-filter').val('success-' + success.id).trigger('change');
            $('#successes-table td.success-details').trigger('click');
            $('#successes-filter').select2('focus');
            $(document).one('click', function () {
              $('#successes-filter').next().removeClass('select2-container--focus');
            })
            toggleFormDone($('#new-success-form'));
            $('#new-success-modal').modal('hide')
          });
      })

    if (success.contributions.length) {
      reloadContributors();
    }

  } else if (successes) {
    $('#successes-table').DataTable().ajax.reload(function (successesData) {
      reloadContributors();
      $('.crowdsource.curator-select').val('0').trigger('change');

      // this must come after the above line
      console.log(successes)
      updateSelectOptions(successes);
      toggleFormDone($form, false, cbNewSuccesses);
    })
  }

}());