
(function () {

  var success = <%= raw @success.to_json(
          only: [:id, :name, :customer_id],
          methods: [:timestamp],
          include: {
            customer: { only: [:name], methods: [:previous_changes] },
            contributions: {
              only: [:id, :referrer_id],
              include: {
                referrer: { only: [], methods: [:full_name, :previous_changes, :errors] }
              }
            }
          }
        ) %>,
      /**
       * the datatable filter state persists through a reload,
       */
      reloadContributors = function () {
        $('#prospect-contributors-table').DataTable()
          .ajax.reload(function (contributions) {
            // $('#prospect-contributors-table').closest('[id*="table_wrapper"]')
            //   .find('.search-all').trigger('click')
          });
      },
      errorsPresent = function (success) {
        return success.contributions.length && Object.keys(success.contributions[0].referrer.errors).length;
      }
      toggleSubmit = function () {
        $('button[type="submit"][form="new-success-form"] span').toggle();
        $('button[type="submit"][form="new-success-form"] .fa-spinner').toggle();
      }
      updateSelectOptions = function () {
        // new success
        $('.dt-filter')
          .find('optgroup[label="Customer Win"]')
          .prepend(
            $('<option value="success-' + success.id + '"' +
                ' data-column="success">' + success.name + '</option>')
          )
        $('select.success')
          .find('option:first-of-type') // empty placeholder option
          .after($('<option value="' + success.id + '">' + success.name + '</option>'))

        // new customer
        if (success.customer.previous_changes.id) {
          $('.dt-filter')
            .find('optgroup[label="Customer"]')
            .prepend(
              $('<option value="customer-' + success.customer_id + '"' +
                ' data-column="customer">' + success.customer.name + '</option>')
            )
          $('select.customer')
            .find('option:first-of-type') // empty placeholder option
            .after($('<option value="' + success.customer_id + '">' + success.customer.name + '</option>'))
        }

        // new referrer
        if (success.contributions.length && success.contributions[0].referrer.previous_changes.id) {
          $('#contributors-filter')
            .find('optgroup[label="Contributor"]')
            .prepend(
              $('<option value="contributor-' + success.contributions[0].referrer_id + '"' +
                  ' data-column="contributor">' + success.contributions[0].referrer.full_name + '</option>')
            )
          $('select.referrer')
            .find('option[value="0"]') // - Create New Contact -
            .after(
              $('<option value="' + success.contributions[0].referrer.id + '">' +
                  success.contributions[0].referrer.full_name + '</option>')
            )
        }
      }

  if (errorsPresent(success)) {
    if (Object.keys(success.contributions.length && success.contributions[0].referrer.errors).length) {
      $('.form-group.referrer-email')
        .addClass('has-error')
        .find('.help-block')
        .text('Contact with this email already exists')
    }
    toggleSubmit();
    return;
  }

  updateSelectOptions();

  $('#successes-table').DataTable()
    .ajax.reload(function (successes) {
      // ref: https://stackoverflow.com/questions/6677035
      $('html, body')
        .animate({ scrollTop: 65 }, 200)
        .promise()
        .then(function () {
          $('#successes-filter').val('success-' + success.id).trigger('change');
          $('#successes-table td.success-details').trigger('click');
          $('#successes-filter').select2('focus');
          $(document).one('click', function () {
            $('#successes-filter').next().removeClass('select2-container--focus');
          })
          $('#new-success-modal').modal('hide')
        });
    })

  if (success.contributions.length) {
    reloadContributors();
  }

}());