= turbo_stream.replace('toaster') do 
  = render('shared/toaster')

= turbo_stream.update('customer-wins-search') do
  = render( \
      'companies/shared/search_select',
      search_options: @company.successes.search_options,
      resource_name: 'customer_wins',
      resource_ctrl_id: 'customer-wins')

= turbo_stream.update('contributions-search') do
  = render( \
      'companies/shared/search_select',
      search_options: @company.contributions.search_options,
      resource_name: 'contributions',
      resource_ctrl_id: 'contributions')

/- TODO: if customer was created 
  = replace the customer filter under Curate

= turbo_stream.append('new-customer-win-form') do
  = content_tag( \
      :div,
      '',
      data: { \
        new_customer_win_target: 'response', 
        row_data: @row_data,
        row_partial_html: @row_partial_html })