
<p class="summary">
  <%= @success.description %>
</p>

<ul id="questions-list">

<% @templates.each do |template| %>

  <li>
    <p><%= template.name %></p>
    <ul>

    <% template.questions.each do |question| %>

      <li>
        <p><%= question.question %></p>
        <ul>

        <% ContributorAnswer
              .joins(:success, :invitation_template, :contributor_question)
              .where({
                successes: { id: @success.id },
                invitation_templates: { id: template.id },
                contributor_questions: { id: question.id }
              })
              .each do |answer| %>

          <li><%= answer.answer %></li>

        <% end %>


        </ul>
      </li>


    <% end %>

    </ul>
  </li>

<% end %>


</ul>