
<script type='text/template' id='contributor-template'>

  <div class="container-fluid contributor-details">

    <form id='contributor-details-form' class='form-horizontal' method='post' action='/contributions/{{= contribution.id }}'>
      <input type="hidden" name="_method" value="put">

      <div class="row">

        <div class="col-sm-6">
          <div class='row'>
            <div class='col-sm-12'>

              <div class='form-group'>
                <label for="contributor-first-name" class="col-sm-3 control-label">
                  First name
                </label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id='contributor-first-name' name="contribution[contributor][first_name]" value="{{= contribution.contributor.first_name }}" readonly>
                </div>
              </div>

              <div class='form-group'>
                <label for="contributor-last-name" class="col-sm-3 control-label">Last name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="contributor-last-name" name='contribution[contributor][last_name]' value="{{= contribution.contributor.last_name }}"readonly>
                </div>
              </div>

              <div class='form-group'>
                <label for="contributor-position" class="col-sm-3 control-label">Position</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="contributor-position" name='contribution[contributor][position]' value="{{= contribution.contributor.title }}" readonly>
                </div>
              </div>

              <div class='form-group'>
                <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                  <input type="email" class="form-control" id="contributor-email" name='contribution[contributor][email]' value="{{= contribution.contributor.email }}" readonly>
                </div>
              </div>

              <div class='form-group'>
                <label for="contributor-phone" class="col-sm-3 control-label">Phone</label>
                <div class="col-sm-9">
                  <input type="tel" class="form-control" id="contributor-phone" name='contribution[contributor][phone]' value="{{= contribution.contributor.phone }}" readonly>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class='row'>
            <div class='col-sm-12'>

              <div class='form-group'>
                <label for="contributor-linkedin" class="col-sm-3 control-label">LinkedIn profile</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="contributor-linkedin" name='contribution[contributor][phone]' value="{{= contribution.contributor.linkedin_url }}" readonly>
                </div>
              </div>

            </div>
          </div>

          <!-- // linkedin profile: publish checkbox and widget (or placeholder) -->
          <div class="linkedin-container">

            <div class="linkedin-checkbox-and-widget {{= contribution.contributor.linkedin_url ? '' : 'hidden' }}" >
              <!-- // tooltip wrapper -->
              <div
                data-toggle="{{= contribution.contributor_unpublished ? 'tooltip' : '' }}"
                data-placement="{{= contribution.contributor_unpublished ? 'top' : '' }}"
                title="{{= contribution.contributor_unpublished ? 'Contributor has removed their profile from this story' : '' }}">

                <div class="linkedin-checkbox-container {{= contribution.contributor_unpublished ? 'contributor-unpublished' : '' }}">

                  <form id='curator-linkedin-checkbox'
                        action='/contributions/{{= contribution.id }}'
                        method='post'>
                    <input type="hidden" name="_method" value="put">
                    <label for="contribution[publish_contributor]">
                      <input type='checkbox'>
                      <span>&nbsp;&nbsp;Publish profile with this Story</span>
                    </label>
                  </form>

                  <span class='ajax-confirm hidden' style='color:#5cb85c'>
                    &nbsp;&nbsp;<i class='fa fa-check'></i>
                    saved
                  </span>

                </div>
              </div>  <!-- // tooltip wrapper -->

              <!-- // profile widget -->
              <div class="widget-container">

        <!-- // render csp widget in client so width can be determined dynamically -->
                {{ if (contribution.contributor['linkedin_data?']) { }}

                  <div class="csp-widget-container text-center"
                       data-first-name="{{= contribution.contributor.first_name }}"
                       data-last-name="{{= contribution.contributor.last_name }}"
                       data-linkedin-url="{{= contribution.contributor.linkedin_url }}"
                       data-linkedin-title="{{= contribution.contributor.linkedin_title }}"
                       data-linkedin-company="{{= contribution.contributor.linkedin_company }}"
                       data-linkedin-location="{{= contribution.contributor.linkedin_location }}"
                       data-linkedin-photo-url="{{= contribution.contributor.linkedin_photo_url }}">
                  </div>

                {{ } else { }}

          <!-- // placeholder rendered, replaced if/when linkedin widget arrives -->
                  <div class='placeholder-widget-container text-center'
                       style='min-height:128px'
                       data-first-name="{{= contribution.contributor.first_name }}"
                       data-last-name="{{= contribution.contributor.last_name }}"
                       data-linkedin-url="{{= contribution.contributor.linkedin_url }}">
                  </div>

        <!-- // widget is fetched when contributor child row is expanded -->
                  <div class='linkedin-widget-container hidden text-center'
                       style='min-height:128px;position:relative'
                       data-url='{{= contribution.contributor.linkedin_url }}'>
                  </div>

                {{ } }}

              </div>  <!-- // widget container -->

            </div>

          </div>  <!-- // linkedin-container -->
        </div>

      </div>

      <hr>

      <div class="row">
        <div class="col-sm-12 text-right">
          <button type="reset" class="btn btn-sm btn-default">
            Cancel
          </button>
          <button type="submit" class="btn btn-sm btn-success text-center">
            <span class='submit-toggle'>Save changes</span>
            <i class='fa fa-spinner fa-pulse submit-toggle'
               style='display:none'></i>
          </button>&nbsp;
        </div>
      </div>

    </form>

  </div>

</script>