
  <!-- TODO: are the data-columns attributes necessary? -->
  <!-- it's actually a contributions table, but presented to user as Contributors -->
  <table id="<%= workflow_stage %>-contributors-table" class='datatable table table-hover table-bordered' cellspacing='0' width='100%' style='visibility:hidden'>

    <thead>
      <tr>
        <th class='contributor-details'>
          <!-- padding ensures a min width; spec'ed in dt init but may fall short -->
          <i class='fa fa-user' style='color:#666; padding: 0 6px'></i>
        </th>
        <th>Contributor</th>
        <th>Story Candidate</th>
        <th>Crowdsourcing Template</th>
        <th>Curator</th>  <!-- hidden -->
        <th>Customer</th>  <!-- hidden -->
        <th>Next Step</th>
        <th class='actions-dropdown'>Actions</th>
      </tr>
    </thead>

    <tbody>
    </tbody>

  </table>

