
<script id='contributors-table-header-template' type='text/template'>

  <div class='row contributors-header'>

    <div class='col-sm-6'>
    </div>

    <div class='col-sm-6 text-right'>
      <label>Curator&nbsp;</label>
      <select class='curator-select form-control text-left' style="width:{{= selectWidth.toString() + 'px' }};">

        <option value='0' selected>All Curators<option>

        {{ _.each(curators, function (curator) { }}

          <option value="{{= curator.id }}" column="{{= curatorCol }}">{{= curator.first_name + ' ' + curator.last_name }}</option>

        {{ }); }}

      </select>
    </div>

  </div>

  <div class='row contributors-header'>

    <div class='col-sm-6'>

      <label for="toggle-group-by-customer">
        <input type="checkbox" id="toggle-group-by-customer" checked>
        <span>&nbsp;&nbsp;Group Contributors by Customer&nbsp;&nbsp;&#8211;&nbsp;&nbsp;Story Candidate</span>
      </label>

    </div>

    <div class='col-sm-6 text-right'>

      <label>Filter&nbsp;</label>
      <select id='contributors-filter' class='dt-filter form-control text-left' style="width:{{= selectWidth.toString() + 'px' }};">
        <option value='0' selected>All Contributors</option>

        <!-- // value='-1' implies no db object w/ id for Next Step -->
        <!-- // data-col='5' represents the Next Step column -->
        <optgroup label='Next step'>
          <option value='' data-col='5'>Next Step 1</option>
          <option value='' data-col='5'>Next Step 2</option>
        </optgroup>

        <optgroup label='Customer'>

          {{ _.each(customers, function (customer) { }}

            <option value="c{{= customer.id }}" data-col='{{= customerCol }}'>{{= customer.name || "no customer name" }}</option>

          {{ }); }}

        </optgroup>

        <!-- // data-col='2' represents the story candidate column -->
        <optgroup label='Story Candidate'>

          {{ _.each(successes, function (success) { }}

            <option value="s{{= success.id }}" data-col='{{= successCol }}'>{{= success.name || "no name" }}</option>

          {{ }); }}

        </optgroup>

      </select>

    </div>

  </div>

</script>


