

<table id='customers-table' class='datatable table table-hover table-striped table-bordered'
       width='100%'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last story published</th>
      <th class='customer-logo'>Logo</th>
    </tr>
  </thead>
  <tbody>

    <% company.customers.each() do |customer| %>

      <tr>
        <td><%= customer.name %></td>
        <td><%= Date.today() %></td>
        <td class='customer-logo'>
          <div class="fileinput fileinput-exists" data-provides="fileinput">
            <div class="fileinput-preview thumbnail">
              <%= image_tag customer.logo_url, alt: 'marketing image' %>
            </div>
            <%#= file_field_tag(:image_url, class: 'hidden') %>
            <!-- click to change -->
          </div>
        </td>
      </tr>

    <% end %>

  </tbody>
</table>