
<table id='successes-table' class='datatable table table-striped table-bordered'
       width='100%'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Customer</th>
      <th>Brand</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>

    <% company.successes.each() do |success| %>

      <tr>
        <td><%= success.story.try(:title) %></td>
        <td><%= success.customer.name %></td>
        <td>business</td>
        <td></td>

        <td class='dropdown actions-dropdown'>
          <div style='position:relative'>  <!-- div for styling only -->

            <%= render 'companies/crowdsource/successes_dropdown', { success: success } %>

          </div>
        </td>

      </tr>

    <% end %>

  </tbody>
</table>