

<table id='successes-table' class='datatable table table-hover table-bordered'
       data-success-col='1' data-customer-col='2' data-curator-col='4' width='100%'
       style='visibility:hidden'>

  <thead>
    <tr>
      <th class='success-details'>
      <!-- padding ensures a min width; spec'ed in dt init but may fall short -->
        <i class='fa fa-rocket' style='color:#666; padding: 0 6px'></i>
      </th>
      <th>Project / Deal / Opportunity</th>
      <th>Customer</th>  <!-- row grouping -->
      <th>Next Step</th>
      <th>Curator</th>  <!--  hidden -->
      <th class='actions-dropdown'>Actions</th>
    </tr>
  </thead>

  <tbody>
  </tbody>

</table>

