
<script type='text/template' id='success-template'>

  <ul class='list-unstyled'>
    <li>Story Candidate description/notes</li>
    <li>Success Contact details</li>
    <li>List of contributors, next steps</li>
    <li>category / product tags</li>
    <li>contribution request prompts</li>
    <li>...</li>
  </ul>

</script>