
<a href="javascript:;" class="dropdown-toggle" data-toggle='dropdown'>
  <i class='fa fa-caret-down'></i>
</a>

<ul class='dropdown-menu success-actions-dropdown'>

  <li>
    <!-- new story modal here -->
    <a href="javascript:;">
      <span>Create Story</span>
    </a>
  </li>

  <li>
    <a href="javascript:;" class='contributors'>
      <!-- <i class='glyphicon glyphicon-remove'></i>&nbsp;&nbsp; -->
      <span>Manage Contributors</span>
    </a>
  </li>

  <li>
    <a href="javascript:;">
      <!-- <i class='glyphicon glyphicon-remove'></i>&nbsp;&nbsp; -->
      <span>Remove</span>
    </a>
  </li>

</ul>