
<table id='successes-table' class='datatable table table-hover table-striped table-bordered'
       width='100%'>

  <thead>
    <tr>
      <th>Project / Deal / Opportunity</th>
      <th>Customer</th>
      <th>Tags</th>
      <th>Curator</th>
      <th>Status</th>
      <th class='actions-dropdown'>Actions</th>
    </tr>
  </thead>

  <tbody>

    <% company.successes.each() do |success| %>

      <tr>
        <td><%= success.story.try(:title) %></td>
        <td><%= success.customer.name %></td>
        <td></td>
        <td><%= success.curator.full_name %></td>
        <td></td>

        <td class='dropdown actions-dropdown'>
          <div style='position:relative'>  <!-- div for styling only -->

            <%= render 'companies/crowdsource/successes_dropdown', { success: success } %>

          </div>
        </td>

      </tr>

    <% end %>

  </tbody>
</table>