
<% content_for(:underscore_templates) do %>

  <script type='text/template' id='successes-dropdown-template'>

    <div>

      <a href="javascript:;" class="dropdown-toggle" data-toggle='dropdown'>
        <i class='fa fa-caret-down'></i>
      </a>

      <ul class='dropdown-menu success-actions-dropdown'>

        <li>
          <a href="javascript:;">
            <span>Create Story</span>
          </a>
        </li>

        {{ if (contributionsCount > 0) { }}

          <li>
            <a href="javascript:;" class='manage-contributors'>
              <span>Manage Contributors</span>
            </a>
          </li>

        {{ } else { }}

          <li>
            <a href="javascript:;" class='add-contributor'>
              <span>Add Contributor</span>
            </a>
          </li>

        {{ } }}

        <li>
          <a href="javascript:;">
            <!-- // <i class='glyphicon glyphicon-remove'></i>&nbsp;&nbsp; -->
            <span>Remove</span>
          </a>
        </li>

      </ul>

    </div>

  </script>

<% end %>