
<% content_for(:underscore_templates) do %>

  <script type='text/template' id='successes-dropdown-template'>

    <div>

      <a href="javascript:;" class="dropdown-toggle" data-toggle='dropdown'>
        <i class='fa fa-caret-down'></i>
      </a>

      <ul class='dropdown-menu success-actions-dropdown'>

        <li>
          <a href="javascript:;" class='create-story'>
            <i class='fa fa-thumbs-o-up action'></i>&nbsp;
            <span>Create Story</span>
          </a>
        </li>

        {{ if (contributionsCount > 0) { }}

          <li>
            <a href="javascript:;" class='manage-contributors'>
              <i class='fa fa-users action'></i>&nbsp;
              <span>Manage Contributors</span>
            </a>
          </li>

        {{ } else { }}

          <li>
            <a href="javascript:;" class='new-contributor'>
              <i class='fa fa-user action'></i>&nbsp;
              <span>Add New Contributor</span>
            </a>
          </li>

        {{ } }}

        <li>
          <a href="javascript:;">
            <i class='fa fa-remove action'></i>&nbsp;
            <span>Remove</span>
          </a>
        </li>

      </ul>

    </div>

  </script>

<% end %>