#curate.tab-pane {
  class=('active in' if workflow_stage == 'curate')
  data-dashboard-target="tabPanel"
  role="tabpanel" }

  .container {
    data-controller="stories" 
    data-action="tomselect:did-initialize->stories#onInitFilter" }

    = render( \
        'stories/shared/search_and_filters_md_lg',
        { company: @company,
          filters_match_type: @filters_match_type,
          filters: @filters,
          is_dashboard: true })

    = turbo_frame_tag( \
        'stories', 
        src: "/stories?#{URI.encode_www_form(@filters)}#{@filters.length > 1 ? '&match_type=' + @filters_match_type : ''}", 
        loading: 'lazy', 
        data: { stories_target: 'turboFrame' })