= content_tag( \
    :div,
    class: 'dashboard hidden-xs',
    data: { \
      controller: 'dashboard', 
      dashboard_active_tab_value: @workflow_stage,
      dashboard_modal_outlet: '#main-modal',
      dashboard_toast_outlet: '#toaster',
      action: [ \
        'stories:change-curator->dashboard#onChangeStoriesCurator',
        'win-story:show-contributor->dashboard#showContributor',
        'toast->dashboard#showToast'].join(' ') }) do

  = render('shared/navbars/company_nav', { company: @company, workflow_stage: @workflow_stage })
  
  .tab-content data-dashboard-target="tabContent"
    = render( \
        'companies/dashboard/prospect',
        { company: @company, curator: @curator, workflow_stage: @workflow_stage, active_tab: @prospect_tab })

    = render( \
        'companies/dashboard/curate',
        { company: @company, workflow_stage: @workflow_stage, story: @story})

    = render( \
        'companies/dashboard/promote',
        { company: @company, curator: @curator, workflow_stage: @workflow_stage, active_tab: @promote_tab })

    = render( \
        'companies/dashboard/measure',
        { company: @company, curator: @curator, workflow_stage: @workflow_stage, active_tab: @measure_tab })