main.dashboard.hidden-xs {
  data-controller="dashboard" 
  data-dashboard-active-tab-value=@workflow_stage
  data-dashboard-modal-outlet="#main-modal"
  data-action="stories:change-curator->dashboard#onChangeStoriesCurator" }

  = render('shared/navbars/company_nav', { company: @company, workflow_stage: @workflow_stage })
  
  .tab-content data-dashboard-target="tabContent"
    = render( \
        'companies/dashboard/prospect',
        { company: @company, curator_id: @curator_id, workflow_stage: @workflow_stage, active_tab: @prospect_tab })

    = render( \
        'companies/dashboard/curate',
        { company: @company, curator_id: @curator_id, workflow_stage: @workflow_stage, story: @story})

    = render( \
        'companies/dashboard/promote',
        { company: @company, curator_id: @curator_id, workflow_stage: @workflow_stage, active_tab: @promote_tab })

    = render( \
        'companies/dashboard/measure',
        { company: @company, curator_id: @curator_id, workflow_stage: @workflow_stage, active_tab: @measure_tab })