
<div class="wrapper">

  <%= render 'shared/mainnav' %>

  <div class="content" style='margin-top:30px; overflow:hidden'>
    <div class="container">
      <div class="layout layout-main-right layout-stack-sm">
        <div class="col-sm-3 layout-sidebar">

          <%= render 'companies/shared/side_tabs' %>

        </div> <!-- /.col -->

        <div class="col-sm-9 layout-main">
          <div class="tab-content stacked-content">
            <div class="tab-pane fade in active" id="company-profile">

              <div class="heading-block">

                <% if @company.new_record? %>
                  <h3> Company Registration </h3>

                <% else %>
                  <h3> Company Profile </h3>

                <% end %>
              </div> <!-- /.heading-block -->

              <%= render 'companies/shared/update_company_form' %>

            </div> <!-- /.tab-pane -->

            <div class="tab-pane fade" id="email-templates">

              <div class="heading-block">
                <h3> Email Templates </h3>
              </div> <!-- /.heading-block -->

              <%= render 'companies/shared/email_templates_form' %>

            </div> <!-- /.tab-pane -->

            <div class="tab-pane fade" id="curators">

              <div class="heading-block">
                <h3> Add and Remove Curators </h3>
              </div> <!-- /.heading-block -->

            </div> <!-- /.tab-pane -->

          </div> <!-- /.tab-content -->
        </div> <!-- /.col -->

      </div> <!-- /.row -->
    </div>  <!-- container -->
  </div>  <!-- content -->
</div>  <!-- wrapper