<%= javascript_tag do %>

  $(function () {

    $('header').css('background-color', 'white');
    $('header').css('border-color', '#dddddd');

  });

<% end %>

<div class="wrapper">

  <%= render 'shared/mainnav_no_company' %>

  <div class="content" style='margin-top:30px; overflow:hidden'>
    <div class="container">
      <div class="layout layout-main-right layout-stack-sm">
        <div class="col-md-3 col-sm-4 layout-sidebar">

          <%= render 'companies/shared/side_tabs' %>

        </div> <!-- /.col -->

        <div class="col-md-9 col-sm-8 layout-main">
          <div class="tab-content stacked-content">
            <div class="tab-pane fade in active" id="company-profile">

              <div class="heading-block">
                <h3> Company Registration </h3>
              </div> <!-- /.heading-block -->

              <%= render 'companies/shared/new_company_form' %>

            </div> <!-- /.tab-pane -->

            <div class="tab-pane fade" id="email-templates">

              <!-- find this content in stories#edit (don't need it here) -->

            </div> <!-- /.tab-pane -->

            <div class="tab-pane fade" id="curators">

              <!-- find this content in stories#edit (don't need it here) -->

            </div> <!-- /.tab-pane -->

          </div> <!-- /.tab-content -->

        </div> <!-- /.col -->

      </div> <!-- /.layout -->
    </div>  <!-- container -->
  </div>  <!-- content -->
</div>  <!-- wrapper