= render('shared/navbars/company_nav', company: @company)

main.container-fluid.hidden-xs data-controller="company-settings"

  .sidebar data-company-settings-target="sidebar"
    .sidebar__toggle
      .thingy
      button.btn.btn-default type="button" data-action="company-settings#toggleSidebar"
        i.fa.fa-bars

    / no active tab set here; it will be set by the client based on page fragment identifier
    ul.nav.nav--company data-controller="nav-list" role="tablist"
      - unless @company.new_record?
        - [ ['#contributor-invitations-panel', 'fa-envelope-o', 'Contributor Invitations'],
            ['#contributor-prompts-panel', 'fa-lightbulb-o', 'Contributor Prompts'],
            ['#website-plugin-panel', 'fa-plug', 'Website Plugin'],
            ['#cta-links-forms-panel', 'fa-hand-pointer-o', 'CTA Links & Forms'],
            ['#tags-panel', 'fa-tags', 'Tags'] ].each do |panel_id, icon_class, label| 
          li role="presentation"
            = tag.a( \
                href: panel_id,
                role: 'tab',
                data: { \
                  toggle: 'tab',
                  company_settings_target: 'tab',
                  nav_list_target: 'tab',
                  controller: 'tooltip',
                  tooltip_options_value: nav_link_tooltip_options(label) }) do 
              i.fa.fa-fw class=icon_class
              span = label
      
      li role="presentation"
        = tag.a( \
            href: '#account-panel',
            role: 'tab',
            data: { \
              toggle: 'tab',
              company_settings_target: 'tab',
              nav_list_target: 'tab',
              controller: 'tooltip',
              tooltip_options_value: nav_link_tooltip_options('Account Settings') }) do 
          i.fa.fa-fw.fa-gear
          span Account Settings

  .layout-main
    .tab-content

      - unless @company.new_record?
          
        #contributor-invitations-panel.tab-pane role="tabpanel"
          #invitation-template-form.form-horizontal data-controller="invitation-template"
            = render('invitation_templates/template_toolbar', company: @company, errors: @errors)

        #contributor-prompts-panel.tab-pane role="tabpanel"
          = turbo_frame_tag('contributor-prompts-frame') do
            = render('contributor_prompts', company: @company, errors: @errors)
        
        #website-plugin-panel.tab-pane role="tabpanel"
          = render('plugins/config', company: @company, errors: @errors)

        #cta-links-forms-panel.tab-pane role="tabpanel"
          = render('ctas', company: @company, errors: @errors)

        #tags-panel.tab-pane role="tabpanel"
          = render('companies/settings/tags', company: @company, errors: @errors)

      #account-panel.tab-pane role="tabpanel"
        = render('companies/settings/company_profile', company: @company, errors: @errors)
