<div id='wrapper'>
  <div class='mainnav'>
    <div class='container'>

      <a class="mainnav-toggle"
          data-toggle="collapse" data-target=".mainnav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </a>

      <nav class="collapse mainnav-collapse" role="navigation">

        <ul class="nav mainnav-menu">
          <li ng-class="{ active:company.tabSelected(1) }">
            <a ng-click="company.selectTab(1)"> Curate </a>
          </li>
          <li ng-class="{ active:company.tabSelected(2) }"
              class='pull-right'>
            <a ng-click="company.selectTab(2)"> Company Settings </a>
          </li>
          <li ng-class="{ active:company.tabSelected(3) }">
            <a ng-click="company.selectTab(3)"> Promote </a>
          </li>
          <li ng-class="{ active:company.tabSelected(4) }">
            <a ng-click="company.selectTab(4)"> Measure </a>
          </li>
        </ul>

      </nav>

    </div>  <!-- container -->
  </div>  <!-- mainnav -->

  <div class="content" ng-show="company.tabSelected(1)">
    <div class='container'>

      <a href="javascript:;" class="btn btn-secondary"
          style="margin-top: -25px; margin-bottom: 14px">
        New story
      </a>&nbsp&nbsp&nbsp

      <!-- http://stackoverflow.com/questions/27846985 -->
      <%# url_escaped_href = company_stories_path('{{ currentCompany.id }}')
          puts "*** #{url_escaped_href}"
          my_href = URI::unescape(url_escaped_href)
          puts "*** #{my_href}" %>
      <% url_escaped_href = company_stories_path('{{ company.id }}')
          my_href = URI::unescape(url_escaped_href) %>
      <a ng-href="<%= my_href %>" class="btn btn-secondary"
          style="margin-top: -25px; margin-bottom: 14px">
        Public stories index
      </a>

      <div class='row'>
        <div class='portlet portlet-default '>
          <div class='portlet-body'>
            <div class='table-responsive'>
              <table class="table table-striped table-bordered thumbnail-table">
                <thead>

                  <tr>
                    <th>Customer</th>
                    <th>Title</th>
                    <th>Publish Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>

                </thead>
                <tbody>
                  <tr ng-repeat="story in company.stories | orderBy:'created_at':true">

                    <td class="valign-middle">
                      {{ company.getStoryCustomer(story) }}
                    </td>

                    <td class="valign-middle">
                      {{ story.title }}
                    </td>

                    <td class="valign-middle">
                      <!-- TODO: Story (or Success) needs a publish_date -->
                      <!-- dummy data for now -->
                      <%= Date.parse(FFaker::Time.date).strftime("%m/%d/%Y") %>
                    </td>

                    <td class="valign-middle">
                      <!-- TODO: Replace 'Pending' with actual status -->
                      <% url_escaped_href = story_path('{{ story.id }}')
                          my_href = URI::unescape(url_escaped_href) %>
                      <a ng-href="<%= my_href %>">
                        Pending Curation
                      </a>
                    </td>

                    <td class="text-center valign-middle">
                      <button class="btn btn-xs btn-primary">
                        <i class="fa fa-pencil"></i>
                      </button>&nbsp;
                      <button class="btn btn-xs btn-secondary">
                        <i class="fa fa-times"></i>
                      </button>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>  <!-- table-responsive -->
          </div>  <!-- portlet-body -->
        </div>  <!-- portlet -->
      </div>  <!-- row -->
    </div>  <!-- container -->
  </div>  <!-- content -->
  <div class='content' ng-show="company.tabSelected(2)">
    <div class='container'>
      <div class='row'>
        <div class='portlet portlet-default'>
          <div class='portlet-body'>

            <!-- TODO: client-side validation -->
            <form name="new-company-form" class='form-horizontal col-md-7'
                ng-submit="company.create()">

              <h3>Please register your company</h3><br>

              <div class='form-group'>
                <label for="new-company-name" class='col-md-3 control-label'>
                  Company Name
                </label>
                <div class='col-md-9'>
                  <input type="text" class="form-control" id="new-company-name"
                      ng-model="company.name" required>
                </div>
              </div>

              <!-- <div class='form-group'>
                <label for="new-company-name" class='col-md-3 control-label'>
                  Target Industries
                </label>
                <div class='col-md-9'>
                  <input type="text" class="form-control" id="new-company-name"
                      ng-model="company.name" required>
                </div>
              </div> -->

              <!-- TODO: The autofill feature is a bit buggy but this will do for now -->
              <div class='form-group'>
                <label for="ind-cat-tag" class='col-md-3 control-label'>
                  Industries Served
                </label>
                <div class='col-md-9'>

                  <ui-select multiple tagging
                      id='ind-cat-tag' class='form-control'
                      theme='bootstrap' ng-disabled="disabled"
                      ng-model="company.industryTags">

                    <ui-select-match
                        placeholder='Select from the list or type in your own' style='width:100%'>
                      <!-- $item.name is the model -->
                      <!-- $item is from preDefIndTags[...] -->
                      {{ $item.name || $item }}
                    </ui-select-match>

                    <ui-select-choices
                        repeat="tag in company.preDefIndTags | filter: $select.search">
                      {{ tag }}
                    </ui-select-choices>

                  </ui-select>

                </div>
              </div>

              <!-- TODO: The autofill feature is a bit buggy but this will do for now -->
              <div class='form-group'>
                <label for="prod-cat-tag" class='col-md-3 control-label'>
                  Product Categories
                </label>
                <div class='col-md-9'>

                  <ui-select multiple tagging
                      id='prod-cat-tag' class='form-control'
                      theme='bootstrap' ng-disabled="disabled"
                      ng-model="company.productTags">

                    <ui-select-match
                        placeholder='Select from the list or type in your own' style='width:100%'>
                      <!-- $item.name is the model -->
                      <!-- $item is from preDefIndTags[...] -->
                      {{ $item.name || $item }}
                    </ui-select-match>

                    <ui-select-choices
                        repeat="tag in company.preDefProdTags | filter: $select.search">
                      {{ tag }}
                    </ui-select-choices>

                  </ui-select>

                </div>
              </div>

              <div class='form-group'>
                <label for="new-company-logo" class='col-md-3 control-label'>
                  Logo
                </label>
                <div class='col-md-9'>
                  <div class='row'>
                    <div class='col-md-5'>
                      <input type="file" id='new-company-logo'
                          ng-model='company.newLogo' base-sixty-four-input>
                    </div>
                    <div class='col-md-7'>
                      <!-- if a new logo has been selected, display it -->
                      <div ng-show="company.newLogo">
                        <img data-ng-src="data:image/png;base64,
                            {{ company.newLogo.base64 }}" alt="uploaded logo"
                            style='width:100px; border:1px solid #CCC'>
                      </div>

                      <!-- display the existing logo -->
                      <div ng-hide='company.newLogo'>
                        <img ng-src="{{ company.logo_path }}" alt="paperclip logo"
                            ng-show="company.logo_path"
                            style='width:100px; border: 1px solid #CCC'>
                        <img ng-hide="company.logo_path"
                          ng-src="<%= asset_path 'companies/thumb/missing_logo.png' %>">
                      </div>

                    </div>
                </div>

                </div>
              </div>

              <div class='form-group'>
                <div class='col-md-9 col-md-offset-3'>
                  <input type='submit' id="new-company-submit"
                      class='btn btn-primary' value="Register">
                </div>
              </div>

            </form>

          </div>
        </div>
      </div>  <!-- row -->
    </div>  <!-- container -->
  </div>  <!-- content -->
  <div class='content' ng-show="company.tabSelected(3)">
    <div class='container'>
      <div class='row'>
        <div class='portlet portlet-default'>
          <div class='portlet-body'>
            Promote
          </div>
        </div>
      </div>  <!-- row -->
    </div>  <!-- container -->
  </div>  <!-- content -->
  <div class='content' ng-show="company.tabSelected(4)">
    <div class='container'>
      <div class='row'>
        <div class='portlet portlet-default'>
          <div class='portlet-body'>
                  <div class="portlet portlet-default">


<!-- Section for Measure and Reporting -->
        <div class="portlet-header">
          <h4 class="portlet-title">
            <u>Customer Story Readers</u>
          </h4>
        </div> <!-- /.portlet-header -->

        <div class="portlet-body">

          <table 
            class="table table-striped table-bordered table-hover ui-datatable" 
            data-ajax="https://jumpstartthemes.com/demo/v/2.1.0/global/js/demos/json/table_data.json"
            data-global-search="true"
            data-length-change="true"
            data-info="true"
            data-paging="true"
            data-page-length="10"
          >
            <thead>
              <tr>
                <th data-filterable="text">Name</th>
                <th data-filterable="select" data-sortable="true" data-sort-order="2">Position</th>
                <th data-filterable="select" data-sortable="true" data-sort-order="2">Office</th>
                <th>Extn</th>
                <th data-sortable="true">Start Date</th>
                <th data-sortable="true" data-sort-order="1" data-direction="desc">Salary</th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
            <tfoot>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Extn</th>
                <th>Start Date</th>
                <th>Salary</th>
              </tr>
            </tfoot>
          </table>

        </div> <!-- /.portlet-body -->

<!-- END Section for Measure and Reporting -->

      </div> <!-- /.portlet -->



      <br>
            
            
            
          </div>
        </div>
      </div>  <!-- row -->
    </div>  <!-- container -->
  </div>  <!-- content -->
</div>  <!-- wrapper -->
