
<% content_for :head do %>
  <!-- challenge: get the cache preview to be responsive to tab selection
       workaround: no preview-cache  -->
  <meta name="turbolinks-cache-control" content="no-preview">
<% end %>

<div id='wrapper'>

  <%= render 'shared/company_navbar', { company: @company, workflow_tab: @workflow_tab } %>

  <div class='tab-content' style='margin-top:40px'>

    <%#= render 'companies/shared/pipeline',
               { workflow_tab: @workflow_tab, company: @company } %>

    <%= render 'companies/shared/curate',
               { workflow_tab: @workflow_tab,
                 company: @company,
                 customer_select_options: @customer_select_options,
                 category_select_options: @category_select_options,
                 product_select_options: @product_select_options } %>

    <%= render 'companies/shared/promote',
               { workflow_tab: @workflow_tab, company: @company} %>

    <%= render 'companies/shared/measure',
                { workflow_tab: @workflow_tab, company: @company,
                  activity: @activity } %>

  </div>  <!-- tab content -->

</div>  <!-- wrapper -->
