(function () {

  var preRequestContributors = <%= raw @pre_request_contributors.to_json %>,
      allContributors = <%= raw @contributors.to_json %>,
         flashMesg = "<%= @flash_mesg %>",
       flashStatus = "<%= @flash_status %>",
          template = _.template($('#pre-request-template').html());

  $('#new-contributor-modal').modal('hide');

  if (flashStatus === "danger") {
    flashDisplay(flashMesg, flashStatus);
  } else {
    $('#pre-request-contributors')
        .empty()
        .append(
          template({ contributors: preRequestContributors })
        );
    $("a[href='#pre-request']").tab('show');
  }

  updateReferrerSelectOptions(allContributors)

  /*
    update the referrer select options with any newly added contributors
  */
  function updateReferrerSelectOptions (contributors) {
    var newOptions = "<option value></option>";
    contributors.forEach(function (contributor, index) {
      newOptions += "<option value='" + contributor.id + "'>" +
                    contributor.first_name + " " +
                    contributor.last_name + "</option>";
    });
    $('#contributor_referrer').html(newOptions).change();
  }

})();








