(function () {

  var contributionsPreRequest = <%= raw @contributions_pre_request.to_json({ include: { contributor: {}, referrer: {}, success: { include: :customer } } }) %>,
      allContributors = <%= raw @contributors.to_json %>,
         flashMesg = "<%= @flash_mesg %>",
       flashStatus = "<%= @flash_status %>",
          template = _.template($('#cc-template').html());

  console.log(contributionsPreRequest);
  $('#new-contributor-modal').modal('hide');

  if (flashStatus === "danger") {
    flashDisplay(flashMesg, flashStatus);
  } else {
    $('#contributions-pre-request')
        .empty()
        .append(
          template({ contributions: contributionsPreRequest,
                              type: 'pre-request',
                contributionStatus: null })  // only need this for an in-progress template
        );
    $("a[href='#pre-request']").tab('show');
  }

  updateReferrerSelectOptions(allContributors);

  // dynamically added elements must be re-configured as best-in-place
  $('.best_in_place').best_in_place();

  // attach listeners to dynamically added elements
  $('a.accordion-toggle').on('focus', function () {
    $(this).blur();
  });

  /*
    update the referrer select options with any newly added contributors
  */
  function updateReferrerSelectOptions (contributors) {
    var newOptions = "<option value></option>";
    contributors.forEach(function (contributor, index) {
      newOptions += "<option value='" + contributor.id + "'>" +
                    contributor.first_name + " " +
                    contributor.last_name + "</option>";
    });
    $('#contributor_referrer').html(newOptions).change();
  }

})();








