
(function () {

  var $trContribution,

      // this mirrors company.contributions.pending (with some additions)
      contribution = <%= raw @contribution.to_json({
        only: [:id, :status, :contribution, :feedback, :linkedin, :notes, :publish_contributor, :contributor_unpublished, :success_id],
        methods: [],
        include: {
          # success source data, with addition of previous_changes methods
          success: {
            only: [:id, :name, :description], methods: [:display_status, :referrer, :previous_changes],
            include: {
              curator: { only: [:id], methods: [:full_name] },
              customer: { only: [:id, :name, :slug], methods: [:previous_changes] },
              story: { only: [:id, :title, :slug] }
            }
          },
          contributor: {
            only: [:id, :first_name, :last_name, :title, :email, :phone,
                   :linkedin_url, :linkedin_company, :linkedin_title,
                   :linkedin_location, :linkedin_photo_url],
            methods: [:full_name, :linkedin_data?, :previous_changes]
          },
          referrer: { only: [:id], methods: [:full_name] }
        }
      }) %>,

      isCurateView = function () {
        return $('a[href="#curate-contributors"]').parent().hasClass('active')
      },
      openContributorDetails = function ($tr) {
        $tr.find('.contributor-details').trigger('click');
      },
      updateSuccess = function (success) {
        $('#successes-table').DataTable()
          .row('[data-success-id="' + success.id + '"]')
          .data(success)
          .draw();
      },
      updateSelectOptions = function () {
        // new customer
        if (contribution.success.customer.previous_changes.id) {
          $('.dt-filter')
            .find('optgroup[label="Customer"]')
            .prepend(
              $('<option value="customer-' + contribution.success.customer_id + '"' +
                ' data-column="customer">' + contribution.success.customer.name + '</option>')
            )
          $('select.customer')
            .find('option:first-of-type')
            .after(
              $('<option value="' + success.customer_id + '">' + success.customer.name + '</option>')
            )
        }

        // new success
        if (contribution.success.previous_changes.id) {
          $('.dt-filter')
            .find('optgroup[label="Customer Win"]')
            .prepend(
              $('<option value="success-' + contribution.success_id + '"' +
                ' data-column="success">' + contribution.success.name + '</option>')
            )
          $('select.success')
            .find('option:first-of-type') // empty placeholder option
            .after($('<option value="' + success.id + '">' + success.name + '</option>'))
        }

        // new contributor
        if (contribution.contributor.previous_changes.id) {
          $('#contributors-filter')
            .find('optgroup[label="Contributor"]')
            .prepend(
              $('<option value="contributor-' + contribution.contributor.id + '"' +
                ' data-column="contributor">' + contribution.contributor.full_name + '</option>')
            )
        }

        // new referrer
        if (contribution.referrer && contribution.referrer.previous_changes.id) {
          $('select.referrer')
            .find('option[value="0"]') // - Create New Contact -
            .after(
              $('<option value="' + contribution.referrer.id + '">' +
                  contribution.referrer.full_name + '</option>')
            )
        }

      };

  updateSelectOptions();
  updateSuccess(contribution.success);

  // update app.contributions
  app.contributions.push(contribution)

  // reload tables and scroll to new contributor
  // (reload tables with separate .reload calls to ensure scroll only happens once)
  $('#prospect-contributors-table').DataTable()
    .ajax.reload(function (contributions) {
      if (!isCurateView()) {
        $trContribution = $('#prospect-contributors-table tr[data-contribution-id="' + contribution.id + '"]');
        // TOFIX: $trContribution isn't found because a filter is keeping it from being displayed
        // instead, identify the source data and then turn on filters as necessary to expose it
        $('html, body').animate({ scrollTop: 65 }, 200)
          .promise()
          .then(function () {
            $('#contributors-filter').val('contributor-' + contribution.contributor.id).trigger('change');
            openContributorDetails($trContribution);
            $('#contributors-filter').select2('focus');
            $(document).one('click', function () {
              $('#contributors-filter').next().removeClass('select2-container--focus');
            })
            $('#new-contributor-modal').modal('hide');
          });

      }
    });

  $('#curate-contributors-table').DataTable()
    .ajax.reload(function (contributions) {
      if (isCurateView()) {
        $trContribution = $('#curate-contributors-table tr[data-contribution-id="' + contribution.id + '"]');
        $('html, body').animate({ scrollTop: 65 }, 200)
          .promise()
          .then(function () {
            openContributorDetails($trContribution);
            $('#new-contributor-modal').modal('hide');
          });
      }
    })

}());








