
(function () {

  var $trContribution,
      // this is a subset of contribution source data; don't need all of it since tables are being ajax.reloaded
      contribution = <%= raw @contribution.to_json({
        only: [:id],
        include: {
          # success source data needed to update successes table (with addition of previous_changes method)
          success: {
            only: [:id, :name, :description], methods: [:display_status, :referrer, :previous_changes],
            include: {
              curator: { only: [:id], methods: [:full_name] },
              customer: { only: [:id, :name, :slug], methods: [:previous_changes] },
              story: { only: [:id, :title, :slug] }
            }
          },
          contributor: { only: [:id], methods: [:full_name, :previous_changes, :errors] },
          referrer: { only: [:id], methods: [:full_name, :previous_changes, :errors] }
        }
      }) %>,
      isCurateView = function () {
        return $('a[href="#curate-contributors"]').parent().hasClass('active')
      },
      openContributorDetails = function ($tr) {
        $tr.find('.contributor-details').trigger('click');
      },
      errorsPresent = function (contribution) {
        return Object.keys(contribution.contributor.errors).length ||
               ( contribution.referrer &&
                 Object.keys(contribution.referrer.errors).length )
      }
      updateSuccess = function (success) {
        delete success.previous_changes
        $('#successes-table').DataTable()
          .row('[data-success-id="' + success.id + '"]')
          .data(success)
          .draw();
      },
      toggleSubmit = function () {
        $('button[type="submit"][form="new-contributor-form"] span').toggle();
        $('button[type="submit"][form="new-contributor-form"] .fa-spinner').toggle();
      }
      updateSelectOptions = function () {
        // new customer
        if (contribution.success.customer.previous_changes.id) {
          $('.dt-filter')
            .find('optgroup[label="Customer"]')
            .prepend(
              $('<option value="customer-' + contribution.success.customer_id + '"' +
                ' data-column="customer">' + contribution.success.customer.name + '</option>')
            )
          $('select.customer')
            .find('option:first-of-type')
            .after(
              $('<option value="' + success.customer_id + '">' + success.customer.name + '</option>')
            )
        }

        // new success
        if (contribution.success.previous_changes.id) {
          $('.dt-filter')
            .find('optgroup[label="Customer Win"]')
            .prepend(
              $('<option value="success-' + contribution.success_id + '"' +
                ' data-column="success">' + contribution.success.name + '</option>')
            )
          $('select.success')
            .find('option:first-of-type') // empty placeholder option
            .after($('<option value="' + success.id + '">' + success.name + '</option>'))
        }

        // new contributor
        if (contribution.contributor.previous_changes.id) {
          $('#contributors-filter')
            .find('optgroup[label="Contributor"]')
            .prepend(
              $('<option value="contributor-' + contribution.contributor.id + '"' +
                ' data-column="contributor">' + contribution.contributor.full_name + '</option>')
            )
        }

        // new referrer
        if (contribution.referrer && contribution.referrer.previous_changes.id) {
          $('select.referrer')
            .find('option[value="0"]') // - Create New Contact -
            .after(
              $('<option value="' + contribution.referrer.id + '">' +
                  contribution.referrer.full_name + '</option>')
            )
        }

      };

  // only possible error is a duplicate contributor (or referrer) email
  if (errorsPresent(contribution)) {
    console.log('errors')
    console.log(contribution)
    if (Object.keys(contribution.contributor.errors).length) {
      $('.form-group.contributor-email')
        .addClass('has-error')
        .find('.help-block')
        .text('Contributor with this email already exists')
    }
    if (Object.keys(contribution.referrer.errors).length) {
      $('.form-group.referrer-email')
        .addClass('has-error')
        .find('.help-block')
        .text('Contact with this email already exists')
    }
    toggleSubmit();
    return;
  }

  updateSelectOptions();
  updateSuccess(contribution.success);

  // reload tables and scroll to new contributor
  // (reload tables with separate .reload calls to ensure scroll only happens once)
  $('#prospect-contributors-table').DataTable()
    .ajax.reload(function (contributions) {
      if (!isCurateView()) {
        $trContribution = $('#prospect-contributors-table tr[data-contribution-id="' + contribution.id + '"]');

        /**
         * TOFIX: $trContribution isn't found because a filter is keeping it from being displayed
         * instead, identify the source data and then turn on filters as necessary to expose it
         */
        $('html, body').animate({ scrollTop: 65 }, 200)
          .promise()
          .then(function () {
            $('#contributors-filter').val('contributor-' + contribution.contributor.id).trigger('change');
            openContributorDetails($trContribution);
            $('#contributors-filter').select2('focus');
            $(document).one('click', function () {
              $('#contributors-filter').next().removeClass('select2-container--focus');
            })
            $('#new-contributor-modal').modal('hide');
          });

      }
    });

  $('#curate-contributors-table').DataTable()
    .ajax.reload(function (contributions) {
      if (isCurateView()) {
        $trContribution = $('#curate-contributors-table tr[data-contribution-id="' + contribution.id + '"]');
        $('html, body').animate({ scrollTop: 65 }, 200)
          .promise()
          .then(function () {
            openContributorDetails($trContribution);
            $('#new-contributor-modal').modal('hide');
          });
      }
    })

}());








