
(function () {

  // this mirrors company.contributions.pending (with some additions)
  var contribution = <%= raw @contribution.to_json({
        only: [:id, :status, :contribution, :feedback, :linkedin, :notes, :publish_contributor, :contributor_unpublished, :success_id],
        methods: [],
        include: {
          success: {
            only: [:name, :customer_id], methods: [:previous_changes],
            include: {
              customer: { only: [:name], methods: [:previous_changes] }
            }
          },
          contributor: {
            only: [:id, :first_name, :last_name, :title, :email, :phone,
                   :linkedin_url, :linkedin_company, :linkedin_title,
                   :linkedin_location, :linkedin_photo_url],
            methods: [:full_name, :linkedin_data?, :previous_changes]
          }
        }
      }) %>,
      $trContribution,
      isCurateView = function () {
        return $('a[href="#curate-contributors"]').parent().hasClass('active')
      },
      hideModal = function () {
        $('#new-contributor-modal').modal('hide');
      }
      openContributorDetails = function ($tr) {
        $tr.find('.contributor-details').trigger('click');
      },
      updateFilterOptions = function () {
        // new customer was created
        if (contribution.success.customer.previous_changes.id) {
          $('.dt-filter')
            .find('optgroup[label="Customer"]')
            .prepend(
              $('<option value="customer-' + contribution.success.customer_id.toString() + '"' +
                ' data-column="customer">' + contribution.success.customer.name + '</option>')
            )
        }
        // new success was created
        if (contribution.success.previous_changes.id) {
          $('.dt-filter')
            .find('optgroup[label="Customer Win"]')
            .prepend(
              $('<option value="success-' + contribution.success_id.toString() + '"' +
                ' data-column="success">' + contribution.success.name + '</option>')
            )
        }
        // new contributor was created
        if (contribution.contributor.previous_changes.id) {
          $('#contributors-filter')
            .find('optgroup[label="Contributor"]')
            .prepend(
              $('<option value="contributor-' + contribution.contributor.id.toString() + '"' +
                ' data-column="contributor">' + contribution.contributor.full_name + '</option>')
            )
        }
      };

  updateFilterOptions();

  // update app.contributions
  app.contributions.push(contribution)

  // reload tables and scroll to new contributor
  // (reload tables with separate .reload calls to ensure scroll only happens once)
  $('#prospect-contributors-table').DataTable()
    .ajax.reload(function (contributions) {
      if (!isCurateView()) {
        $trContribution = $('#prospect-contributors-table tr[data-contribution-id="' + contribution.id + '"]');
        console.log('contribution: ', contribution)
        console.log('$trContribution: ', $trContribution)
        // TOFIX: $trContribution isn't found because a filter is keeping it from being displayed
        // instead, identify the source data and then turn on filters as necessary to expose it
        openContributorDetails($trContribution)
        $('html, body').animate({ scrollTop: $trContribution.offset().top - 80 }, 200)
          .promise()
          .then(function () { hideModal(); });
      }
    });

  $('#curate-contributors-table').DataTable()
    .ajax.reload(function (contributions) {
      if (isCurateView()) {
        $trContribution = $('#curate-contributors-table tr[data-contribution-id="' + contribution.id + '"]');
        openContributorDetails($trContribution);
        $('html, body').animate({ scrollTop: 65 }, 200)
          .promise()
          .then(function () { hideModal(); });
      }
    })

}());








