<div class="container">
  <div class="row">
    <div class='col-md-8'>

      <% if @type == 'contribution' %>

        <%= render partial: 'contributions/shared/contribution_form',
                    locals: {      curator: @curator,
                              contribution: @contribution,
                                      type: @type          } %> <br>

      <% elsif @type == 'feedback' %>

        <%= render partial: 'contributions/shared/feedback_form',
                    locals: {      curator: @curator,
                              contribution: @contribution,
                                      type: @type          } %> <br>

      <% elsif @type == 'opt_out' %>

        <h3>You have been unsubscribed</h3>

      <% end %>

    </div>
  </div>
</div>
