= turbo_frame_tag('edit-contribution') do
    
  = form_with( \
      model: @contribution,
      id: 'contribution-form',
      data: {},
      html: { \
        autocomplete: 'off' }) do |form|

    .form-group style="width:30rem"
      = form.label(:invitation_template_id, 'Invitation Template')
      = form.collection_select( \
          :invitation_template_id,
          @company.invitation_templates.sort_by { |t| t.name },
          :id,
          :name,
          { include_blank: true },
          { class: 'form-control',
            placeholder: 'Select',
            data: { \
              controller: 'tomselect',
              tomselect_kind_value: 'invitationTemplate' } })
      .help-block 
        | Optional