<br><br>
<div class="container">
  <div class="row">
    <div class='col-md-8'>

      <% if @response_type == 'contribution' %>

        <%= render partial: 'contributions/shared/contribution_form',
                    locals: {      curator: @curator,
                              contribution: @contribution,
                             response_type: @response_type,
                         story_example_url: @story_example_url } %> <br>

      <% elsif @response_type == 'feedback' %>

        <%= render partial: 'contributions/shared/feedback_form',
                    locals: {      curator: @curator,
                              contribution: @contribution,
                             response_type: @response_type } %> <br>

      <% elsif @response_type == 'opt_out' %>

        <h3>You have been unsubscribed</h3>

      <% end %>

    </div>
  </div>
</div>
