= turbo_frame_tag('new-contribution')

  = form_with( \
      model: @success&.contributions&.build || Contribution.new,
      url: company_contributions_path(@company),
      local: false,
      class: 'form-horizontal',
      html: { \
        id: 'new-contribution-form',
        autocomplete: 'off',
        data: { \
          controller: 'contribution-form',
          contribution_form_resource_outlet: '.resource-ctrl',
          action: 'ajax:before->contribution-form#beforeAjax',
          modal_target: 'form',
          submit_btn_text: 'Add Contributor' } }) do |form|

    /= form.hidden_field(:success_id)

    = form.fields_for(:success, @success || form.object.build_success) do |success_fields|
      / = success_fields.hidden_field(:id)
      = success_fields.hidden_field(:name)
      = success_fields.hidden_field(:customer_id, data: { contribution_form_target: 'successCustomerId' })
      = success_fields.hidden_field(:curator_id, value: success_fields.object.curator_id || current_user.id)
      = success_fields.fields_for(:customer, success_fields.object.customer || success_fields.object.build_customer) do |customer_fields|
        = customer_fields.hidden_field(:id, data: { contribution_form_target: 'customerId customerField'})
        = customer_fields.hidden_field(:name, data: { contribution_form_target: 'customerName customerField' })
        = customer_fields.hidden_field(:company_id, value: @company.id, data: { contribution_form_target: 'customerField' })

      .form-group.required
        = success_fields.label(:customer_id, 'Customer', class: 'col-sm-3 control-label')
        .col-sm-9
          = success_fields.collection_select( \
              :customer_id,
              @company.customers.sort_by { |customer| customer.name.downcase },
              :id,
              :name,
              { include_blank: true }.merge(@customer_id ? { selected: @customer_id } : {}),
              { class: 'new-contributor customer form-control',
                placeholder: 'Select or Create',
                style: 'width:100%',
                required: true,
                data: { \
                  controller: 'tomselect',
                  tomselect_type_value: Customer.name,
                  tomselect_custom_options_value: { create: true, persist: false },
                  action: 'contribution-form#onChangeCustomer',
                  contribution_form_target: 'customerSelect' } })
          span.help-block Required

      .form-group.required data-action="tomselect:dropdown-did-open->contribution-form#filterCustomerWins"
        = form.label(:success_id, 'Customer Win', class: 'col-sm-3 control-label')
        .col-sm-9
          = form.collection_select( \
              :success_id,
              @company.successes.sort_by { |success| success.name },
              :id,
              :name,
              { include_blank: true },
              { class: 'new-contributor success form-control',
                placeholder: 'Select or Create',
                required: true,
                data: { \
                  controller: 'tomselect',
                  tomselect_type_value: 'Customer Win',
                  tomselect_custom_options_value: { create: true, persist: false },
                  contribution_form_target: 'customerWinSelect',
                  action: 'contribution-form#onChangeCustomerWin' } })
          span.help-block Required

      .form-group.required
        = form.label(:contributor_id, 'Contributor', class: 'col-sm-3 control-label')
        .col-sm-9
          = form.collection_select( \
              :contributor_id,
              (@company.contributors + @company.referrers).uniq \
                .sort_by { |contact| contact.last_name } \
                .unshift(User.new(id: 0, first_name: 'New', last_name: 'Contact')),
              :id,
              :full_name,
              { include_blank: true,
                selected: @contributor_id || [],
                disabled: @success ? @success.contributors.map { |contributor| contributor.id } : [] },
              { class: 'new-contributor contributor form-control',
                placeholder: 'Select or Create',
                required: true,
                data: { \
                  controller: 'tomselect',
                  tomselect_type_value: 'Contributor',
                  contribution_form_target: 'contributorSelect',
                  action: 'contribution-form#onChangeContact' } })
          span.help-block 
            | Required

      = render( \
          'companies/shared/create_contact', 
          { form: 'new-contribution', 
            parent_form_or_fields: form, 
            contact_type: 'contributor',
            input_data_attrs: { contribution_form_target: "contributorField" } })

      .form-group
        = form.label(:invitation_template_id, 'Invitation Template', class: 'col-sm-3 control-label')
        .col-sm-9
          = form.collection_select( \
              :invitation_template_id,
              @company.invitation_templates.sort_by { |t| t.name },
              :id,
              :name,
              { include_blank: true },
              { class: 'new-contributor invitation-template form-control',
                placeholder: 'Select',
                data: { \
                  controller: 'tomselect',
                  tomselect_type_value: InvitationTemplate.name } })

      .form-group
        = form.label(:referrer_id, 'Referred by', class: 'col-sm-3 control-label')
        .col-sm-9
          = form.collection_select( \
              :referrer_id,
              (@company.contributors + @company.referrers).uniq \
                .sort_by { |contact| contact.last_name } \
                .unshift(User.new(id: 0, first_name: 'New', last_name: 'Contact')),
              :id,
              :full_name,
              { include_blank: true },
              { class: 'new-contributor referrer form-control',
                placeholder: 'Select or Create',
                data: { \
                  controller: 'tomselect',
                  tomselect_type_value: 'Referrer',
                  contribution_form_target: 'referrerSelect',
                  action: 'contribution-form#onChangeContact' } })

      = render( \
          'companies/shared/create_contact',
          { form: 'new-contribution', 
            parent_form_or_fields: form, 
            contact_type: 'referrer',
            input_data_attrs: { contribution_form_target: "referrerField" } })