- content_for(:head) do
  meta name="turbo-cache-control" content="no-cache"

= render('shared/modal')

main.dashboard.hidden-xs data-controller="dashboard" data-dashboard-modal-outlet="#main-modal"

  = render('shared/navbars/company_nav', { company: @company, workflow_stage: @workflow_stage })

  #story {
    data-controller="story"
    data-dashboard-target="story"
    data-action="contributions:loading->dashboard#onResourceLoading contributions:ready->dashboard#onResourceReady" }

    = render('shared/loading_spinner')

    .container
    
      .layout-sidebar
        ul.nav
          li
            = link_to(dashboard_path('curate')) do 
              i.fa.fa-fw.fa-chevron-left
              |&nbsp;All Stories
            end
          li class=('active' if @active_tab == '#story-narrative-content')
            a {
              id="story-narrative-content-tab"
              href="#story-narrative-content" 
              data-toggle="tab" 
              data-action="dashboard#setNavCookie"
              aria-controls="story-narrative-content"
              aria-expanded="#{@active_tab == '#story-narrative-content' ? 'true' : 'false'}"
              role="tab" }
              i.fa.fa-fw.fa-edit 
              |&nbsp;Narrative
          li class=('active' if @active_tab == '#story-supporting-content')
            a {
              id="story-supporting-content-tab"
              href="#story-supporting-content" 
              data-toggle="tab" 
              data-action="dashboard#setNavCookie"
              aria-controls="story-supporting-content"
              aria-expanded="#{@active_tab == '#story-supporting-content' ? 'true' : 'false'}"
              role="tab" }
              i.fa.fa-fw.fa-quote-left
              / i.fa.fa-fw.fa-info-circle
              / |&nbsp;Supporting Content
              |&nbsp;Testimonials & Results
          li class=('active' if @active_tab == '#story-contributions')
            a {
              id="story-contributions-tab"
              href="#story-contributions" 
              data-toggle="tab" 
              data-action="dashboard#setNavCookie"
              aria-controls="story-contributions"
              aria-expanded="#{@active_tab == '#story-contributions' ? 'true' : 'false'}"
              role="tab" }
              i.fa.fa-fw.fa-users
              |&nbsp;Contributors
          li class=('active' if @active_tab == '#story-settings')
            a {
              id="story-settings-tab"
              href="#story-settings" 
              data-toggle="tab" 
              data-action="dashboard#setNavCookie"
              aria-controls="story-settings"
              aria-expanded="#{@active_tab == '#story-settings' ? 'true' : 'false'}"
              role="tab" }
              i.fa.fa-fw.fa-cloud-upload
              |&nbsp;Publication Settings

      .layout-main
        .tab-content

          #story-narrative-content.tab-pane {
            class=('active in' if @active_tab == '#story-narrative-content')
            aria-labelledby="story-narrative-content-tab"
            role="tabpanel" }
            = render('/stories/edit/narrative_content', { company: @company, story: @story })
            
          #story-supporting-content.tab-pane {
            class=('active in' if @active_tab == '#story-supporting-content')
            aria-labelledby="story-supporting-content-tab"
            role="tabpanel" }
            = render('stories/edit/supporting_content', { company: @company, story: @story })
            
          #story-contributions.tab-pane {
            class=('active' if @active_tab == '#story-contributions') 
            data-resource-name="storyContributions"
            data-story-id=@story.id
            data-story-target="contributions"
            data-controller="contributions"
            data-contributions-init-value="true"
            data-contributions-data-path-value=success_contributions_path(@story.success)
            data-contributions-filters-value=contributions_table_filters(@story.curator.id).to_json
            data-action="datatable:init->contributions#onTableInitComplete"
            aria-labelledby="story-contributions-tab"
            role="tabpanel" }
            
            = render('contributions/table', { company: @company, story: @story, enable_row_groups: false })

          #story-settings.tab-pane {
            class=('active' if @active_tab == '#story-settings')
            aria-labelledby="story-settings-tab"
            role="tabpanel" }
            
            = render('stories/edit/publication_settings', { company: @company, story: @story })

