main.dashboard.hidden-xs data-controller="dashboard" data-dashboard-modal-outlet="#main-modal"

  = render('shared/navbars/company_nav', company: @company, workflow_stage: 'story')

  = tag.div( \
      id: 'story',
      data: { \
        controller: 'story',
        dashboard_target: 'story',
        action: [ \
          'contributions:loading->dashboard#handleResourceLoading',
          'contributions:ready->dashboard#handleResourceReady' ].join(' ') }) do

    = spinner_html.html_safe

    .company__container.container-fluid
    
      .sidebar data-dashboard-target="sidebar"
        .sidebar__toggle
          .thingy
          button.btn.btn-default type="button" data-action="dashboard#toggleSidebar"
            i.fa.fa-bars

        ul.nav
          li
            = link_to dashboard_path('curate') do 
              i.fa.fa-fw.fa-chevron-left
              span All Stories
            end

          - [ ['#story-narrative-content', 'fa-edit', 'Narrative Content'],
              ['#story-testimonials', 'fa-quote-left', 'Testimonials'],
              ['#story-contributions', 'fa-users', 'Contributors'],
              ['#story-settings', 'fa-gear', 'Settings'] ].each do |panel_id, icon_class, label| 
              
            li class=('active' if @active_tab == panel_id)
              = tag.a(id: "#{panel_id.sub('#', '')}-tab",
                      href: panel_id,
                      role: 'tab',
                      data: { toggle: 'tab', action: 'dashboard#setNavCookie' },
                      aria: { \
                        controls: panel_id.sub('#', ''),
                        expanded: (@active_tab == panel_id) }) do
                i.fa.fa-fw class=icon_class
                span = label

      .company__main
        .tab-content

          = tag.div(class: "tab-pane #{'active in' if @active_tab == '#story-narrative-content'}",
                    id: 'story-narrative-content',
                    role: 'tabpanel',
                    aria: { labelledby: 'story-narrative-content-tab' }) do
            = render('/stories/edit/narrative_content', { company: @company, story: @story })
            
          = tag.div(class: "tab-pane #{'active in' if @active_tab == '#story-testimonials'}",
                    id: 'story-testimonials',
                    role: 'tabpanel',
                    aria: { labelledby: 'story-testimonials-tab' }) do
            = render('stories/edit/testimonials', { company: @company, story: @story })
            
          = tag.div(class: "tab-pane #{'active in' if @active_tab == '#story-contributions'}",
                    id: 'story-contributions',
                    role: 'tabpanel',
                    aria: { labelledby: 'story-contributions-tab' },
                    data: { \
                      resource_name: 'storyContributions',
                      story_id: @story.id,
                      story_target: 'contributions',
                      controller: 'contributions',
                      contributions_init_value: 'true',
                      contributions_data_path_value: success_contributions_path(@story.success),
                      contributions_row_group_data_source_value: '',
                      contributions_filters_value: contributions_filters(@story.curator.id) }) do
            = render('contributions/table', company: @company, story: @story)

          = tag.div(class: "tab-pane #{'active in' if @active_tab == '#story-settings'}",
                    id: 'story-settings',
                    role: 'tabpanel',
                    aria: { labelledby: 'story-settings-tab' }) do
            = render('stories/edit/story_settings', { company: @company, story: @story })

