<div id='wrapper'>
  <div class="content">
    <div class="container">

      <%= link_to company_path(current_user.company), class: 'story-nav' do %>
        <span class='glyphicon glyphicon-chevron-left'
            style='color:#337ab7; margin-top:20px; margin-right:5px'>
        </span><span>Curate Stories</span>
      <% end %>
      <hr>

      <!-- .mainnav class puts the fading graphic underneath the headline -->
      <div class="mainnav" style="color:#999999; margin-top:20px">
        <h2 style="margin-left:20px">Customers</h2>
      </div>

      <div class="portlet portlet-default">
        <div class="portlet-body">

          <!-- TODO: Make this responsive -->
          <% @stories.each_slice(5) do |stories_row| %>
            <div class='container row' style='margin: 0 auto'>
              <% stories_row.each do |story| %>

                <div class="col-md-2 text-center" style='margin-left:26px'>
                  <a href='/stories/<%= story.id %>'>
                    <div class="thumbnail" style='position:relative'>
                      <!-- <div class="thumbnail-view"> -->

                      <img src="<%= asset_path('video.png') %>" alt="video tag"
                          style='position:absolute; height:25px; left:130px'>

                      <img src="https://logo.clearbit.com/<%= story.success.customer.name.downcase %>.com" style='height:95px' >

                      <!-- </div> -->
                    </div> <!-- /.thumbnail -->
                  </a>
                </div> <!-- /.col -->

              <% end %>
            </div><br><br>
          <% end %>

        </div>  <!-- portlet-body -->
      </div>  <!-- portlet -->

    </div>  <!-- container -->
  </div>  <!-- content -->
</div>  <!-- wrapper -->