= render('shared/navbars/stories_header', { company: @company, story: nil, is_preview: false })

- if @is_dashboard
  = turbo_frame_tag('stories')
    = render( \
        'stories/shared/gallery',
        { company: @company,
          stories: @stories,
          filtered_story_ids: [],
          no_filters_present: false,
          is_dashboard: true })

- else
  .container
    = render( \
        'stories/shared/search_and_filters_xs_sm',
        { company: @company,
          filters_match_type: @filters_match_type,
          filters: @tags })
    / if no filters, the search input will appear in the header
    
    - if @company.story_categories.featured.present? || @company.products.featured.present?
      = render( \
          'stories/shared/search_and_filters_md_lg',
          { company: @company,
            filters_match_type: @filters_match_type,
            filters: @tags,
            is_dashboard: false })
    
    = render( \
        'stories/shared/gallery',
        { company: @company,
          stories: @featured_stories,
          filtered_story_ids: @filtered_story_ids,
          no_filters_present: @company.story_categories.featured.blank? && @company.products.featured.blank?,
          is_dashboard: false })

  = render('stories/shared/footer', company: @company)