<div id='wrapper'>
<%= render 'shared/mvp_landing_navbar' %>
<div class="content">
<div class="container">

<div class="masthead">
  <div class="container">
    <h1 class="masthead-subtitle">
      Customers
    </h1>
  </div>
</div>


      </div> <!-- /.container -->

    </div> <!-- /.masthead -->

  <div class="portlet portlet-default">
    <div class="portlet-header">
      <div class="portlet-body">

      </div>
    </div>
  </div>

</div>  <!-- container -->
</div>  <!-- content -->
</div>  <!-- wrapper -->