
(function () {

  var storyIds = <%= raw @story_ids.to_json %>,
      searchString = "<%= @search_string %>",
      searchResults = storyIds.length === 1 ? "1 story found" : storyIds.length.toString() + " stories found";
      
  if (storyIds.length === 0) {
    $('#stories-gallery')
      .empty()
      .append('<li><h4 id="no-search-results">Sorry, we couldn\'t find any results matching "' + searchString + '"</h4></li>');
  } else {
    updateGallery($(
      _.template($('#stories-template').html())({
        stories: CSP.stories.filter(function (story) { return storyIds.includes(story.id); }),
        subdomain: location.href.match(/:\/\/((\w|-)+)\./)[1],
        isDashboard: false,
        cardClass: 'card'
      })
    ));
  }

  // don't show search results for stories-header
  $('.search-stories__results').text(searchResults);
  $('.search-stories__clear').show();
  $('.stories-filter__select').val('').trigger('change.select2');
  $('.stories-filter__results').text('');

}());