
label.contributions-collapse {
  position: relative;
  padding-right: 30px;
  i {
    position: absolute;
    top: -5px;
    right: 10px;
    font-size: 22px;
    color: #666;
  }
}

.carousel {
  margin-bottom: 10px;

  .carousel-inner {

    .carousel-control {
      opacity: 1;
      color: #666;
      .glyphicon {
        margin-top: -15px;  // changed from bs default 10px to center icons (??)
        text-shadow: none;
      }
    }
    .carousel-control:hover {
      color: #222;
    }
    .left.carousel-control {
      background: linear-gradient(to right, #e3e3e3 0%, #f5f5f5 100%);
    }
    .right.carousel-control {
      background: linear-gradient(to left, #e3e3e3 0%, #f5f5f5 100%)
    }

    .item {
      overflow: scroll;
      background: #f5f5f5;
    }

    .contributor-name {
      position: absolute;
      top: 5%;
      left: 17%;
      right: 17%;
      p {
        padding-right: 15px;  // space for scrollbar
        font-weight: 600;
      }
    }

    .contribution-content {  // overrides bootstrap .carousel-caption
      p {
        padding-right: 15px  // space for scroll bar
      }
      position: absolute;
      top: 14%;
      bottom: 14%;
      left: 17%;
      right: 17%;
      overflow-y: scroll;
    }

    .carousel-indicators {
      bottom: 1%;
      li.active {
        background-color: #666;
      }
      li {
        border-color: #666;
      }
    }

  }
}