
#story-content {

  > form > .row:nth-of-type(1) {
    margin-bottom: 15px;
  }
  .form-group {
    margin-bottom: 15px
  }
  .form-group.video {
    margin-bottom: 8px;
  }

  #story_quote {
    font-style: italic;
  }
  #story_quote::-webkit-input-placeholder {
    font-style: normal;
  }

  #video-container {
    min-height: 234px;
    img#video-placeholder {
      width: 100%;
    }
  }

  .note-editor {
    border-color: #ccc;
  }

}

