

// #curate-story view may be loaded synchronously under stories#edit
// or asynchronously under companies#show
.stories.edit #curate-story, .companies.show #curate-story {

  @import 'contributions';
  @import 'results';

  #story-settings {
    #publish-control {
      margin-bottom: 60px;
      .form-group {
        position: relative;
        .bootstrap-switch {
          position: absolute;
          left: 50%;
          right: 50%;
          transform: translate(-50%, -50%);
          bottom: -45px;
        }
      }
      .form-group:nth-of-type(2) {
        margin: 0 20px;
      }
      #approval-pdf {
        position: absolute;
        left: 15px;
        bottom: -50px;
      }
    }
  }
  #story_quote {
    font-style: italic;
  }
  #story_quote::-webkit-input-placeholder {
    font-style: normal;
  }

  #video-container {
    min-height: 234px;
    img#video-placeholder {
      width: 100%;
    }
  }

  .note-editor {
    border-color: #ccc;
  }


  /***********************************************/
  /*      email request confirmation modal
  /***********************************************/

  #email-confirmation-modal .modal-title,
  #email-confirmation-modal .progress {
    margin-bottom: 5px;
  }

  #email-confirmation-modal .progress {
    margin-top: 5px;
  }

  #email-confirmation-modal .modal-body {
    max-height: 440px;
    overflow-y: auto;
  }

  .fileinput.customer-logo {
    position: relative;  // for positioning .change-image
    width: 100%;
    padding-top: 14px;
    padding-bottom: 0;
    .thumbnail {
      position: relative;  // for positioning image
      height: 100px;
      width: 270px;
      img {
        max-height: 90px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
    div.image-requirements {
      margin-bottom: 10px;
    }
    .change-image {
      position: absolute;
      top: 5px;
      right: 10px;
      padding: 6px;
      font-size: 18px;
      color: #666;
      cursor: pointer;
    }
    .change-image:hover {
      color: #222;
    }
    .thumbnail {
      margin: 0;
    }
    .help-block {
      margin: 6px 0;
    }
  }

}