

// #curate-story view may be loaded synchronously under stories#edit
// or asynchronously under companies#show
.stories.edit #curate-story, .companies.show #curate-story {

  @import 'contributions';
  @import 'results';

  #story-settings {
    #publish-control {
      margin-bottom: 29px;
    }
  }
  #story_quote {
    font-style: italic;
  }
  #story_quote::-webkit-input-placeholder {
    font-style: normal;
  }

  #video-container {
    min-height: 234px;
    img#video-placeholder {
      width: 100%;
    }
  }

  .note-editor {
    border-color: #ccc;
  }

  .contributions-info {
    font-size: 16px;
    color: #666;
  }

  // since height of carousel is dictated by background image, easier to match
  // story summary textarea to the contributions carousel
  #story_summary {
    height: 326px;
  }



  /***********************************************/
  /*      email request confirmation modal
  /***********************************************/

  #email-confirmation-modal .modal-title,
  #email-confirmation-modal .progress {
    margin-bottom: 5px;
  }

  #email-confirmation-modal .progress {
    margin-top: 5px;
  }

  #email-confirmation-modal .modal-body {
    max-height: 440px;
    overflow-y: auto;
  }

  .fileinput.customer-logo {
    position: relative;  // for positioning .change-image
    width: 100%;
    padding-top: 14px;
    padding-bottom: 0;
    .thumbnail {
      position: relative;  // for positioning image
      height: 100px;
      width: 270px;
      img {
        max-height: 90px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
    div.image-requirements {
      margin-bottom: 10px;
    }
    .change-image {
      position: absolute;
      top: 5px;
      right: 10px;
      padding: 6px;
      font-size: 18px;
      color: #666;
      cursor: pointer;
    }
    .change-image:hover {
      color: #222;
    }
    .thumbnail {
      margin: 0;
    }
    .help-block {
      margin: 6px 0;
    }
  }

}