
(function () {

  // two containers: regular and xs
  var $modal = $('#video-modal, #cs-video-modal'),
      videoPlayerWindow = $modal.find('iframe')[0].contentWindow,
      $thumbContainers = $('.video-thumb-container'),
      provider = $thumbContainers.data('provider'),
      videoId = $thumbContainers.data('video-id'),
      videoUrl = $thumbContainers.data('video-url'),
      placeholderUrl = "<%= asset_path('video_placeholder.jpg') %>",
      videoQueryString,
      thumbSrc;

  console.log(provider, videoId, videoUrl);

  loadVideoThumbnail();

  function loadVideoThumbnail () {

    // no video, or wistia video
    if ($('.testimonial, .cs-testimonial').hasClass('no-video') || $thumbContainers.length === 0 ) {
      return false;
    }

    var removeVideo = function () {
          if (CSP.screenSize === 'xs') {
            $.when($('.cs-video-xs').remove())
              .then();
          } else {
            // $.ajax({
            //   url: window.location.pathname,
            //   method: 'get',
            //   data: { remove_video: true },
            //   dataType: 'html',
            //   success: function (html, status, xhr) {
            //     $.when(
            //       $('.testimonial').empty().append(html)
            //     )
            //       .then(cb);
            //   }
            // });
          }
        },
        appendThumbnail = function () {
          $thumbContainers.append(
            '<div><img class="video-thumb" src="' + thumbSrc + '"></div>'
          );
        },
        loadPlaceholder = function () {
          $thumbContainers.empty().append(
            '<img id="video-placeholder" src="' + placeholderUrl + '" alt="video placeholder">'
          );
        };

    if (provider === 'youtube') {
      // ref: http://stackoverflow.com/questions/2068344
      thumbSrc = '//img.youtube.com/vi/' + videoId + '/hqdefault.jpg';
      $.when(appendThumbnail())
        .then(function () {
          var loadedThumbnails = 0;

          console.log($(thumbContainers.find('img')));

          $thumbContainers.imagesLoaded().done(function () {
            // original width of 120 indicates youtube thumbnail not available
            if ($thumbContainers.find('img')[0].naturalWidth === 120) {
              if ( $('body').hasClass('stories show') ) {
                removeVideo();
              } else {
                loadPlaceholder();
              }
            } else {
              $.when(
                $thumbContainers.find('img').after(
                  '<div class="play-button">' +
                    '<i class="fa fa-2x fa-inverse fa-play"></i>' +
                  '</div>'
                )
              )
                .then(function () { videoListener(); });
            }
          });
        });

    } else if (provider === 'vimeo') {
      $.ajax({
        url: '//vimeo.com/api/oembed.json?url=https%3A//vimeo.com/' + videoId,
        method: 'get',
        dataType: 'json',
      })
        .done(function (data, status, xhr) {
          thumbSrc = data.thumbnail_url_with_play_button;
          $.when(appendThumbnail())
            .then(videoListener);
        })
        .fail(function (data, status) {
          if ($('body').hasClass('stories show')) {
            removeVideo();
          } else {
            loadPlaceholder();
            // strange but necessary css setting adds a huge bottom padding, see video.scss
            // needs to be removed for the placeholder
            $thumbContainers.css('padding-bottom', '0');
          }
        });
    }
  }

  function videoListener () {

    $(document)
      .on('click', '.cs-content .close-button', function () {

      })
      .on('click', '.video-thumb-container img, .video-thumb-container .play-button', function (e) {

        var pausePlayer = function () {
              if (provider === 'youtube') {
                videoPlayerWindow.postMessage(
                  '{"event":"command","func":"pauseVideo","args":""}', '*'
                );
              } else if (provider === 'vimeo') {
                videoPlayerWindow.postMessage(
                  '{"method":"pause"}', '*'
                );
              }
            };


        if (provider === 'youtube') {
          videoQueryString = (videoUrl.includes('?') ? '&' : '?') + 'autoplay=1&enablejsapi=1&controls=0&iv_load_policy=3&showinfo=0&rel=0';
        } else if (provider === 'vimeo') {
          videoQueryString = (videoUrl.includes('?') ? '&' : '?') + '';
        }

        if ($(document).width() < 768) {
          e.stopPropagation();  // stop modal from being triggered
          $(this).parent().replaceWith($("<iframe src='" + videoUrl + videoQueryString + "'frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>"));

        } else { // play video in modal
          console.log('loading', videoUrl + videoQueryString)
          window.addEventListener("message", function (a) { console.log(a); }, false);

          // videoPlayerWindow.location.replace(videoUrl + videoQueryString);
          $modal.find('iframe').attr('src', videoUrl + videoQueryString);

          $modal
            .find('button.close').on('click', pausePlayer)
              .end()
            .one('hide.bs.modal', pausePlayer);


          // $modal.one('hidden.bs.modal', function () {
          //   // warning: this has historically caused browser to hang
          //   // videoPlayerWindow.location.replace('');
          //   $modal.find('iframe').attr('src', 'about:blank');
          // });
        }
      });
  }

}());

