
function initCspVideo ($storyCard) {

  // two containers: regular and xs
  var $story = $('.content__item:nth-of-type(' + ($storyCard.index() + 1) + ')'),
      $iframe = $('#cs-video-modal iframe'),
      videoPlayerWindow = $iframe[0].contentWindow,
      $thumbContainers = $story.find('.video-thumb-container'),
      provider = $thumbContainers.data('provider'),
      videoId = $thumbContainers.data('video-id'),
      videoUrl = $thumbContainers.data('video-url'),
      placeholderUrl = "<%= asset_path('video_placeholder.jpg') %>",
      videoQueryString,
      thumbSrc;

  loadVideoThumbnail();

  function loadVideoThumbnail () {
    // no video, or wistia video
    if ($story.find('.cs-testimonial').hasClass('no-video') ||
        $thumbContainers.length === 0 ||
        $thumbContainers.children().length !== 0) {
      console.log('loadVIdeoThumbnail() return false');
      return false;
    }

    var removeVideo = function () {
          if (CSP.screenSize === 'xs') {
            $.when($('.cs-video-xs').remove())
              .then();
          } else {
            // $.ajax({
            //   url: window.location.pathname,
            //   method: 'get',
            //   data: { remove_video: true },
            //   dataType: 'html',
            //   success: function (html, status, xhr) {
            //     $.when(
            //       $('.testimonial').empty().append(html)
            //     )
            //       .then(cb);
            //   }
            // });
          }
        },
        appendThumbnail = function () {
          $thumbContainers.append(
            '<img src="' + thumbSrc + '">'
          );
        },
        loadPlaceholder = function () {
          $thumbContainers.empty().append(
            '<img id="cs-video-placeholder" src="' + placeholderUrl + '" alt="video placeholder">'
          );
        };

    if (provider === 'youtube') {
      // ref: http://stackoverflow.com/questions/2068344
      thumbSrc = '//img.youtube.com/vi/' + videoId + '/hqdefault.jpg';
      $.when(appendThumbnail())
        .then(function () {
          var loadedThumbnails = 0;

          console.log($(thumbContainers.find('img')));

          $thumbContainers.imagesLoaded().done(function () {
            // original width of 120 indicates youtube thumbnail not available
            if ($thumbContainers.find('img')[0].naturalWidth === 120) {
              if ( $('body').hasClass('stories show') ) {
                removeVideo();
              } else {
                loadPlaceholder();
              }
            } else {
              $.when(
                $thumbContainers.find('img').after(
                  '<div class="play-button">' +
                    '<i class="fa fa-2x fa-inverse fa-play"></i>' +
                  '</div>'
                )
              )
                .then(function () { videoListener(); });
            }
          });
        });

    } else if (provider === 'vimeo') {
      $.ajax({
        url: '//vimeo.com/api/oembed.json?url=https%3A//vimeo.com/' + videoId,
        method: 'get',
        dataType: 'json',
      })
        .done(function (data, status, xhr) {
          thumbSrc = data.thumbnail_url_with_play_button;
          $.when(appendThumbnail())
            .then(videoListeners);
        })
        .fail(function (data, status) {
          if ($('body').hasClass('stories show')) {
            removeVideo();
          } else {
            loadPlaceholder();
            // strange but necessary css setting adds a huge bottom padding, see video.scss
            // needs to be removed for the placeholder
            $thumbContainers.css('padding-bottom', '0');
          }
        });
    }
  }

  function pausePlayer () {
    if (provider === 'youtube') {
      videoPlayerWindow.postMessage(
        '{"event":"command","func":"pauseVideo","args":""}', '*'
      );
    } else if (provider === 'vimeo') {
      videoPlayerWindow.postMessage(
        '{"method":"pause"}', '*'
      );
    }
  }

  function videoListeners () {

    // listen for iframe post messages
    window.addEventListener("message", function (mesg) { console.log(mesg); }, false);

    $(document)
      // empty the video iframe when the story is closed
      .on(
        'webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend',
        '.cs-content',
        function () {
          console.log('transition');
          // if a story was closed, empty the video iframe
          if ($('.content__item--show').length === 0) {
            $iframe.attr('src', '');
          }
        }
      )
      .on('click', '#cs-video-modal button.close', pausePlayer)
      .on('hide.bs.modal', '#cs-video-modal', pausePlayer)
      .on('click', '.cs-content .close-button', function () {
      })
      .on('click', '.video-thumb-container img, .video-thumb-container .play-button', function (e) {

        if (provider === 'youtube') {
          videoQueryString = (videoUrl.includes('?') ? '&' : '?') + 'autoplay=1&enablejsapi=1&controls=0&iv_load_policy=3&showinfo=0&rel=0';
        } else if (provider === 'vimeo') {
          videoQueryString = (videoUrl.includes('?') ? '&' : '?') + 'autoplay=1';
        }

        if ($(document).width() < 768) {
          e.stopPropagation();  // stop modal from being triggered
          $(this).parent().replaceWith($("<iframe src='" + videoUrl + videoQueryString + "'frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>"));

        } else { // play video in modal
          // console.log('loading', videoUrl + videoQueryString)


// $('.cs-story-video img').replaceWith(
//     '<iframe class="embed-responsive-item" src="' + videoUrl + videoQueryString + '" allowfullscreen></iframe>'
//   );
          // videoPlayerWindow.location.replace(videoUrl + videoQueryString);
          if ($iframe.attr('src') !== videoUrl + videoQueryString) {
            $iframe.attr('src', videoUrl + videoQueryString);
          }

        }
      });
  }

}

