
<div class="row">
  <div class="col-sm-12">

    <label>Enable Promote Type</label>

    <% if ['varmour', 'retailnext'].include?(company.subdomain) %>

      <span>
        <label class="checkbox-inline" style='pointer-events:none'>
          <input type="checkbox" checked> Topic & Re-targeting
        </label>
        <label class="checkbox-inline"
               data-toggle='tooltip' data-placement='top' data-container='body'
               data-title="Contact Customer Stories to subscribe to this feature">
          <input type="checkbox" disabled> CRM Targeting
        </label>
      </span>

    <% else %>

      <span data-toggle='tooltip' data-placement='top' data-container='body'
            data-title="Contact Customer Stories to subscribe to this feature">
        <label class="checkbox-inline">
          <input type="checkbox" disabled> Topic & Re-targeting
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" disabled> CRM Targeting
        </label>
      </span>

    <% end %>

  </div>
</div>

<%#= form_for company, method: 'put', remote: 'true', authenticity_token: true,
      html: {
        class: 'directUpload',
        data: { 'form-data' => (@s3_direct_post.fields),
                'url' => @s3_direct_post.url,
                'host' => URI.parse(@s3_direct_post.url).host
      } } do |f| %>

<!--   <div class="form-inline">
    <div class="form-group">

        <%#= f.label :adwords_short_headline, 'Headline', class: 'control-label' %>
        <%#= f.text_field :adwords_short_headline, class: 'form-control', style: 'width:300px' %>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 form-group"> -->

      <%#= f.label :adwords_logo_image, 'Sponsored Stories Logo' %>
      <!-- <div class="fileinput <%#= company.adwords_logo_image.blank? ? 'fileinput-new' : 'fileinput-exists' %>" data-provides="fileinput">

            <div class="fileinput-new thumbnail">
              <%#= image_tag "company-logo-missing.png", alt: 'logo image' %>
            </div>

            <div class="fileinput-preview fileinput-exists thumbnail"
                data-trigger="fileinput">
              <%#= image_tag company.adwords_logo_image, alt: 'logo image' %>
            </div>

            <div class="photo-btns">
              <div class="btn btn-default btn-file">
                <div class="fileinput-new">
                  Select image
                </div>
                <div class="fileinput-exists">
                  Change
                </div> -->
                <%#= f.file_field :photo_url %>
                <!-- below doesn't work, must use form builder -->
                <!-- <input type="file" name="user[photo_url]" class='form-control' id='user_photo_url'> -->
            <!--   </div>
              <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">
                Remove
              </a>
            </div>

          </div> -->  <!-- /.fileupload -->

<!--     </div>
    <div class="col-sm-4 form-group"> -->
      <%#= f.label :adwords_mktg_image, 'Sponsored Stories Image' %>

<!--     </div>
    <div class="col-sm-4"></div>
  </div>

  <hr> -->

  <%#= f.submit 'Save', class: 'btn btn-primary' %>

<%# end %>

