
<%= render 'adwords/adwords_image_select_modal', { company: company } %>

<div class="row enable-promote-type">
  <div class="col-sm-12">

    <%= render 'adwords/enable_promote_type', { company: company } %>

  </div>
</div>

<div class="sponsored-stories">

  <table id='sponsored-stories-table'
         class="datatable table table-striped table-bordered">
    <thead>
      <tr>
        <th>Status</th>
        <th>Customer</th>
        <th>Story Title / Sponsored Story Title</th>
        <th>Sponsored Story Image</th>
        <th>Preview</th>
      </tr>
    </thead>
    <tbody>



    </tbody>
  </table>

</div>
