
<a href="javascript:;"
   class="dropdown-toggle <%= story.ads.enabled? ? 'enabled' : 'paused' %>"
   data-toggle='dropdown'>

  <i class="fa <%= story.ads.enabled? ? 'fa-play' : 'fa-pause' %> "></i>&nbsp;
  <i class='fa fa-caret-down'></i>

</a>

<ul class='dropdown-menu'>

  <% if story.ads.enabled? %>

    <li>
      <a href="javascript:;" class="enabled">
        <i class='fa fa-play'></i>&nbsp;&nbsp;
        <strong>Enabled</strong>
      </a>
    </li>

    <li>
      <a href="javascript:;" class='pause'>
        <i class='fa fa-pause'></i>&nbsp;&nbsp;
        <span>Pause</span>
      </a>
    </li>

    <li style='display:none'>
      <a href="javascript:;" class='enable'>
        <i class='fa fa-play'></i>&nbsp;&nbsp;
        <span>Enable</span>
      </a>
    </li>

    <li style='display:none'>
      <a href="javascript:;" class="paused">
        <i class='fa fa-pause'></i>&nbsp;&nbsp;
        <strong>Paused</strong>
      </a>
    </li>

  <% else %>

    <li>
      <a href="javascript:;" class='enable'>
        <i class='fa fa-play'></i>&nbsp;&nbsp;
        <span>Enable</span>
      </a>
    </li>

    <li>
      <a href="javascript:;" class="paused">
        <i class='fa fa-pause'></i>&nbsp;&nbsp;
        <strong>Paused</strong>
      </a>
    </li>

    <li style='display:none'>
      <a href="javascript:;" class="enabled">
        <i class='fa fa-play'></i>&nbsp;&nbsp;
        <strong>Enabled</strong>
      </a>
    </li>

    <li style='display:none'>
      <a href="javascript:;" class='pause'>
        <i class='fa fa-pause'></i>&nbsp;&nbsp;
        <span>Pause</span>
      </a>
    </li>

  <% end %>

</ul>