
&.stories.show {

  .testimonial, .cs-testimonial {
    font-family: $metropolis-regular;
    .customer-logo-quote.visible-xs-block {
      .customer-logo {
      }
      .customer-quote p {
      }
      .customer-quote-attr {
      }
    }
    .customer-logo-quote.hidden-xs {
      .customer-logo {
      }
      .customer-quote {
      }
    }
    &:after {
      background-image: linear-gradient(to top, $varmour-gray 0%, #ffffff 100%);  //f2f2f2
    }
  }

  .video-xs, .cs-video-xs, .social-buttons-xs, .cs-social-buttons-xs {
    background-color: $varmour-gray;
  }

  .story-content, .cs-story-content {
    background-color: $varmour-gray;
    font-family: $metropolis-regular;
    h4 { font-family: $metropolis-regular; }
    .well {
      border-color: #e6e9ec;
      border-radius: 0;
    }
  }

  @media only screen and (max-width: 767px) {
    .testimonial, .cs-testimonial {
      &.after {
        content: none;
      }
    }
    .video-xs, .cs-video-xs, .social-buttons-xs, .cs-social-buttons-xs {
      background-color: #fff;
    }
    .story-content, .cs-story-content {
      background-color: #fff;
    }
  }

  @media only screen and (min-width: 768px) {
    .testimonial .hidden-xs {
      .customer-logo {
      }
      .customer-quote {
      }
    }
    .story-content {
    }
  }

  @media only screen and (min-width: 992px) {
    .testimonial .hidden-xs {
      .customer-logo {
      }
      .customer-quote {
      }
    }
    .story-content {
    }
  }

  @media only screen and (min-width: 1200px) {
    .testimonial .hidden-xs {
      .customer-logo {
      }
      .customer-quote {
      }
    }
    .story-content {
    }
  }

}
