
&.stories.show {

  .testimonial {
    font-family: $metropolis-regular;
    .customer-logo-quote.visible-xs-block {
      .customer-logo {
      }
      .customer-quote p {
      }
      .customer-quote-attr {
      }
    }
    .customer-logo-quote.hidden-xs {
      .customer-logo {
      }
      .customer-quote {
      }
    }
    &:after {
      background-image: linear-gradient(to top, #f5f6f7 0%, #ffffff 100%);  //f2f2f2
    }
  }

  .video-xs, .social-buttons-xs {
    background-color: #f5f6f7;
  }

  .story-content {
    h4 { font-family: $metropolis-regular; }
    font-family: $metropolis-regular;
    background-color: #f5f6f7;
    .well {
      border-color: #e6e9ec;
      border-radius: 0;
    }
  }

  @media only screen and (max-width: 767px) {
    .testimonial .visible-xs-block {
      .video-xs {
      }
      .social-buttons-xs {
      }
      .story-content {
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .testimonial .hidden-xs {
      .customer-logo {
      }
      .customer-quote {
      }
    }
    .story-content {
    }
  }

  @media only screen and (min-width: 992px) {
    .testimonial .hidden-xs {
      .customer-logo {
      }
      .customer-quote {
      }
    }
    .story-content {
    }
  }

  @media only screen and (min-width: 1200px) {
    .testimonial .hidden-xs {
      .customer-logo {
      }
      .customer-quote {
      }
    }
    .story-content {
    }
  }

}
