@import 'varmour';

.stories.show {

  .testimonial, 
  .cs-testimonial {
    font-family: $metropolis-regular;

    // .customer-logo-quote.visible-xs-block {
    //   .customer-logo {
    //   }
    //   .customer-quote p {
    //   }
    //   .customer-quote-attr {
    //   }
    // }

    // .customer-logo-quote.hidden-xs {
    //   .customer-logo {
    //   }
    //   .customer-quote {
    //   }
    // }

    &:after {
      background-image: linear-gradient(to top, $varmour-gray 0%, #ffffff 100%);  //f2f2f2
    }
  }

  .story-video-xs, 
  .cs-story-video-xs, 
  .share-buttons-xs, 
  .cs-share-buttons-xs {
    background-color: $varmour-gray;
  }

  .story-content, 
  .cs-story-content {
    background-color: $varmour-gray;
    font-family: $metropolis-regular;

    h4 {
      font-family: $metropolis-regular;
    }
  }

  @media only screen and (max-width: 767px) {
    &.cs-overlay-container {
      .cs-content.content--show {
        background: $varmour-gray;
      }
    }
    // .testimonial, .cs-testimonial {
    // }
    .story-video-xs, .cs-story-video-xs, .share-buttons-xs, .cs-share-buttons-xs {
      background-color: #fff;
    }
    .story-content, .cs-story-content {
      background-color: #fff;
    }
  }

  // @media only screen and (min-width: 768px) {
  //   .testimonial .hidden-xs {
  //     .customer-logo {
  //     }
  //     .customer-quote {
  //     }
  //   }
  //   .story-content {
  //   }
  // }

  // @media only screen and (min-width: 992px) {
  //   .testimonial .hidden-xs {
  //     .customer-logo {
  //     }
  //     .customer-quote {
  //     }
  //   }
  //   .story-content {
  //   }
  // }

  // @media only screen and (min-width: 1200px) {
  //   .testimonial .hidden-xs {
  //     .customer-logo {
  //     }
  //     .customer-quote {
  //     }
  //   }
  //   .story-content {
  //   }
  // }

}
