
@import 'variables';
@import 'gallery';
@import 'show';

body.varmour.stories.index, body.varmour.stories.show {
  font-family: $metropolis-regular;
  &.index {
    background-color: #fafcfd;
  }
}

.company-header__logo--varmour img {
  max-height: 40px;
}

.company-header--varmour {
  height: 90px;
  a.primary-cta {
    font-size: 12px;
    background-color: #fc6621 !important;
    border-radius: 0;
    text-transform: uppercase;
    // padding: 11px 32px 9px 32px;  // adjust for the font family - only needed for larger font size eg 14
    border: 2px solid #fc6621;
    box-shadow: 0 0;
    span {
      color: #fff !important;
    }
    &:hover {
      background-color: transparent !important;
      span {
        color: #fc6621 !important;
      }
    }
  }

}

.stories-header--varmour {
  height: 70px;
  box-shadow: 0 9px 22px -6px rgba(0, 0, 0, 0.07);
  // background-color: #21597a;
  // background: url('https://csp-production-assets.s3-us-west-1.amazonaws.com/varmour/header-background.png');
  // => extracted colors: #c4d9e0, #0b1114, #21597a, #4794b5, #7aaebf

  .stories-header__title {
    font-family: $metropolis-regular;
    text-transform: uppercase;
    color: #fff;
    padding-top: 2px;
  }

  .search-stories {
    .input-group {
      input {
        text-transform: uppercase;
        box-shadow: none;
        background-color: $varmour-gray;
        color: #a2a1a1;
        border-radius: 0;
        text-align: center;
        padding: 8px 12px 6px 12px;
        border: transparent;
      }
      .input-group-btn button {
        background-color: #4794b5; // $varmour-blue;
        color: #fff;
        // padding: 4px 6px;  // overrides bootstrap 6px 12px
        border: transparent;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        &:hover, &:focus { 
          background-color: #4794b5; // $varmour-blue;
          border-color: #4794b5; // $varmour-blue;
          color: #fff; 
        }
      }
    }
  }

  .search-stories__clear {
    color: #999;
    display: none;
    &:hover {
      color: #666;
    }
  }

}





