


body.varmour {

  &.stories.index {
    background-color: #fafcfd;
  }

  #stories-header-wrapper #stories-header {
    box-shadow: 0 9px 22px -6px rgba(0, 0, 0, 0.07);
    .navbar-container {
      .visible-xs-block {
      }
      .row {
        .navbar-header {
          h3 {
            font-family: $metropolis-light;
            text-transform: uppercase;
            padding-top: 4px;
            &.light { }
            // &.dark { color: #434343; }
          }
        }
        .stories-search-form {
          max-width: 285px;
          text-transform: uppercase;
          .form-group {
            .input-group {
              input {
                text-transform: uppercase;
                background-color: #f5f6f7;
                color: #a2a1a1;
                border-radius: 0;
                text-align: center;
                padding: 8px 12px 6px 12px;
                border: transparent;
                &.form-control {
                  box-shadow: 0 0 0;
                  -webkit-box-shadow: 0 0 0;
                }
              }
              .input-group-btn {
                button {
                  height: 30px;
                  background-color: #f5f6f7;
                  color: #999;
                  padding: 4px 6px;  // overrides bootstrap 6px 12px
                  border: transparent;
                  border-top-right-radius: 0;
                  border-bottom-right-radius: 0;
                  &:hover { color: #666; }
                }

                .clear-search {
                  color: #999;
                  display: none;
                }
                .clear-search:hover {
                  color: #666;
                }
              }
            }
          }
        }
      }
    }
  }

  #stories-gallery, #related-stories {

    // gallery.scss structure
    a.thumbnail {
      .thumbnail-view {
        .thumbnail-view-hover {
          p {  }
        }
      }
    }

    a.thumbnail {
      transition: background-color 0.5s ease-in-out;
      border: 1px solid #999;
      box-shadow: 0 0;
      .thumbnail-view {
        .thumbnail-view-hover {
          padding: 10px;
          border-radius: 0;
          -webkit-transform: translateY(-100%);
          -moz-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
          -o-transform: translateY(-100%);
          transform: translateY(-100%);
          transition: all 0.23s ease-in-out;
          p {
            font: {
              family: $metropolis-medium;
              size: 14px;
              weight: normal;
            }
            color: #000;
          }
        }
        img {
          padding: 24px;
        }
      }
      .caption {
        font: {
          family: $metropolis-light;
          size: 10px;
          weight: 300;
        }
        text-transform: uppercase;
        color: #000;
        span:last-child:not(:only-child) {
          text-decoration: none;
        }
      }
      &:hover {
        background-color: #edf5f8;
        border-color: #999;  // override bootstrap .thumbnail
      }
      &.title-present:hover {
        .thumbnail-view-hover {
          -webkit-transform: translateY(0%);
          -moz-transform: translateY(0%);
          -ms-transform: translateY(0%);
          -o-transform: translateY(0%);
        }
        img {
          opacity: 0.1;
        }
      }
    }
  }

  @media only screen and (max-width: 767px) {

  }
  @media only screen and (min-width: 768px) {
  }
  @media only screen and (min-width: 992px) {
    #stories-gallery {
      &.no-filters {

      }
    }
  }
  @media only screen and (min-width: 1200px) {
    #stories-header {
      &.index {
        margin-bottom: 22px;
      }
    }
  }

}



