export default (story, storyLink, cardClass) => `

  <li style="display: inline-block; vertical-align: top">

    <div class="story-card ${cardClass}" 
          data-story-id="${story.id}" 
          data-story-slug="${story.slug}" 
          data-customer-slug="${story.customer.slug}">

      <a href="${storyLink}" class="story-card__link">

        ${cardClass.includes('card-image') ? `

          <img class="story-card__logo" src="${story.og_image_url || '<%= LOGO_PLACEHOLDER_URL %>'}">

          <div class="story-card__hover-view">
            <div class="story-card__title">
              <p>${story.title}</p>
            </div>
            <div class="story-card__cta">READ MORE</div>
          </div>

          ` : `

          <div class="story-card__content">
            ${story.title ? '<div class="story-card__title"><p>' + story.title + '</p></div>' : ''}
            <div class="story-card__logo">
              <img src="${story.customer.logo_url || '<%= LOGO_PLACEHOLDER_URL %>'}">
            </div>
          </div>

          <div class="story-card__caption">
            <span class="story-card__customer">${story.customer.name}</span>
            <span class="story-card__cta"></span>
          </div>

        `}
        
        <div class="story-card__loading">
          <i class="fa fa-spin fa-circle-o-notch"></i>
        </div>

      </a>
    
    </div>

  </li>

`;