
.companies.edit {

  // #stories-plugin {
  //   form {
      // .spinner {
      //   input {
      //     text-align: right;
      //   }
      //   .input-group-btn-vertical {
      //     position: relative;
      //     white-space: nowrap;
      //     width: 2%;
      //     vertical-align: middle;
      //     display: table-cell;
      //   }
      //   .input-group-btn-vertical > .btn {
      //     display: block;
      //     float: none;
      //     width: 100%;
      //     max-width: 100%;
      //     padding: 8px;
      //     margin-left: -1px;
      //     position: relative;
      //     border-radius: 0;
      //   }
      //   .input-group-btn-vertical > .btn:first-child {
      //     border-top-right-radius: 4px;
      //   }
      //   .input-group-btn-vertical > .btn:last-child {
      //     margin-top: -2px;
      //     border-bottom-right-radius: 4px;
      //   }
      //   .input-group-btn-vertical i {
      //     position: absolute;
      //     top: 0;
      //     left: 4px;
      //   }
      // }
  //     .row.widget-show-freq {
  //       margin-bottom: 20px;
  //     }
  //     .form-group:nth-of-type(2) {
  //       // margin-bottom: 5px;
  //     }
  //     .form-group:nth-of-type(4) {
  //       [class^='col']:first-child {
  //         padding-right: 0;
  //       }
  //     }
  //     .row.disabled {
  //       label, .form-control, i { color: #ccc; }
  //     }
  //   }
  // }

  // #stories-plugin > .row > {
  //   div[class^='col']:first-child {
  //   }
  //   div[class^='col']:last-child {
  //     div.form-group:first-of-type { margin-bottom: 20px; }
  //     label:not(.radio-inline) { margin-bottom: 8px; }
  //     #widget-html-btn { margin-bottom: 20px; }
  //     // select box containers
  //     div[id^='widget-filter'] {
  //       display: none;
  //     }
  //     // select boxes
  //     div[class^='widget-filter'] {
  //       width: 100%;
  //     }
  //     > .row:last-child {
  //       position: relative;
  //       div[class^='col'] {
  //         position: absolute;   // prevents overflow
  //         left: 0;
  //         right: 0;
  //         i {
  //           position: absolute;
  //           top: 1px;
  //           right: 16px;
  //           visibility: hidden;
  //         }
  //       }
  //     }
  //   }
  // }

  #stories-plugin {

    $settings-width: 540px;

    p.lead {
      margin-bottom: 30px;
    }
    .form-horizontal {
      margin-left: -30px;
      .help-block {
        display: inline-block;
        margin-bottom: 5px;
      }
      .form-group.type {
        margin-bottom: 0;
        button.demo {
          width: 90px;
          margin: 0 50px;
        }
      }
      .settings-container {
        // collapse is jumpy when padding in collapsed element or margins in surrounding elements
        padding: 20px 0;
        .form-group.settings {
          margin-bottom: 0;  // margin makes the collapse jumpy
          .carousel .row {
            margin-left: 0;
            margin-right: 0;
            height: 128px;  // matches the slightly larger tabbed carousel settings
            width: $settings-width;
            padding: 15px;
            padding-top: 20px;
            background: #efefef;
            label {
              padding-top: 5px;
              &.control-label {
                padding-left: 0px;
              }
            }
            .btn-group {
              height: 34.5px;  // matches height of the form-inline
            }
          }
          .tabbed-carousel .form-group.delay {
            width: 100%;
            .help-block {
              display: inline-block;
              padding-left: 8px;
            }
            .input-group.spinner {
              width: 60px;
              input {
                text-align: right;
              }
              .input-group-btn-vertical {
                position: relative;
                white-space: nowrap;
                width: 2%;
                vertical-align: middle;
                display: table-cell;
              }
              .input-group-btn-vertical > .btn {
                display: block;
                float: none;
                width: 100%;
                max-width: 100%;
                padding: 8px;
                margin-left: -1px;
                position: relative;
                border-radius: 0;
              }
              .input-group-btn-vertical > .btn:first-child {
                border-top-right-radius: 4px;
              }
              .input-group-btn-vertical > .btn:last-child {
                margin-top: -2px;
                border-bottom-right-radius: 4px;
              }
              .input-group-btn-vertical i {
                position: absolute;
                top: 0;
                left: 4px;
              }
            }
          }
          .tabbed-carousel {
            .form-inline {
              width: $settings-width;
              display: inline-block;  // only as wide as contents allows for background shading
              padding-left: 15px;
              padding-right: 15px;
              background: #efefef;
              &:first-of-type {
                padding-top: 20px;
                padding-bottom: 10px;
              }
              &:last-of-type {
                padding-top: 10px;
                padding-bottom: 20px;
              }
              .form-group {
                margin-left: 0;
                margin-right: 0;
                label {
                  padding-top: 2px;
                  margin-bottom: 5px;
                  margin-right: 10px;
                }
                .minicolors {
                  display: inline-block;
                  input {
                    margin-right: 20px;
                  }
                }
              }
            }

          }

        }
      }
      .form-group.content__select {
        // https://github.com/select2/select2-bootstrap-theme/issues/77
        .select2-container .select2-selection__rendered > *:first-child.select2-search--inline {
          width: 100% !important;
        }
        .select2-container .select2-selection__rendered > *:first-child.select2-search--inline .select2-search__field {
          width: 100% !important;
        }
        .content__select--category, .content__select--product {
          display: none;
        }
      }

      // select2: fixes word text wrap issues on long select values
      // ref https://github.com/select2/select2/issues/4585
      li.select2-selection__choice {
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis; //use this if you want to shorten
      }

      ul.select2-selection__rendered {
          padding-right: 12px !important; //overrides select2 style
      }
    }



  }

}