
#ad-image-select-modal {
  .thumbnail {
    height: 110px;
    width: 210px;
    cursor: pointer;
  }
  .thumbnail.selected {
    border-color: #337ab7;  // from bootstrap $brand-primary
  }
  .modal-body {
    background-color: #f2f2f2;
    max-height: 475px;
    overflow-y: scroll;
    li {
      margin: 15px 20px;
    }
  }
}