
#company-header {
  .navbar-container {
    .row {
      .navbar-header { }

      button.primary-cta  {
        font-size: 13px;
        height: 36px;
        padding: 8px 12px;
        text-transform: uppercase;
        border-radius: 5px;
        border-width: 0;
        box-shadow: 0 3px 0 #f2b600;
        transition: background-color 300ms, box-shadow 300ms;
        &:hover, &:focus {
          // opacity: 1;
          background: #e6bf00 !important;
          box-shadow: 0 3px 0 #d9a300;
        }
      }

    }
  }
}