
.related-stories.hidden-xs {
  ul {
    padding: 15px 0;
  }
}

#stories-gallery, .related-stories {
  li {
    .og-expander {
      background: $fg-color;
    }
    &.loading {
      a.thumbnail {
        background-color: $fg-color;
        img { opacity: 0; }
      }
    }
    a.thumbnail {
      border: 0;
      border-bottom: 2px solid #ccc;
      box-shadow: 0 0;
      transition: background-color 300ms ease;
      .thumbnail-view {
        .thumbnail-view-hover {
          transition: all 0s step-end;
          p {
            font: {
              family: $metropolis-light;
              size: 15px;
              weight: 600;
            }
          }
        }
        img {
          mix-blend-mode: multiply;
        }
      }
      .caption {
        font: {
          family: $metropolis-light;
          size: 14px;
        }
        color: #444;
        span.customer-name {
          transition: visibility 0ms step-end;
        }
        span.click-action:after {
          color: #00b1c4;
          transition: visibility 0ms step-end;
        }
      }
      &:hover {
        // NOTE: this screws with the story preview
        // allow for 10px border; margin reduced my 10
        // width: 262px;
        // height: 190px;
        // border: 10px solid $fg-color;
        border: 0;
        border-bottom: 2px solid #ccc;
        box-shadow: 0 0;
        background-color: $fg-color;
        transition: background-color 100ms ease;
        .caption {
          span.customer-name {
            // visibility: hidden;
            transition: all 0ms step-end;
          }
          span.click-action:after {
            // visibility: visible;
            transition: all 0ms step-end;
          }
        }
      }
      &:hover {
        .thumbnail-view-hover {
          -webkit-transform: translateY(0%);
          -moz-transform: translateY(0%);
          -ms-transform: translateY(0%);
          -o-transform: translateY(0%);
          transition: all 0s step-end;
        }
        img {
          opacity: 0;
          transition: all 0s;
        }
      }
      &:active {
        -webkit-filter: brightness(94%);
        // box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08)
      }
      &.public.logo-published {
        pointer-events: none;
      }
      &:after {
        border-bottom-color: $fg-color;
      }
    }
    // NOTE: this screws with the story previews
    // &:hover { margin: 10px; }
    &.og-expanded {
      a {
        background-color: $fg-color;
        transition: background-color 300ms ease;
        img {
          opacity: 0;
          transition: all 0s;
        };
      }
      > a::after {
        bottom: -12px;
        border-bottom-color: $fg-color;
        border-width: 10px;
        margin: 0 0 0 -10px;
      }
    }
  }
}