
&.stories.show, .cs-overlay-container {

  &.stories.show {
    #cs-tabbed-carousel {
      @import 'widgets/tabbed_carousel';
      .cs-header {
        font-family: $metropolis-regular;  // don't apply this to external widget
      }
    }
  }

  &.cs-overlay-container {
    article {
      background-color: $retailnext-background;
    }
  }

  .testimonial, .cs-testimonial {
    &:after {
      background-image: linear-gradient(to top, $retailnext-background 0%, #ffffff 100%);
    }
    &.cs-testimonial {
      .customer-logo-quote.visible-xs-block {
        .customer-logo {
          background-color: $retailnext-background;
        }
      }
      .customer-logo-quote.hidden-xs {
        .customer-logo {
          background-color: $retailnext-background;
        }
      }
    }
  }

  .story-video-xs, .cs-story-video-xs, .social-buttons-xs, .cs-social-buttons-xs {
    background-color: $retailnext-background;
  }

  .story-content, .cs-story-content {
    background-color: $retailnext-background;
    font-weight: 300;
    .related-stories ul {
      background-color: $retailnext-background;
    }
    .story-contributors {
      > .well:first-child, .cs-well:first-child {
        background-image: linear-gradient(to bottom, #ffffff 72%, $retailnext-background 100%);
      }
    }
    &.story-content {
      h4 {
        font-family: $metropolis-regular;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .testimonial, .cs-testimonial {
      &.after {
        content: none;
      }
    }
    .story-video-xs, .social-buttons-xs {
      background-color: #fff;
    }
    .story-content {
      background-color: #fff;
    }
  }

  @media only screen and (min-width: 768px) {
    .testimonial .hidden-xs {
      .customer-logo {
      }
      .customer-quote {
      }
    }
    .story-content {
    }
  }

  @media only screen and (min-width: 992px) {
    .testimonial .hidden-xs {
      .customer-logo {
      }
      .customer-quote {
      }
    }
    .story-content {
    }
  }

  @media only screen and (min-width: 1200px) {
    .testimonial .hidden-xs {
      .customer-logo {
      }
      .customer-quote {
      }
    }
    .story-content {
    }
  }

}