
#stories-header-wrapper {
  #stories-header {
    box-shadow: 0 0 0 0;
    .navbar-container {
      .visible-xs-block {
      }
      .row {
        height: 100%;
        display: flex;
        align-items: center;
        .navbar-header {
          h3 {
            font-family: $metropolis-medium;
            text-transform: uppercase;
            padding-top: 4px;
            // &.light, &.dark { color: #fff; }
          }
        }
        .stories-search-form {
        }
        .social-buttons {
        }
      }
    }
    &:after {
      background-image: linear-gradient(to bottom, #f5f6f7 0%, #ffffff 100%);
    }
  }
}

@media only screen and (max-width: 767px) {
  #stories-header {
    .navbar-container {
      .row {
        .navbar-header {
          h3 {
          }
        }
      }
    }
  }
  #stories-header.index {
  }
  #stories-header.show {
  }
}

@media only screen and (min-width: 768px) {
  #stories-header.index {
  }
  #stories-header.show {
  }
}

@media only screen and (min-width: 992px) {
  #stories-header.index {
  }
}

@media only screen and (min-width: 1200px) {
  #stories-header.index {
  }
  #stories-header.show {
  }
}