
// colors
$retailnext-background: #f5f5f5;
$retailnext-foreground: #ebebeb;

// fonts
@import '../fonts';
$retailnext-body-font: 'Open Sans', Arial, Helvetica, sans-serif;
$retailnext-title-font: '';