@import 'base/variables';

body {
  font-family: $csp-body-font;
  color: #425961;

  .dialog {
    margin: 6rem auto 0;
    width: 95%;
    max-width: 35em;
    text-align: center;

    h1 {
      font-size: 5em;
      margin-bottom: 0.3em;
    }
  
    p {
      font-size: 1.5em;
      margin-bottom: 1.5em;
    }
  
    img {
      height: 2.75em;
    }
  
    a {
      display: block;
      margin-bottom: 1.25em;
      font-size: 1.25em;
    }
  }
}