
<script type="text/template" id="group-contribution-template">

  <div class="group-contribution" data-fart="{{= '&lt;div&gt;Fart&lt;/div&gt;' }}" data-question-id="{{= question.id }}" {{= placeholder ? 'data-placeholder="' + placeholder + '"' : '' }}>

    <p>{{= question.question }}</p>

    <ul>

    {{ answers.forEach(function (answer) { }}

      <li>
        <p>{{= answer.contributor.full_name }}</p>
        <p><i>{{= answer.answer }}</i></p>
      </li>

    {{ }); }}

    </ul>

  </div></br>

</script>