
<script type="text/template" id="individual-contribution-template">

  <div class="individual-contribution" data-contribution-id="{{= contributionId }}" {{= placeholder ? 'data-placeholder="' + placeholder + '"' : '' }}>

    <p>{{= contributor.full_name }}</p>
    <p>{{= contributor.title }}</p>

    <ul>

    {{ theQandA.forEach(function (pair) { }}

      <li>
        <p>{{= pair.question }}</p>
        <p><i>{{= pair.answer }}</i></p>
      </li>

    {{ }); }}

    </ul>

  </div></br>

</script>