
<script type="text/template" id="note-insertion-dropdown-template">

  {{ var dtContributors = $('#prospect-contributors-table').DataTable(); }}

  <ul class="list-unstyled" style="margin-bottom:0">

<!--     <li data-placeholder="<div class='placeholder customer-logo customer-logo-left' data-customer-id='{{= customerId }}' contenteditable='false'>[Customer Logo]</div></br>">
      <a href="javascript:;">Customer Logo</a>
    </li>

    <li data-placeholder="<div class='placeholder customer-description' data-customer-id='{{= customerId }}' contenteditable='false'>[Customer Description]</div></br>">
      <a href="javascript:;">Customer Description</a>
    </li> -->

    <li class="dropdown-section"><span>Individual Contributions</span>&nbsp;<span>{{= type === 'placeholders' ? '(placeholders)' : '' }}<span</li>

    {{ _.uniq(contributionsData.answers, false, function (answer) { return answer.contribution_id; }).forEach(function (answer) { }}

      {{ var contributor = dtContributors.rows('[data-contribution-id="' + answer.contribution_id + '"]').data()[0].contributor; }}

      {{ if (type === 'contributions') { }}

        <li data-contribution-id='{{= answer.contribution_id }}'>
          <a>{{= contributor.full_name }}</a>
        </li>

      {{ } else if (type === 'placeholders') { }}

        <li data-placeholder="<div class='placeholder' data-contribution-id='{{= answer.contribution_id }}' contenteditable='false'>[Individual Contribution: {{= contributor.full_name }}]</div></br>">
          <a>{{= contributor.full_name }}</a>
        </li>

      {{ } }}

    {{   }); }}

    <li class="dropdown-section"><span>Group Contributions</span>&nbsp;<span>{{= type === 'placeholders' ? '(placeholders)' : '' }}</span></li>

    {{ contributionsData.questions.forEach(function (question) { }}

      {{ if (type === 'contributions') { }}

        <li data-question-id='{{= question.id }}'>
          <a>{{= question.question }}</a>
        </li>

      {{ } else if (type === 'placeholders') { }}

        <li data-placeholder="<div class='placeholder' data-question-id='{{= question.id }}' contenteditable='false'>[Group Contribution: {{= question.question }}]</div></br>">
          <a>{{= question.question }}</a>
        </li>

      {{ } }}

    {{ }) }}

  </ul>

</script>
