

<div id="win-story-zapier-modal" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <!-- <h4 class="modal-title">Zapier Trigger</h4> -->
        <div style="display: flex; align-items: center; margin-right: 8px; height: 26px">
          <img style="height: 60%; opacity: 0.7; margin-right: 8px" src="https://s3-us-west-1.amazonaws.com/csp-production-assets/zapier/zapier-brand.png" alt="zapier">
          <h4 class="modal-title">Zapier Triggers</h4>
        </div>
      </div>

      <!-- <div class="modal-body" style='visibility:hidden'> -->
      <div class="modal-body">

        <div class="slack" style="display: flex; margin: 30px 0">
          <label>Slack</label>
          <input type="text" style="margin: 0 15px; flex-grow: 1" placeholder="Webhook URL">
          <button type="button">POST</button>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="readonly btn btn-default" data-dismiss="modal">
          Close
        </button>
       <!--  <button type="button" class="send btn btn-default" data-dismiss="modal">
          Cancel
        </button>
        <button type="submit" form="win-story-form" style="width:124px" class="send btn btn-success">
          <span>Send</span>
          <i class='fa fa-spin fa-circle-o-notch' style='display:none'></i>
          <i class='fa fa-check' style='display:none'></i>
        </button> -->
      </div>

    </div>
  </div>
</div>
