

<div id="win-story-email-modal" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header" style="display: flex; align-items: center">
        <span style="margin-right: 12px">
          <i class="fa fa-fw fa-envelope-o" style="font-size: 16px"></i>
        </span>
        <h4 class="modal-title">Customer Win Story</h4>
      </div>

      <!-- <div class="modal-body" style='visibility:hidden'> -->
      <div class="modal-body">

        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">To</label>
            <div class="col-sm-10">

              <%#= select_tag(
                :win_story_recipients,
                # TODO: limit these to templates deployed for the success
                options_for_select(),
                {
                  include_blank: true,
                  multiple: true,
                  class: 'email-recipients',
                  # autocomplete: 'off',
                  style: 'width: 100%'
                }
              ) %>

            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Subject</label>
            <div class="col-sm-10">
              <input class="form-control" placeholder="">
            </div>
          </div>
        </div>


          <!-- select a template -->
          <!-- limit it to templates sent for this success -->
          <%= select_tag(
                :win_story_templates,
                # TODO: limit these to templates deployed for the success
                options_for_select(company.invitation_templates.select_options),
                {
                  include_blank: true,
                  multiple: true,
                  class: 'invitation-templates',
                  autocomplete: 'off',
                  style: 'width: 100%'
                }
              ) %>

         <!--  <button type="button" class="btn btn-success" style="float: right">
            Get Contributions
          </button> -->

      </div>


      <!-- <div class="modal-footer" style='visibility:hidden'> -->
      <div class="modal-footer">
       <!--  <button type="button" class="readonly btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="send btn btn-default" data-dismiss="modal">
          Cancel
        </button>
        <button type="submit" form="win-story-form" style="width:124px" class="send btn btn-success">
          <span>Send</span>
          <i class='fa fa-spin fa-circle-o-notch' style='display:none'></i>
          <i class='fa fa-check' style='display:none'></i>
        </button> -->
      </div>

    </div>
  </div>
</div>
