doctype html
html lang="en-US"
  head
    meta charset="UTF-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    title 404 Not Found
    = stylesheet_link_tag('app/errors')
    = favicon_link_tag('favicon.ico')
  body
    .dialog
      h1 404

      - if controller_name == 'stories' and current_user&.company == @company
        p This page does not exist because no content has been published.
      - else
        p Sorry, we couldn't find that page.
      
      - if current_user&.company.present?
        - if current_user.company.stories.featured.any?
          = link_to( \
              "#{current_user.company.name} Customer Stories",
              root_url(subdomain: current_user.company.subdomain))
        = link_to( \
            "#{current_user.company.name} Dashboard",
            dashboard_url('curate', subdomain: current_user.company.subdomain))
        
      - elsif user_signed_in?
        = link_to('Create your Company Account', new_company_url)
        = link_to(root_url) do
          = image_tag('landing/logo_full_med_blue.webp', alt: 'Customer Stories logo')
      
      - else
        = link_to(root_url) do
          = image_tag('landing/logo_full_med_blue.webp', alt: 'Customer Stories logo')