

<div id="wrapper">
  
    



    <div class="masthead">
      
      <div class="container">

        <h1 class="masthead-subtitle">
          Our Story
        </h1>        

      </div> <!-- /.container -->

    </div> <!-- /.masthead -->



    <div class="content">
      
      <div class="container">        

<div class="col-sm-10 col-lg-offset-1">
    <div class="feature-sm">
          


<p class="lead">A while back, as a sales executive for Cisco, I meet with the CIO of a large tech company.  We had a trusted relationship and he relied on me to represent Cisco.  I discovered they had selected a security product that was not a direct competitor with me, but close enough where I thought he would at least get my perspective.  So I asked him to be brutally honest on how he makes technology decisions.  
</p>
<p class="lead"> His answer: <strong>“I’m part of a CIO network and we meet on a regular basis to share challenges and successes.  From those meetings I learn from my peers on solution stories and technology successes.  Vendor partners are critical to execute on technology and implementation, but my peer’s success stories influence my decisions.”  
</strong></p>
<p class="lead">It was a blow as it hit me his opinion was pervasive.  The buying process had transitioned over the years and I needed to fundamentally change my selling ways too.  But how?  How, as a sales executive with great insights, could I be a trusted advisor when the role itself was not viewed as being trusted?  
</p>
<p class="lead">The answer was right in front of me: start telling compelling customer reference stories and facilitate peer connections.  I pivoted my approach to systematically include stories in my interactions and drive connections.  I developed a simple methodology for creating and narrating stories: situation, confrontation, solution, benefit.  The stories were first and foremost human, with metric based results.  The results were astounding:  Sales grew by 45% while my career became more enjoyable.  
</p>
<p class="lead">Turns out, I'm not alone.  As I progressed, I met with other thought leaders in Marketing, Ad Tech, Sales, and Customer Success who recognized the importance of story telling in business.  Especially in driving new revenue opportunity.  They also recognized customer reference platforms had not evolved for today’s buyers.  The industry needed a modern, peer story telling based customer reference platform and process.  
</p>
<p class="lead">So we created it.  Learn more about the company <a href="/our-company">here</a>.
</p>
<p class="lead"><strong>- Dan Lindblom, Founder, Customer Stories
</strong></p>

        </div>


        </div> <!-- /.row -->

      </div> <!-- /.container -->

    </div> <!-- /.cotnent -->


    

<%= render 'shared/csp_landing_footer' %>




</div> <!-- /#wrapper -->
