

<div id="wrapper">





    <div class="masthead">

      <div class="container">

        <h1 class="masthead-subtitle">
          Our Company
        </h1>

      </div> <!-- /.container -->

    </div> <!-- /.masthead -->


      <br class="sm-30">

      <div class="container">

        <div class="heading-block heading-minimal heading-center">

           <p class="lead"> Customer Stories is a collective of marketing, advertising, sales, and customer success leaders with a core premise: Connecting prospects to customer success stories is a universal priority in modern revenue generation strategy.
           </p>
           <p class="lead">Yet customer reference solutions have not evolved to meet today's buying process.  There was no turn key modern solution to curate, promote, and measure customer stories throughtout a buyer's journey.  So we created it.
          </p>


        </div> <!-- /.heading-block -->

        <div class="feature-lg">

          <div class="row">

  <h1 align="center">
            Connecting Prospects to Customer Successes
          </h1>

             <br class="sm-30">
            <div class="col-sm-6">
              <figure class="feature-figure">
                <%= image_tag 'mvp-landing/homepage-features/Marketer_survey.png',
                  { class: 'img-responsive figure-shadow center-block',
                    style: 'width: 90%;', alt: '' } %>
              </figure>
            </div><!-- /.col -->

            <div class="col-sm-6">

              <br class="xs-30 sm-0">

              <div class="feature-content">
                <h3>The Marketer Survey Results</h3>
                <p class="lead">Customer stories are the #1 most influential marketing content in driving new business opportunity.</p>
                <p class="lead">Customers trust peer stories more than any other marketing or sales information to learn about solutions and products.</p>
                <p class="lead">Source:  LinkedIn B2B Content Marketing Trends Survey</p>
                </div> <!-- /.feature-content -->
            </div><!-- /.col -->

          </div> <!-- /.row -->

        </div> <!-- /.feature-lg -->


        <br class="xs-50 lg-100">


        <div class="feature-lg figure-right">

          <div class="row">

            <div class="col-sm-6 col-sm-push-6">
              <figure class="feature-figure">
                <%= image_tag 'mvp-landing/homepage-features/trust_in_ads.png',
                  { class: 'img-responsive figure-shadow center-block',
                  style: 'width: 90%;', alt: '' } %>
              </figure>
            </div><!-- /.col -->

            <div class="col-sm-6 col-sm-pull-6">

              <br class="xs-30 sm-0">

              <div class="feature-content">
                <h3>The Buyer's Opinion</h3>

                <p class="lead">92% of enterprise buyers are highly influenced by customer stories in the purchasing cycle.</p>
                <p class="lead">Customers are 32% more likely to purchase when a customer story is encountered during the buying process.</p>
                <p class="lead">Source:  Nielsen Global Trust in Advertising Survey</p>
              </div> <!-- /.feature-content -->
            </div><!-- /.col -->

          </div> <!-- /.row -->

        </div> <!-- /.feature-lg -->

      </section>

    <div class="content">

      <div class="container">

        <div class="row">

          <div class="col-md-5">

            <br class="xs-30 sm-0">
  <br class="xs-30">


            <div class="heading-block">
              <h4>Our Location</h4>
            </div>

            <div id="googlemaps" class="google-map chart-holder-150">

   <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="400" height="180" src="https://maps.google.com/maps?hl=en&q=menlo-park,-ca&ie=UTF8&t=roadmap&z=10&iwloc=B&output=embed"></iframe>

            </div>

            <br>



          </div> <!-- /.col -->

          <div class="col-md-7">
   <br class="xs-30">
          <br class="xs-30">
 <div class="feature-content">
             <h3>Connecting Prospects to Successes Using Authentic and Persuasive Customer Stories </h3>

            <p class="lead">By creating an easy to use turn-key solution to crowdsource stories, curating control, ad channel promotion, and measurement, we closed the loop. Please contact us to learn more.</p>

<a href="mailto:info@customerstories.net" class="btn btn-success">Contact Us</a>


            <br class="xs-30">




          </div> <!-- /.col -->




        </div> <!-- /.row -->

      </div> <!-- /.container -->

    </div> <!-- /.cotnent -->

  </div>
    </div>

<%= render 'shared/csp_landing_footer' %>




</div> <!-- /#wrapper -->
