
<div id="wrapper">



    <div class="masthead">
      
      <div class="container">

        <h1 class="masthead-subtitle">
          Plans    
      
        </h1>
        

      </div> <!-- /.container -->

    </div> <!-- /.masthead -->


    <div class="content">

      <div class="container">

        <div class="heading-block heading-minimal heading-center">
            <h1>Customer Stories Plans and Pricing</h1>
            <p class="lead ">
                <em>
                    Everything you need to curate, promote, and measure your customer stories. 
                </em>
                </br>
                <em>
                    Scale your story promotion with intelligent online targeting to maximize revenue opportunity. 
                </em>
            </p>
        </div>





        <div class="pricing-tables">    

          <div class="row">

            <div class="col-md-3 hidden-sm hidden-xs pricing-col">

              <div class="pricing-table pricing-table-index">

                <ul class="pricing-table-content">
                  <li>
                      Crowdsource Automation
                  </li>
                  <li>
                      Curation Control
                  </li>
                  <li>
                      SEO Optimization
                  </li>
                  <li>
                      CRM Integration
                  </li>
                  <li>
                      Corporate Subdomain
                  </li>
                  <li>
                      Website Integration
                  </li>
                  <li>
                      Reporting and Analytics
                  </li>
                  <li>
                      Media Retargeting
                  </li>
                  <li>
                      CRM Database Targeting
                  </li>
                  <li>
                      Look-alike Targeting
                  </li>
                  <li>
                      High Volume Targeting
                  </li>
                  <li>
                      Custom Billing
                  </li>
    
                </ul>

              </div> <!-- /.pricing-table -->

            </div> <!-- /.col -->



            <div class="col-md-2 pricing-col">

              <div class="pricing-table">

                <div class="pricing-table-head">
                  <h2 class="pricing-table-head-title">
                    Retarget Promote
                  </h2>

                  <span class="pricing-table-head-byline">Curate, Promote, Measure</span>                
                </div> <!-- /.pricing-table-head -->

                <div class="pricing-table-amount">
                  $ 1990/mo
                  <span class="hidden-md hidden-lg">Per Month</span>
                </div>

                <ul class="pricing-table-content">

                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Crowdsource Automation</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Curating Control</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">SEO Optimization</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">CRM Integration</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Corporate Subdomain</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success">
                      </i><span class="hidden-md hidden-lg">Website Integration</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Reporting and Analytics</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Media Retargeting</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">CRM Database Targeting</span>
                  </li>
                 <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">Look-alike Targeting</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">High Volume Targeting</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">Custom Billing</span>
                  </li>
                </ul>

                <div class="pricing-table-footer">
                  <a href="/users/sign_up" class="btn btn-primary">Create Account</a>
                </div> <!-- /.pricing-table-footer -->

              </div> <!-- /.pricing-table -->

            </div> <!-- /.col -->



            <div class="col-md-2 pricing-col">

              <div class="pricing-table">

                <div class="pricing-table-head">
                  <h2 class="pricing-table-head-title">
                    CRM Promote
                  </h2>

                  <span class="pricing-table-head-byline"> Target Ideal Known Prospects</span>                
                </div> <!-- /.pricing-table-head -->

                <div class="pricing-table-amount">
                 Contact Us
                  <span class="hidden-md hidden-lg">Per Month</span>
                </div>

                <ul class="pricing-table-content">

                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Crowdsource Automation</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Curating Control</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">SEO Optimization</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">CRM Integration</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Corporate Subdomain</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success">
                      </i><span class="hidden-md hidden-lg">Website Integration</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Reporting and Analytics</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Media Retargeting</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">CRM Database Targeting</span>
                  </li>
                 <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">Look-alike Targeting</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">High Volume Targeting</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Custom Billing</span>
                  </li>
                </ul>
            
                <div class="pricing-table-footer">
            <a href="mailto:info@customerstories.net" class="btn btn-primary">Contact Us</a>
                </div> <!-- /.pricing-table-footer -->

              </div> <!-- /.pricing-table -->

            </div> <!-- /.col -->



            <div class="col-md-2 pricing-col">

              <div class="pricing-table">

                <div class="pricing-table-head">
                  <h2 class="pricing-table-head-title">
                    Audience Promote
                  </h2>

                  <span class="pricing-table-head-byline">Target Ideal Known & Unknown Prospects</span>                
                </div> <!-- /.pricing-table-head -->

                <div class="pricing-table-amount">
                  Contact Us
                  <span class="hidden-md hidden-lg">Per Month</span>
                </div>

                <ul class="pricing-table-content">

                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Crowdsource Automation</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Curating Control</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">SEO Optimization</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">CRM Integration</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Corporate Subdomain</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success">
                      </i><span class="hidden-md hidden-lg">Website Integration</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Reporting and Analytics</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Media Retargeting</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">CRM Database Targeting</span>
                  </li>
                 <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Look-alike Targeting</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">High Volume Targeting</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Custom Billing</span>
                  </li>
                </ul>

                <div class="pricing-table-footer">
              <a href="mailto:info@customerstories.net" class="btn btn-primary">Contact Us</a>
                </div> <!-- /.pricing-table-footer -->

              </div> <!-- /.pricing-table -->

            </div> <!-- /.col -->



            <div class="col-md-2 pricing-col">

              <div class="pricing-table">

                <div class="pricing-table-head">
                  <h2 class="pricing-table-head-title">
                    High Volume Promote
                  </h2>

                  <span class="pricing-table-head-byline">Custom High Volume Targeting</span>                
                </div> <!-- /.pricing-table-head -->

                <div class="pricing-table-amount">
                  Contact Us
                  <span class="hidden-md hidden-lg">Per Month</span>
                </div>

                 <ul class="pricing-table-content">

                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Crowdsource Automation</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Curating Control</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">SEO Optimization</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">CRM Integration</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Corporate Subdomain</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success">
                      </i><span class="hidden-md hidden-lg">Website Integration</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Reporting and Analytics</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Media Retargeting</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">CRM Database Targeting</span>
                  </li>
                 <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Look-alike Targeting</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">High Volume Targeting</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Custom Billing</span>
                  </li>
                </ul>

                <div class="pricing-table-footer">
                  <a href="mailto:info@customerstories.net" class="btn btn-primary">Contact Us</a>
                </div> <!-- /.pricing-table-footer -->

              </div> <!-- /.pricing-table -->

            </div>  <!-- /.col -->

          </div> <!-- /.row -->     

        </div> <!-- /.pricing-tables -->


        <br class="xs-60">
          
    		
    	</div> <!-- /.container -->

    </div> <!-- /.content -->

<%= render 'shared/csp_landing_footer' %>

</div> <!-- /#wrapper -->

