
<div id="wrapper">



    <div class="masthead">
      
      <div class="container">

        <h1 class="masthead-subtitle">
          Plans    
      
        </h1>
        

      </div> <!-- /.container -->

    </div> <!-- /.masthead -->


    <div class="content">

      <div class="container">

        <div class="heading-block heading-minimal heading-center">
            <h1>Customer Stories Plans and Pricing</h1>
            <p class="lead ">
                <em>
                    Our plans have everything you need to curate, promote, and measure your customer stories. 
                </em>
            </p>
        </div>





        <div class="pricing-tables">    

          <div class="row">

            <div class="col-md-3 hidden-sm hidden-xs pricing-col">

              <div class="pricing-table pricing-table-index">

                <ul class="pricing-table-content">
                  <li>
                      Domains
                  </li>
                  <li>
                      Subdomains
                  </li>
                  <li>
                      Diskspace
                  </li>
                  <li>
                      Email Addresses
                  </li>
                  <li>
                      MySQL Databases
                  </li>
                  <li>
                      Google AdWords Credits
                  </li>
                  <li>
                      SSH Access
                  </li>
                  <li>
                      Message from Users List
                  </li>
                  <li>
                      PHP 5, Python, Node.js
                  </li>
                  <li>
                      Scheduled Lock Screen
                  </li>
                  <li>
                      Ports Controls
                  </li>
                  <li>
                      Customisable Templates
                  </li>
                  <li>
                      SSL Certificate
                  </li>
                  <li>
                      Premium DNS
                  </li>
                  <li>
                      Phone and Web Support
                  </li>
                </ul>

              </div> <!-- /.pricing-table -->

            </div> <!-- /.col -->



            <div class="col-md-2 pricing-col">

              <div class="pricing-table">

                <div class="pricing-table-head">
                  <h2 class="pricing-table-head-title">
                    Basic Promote
                  </h2>

                  <span class="pricing-table-head-byline">Curate, Promote, Measure</span>                
                </div> <!-- /.pricing-table-head -->

                <div class="pricing-table-amount">
                  $ <i>990/mo.</i>
                  <span class="hidden-md hidden-lg">Per Month</span>
                </div>

                <ul class="pricing-table-content">
                  <li>
                      1
                      <span class="hidden-md hidden-lg">Domains</span>
                  </li>
                  <li>
                      10<span class="hidden-md hidden-lg">Subdomains</span>
                  </li>
                  <li>
                      10 GB<span class="hidden-md hidden-lg">Diskspace</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">Email Addresses</span>
                  </li>
                  <li>
                      1
                      <span class="hidden-md hidden-lg"> MySQL Databases</span>
                  </li>
                  <li>
                      $50<span class="hidden-md hidden-lg">Google AdWords Credits</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">SSH Access</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Message from Users List</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">PHP 5, Python, Node.js</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">Scheduled Lock Screen</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">Ports Controls</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger">
                      </i><span class="hidden-md hidden-lg">Customizable Templates</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">SSL Certificate</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">Premium DNS</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Phone &amp; Support</span>
                  </li>
                </ul>

                <div class="pricing-table-footer">
                  <a href="/users/sign_up" class="btn btn-primary">Create Account</a>
                </div> <!-- /.pricing-table-footer -->

              </div> <!-- /.pricing-table -->

            </div> <!-- /.col -->



            <div class="col-md-2 pricing-col">

              <div class="pricing-table">

                <div class="pricing-table-head">
                  <h2 class="pricing-table-head-title">
                    CRM Promote
                  </h2>

                  <span class="pricing-table-head-byline">For Consultants</span>                
                </div> <!-- /.pricing-table-head -->

                <div class="pricing-table-amount">
                  $ <i>99</i>.99
                  <span class="hidden-md hidden-lg">Per Month</span>
                </div>

                <ul class="pricing-table-content">
                  <li>
                      1
                      <span class="hidden-md hidden-lg">Domains</span>
                  </li>
                  <li>
                      10<span class="hidden-md hidden-lg">Subdomains</span>
                  </li>
                  <li>
                      10 GB<span class="hidden-md hidden-lg">Diskspace</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">Email Addresses</span>
                  </li>
                  <li>
                      1
                      <span class="hidden-md hidden-lg"> MySQL Databases</span>
                  </li>
                  <li>
                      $50<span class="hidden-md hidden-lg">Google AdWords Credits</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">SSH Access</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Message from Users List</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">PHP 5, Python, Node.js</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">Scheduled Lock Screen</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">Ports Controls</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger">
                      </i><span class="hidden-md hidden-lg">Customizable Templates</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">SSL Certificate</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">Premium DNS</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Phone &amp; Support</span>
                  </li>
                </ul>

                <div class="pricing-table-footer">
                    <a href="#" class="btn btn-primary">Choose Plan</a>
                </div> <!-- /.pricing-table-footer -->

              </div> <!-- /.pricing-table -->

            </div> <!-- /.col -->



            <div class="col-md-2 pricing-col">

              <div class="pricing-table">

                <div class="pricing-table-head">
                  <h2 class="pricing-table-head-title">
                    Audience Promote
                  </h2>

                  <span class="pricing-table-head-byline">For Small Businesses</span>                
                </div> <!-- /.pricing-table-head -->

                <div class="pricing-table-amount">
                  $ <i>199</i>.99
                  <span class="hidden-md hidden-lg">Per Month</span>
                </div>

                <ul class="pricing-table-content">
                  <li>
                      1
                      <span class="hidden-md hidden-lg">Domains</span>
                  </li>
                  <li>
                      10<span class="hidden-md hidden-lg">Subdomains</span>
                  </li>
                  <li>
                      10 GB<span class="hidden-md hidden-lg">Diskspace</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">Email Addresses</span>
                  </li>
                  <li>
                      1
                      <span class="hidden-md hidden-lg"> MySQL Databases</span>
                  </li>
                  <li>
                      $50<span class="hidden-md hidden-lg">Google AdWords Credits</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">SSH Access</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Message from Users List</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">PHP 5, Python, Node.js</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">Scheduled Lock Screen</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">Ports Controls</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger">
                      </i><span class="hidden-md hidden-lg">Customizable Templates</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">SSL Certificate</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">Premium DNS</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Phone &amp; Support</span>
                  </li>
                </ul>

                <div class="pricing-table-footer">
                  <a href="#" class="btn btn-primary">Choose Plan</a>
                </div> <!-- /.pricing-table-footer -->

              </div> <!-- /.pricing-table -->

            </div> <!-- /.col -->



            <div class="col-md-2 pricing-col">

              <div class="pricing-table">

                <div class="pricing-table-head">
                  <h2 class="pricing-table-head-title">
                    High Volume Promote
                  </h2>

                  <span class="pricing-table-head-byline">For Enterprise</span>                
                </div> <!-- /.pricing-table-head -->

                <div class="pricing-table-amount">
                  $ <i>499</i>.99
                  <span class="hidden-md hidden-lg">Per Month</span>
                </div>

                <ul class="pricing-table-content">
                  <li>
                      1
                      <span class="hidden-md hidden-lg">Domains</span>
                  </li>
                  <li>
                      10<span class="hidden-md hidden-lg">Subdomains</span>
                  </li>
                  <li>
                      10 GB<span class="hidden-md hidden-lg">Diskspace</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">Email Addresses</span>
                  </li>
                  <li>
                      1
                      <span class="hidden-md hidden-lg"> MySQL Databases</span>
                  </li>
                  <li>
                      $50<span class="hidden-md hidden-lg">Google AdWords Credits</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">SSH Access</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Message from Users List</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">PHP 5, Python, Node.js</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">Scheduled Lock Screen</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">Ports Controls</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger">
                      </i><span class="hidden-md hidden-lg">Customizable Templates</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">SSL Certificate</span>
                  </li>
                  <li>
                      <i class="fa fa-times text-danger"></i>
                      <span class="hidden-md hidden-lg">Premium DNS</span>
                  </li>
                  <li>
                      <i class="fa fa-check text-success"></i>
                      <span class="hidden-md hidden-lg">Phone &amp; Support</span>
                  </li>
                </ul>

                <div class="pricing-table-footer">
                  <a href="#" class="btn btn-primary">Choose Plan</a>
                </div> <!-- /.pricing-table-footer -->

              </div> <!-- /.pricing-table -->

            </div>  <!-- /.col -->

          </div> <!-- /.row -->     

        </div> <!-- /.pricing-tables -->


        <br class="xs-60">
          
    		
    	</div> <!-- /.container -->

    </div> <!-- /.content -->

<%= render 'shared/csp_landing_footer' %>

</div> <!-- /#wrapper -->

