<div id="wrapper">

  <%= render 'shared/mvp_landing_navbar' %>



    <div class="masthead">
      
      <div class="container">

        <h1 class="masthead-subtitle">
          Our Team
        </h1>        

      </div> <!-- /.container -->

    </div> <!-- /.masthead -->



    <div class="content">
      
      <div class="container">

        <div class="heading-block heading-minimal heading-center">
          <h1>Pedegree of SalesTech, MarTech and AdTech Professionals</h1>

          <p class="lead text-center"><em>Customer Stories is a collective of seasoned professionals with a passion for technology solutions that create real business value. </em></p>
        </div>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            
        
          </div>
        </div>
          </div>
        </div>
        
        
        
        
        
        
        
        
 <div class="container">
  <div class="row">
            <div class="col-md-4">

         
              <div class="feature-linkedin">
                <h3>Founder</h3>
 
                <!-- /.feature-content -->
                                 <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/danlindblom" data-format="inline" data-related="false"></script>

              </div> 
              
               <div class="team-member-caption">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ratione, facilis perferendis laudantium repellat suscipit aspernatur dignissimos iure impedit.</p>
                </div>
              
            </div><!-- /.col -->

            <div class="col-md-4">

              <br class="xs-30 sm-0">
              <div class="feature-linkedin">
                <h3>Technical Co-Founder</h3>
 
               
                                 <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/wilsonryanc" data-format="inline" data-related="false"></script>

 </div> <!-- /.feature-content -->
            </div><!-- /.col -->


            <div class="col-md-4">

              <br class="xs-30 sm-0">
              <div class="feature-linkedin">
                <h3>Advisor</h3>
 
               
                                 <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/pub/christopher-burnley/0/7b/27" data-format="inline" data-related="false"></script>

 </div> <!-- /.feature-content -->
            </div><!-- /.col -->


</div> <!-- /.feature-content -->
            </div><!-- /.col -->










</div> <!-- /#wrapper -->




<%= render 'shared/csp_landing_footer' %>
