// selecting a parent in sass (see share_buttons.scss) only works if the css structure is NOT nested 
// => e.g. won't work if this import statement is moved inside .stories.show {}
@import '../shared/share_buttons';

.stories.show, .cs-overlay-container {

  &.stories.show {
    background-color: #fff;
  }

  text-align: left;   // override weebly
  $max-xs-width: 500px;

  @import '../shared/video';
  @import 'testimonial';
  @import 'blockquote';

  &.cs-overlay-container {
    @import 'preview';
  }

  &.stories.show {
    @import '../shared/cookie_consent';
    background-color: #fff;
  }

  &.cs-overlay-container {
    background-color: transparent;

    section.cs-share {
      @include flex-row-center; 
      margin-bottom: 25px;
      
      .bs-share {
        @include svg-fill(#333333);
        margin-right: 20px;
        height: 16px;

        & + div {
          flex-grow: 1;
        }
      }
    }

    article {
      min-height: 100vh;
      background-color: $stories-bg-color;

      .cs-story-header {
        display: flex;
        justify-content: space-between;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
        background-color: #fff;

        button {
          display: flex;
          align-items: center;
          background: none;
          border: none;
          padding: 15px 20px;

          img {
            @include svg-fill(#666666);
            height: 20px;
          }

          &:hover img {
            @include svg-fill(#333333);
          }
        }
      }
    }

    // skinny up the X icon (ref: https://sridharkatakam.com/thin-font-awesome-close-icon/)
    .fa-times-thin:before {
      content: '\00d7';
    }

    .fa-arrow-left-thin:before {
      content: '\2190';
      vertical-align: middle;
    }

    hr {
      border-color: #ccc;
    }
  }

  .story-content, 
  .cs-story-content {
    background-color: $stories-bg-color;
    padding-bottom: 60px;

    &.cs-story-content {
      h1, h2, h3, h4, h5, h6, span, li, p, a, i:not(.fa-facebook):not(.fa-twitter):not(.fa-linkedin):not(.fa-envelope) {
        &:not(i) {
          font: {
            family: inherit !important;
            weight: normal !important;
          }
        }

        &:not(a) {
          color: #444 !important;
        }

        @media screen and (min-width: 768px) {
          &:not(a) {
            color: #333 !important;
          }
        }
      }

      section {
        @media only screen and (max-width: 767px) {
          background-color: transparent;
        }
      }
    }

    section {
      padding: 20px;
      border: 1px solid #e6e6e6;
      background-color: #fff;
      margin-bottom: 25px;

      @media only screen and (max-width: 767px) {
        border: none;
        padding: 0;
      }
    }

    .section-title h4 {
      margin-top: 5px;
      font-size: 22px !important;
    }

    .narrative {
      .story-title h3 {
        margin-top: 0;
      }

      h1, h2, h3, h4, h5, h6 {
        line-height: 1.3 !important;
      }

      blockquote,
      blockquote p {
        font-style: italic;
      }

      img {
        max-width: 100% !important;
      }
    }

    .story-results, 
    .story-ctas {
      li {
        line-height: 1.5 !important;

        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }

      #results-heading,
      #ctas-heading {
        margin-bottom: 20px;
      }

      .result,
      .cta {
        display: flex;
        align-items: center;

        &.result img,
        &.cta img {
          height: 18px;
        }

        &.result img {
          @include svg-fill(#333333);
        }

        // the chevron bootstrap svg is a little thinner than the checkmark 
        // => compensate with darker fill
        // ==> svgs have fill="black" by default
        // &.cta img {}

        p,
        a {
          padding-left: 20px;
        }

        p {
          margin-bottom: 0;
        }

        a {
          text-decoration: none;
          color: #999;
          font-weight: 600;
  
          &:hover {
            color: #333;
          }
        }
      }

      & > div {
        @media only screen and (max-width: 767px) {
          display: flex;
          justify-content: center;
        }
      }
    }

    .related-stories {
      // padding-bottom: 0;
      // line-height: 1.5;
      ul {
        // margin: 15px 0 25px 0;
        li {
          // margin: 18px;
        }
      }
      &.visible-xs {
        .section-title {
          margin-bottom: 5px;
          // h4 {
          //   margin-bottom: 2px;
          // }
        }
        li a.thumbnail .thumbnail-view .thumbnail-view-hover p {
          // font-size: 13px !important;
        }
      }
    }

    .story-contributors {
      visibility: hidden;  // can't use display: none because it will preclude ResizeSensor
    }
  }

  .story-video-xs, .cs-story-video-xs {
    background-color: $stories-bg-color;
    padding: 25px 0;
    position: relative;
  }

  #cs-tabbed-carousel header {
    font-family: 'Lato';
  }

  @media only screen and (max-width: 991px) {
    .related-stories {
      li a.thumbnail .thumbnail-view .thumbnail-view-hover p {
        // font-size: 13px !important;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .primary-cta-xs {
      position: fixed;
      left: 0;
      right: 0;
      bottom: -50px;
      display: flex;
      z-index: 100;
      transform: translateY(0%);
      transition: all 0.4s;
      margin: 0 auto;
      min-width: 300px;
      max-width: 400px;
      height: 50px;
      font-size: 16px;
      box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.2);
      // these two set inline with helper
      // background-color: ;
      // color: ;

      a {
        flex-grow: 1;
        height: 100%;
        padding-left: 15px;
        font-weight: 600;
      }

      button {
        background: none;
        border: none;
        height: 100%;
        padding: 0 15px;
      }

      a, 
      button {
        @include flex-row-center;
        color: unset;  // let the parent container set the color
        text-decoration: none;
      }

      img {
        @include svg-fill(white);
        height: 16px;
      }

      &.open {
        transform: translateY(-100%);
        transition: all 0.4s;
      }

      @media only screen and (min-width: 400px) {
        & {
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }
      }
    }

    .testimonial, 
    .cs-testimonial {
      margin-bottom: 20px;

      > .container,
      > .cs-container {
        max-width: $max-xs-width;
      }

      &:after {
        content: none;
      }

      //&.cs-testimonial {
        // margin-top: 25px;
      //}
    }
    .title-xs {
      > .container, .cs-container {
        max-width: $max-xs-width;

        h3 {
          line-height: 1.3 !important;
        }
      }
    }

    .story-video-xs, .cs-story-video-xs {

      &:not(.cs-story-video-xs) { 
        background-color: #fff; 
      }

      > .container, 
      > .cs-container {
        max-width: $max-xs-width;
      }
    }

    button.primary-cta {
      padding: 10px 32px;  // doubles bootstrap horizontal padding
      opacity: 0.9;
      border: 1px solid transparent;

      &:hover, 
      &:focus {
        opacity: 1;
      }

      a {
        text-decoration: none;
        color: unset;  // let the style attribute on the button define the color
      }
    }

    .story-content, 
    .cs-story-content {
      background-color: transparent;
      h4 {
        // font-size: 20px !important;
        margin-bottom: 10px;
      }
      > .container, > .cs-container {
        max-width: $max-xs-width;
        
        .narrative {
          &:not(.cs) {
            span, li, p, a {
              font-size: 14px; // !important;
            }
          }
          // summernote is inconsistent in its blockquote handline,
          // sometimes inserts a <p> and sometimes doesn't
          // => to avoid styling inconsistency, revert to bootstrap font-size
          blockquote p {
            font-size: 17.5px !important;
          } 
        }
       
      }
    }
  }


  @media only screen and (min-width: 768px) {
    // add a gutter to overlays
    .cs-story-wrapper, .cs-preview-wrapper {
      position: relative;
      margin: 4% 3% 0 3%;
      box-shadow: 0 0 5px 1px rgba(0,0,0,.25);
      // article {
      //   min-height: 100vh;
      //   background-color: if(variable-exists(stories-bg-color), $stories-bg-color, $light-gray);
      // }
      .cs-testimonial, .cs-story-content {
        // compensate for the margin added to story wrapper
        > .cs-container {
          max-width: 100%;
        }
      }
    }
    .testimonial, .cs-testimonial {
      margin-top: 45px;
      margin-bottom: 90px;
      &:after {
        bottom: -90px;  // mirrors margin-bottom (above)
      }
      &.cs-testimonial {
        margin-bottom: 30px;
        &.no-video {
          margin-bottom: 40px;
        }
      }
      .customer-logo-quote.hidden-xs {
        .customer-logo {
          margin-bottom: 40px;
          .customer-name {
            span {
              font-size: 14px !important;
            }
          }
        }
      }
      &.no-video {
        margin-bottom: 90px;
        .customer-logo-quote.hidden-xs {
          .customer-logo {
            margin-bottom: 0;
            .customer-name span {
              font-size: 16px !important;
            }
          }
        }
      }
      &.no-video:after {
        height: 90px;
      }
    }
    .story-content, .cs-story-content {
      // since .testimonial has a margin-bottom that accommodates the :after element,
      // pull these elements up (don't apply this to overlays)
      > .container > .row > [class*='col-'] {
        margin-top: -50px;
      }
      .narrative {
        &:not(.cs) {
          span, li, p, a {
            font-size: 13px; // !important;
          }
        }
        // summernote is inconsistent in its blockquote handline,
        // sometimes inserts a <p> and sometimes doesn't
        // => to avoid styling inconsistency, revert to bootstrap font-size
        blockquote p {
          font-size: 17.5px !important;
        }
      }
    }
    &.cs-testimonial {
      margin-bottom: 0;
    }
  }

  @media only screen and (min-width: 992px) {
    .testimonial, .cs-testimonial {
      .customer-logo-quote.hidden-xs {
        .customer-logo {
          .customer-name {
            span {
              font-size: 16px !important;
            }
          }
        }
      }
    }
    .story-content, .cs-story-content {
      // h4 {
      //   font-size: 22px !important;
      // }
      .narrative {
        &:not(.cs) {
          span, li, p, a {
            font-size: 15px; // !important;
          }
        }
        // summernote is inconsistent in its blockquote handline,
        // sometimes inserts a <p> and sometimes doesn't
        // => to avoid styling inconsistency, revert to bootstrap font-size
        blockquote p {
          font-size: 17.5px !important;
        }
      }
    }

  }

  @media only screen and (min-width: 1200px) {
    :not(.stories-header) > .container,
    .cs-container {
      width: 1120px;
    }
    .testimonial, .cs-testimonial {
      margin-top: 50px;
      .customer-logo-quote.hidden-xs {
        .customer-logo {
          margin-bottom: 25px;
          .customer-name {
            margin-top: 25px;
            span {
              font-size: 18px !important;
            }
          }
        }
      }
      &.no-video {
        .customer-logo-quote.hidden-xs {
          .customer-logo {
            img {
              max-width: 70%;
            }
            .customer-name {
              margin-top: 25px;
              span {
                font-size: 18px !important;
              }
            }
          }
        }
      }
    }
  }

}