
.stories.show, .cs-overlay-container {

  @import 'social_share_buttons';
  @import '../shared/cookie_consent';
  @import '../shared/video';
  // @import '../shared/linkedin_widget';  // not using these presently

  $max-xs-width: 500px;

  text-align: left;   // override weebly

  &.stories.show {
    background-color: #fff;
    #more-stories-container {
      @import '../../widgets/widgets_bootstrap';
      @import '../../widgets/stories_fixed_carousel';
    }
  }

  &.cs-overlay-container {
    background-color: transparent;
    // skinny up the X icon (ref: https://sridharkatakam.com/thin-font-awesome-close-icon/)
    .fa-times-thin:before {
      content: '\00d7';
    }
  }

  .well, .cs-well {
    background-color: #fff;
  }

  .testimonial, .cs-testimonial {
    position: relative;
    color: #888;
    > .container > .row, > .cs-container > .cs-row {
      display: flex;
      align-items: center;
    }
    .customer-logo-quote.visible-xs-block {
      .customer-logo {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .customer-name {
          display: inline-block;
          width: 100%;
        }
        img {
          display: inline-block;
          max-height: 65px;
          max-width: 30%;
          margin: 0 30px 0 10px;
          mix-blend-mode: multiply;
        }
        span {
          font-size: 16px !important;
        }
      }
      .customer-quote, .cs-customer-quote {
        p {
          margin-bottom: 15px;
          line-height: 1.5;
          font-size: 16px !important;
        }
      }
    }
    .customer-logo-quote.hidden-xs {
      .customer-logo {
        img {
          margin: 0 auto;
          max-height: 65px;
          max-width: 60%;
          mix-blend-mode: multiply;
        }
      }
      .customer-name {
        margin: 20px 0;
      }
      .customer-quote, .cs-customer-quote {
        blockquote {
          background: transparent;  // overrides weebly
          border: none;
          font-style: italic;
          margin-bottom: 0;
          padding: 0;
          position: relative;
          > p {
            &:before {
              // choosing a web safe font here
              font-family: 'Georgia' !important;
              content: open-quote;
              position: absolute;
              top: 0;
              left: -32px;
              font-size: 45px !important;
              color: #bbb;
            }
            line-height: 1.5 !important;
            font-weight: 400 !important;
            &:after {
              content: no-close-quote;
            }
          }
          cite {
            p {
              font-style: normal;
              font: {
                size: 13px !important;
                weight: 400 !important;
              }
              line-height: 1.5 !important;
              margin-bottom: 0;
            }
          }
        }
        &.customer-quote {
          blockquote {
            > p {
              color: #888 !important;
              &:before {
                color: #bbb !important;
              }
            }
            cite {
              p {
                color: #888 !important;
              }
            }
          }
        }
        &.cs-customer-quote {
          blockquote {
            &:before {  // overrides weebly
              content: none
            }
            > p {
              color: #777 !important;
              &:before {
                color: #aaa !important;
              }
            }
            cite {
              p {
                color: #666 !important;
              }
            }
          }
        }
      }
    }
    .story-video.hidden-xs, .cs-story-video.hidden-xs {
      margin: 0;
    }
    &.no-video {
      .customer-logo-quote.hidden-xs {
        display: flex;
        align-items: center;
        .customer-logo {
          img {
            margin: 0 auto 25px auto;
          }
        }
        .customer-name {
          margin: 0;
        }
      }
    }
    &:after {
      content: '';
      position: absolute;
      height: 90px;   // mirrors margin-bottom
      // bottom: -90px;  // mirrors margin-bottom
      z-index: -1;
      width: 100%;
      background-image: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);  //f2f2f2
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffffffff', GradientType=0);
    }
    &.cs-testimonial {
      // margin-bottom: 0;
      p, span {
        font-family: inherit;
      }
      &:after {
        content: none;
      }
      .customer-logo-quote.visible-xs-block {
        .customer-logo {
          background-color: #f2f2f2;
        }
      }
      .customer-logo-quote.hidden-xs {
        .customer-logo {
          background-color: #f2f2f2;
          img {
            max-height: 65px;
            max-width: 60%;
          }
        }
        .customer-name {
          color: #777 !important;
        }
      }
    }
  }

  .story-content, .cs-story-content {
    background-color: #f2f2f2;
    padding: 15px 0 26px 0;
    &.cs-story-content {
      span, li, p, h4 {
        font: {
          family: inherit;
          weight: 400 !important;
        }
        color: #333 !important;
      }
    }
    h4 {
      margin-top: 0;
      margin-bottom: 15px;
      line-height: 1.3 !important;
    }
    .story-narration {
      margin-bottom: 25px;
      span, li, p {
        line-height: 1.5 !important;
      }
      &.visible-xs-block {
        font-size: 14px;
      }
    }
    .story-results {
      margin-bottom: 25px;
      .row, .cs-row {
        margin-bottom: 10px;
        div:first-child {
          text-align: center;
          padding-right: 0;
        }
        span {
          line-height: 1.5 !important;
        }
      }
      &.visible-xs-block {
        font-size: 14px !important;
        .ul-container {
          display: flex;
          justify-content: center;
          ul {
            margin-bottom: 0;
            display: inline-block;
            li {
              padding-left: 6px;
            }
          }
        }
      }
    }
    .story-ctas {
      margin-bottom: 25px;
      li {
        margin-bottom: 10px;
        a {
          line-height: 1.5 !important;
        }
      }
      &.visible-xs-block {
        .ul-container {
          display: flex;
          justify-content: center;
          ul {
            margin-bottom: 0;
            display: inline-block;
          }
        }
      }
      &.hidden-xs {
        .row div:first-child, .cs-row div:first-child {
          text-align: center;
          padding-right: 0;
        }
      }
    }
    .related-stories {
      margin-bottom: 25px;
      // padding-bottom: 0;
      // line-height: 1.5;
      ul {
        // margin: 15px 0 25px 0;
        li {
          // margin: 18px;
        }
      }
      &.visible-xs {
        .section-title-container {
          margin-bottom: 5px;
          h4 {
            margin-bottom: 2px;
          }
        }
      }
    }
    .story-contributors {
      margin-bottom: 25px;
      > .well:first-child, .cs-well:first-child {
        margin-bottom: 0;
        position:relative;
        background-image: linear-gradient(to bottom, #ffffff 72%, #f2f2f2 100%);  //f2f2f2
        // background-repeat: repeat-x;
        border-top: 1px solid #e3e3e3;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        h4 {
          margin-bottom: 6px;
        }
        // the fading borders...
        &:before, &:after {
          content: "";
          position: absolute;
          // background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e3e3e3), to(transparent));
          // background-image: -webkit-linear-gradient(#e3e3e3, transparent);
          // background-image: -moz-linear-gradient(#e3e3e3, transparent);
          // background-image: -o-linear-gradient(#e3e3e3, transparent);
          background-image: linear-gradient(to bottom, #e3e3e3 0, transparent 90%);
          top: 3px;
          bottom: -1px;
          width: 1px;
        }
        &:before {
          left: -1px;
        }
        &:after {
          right: -1px;
        }
      }
    }
  }

  .story-video-xs, .cs-story-video-xs {
    background-color: #f2f2f2;
    padding-bottom: 25px;
    position: relative;
  }

  .social-buttons-xs, .cs-social-buttons-xs {
    &.social-buttons-xs, &.cs-social-buttons-xs {
    }
  }

  #more-stories-container header {
    font-family: 'Lato';
  }

  @media only screen and (max-width: 991px) {
    .cs-story-content {
      span, p {
        // font-size: 13px !important;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .testimonial, .cs-testimonial {
      margin-bottom: 50px;
      &.no-video {
        margin-bottom: 30px;
      }
      &:after {
        content: none;
        // bottom: -50px;
      }
      > .container, > .cs-container {
        max-width: 500px;
        .customer-logo-quote.visible-xs-block {
        }

      }
    }
    .story-video-xs, .cs-story-video-xs {
      background-color: #fff;
      > .container, > .cs-container {
        max-width: 500px;
        // since .testimonial has a margin-bottom that accommodates the :after element,
        // pull these elements user-select: none;
        // (don't apply these to overlay)
        > .row > [class*='col-'], {
          margin-top: -20px;
        }
      }
    }
    .social-buttons-xs, .cs-social-buttons-xs {
      > .container, > .cs-container {
        max-width: 500px;
      }
      padding-top: 0;
      padding-bottom: 0;
    }
    .story-content, .cs-story-content {
      background-color: transparent;
      h4 {
        font-size: 20px;
      }
      > .container, > .cs-container {
        max-width: 500px;
        .well {
          padding: 19px 0 0 0;
          border: 0
        }
        .story-narration {
        }
        .story-results {
          ul {
            li {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }


  @media only screen and (min-width: 768px) {
    .testimonial, .cs-testimonial {
      margin-bottom: 90px;
      &:after {
        bottom: -90px;  // mirrors margin-bottom (above)
      }
      &.cs-testimonial {
        margin-bottom: 30px;
        &.no-video {
          margin-bottom: 30px;
        }
      }
      .customer-logo-quote.hidden-xs {
        .customer-logo {
        }
        .customer-name {
          margin: 10px 0;
          span {
            font-size: 14px !important;
          }
        }
        .customer-quote, .cs-customer-quote {
          padding: 0 40px;
          blockquote {
            // &:before {  // overrides weebly
            //   content: none
            // }
            > p {
              font-size: 14px !important;
              margin-bottom: 10px;
              &:before {
                top: -10px;
                left: -20px;
                font-size: 34px !important;
              }
            }
            cite {
            }
          }
        }
      }
      &.no-video {
        margin-bottom: 90px;
        .customer-logo-quote.hidden-xs {
          .customer-logo {
          }
          .customer-name span {
            font-size: 16px !important;
          }
          .customer-quote, .cs-customer-quote {
            padding: 0 40px 0 0;
            blockquote {
              // &:before {  // overrides weebly
              //   content: none
              // }
              > p {
                font-size: 16px !important;
                margin-bottom: 15px;
                &:before {
                  top: -10px;
                  left: -20px;
                  font-size: 34px !important;
                }
              }
              cite {
                p {
                }
              }
            }
          }
        }
      }
      &.no-video:after {
        height: 90px;
      }
    }
    .story-content, .cs-story-content {
      font-size: 13px;
      // since .testimonial has a margin-bottom that accommodates the :after element,
      // pull these elements user-select: none;
      // (don't apply this to overlays)
      > .container > .row > [class*='col-'] {
        margin-top: -50px;
      }
    }
    &.cs-testimonial {
      margin-bottom: 0;
    }
  }

  @media only screen and (min-width: 992px) {
    .testimonial, .cs-testimonial {
      .customer-logo-quote.hidden-xs {
        .customer-logo {
        }
        .customer-name {
          margin: 15px 0;
          span {
            font-size: 16px !important;
          }
        }
        .customer-quote, .cs-customer-quote {
          padding: 0 60px;
          blockquote {
            &:before {  // overrides weebly
              content: none
            }
            > p {
              font-size: 16px !important;
              margin-bottom: 15px;
              &:before {
                top: -15px;
                left: -23px;
                font-size: 40px !important;
              }
            }
            cite {
              p {
              }
            }
          }
        }
      }
      &.no-video {
        .customer-logo-quote.hidden-xs {
          .customer-quote, .cs-customer-quote {
            padding: 0 100px 0 0;
            blockquote {
              // &:before {  // overrides weebly
              //   content: none
              // }
              > p {
                font-size: 16px !important;
                &:before {
                  top: -15px;
                  left: -23px;
                  font-size: 40px !important;
                }
              }
              cite {
                p {
                }
              }
            }
          }
        }
      }
    }
    .story-content, .cs-story-content {
      h4 {
        font-size: 22px !important;
      }
      .story-narration {
        p, span, li {
          font-size: 15px !important;
        }
      }
      .story-results span, .story-ctas a {
        font-size: 14px !important;
      }
      &.cs-story-content {
        .story-narration p {
          // line-height: 26px !important;
        }
      }
    }

  }

  @media only screen and (min-width: 1200px) {
    .container:not(.navbar-container):not(.company-nav-container), .cs-container {
      width: 1120px;
    }
    .testimonial, .cs-testimonial {
      .customer-logo-quote.hidden-xs {
        .customer-name {
          span {
            font-size: 18px !important;
          }
        }
        .customer-quote, .cs-customer-quote {
          padding: 0 70px;
          blockquote {
            // &:before {  // overrides weebly
            //     content: none
            //   }
            > p {
              font-size: 18px !important;
              &:before {
                top: -18px;
                left: -28px;
                font-size: 48px !important;
              }
            }
            cite {
              p {
              }
            }
          }
        }
      }
      &.no-video {
        .customer-logo-quote.hidden-xs {
          .customer-name {
            span {
              font-size: 18px !important;
            }
          }
          .customer-logo {
            img {
              max-width: 70%;
            }
          }
          .customer-quote, .cs-customer-quote {
            padding: 0 80px 0 30px;
            blockquote {
              > p {
                font-size: 18px !important;
                &:before {
                  top: -18px;
                  left: -28px;
                  font-size: 48px !important;
                }
              }
            }
          }
        }
      }
    }
    .story-content, .cs-story-content {
    }
  }

}