
.stories.show, .cs-overlay-container {
  $max-xs-width: 500px;
  $csp-gray: #f2f2f2;

  @import '../shared/video';
  @import 'social_share_buttons';
  @import 'blockquote';
  &.stories.show {
    @import '../shared/cookie_consent';
  }
  &.cs-overlay-container {
    @import 'show_preview';
  }

  // @import '../shared/linkedin_widget';  // not using these presently

  text-align: left;   // override weebly

  &.stories.show {
    background-color: #fff;
    #more-stories-container {
      @import '../../widgets/widgets_bootstrap';
      @import '../../widgets/stories_fixed_carousel';
    }
  }

  &.cs-overlay-container {
    background-color: transparent;
    // skinny up the X icon (ref: https://sridharkatakam.com/thin-font-awesome-close-icon/)
    .fa-times-thin:before {
      content: '\00d7';
    }
    hr {
      border-color: #ccc;
    }
  }

  .well, .cs-well {
    background-color: #fff;
  }

  .testimonial, .cs-testimonial {
    position: relative;
    color: #888;
    > .container > .row, > .cs-container > .cs-row {
      display: flex;
      align-items: center;
    }
    .customer-logo-quote.visible-xs-block {
      .customer-logo {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        img {
          display: inline-block;
          max-height: 65px;
          max-width: 30%;
          margin: 0 30px 0 10px;
          mix-blend-mode: multiply;
        }
        .customer-name {
          display: inline-block;
          width: 100%;
          span { font-size: 16px !important; }
        }
      }
    }
    .customer-logo-quote.hidden-xs {
      .customer-logo {
        img {
          margin: 0 auto;
          max-height: 65px;
          max-width: 60%;
          mix-blend-mode: multiply;
        }
      }
      .customer-name {
        margin: 20px 0;
      }
    }
    .story-video.hidden-xs, .cs-story-video.hidden-xs {
      margin: 0;
    }
    &.no-video {
      margin-bottom: 30px;
      .customer-logo-quote.hidden-xs {
        display: flex;
        align-items: center;
        .customer-logo {
          img {
            margin: 0 auto 25px auto;
          }
        }
        .customer-name {
          margin: 0;
        }
      }
    }
    &:after {
      content: '';
      position: absolute;
      height: 90px;   // mirrors margin-bottom
      // bottom: -90px;  // mirrors margin-bottom
      z-index: -1;
      width: 100%;
      background-image: linear-gradient(to bottom, #ffffff 0%, $csp-gray 100%);
      background-repeat: repeat-x;
      // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffffffff', GradientType=0);
    }
    &.cs-testimonial {

      p, span {
        font-family: inherit;
      }
      &:after {
        content: none;
      }
      .customer-logo-quote.visible-xs-block {
        .customer-logo {
          background-color: $csp-gray;
        }
      }
      .customer-logo-quote.hidden-xs {
        .customer-logo {
          background-color: $csp-gray;
          img {
            max-height: 65px;
            max-width: 60%;
          }
        }
        .customer-name {
          color: #777 !important;
        }
      }
    }
  }

  .story-content, .cs-story-content {
    background-color: $csp-gray;
    padding: 15px 0 26px 0;
    &.cs-story-content {
      span, li, p, a, h4 {
        font-family: inherit !important;
        font-weight: 400 !important;
        &:not(a) { color: #333 !important; }
      }
    }
    h4 {
      margin-top: 0;
      margin-bottom: 15px;
      line-height: 1.3 !important;
    }
    .story-narration {
      margin-bottom: 25px;
      span, li, p, a {
        line-height: 1.5 !important;
      }
    }
    .story-results {
      margin-bottom: 25px;
      .row, .cs-row {
        margin-bottom: 10px;
        div:first-child {
          text-align: center;
          padding-right: 0;
          i.fa-check {
            font-size: 13px !important;
          }
        }
        span {
          line-height: 1.5 !important;
        }
      }
      &.visible-xs-block {
        .ul-container {
          display: flex;
          justify-content: center;
          // the centering will be off a touch because the empty space around the check mark
          // is included in the calculation. To compensate...
          padding-right: 15px;
          ul {
            margin-bottom: 0;
            display: inline-block;
            li {
              font-size: 14px !important;
              padding-left: 6px;
            }
          }
        }
      }
    }
    .story-ctas {
      margin-bottom: 25px;
      li {
        margin-bottom: 10px;
        a {
          line-height: 1.5 !important;
        }
      }
      &.visible-xs-block {
        .ul-container {
          display: flex;
          justify-content: center;
          ul {
            margin-bottom: 0;
            display: inline-block;
            li {
              font-size: 14px !important;
            }
          }
        }
      }
      &.hidden-xs {
        .row div:first-child, .cs-row div:first-child {
          text-align: center;
          padding-right: 0;
        }
      }
    }
    .related-stories {
      margin-bottom: 25px;
      // padding-bottom: 0;
      // line-height: 1.5;
      ul {
        // margin: 15px 0 25px 0;
        li {
          // margin: 18px;
        }
      }
      &.visible-xs {
        .section-title-container {
          margin-bottom: 5px;
          h4 {
            margin-bottom: 2px;
          }
        }
        li a.thumbnail .thumbnail-view .thumbnail-view-hover p {
          font-size: 13px !important;
        }
      }
    }
    .story-contributors {
      margin-bottom: 25px;
      > .well:first-child, .cs-well:first-child {
        margin-bottom: 0;
        position:relative;
        background-image: linear-gradient(to bottom, #ffffff 72%, $csp-gray 100%);  //f2f2f2
        // background-repeat: repeat-x;
        border-top: 1px solid #e3e3e3;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        h4 {
          margin-bottom: 6px;
        }
        // the fading borders...
        &:before, &:after {
          content: "";
          position: absolute;
          // background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e3e3e3), to(transparent));
          // background-image: -webkit-linear-gradient(#e3e3e3, transparent);
          // background-image: -moz-linear-gradient(#e3e3e3, transparent);
          // background-image: -o-linear-gradient(#e3e3e3, transparent);
          background-image: linear-gradient(to bottom, #e3e3e3 0, transparent 90%);
          top: 3px;
          bottom: -1px;
          width: 1px;
        }
        &:before {
          left: -1px;
        }
        &:after {
          right: -1px;
        }
      }
    }
  }

  .story-video-xs, .cs-story-video-xs {
    background-color: $csp-gray;
    padding: 25px 0;
    position: relative;
  }

  .social-buttons-xs, .cs-social-buttons-xs {
    &.social-buttons-xs, &.cs-social-buttons-xs {
    }
  }

  #more-stories-container header {
    font-family: 'Lato';
  }

  @media only screen and (max-width: 991px) {
    .cs-story-content {
      span, p {
        // font-size: 13px !important;
      }
    }
    .related-stories {
      li a.thumbnail .thumbnail-view .thumbnail-view-hover p {
        font-size: 13px !important;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .testimonial, .cs-testimonial {
      margin-bottom: 0;
      &:after {
        content: none;
      }
      > .container, > .cs-container {
        max-width: $max-xs-width;
      }
    }
    .story-video-xs, .cs-story-video-xs {
      &:not(.cs-story-video-xs) { background-color: #fff; }
      > .container, > .cs-container {
        max-width: $max-xs-width;
        // since .testimonial has a margin-bottom that accommodates the :after element,
        // pull these elements user-select: none;
        // (don't apply these to overlay)
        > .row > [class*='col-'], {
          margin-top: -20px;
        }
      }
    }
    .social-buttons-xs, .cs-social-buttons-xs {
      > .container, > .cs-container {
        max-width: $max-xs-width;
      }
      padding-top: 0;
      padding-bottom: 0;
    }
    .story-content, .cs-story-content {
      background-color: transparent;
      h4 {
        font-size: 20px !important;
      }
      > .container, > .cs-container {
        max-width: $max-xs-width;
        .well, .cs-well {
          padding: 19px 0 0 0;
          border: 0
        }
        .story-narration {
          span, p, li, a {
            font-size: 14px !important;
          }
        }
        .story-results {
          ul {
            padding-right: 5px;
            li {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }


  @media only screen and (min-width: 768px) {
    .testimonial, .cs-testimonial {
      margin-bottom: 90px;
      &:after {
        bottom: -90px;  // mirrors margin-bottom (above)
      }
      &.cs-testimonial {
        margin-bottom: 30px;
        &.no-video {
          margin-bottom: 30px;
        }
      }
      .customer-logo-quote.hidden-xs {
        .customer-logo {
        }
        .customer-name {
          margin: 10px 0;
          span {
            font-size: 14px !important;
          }
        }
      }
      &.no-video {
        margin-bottom: 90px;
        .customer-logo-quote.hidden-xs {
          .customer-logo {
          }
          .customer-name span {
            font-size: 16px !important;
          }

        }
      }
      &.no-video:after {
        height: 90px;
      }
    }
    .story-content, .cs-story-content {
      // since .testimonial has a margin-bottom that accommodates the :after element,
      // pull these elements up (don't apply this to overlays)
      > .container > .row > [class*='col-'] {
        margin-top: -50px;
      }
      .story-narration {
        p, span, li {
          font-size: 13px !important;
        }
      }
      .story-results span, .story-ctas a {
        font-size: 13px !important;
      }
    }
    &.cs-testimonial {
      margin-bottom: 0;
    }
  }

  @media only screen and (min-width: 992px) {
    .testimonial, .cs-testimonial {
      .customer-logo-quote.hidden-xs {
        .customer-logo {
        }
        .customer-name {
          margin: 15px 0;
          span {
            font-size: 16px !important;
          }
        }
      }
    }
    .story-content, .cs-story-content {
      h4 {
        font-size: 22px !important;
      }
      .story-narration {
        p, span, li {
          font-size: 15px !important;
        }
      }
      .story-results span, .story-ctas a {
        font-size: 14px !important;
      }
      &.cs-story-content {
        .story-narration p {
          // line-height: 26px !important;
        }
      }
    }

  }

  @media only screen and (min-width: 1200px) {
    .container:not(.navbar-container):not(.company-nav-container), .cs-container {
      width: 1120px;
    }
    .testimonial, .cs-testimonial {
      .customer-logo-quote.hidden-xs {
        .customer-name {
          span {
            font-size: 18px !important;
          }
        }
      }
      &.no-video {
        .customer-logo-quote.hidden-xs {
          .customer-name {
            span {
              font-size: 18px !important;
            }
          }
          .customer-logo {
            img {
              max-width: 70%;
            }
          }
        }
      }
    }
    .story-content, .cs-story-content {
    }
  }

}