// ref: https://designscrazed.org/html-css3-social-media-buttons/

/* Wrapper */
.icon-button {
  background-color: rgba(51, 51, 51, 0.9);
  border: 0; // 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 3.0rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  height: 3.0rem;
  line-height: 3.0rem;
  margin: 0 7px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 3.0rem;
}

.icon-button-xs.linkedin-share {
  background-color: #0077b5;
}

.icon-button-xs.twitter-share {
  background-color: #4099ff;
}

.icon-button-xs.facebook-share {
  background-color: #3B5998
}

.icon-button-xs.mailto {
  background-color: #555
}

.icon-button-xs {
  border: 1px solid transparent;
  border-radius: 40px;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  margin: 0 8px;
  position: relative;
  text-align: center;
  // -webkit-user-select: none;
  //    -moz-user-select: none;
  //     -ms-user-select: none;
  //         user-select: none;
  width: 40px;
}

/* Circle */
.icon-button span,
.icon-button-xs span, {
  border-radius: 0;
  display: block;
  height: 0;
  top: 50%;
  left: 50%;
  margin: 0;
  position: absolute;
  transition: all 0s;
  width: 0;
}

.icon-button:hover {
  // font-size: 1.9rem;
  span {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    margin: -1.5rem;
  }
}

.linkedin-share span {
  background-color: #0077b5;
}

.twitter-share span {
  background-color: #4099ff;
}

.facebook-share span {
  background-color: #3B5998;
}

.mailto span {
  background-color: #333
}

/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 3.0rem;
  left: 0;
  line-height: 3.0rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.1s;
     -moz-transition: all 0.1s;
       -o-transition: all 0.1s;
          transition: all 0.1s;
  width: 3.0rem;
  z-index: 10;
}

.icon-button-xs i {
  background: none;
  color: white;
  height: 38px;
  left: 0;
  line-height: 38px;
  position: absolute;
  top: 0;
  // -webkit-transition: all 0.1s;
  //    -moz-transition: all 0.1s;
  //      -o-transition: all 0.1s;
  //         transition: all 0.1s;
  width: 38px;
  z-index: 10;
}

.icon-button .fa-linkedin {
  color: #fff // #0077b5;
}

.icon-button .fa-twitter {
  color: #fff // #4099ff;
}

.icon-button .fa-facebook {
  color: #fff // #3B5998;
}

.icon-button-xs {
  color: white;
}

.icon-button:hover .fa-twitter,
.icon-button:hover .fa-facebook,
.icon-button:hover .fa-linkedin {
  color: white;
}


