.testimonial, 
.cs-testimonial {
  position: relative;
  
  > .container > .row, 
  > .cs-container > .cs-row {
    @include flex-row-center;
  }
  
  .customer-logo-quote.visible-xs-block {
    .customer-logo,
    .cs-customer-logo {
      @include customer-logo($stories-bg-color);
    }
  }

  .customer-logo-quote.hidden-xs {
    .col-lg-3 {
      width: 30%;
    }

    .col-lg-9 {
      width: 70%;
    }

    .customer-logo, 
    .cs-customer-logo {
      img {
        margin: 0 auto;
        max-height: 80px;
        max-width: 50%;
        mix-blend-mode: multiply;
      }
    }
  }

  .story-video.hidden-xs, 
  .cs-story-video.hidden-xs {
    margin: 0;
  }

  &.no-video {
    margin-bottom: 15px;

    .customer-logo-quote.hidden-xs > div {
      @include flex-row-center;

      .customer-logo img {
        margin: 0 auto;
      }
    }
  }

  &:after {
    content: '';
    position: absolute;
    height: 90px;   // mirrors margin-bottom
    // bottom: -90px;  // mirrors margin-bottom
    z-index: -1;
    width: 100%;
    background-image: linear-gradient(to bottom, #ffffff 0%, if(variable-exists(stories-bg-color), $stories-bg-color, $light-gray) 100%);
    background-repeat: repeat-x;
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffffffff', GradientType=0);
  }

  &.testimonial {
    p, 
    span {
      color: #666 !important;
    }
  }

  &.cs-testimonial {
    p, 
    span {
      font-family: inherit !important;
      color: #444 !important;
    }

    &:after {
      content: none;
    }

    .customer-logo-quote.visible-xs-block {
      .customer-logo {
        background-color: if(variable-exists(stories-bg-color), $stories-bg-color, $light-gray);
      }
    }

    .customer-logo-quote.hidden-xs {
      .customer-logo {
        background-color: if(variable-exists(stories-bg-color), $stories-bg-color, $light-gray);

        img {
          max-height: 80px;
          max-width: 60%;
        }
      }
    }
  }
}