
.stories.show {

  @import 'social_share';
  @import '../../widgets/stories_fixed_carousel';  // more stories

  #testimonial {
    position: relative;
    color: #888;
    .customer-logo-quote.visible-xs-block {
      .customer-logo {
        margin-bottom: 20px;
        img {
          max-height: 55px;
          max-width: 30%;
          margin: 0 20px 0 10px;
        }
        span {
          font-size: 16px;
        }
      }
      .customer-quote p {
        margin-bottom: 15px;
        font: {
          // family: 'Open Sans';
          size: 14px;
        }
      }
      .customer-quote-attr span {
        // line-height: 1.6;
      }
    }
    .customer-logo-quote.hidden-xs {
      .customer-logo img {
        margin: 0 auto;
        max-height: 65px;
        max-width: 60%;
      }
      .customer-name {
        margin: 20px 0;
        span { font-size: 16px; }
      }
      .customer-quote p {
        margin-bottom: 15px;
      }
    }
    .story-video.hidden-xs {
      margin: 0 0 10px 0;
    }
    &.no-video {
      // padding-top: 10px;
      .customer-logo-quote.hidden-xs {
        display: flex;
        align-items: center;
        .customer-logo img {
          margin: 0 auto 25px auto;
        }
        .customer-name {
          margin: 0;
        }
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      z-index: -1;
      width: 100%;
      // margin-top: -20px;
      height: 90px;
      // margin-top: 2px;
      background-image: linear-gradient(to top, #f2f2f2 0%, #ffffff 100%);  //f2f2f2
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffffffff', GradientType=0);
    }
  }

  #story-section-content {
    h4 { line-height: 1.3 }
    font-size: 13px;
    background-color: #f2f2f2;
    padding: 15px 0 26px 0;
  }

  #related-stories {
    padding-bottom: 0;
    .row {
      font-size: 0;
      div[class^='col-'] {
        float: none;
        display: inline-block;
        vertical-align: bottom;
      }
      h4 {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 10px;
      }
      a {
        font-size: 14px;
      }
    }
    ul {
      margin: 15px 0 25px 0;
      li {
        margin: 18px;
      }
    }
  }

  .linkedin-widgets {
    > .well:first-child {
      margin-bottom: 0;
      position:relative;
      background-image: linear-gradient(to bottom, #ffffff 68%, #f2f2f2 100%);  //f2f2f2
      // background-repeat: repeat-x;
      border-top: 1px solid #e3e3e3;
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
      h4 {
        margin-bottom: 4px;
      }
      &:before, &:after {
        content: "";
        position: absolute;
        // background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e3e3e3), to(transparent));
        // background-image: -webkit-linear-gradient(#e3e3e3, transparent);
        // background-image: -moz-linear-gradient(#e3e3e3, transparent);
        // background-image: -o-linear-gradient(#e3e3e3, transparent);
        background-image: linear-gradient(to bottom, #e3e3e3 0, transparent 68%);
        top: 3px;
        bottom: -1px;
        width: 1px;
      }
      &:before {
        left: -1px;
      }
      &:after {
        right: -1px;
      }
    }
  }

  #social-buttons-xs {
    background-color: #f2f2f2;
    padding: 15px 25px 15px 15px;
  }

  #story-section-video-xs {
    background-color: #f2f2f2;
    padding-bottom: 15px;
  }


  #story-section-content .well {
    background-color: #ffffff;
  }

  #story-results {
    margin: 0 0 30px 0;
    .row div:first-child {
      text-align: center;
      padding-right: 0;
    }
    p {
      line-height: 20px;
    }
  }

  .story-icon {
    padding-top: 4px;
  }

  #learn-more {
    margin: 0 0 30px 0;
    .row div:first-child {
      text-align: center;
      padding-right: 0;
    }
    p {
      line-height: 20px;
    }
  }

  .linkedin-widgets {
    margin-bottom: 20px;
  }

  #more-stories-container header {
    font-family: 'Lato';
  }

  #story-results + .story-video {
    margin: 0 0 30px 0;
  }

  @media only screen and (max-width: 767px) {
    #testimonial {
      margin-bottom: 40px;
      .customer-logo-quote.visible-xs-block {
      }
      &:after {
        height: 40px;
      }
    }
    #story-section-video-xs {
      padding-bottom: 20px;
    }
    #social-buttons-xs {
      padding-top: 0;
      padding-bottom: 0;
    }
    #story-section-content {
    }
  }

  @media only screen and (min-width: 768px) {
    #testimonial {
      margin-bottom: 70px;
      .customer-logo-quote.hidden-xs {
        .customer-logo {

        }
        .customer-name {
          margin: 10px 0;
          span { font-size: 14px; }
        }
        .customer-quote {
          padding: 0 20px;
          p {
            font-size: 14px;
            // padding: 0 40px 0 20px;
          }
        }
      }
      .no-video.hidden-xs {
        padding: 15px 30px 0 30px;
      }
      &:after {
        height: 70px;
      }
      &.no-video {
        margin-bottom: 90px;
        .customer-logo-quote.hidden-xs {
          .customer-logo span {
          }
          .customer-name {
          }
          .customer-quote {
            padding: 0 80px 0 0;
            p {
              font-size: 16px;
              // padding: 0 40px 0 20px;
            }
          }
        }
      }
      &.no-video:after {
        height: 90px;
      }
    }
    #story-section-content {
      font-size: 13px;
      > .container > .row > div[class^='col'] {
        margin-top: -42px;
      }
      h4 {
        font-size: 20px;
      }
    }
  }

  @media only screen and (min-width: 992px) {
    #testimonial {
      .customer-logo-quote.hidden-xs {
        .customer-logo {
        }
        .customer-name {
          margin: 15px 0;
          span { font-size: 16px; }
        }
        .customer-quote {
          padding: 0 40px;
          p {
            font-size: 16px;
          }
        }
      }
      .no-video.hidden-xs {
        padding: 15px 30px 0 30px;
      }
      &.no-video {
        .customer-logo-quote.hidden-xs {
          .customer-quote {
            padding: 0 100px 0 0;
          }
        }
      }
    }
    #story-section-content {
      font-size: 14px;
      h4 {
        font-size: 22px;
      }
    }
  }

  @media only screen and (min-width: 1200px) {
    #testimonial, #testimonial.no-video {
      .customer-logo-quote.hidden-xs {
        .customer-name {
          span { font-size: 18px; }
        }
        .customer-quote {
          p {
            font-size: 18px;
          }
        }
      }
    }
    #story-section-content {
    }
  }

}