.modal:not(#video-modal):not(.bootbox) {
  .modal-content {
    // overflow: hidden;
  }

  // tomselect option e.g. '- Create New Contributor -'
  [data-value="0"] {
    font-weight: 600;
  }

  .modal-header,
  .modal-footer {
    background: $light-gray;

    // changing the background color necessitates:
    border-top-right-radius: $border-radius-base;
    border-top-left-radius: $border-radius-base;
  }

  .modal-header {
    position: relative;

    // changing the background color necessitates:
    border-top-right-radius: $border-radius-base;
    border-top-left-radius: $border-radius-base;
  }

  .modal-footer {
    border-bottom-right-radius: $border-radius-base;
    border-bottom-left-radius: $border-radius-base;
  }

  button.close {
    position: absolute;
    right: $modal-title-padding;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 2.5em;
  }

  .modal-body {
    padding: #{2 * $modal-inner-padding} #{2 * $modal-inner-padding} $modal-inner-padding;
  }

  .control-label {
    padding-right: 0;
  }

  .form-group {
    margin-bottom: 2em;

    &.required {
      .help-block {
        display: none;
      }

      &.has-error {
        margin-bottom: 0.5em;
  
        .help-block {
          display: block
        }
      }
    }
  }

  textarea {
    resize: vertical;
  }

  // // TODO: break this out into forms.scss
  // .form-horizontal {
  //   .form-group.contributor {
  //     margin: -1em 0 1em;
  //     padding: 1em 0
  //   }

  //   .new-contact {
  //     display: flex;
  //     flex-direction: column;
  //     background-color: $medium-gray;
  //     margin: -1em #{-1 * $modal-inner-padding} 1em;
  //     padding: 1em $modal-inner-padding 0;

  //     .form-group:last-child {
  //       margin-bottom: 1em;
  //     }
  //   }
  // }
}


.modal[id^='cta-form'] {
  .modal-header {
    height: 50px;
    padding: 10px;
    img {
      max-height: 100%;
    }
  }
  // size the modal to fit content
  // ref: http://stackoverflow.com/questions/16152275
  .modal-dialog {
    position: relative;
    display: table; //This is important
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
  }
  .modal-body {
    height: calc(100vh - 200px);
    // overflow-y: scroll;
  }
}