.modal:not(#video-modal):not(.bootbox) {
  // .modal-content {
    // overflow: hidden;
  // }
  
  &.new-customer-win,
  &.new-contribution,
  &.new-story,
  &[class*="edit-customer"] {
    .modal-content {
      margin: 0 auto;
      width: 75%;
    }

    .new-contact {
      padding: 0 2rem;
  
      .form-group:not(:last-child) {
        margin-bottom: 1.25rem;
      }
    }

    .form-group:has(select[data-tomselect-kind-value="referrer"] + .ts-wrapper.has-items),
    .form-group:has(select[data-tomselect-kind-value="contributor"] + .ts-wrapper.has-items) {
      .help-block {
        display: none;
      }

      &:has(.item[data-value="0"]) {
        margin-bottom: 1.25rem;
      }
    }
  }

  // tomselect option e.g. '- Create New Contributor -'
  [data-value="0"] {
    font-weight: 600;
  }

  .modal-header,
  .modal-footer {
    background: $light-gray;
    border-color: $light-gray;

    // changing the background color necessitates:
    border-top-right-radius: $border-radius-base;
    border-top-left-radius: $border-radius-base;
  }

  .modal-header {
    position: relative;

    // changing the background color necessitates:
    border-top-right-radius: $border-radius-base;
    border-top-left-radius: $border-radius-base;
  }

  .modal-footer {
    border-bottom-right-radius: $border-radius-base;
    border-bottom-left-radius: $border-radius-base;
  }

  button.close {
    position: absolute;
    right: $modal-title-padding;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 2.5em;
  }

  .modal-body {
    // padding: #{2 * $modal-inner-padding} #{2 * $modal-inner-padding} $modal-inner-padding;
  }

  .control-label {
    padding-right: 0;
  }

  textarea {
    resize: vertical;
  }

  .form-horizontal {
    .form-group {
      display: flex;
      margin-left: 0;
      margin-right: 0;

      > label,
      > div:first-child {
        margin-right: 1.25em;
      }
  
      > div:last-child {
        flex-grow: 1;
      }
    }
  }

  // // TODO: break this out into forms.scss
  // .form-horizontal {
  //   .form-group.contributor {
  //     margin: -1em 0 1em;
  //     padding: 1em 0
  //   }

  //   .new-contact {
  //     display: flex;
  //     flex-direction: column;
  //     background-color: $gray-lighter;
  //     margin: -1em #{-1 * $modal-inner-padding} 1em;
  //     padding: 1em $modal-inner-padding 0;

  //     .form-group:last-child {
  //       margin-bottom: 1em;
  //     }
  //   }
  // }
}


.modal[id^='cta-form'] {
  .modal-header {
    height: 50px;
    padding: 10px;
    img {
      max-height: 100%;
    }
  }
  // size the modal to fit content
  // ref: http://stackoverflow.com/questions/16152275
  .modal-dialog {
    position: relative;
    display: table; //This is important
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
  }
  .modal-body {
    height: calc(100vh - 200px);
    // overflow-y: scroll;
  }
}

// #new-success-modal, 
// #new-contributor-modal {
//   &#new-success-modal.in {
//     overflow-y: scroll;  // force scroll so create/import are consistent
//   }

//   .modal-header {
//     .close {
//       font-size: 26px;
//     }
//   }

//   .modal-body {
//     padding: 25px 20px;

//     .new-records {
//       display: none;
//       min-height: 117px;  // matches the file upload view

//       label {
//         margin-bottom: 10px;
//       }

//       li {
//         margin-bottom: 5px;
//       }
//     }

//     label:not(.radio-inline) {
//       padding-right: 5px;
//     }
    
//     .form-group.has-success {
//       .input-group-addon:hover {
//         color: #3c763d;
//         border-color: #3c763d;
//         background-color: #cbdac5;
//       }
//     }
//     .form-group.has-warning {
//       .input-group-addon:hover {
//         color: #8a6d3b;
//         border-color: #8a6d3b;
//         background-color: #efebd7;
//       }
//     }

//     .form-group.has-error {
//       .input-group-addon:hover {
//         color: #a94442;
//         border-color: #a94442;
//         background-color: #e0cfcf;
//       }
//     }

//     .create-contributor, 
//     .create-referrer {
//       background: #eee;
//       .form-group:last-of-type {
//         span.help-block {
//           margin-bottom: 0;
//         }
//       }
//     }

//     .create-contributor, 
//     .create-referrer.new-success {
//       margin: -68px -9px 16px -10px;
//       padding: 68px 9px 9px 10px;
//     }

//     // this one doesn't have a bottom margin, hence the difference from above
//     .create-referrer.new-contributor {
//       margin: -43px -9px -4px -10px;
//       padding: 68px 9px 9px 10px;
//     }

//     // mimic select2
//     input:not([type="file"]), textarea {
//       font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//       padding-left: 12px;
//     }
//   }
// }