
.modal:not(#video-modal):not(.bootbox) {
  .modal-content {
    overflow: hidden;
    .modal-header {
      background: #f9f9f9;
      color: #555;
    }
    .modal-footer {
      background: #f9f9f9;
    }
  }
}

.modal[id^='cta-form'] {
  .modal-header {
    height: 50px;
    padding: 10px;
    img {
      max-height: 100%;
    }
  }
  // size the modal to fit content
  // ref: http://stackoverflow.com/questions/16152275
  .modal-dialog {
    position: relative;
    display: table; //This is important
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
  }
  .modal-body {
    height: calc(100vh - 200px);
    // overflow-y: scroll;
  }
}