/*
*= require mvpready-landing
*/

body {
  background-color: #85CEE6
}

i.fa-linkedin-square {
  color:#006fb3;
  margin-bottom: 15px;
}

div.container > div[class^="col-"] {
  background-color: white;
  padding: 25px 40px 35px 40px;
  border: 1px solid #CCC;
  margin-top:-45px;
}

#curator-info {
  padding:0 0 0 110px;
  position: relative;
}

#curator-photo {
  position: absolute;
  left: 0;
  width: 100px;
  border: 1px solid #CCC;
  border-radius: 4px;
}

.tos {
  font-size: 12px;
  margin-top: -10px
}