
/* bootstrap-sass */
$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap-pdf";

.header {
  position: relative;
  height: 115px;
}

.header > div {
  display: inline-block;
}

#company-logo-pdf {
  max-height: 70px;
  max-width: 200px;
}

#curator-photo {
  height: 82px;
}

#curator-contact {
  max-width: 200px;
  margin-right: 8px;
  line-height: 16px;
  font-size: 12px;
}

#customer-name {
  position: absolute;
  bottom: 0;
}

#curator-contact div:nth-child(1) {
  font-size: 14px;
  margin-bottom:4px;
}

#customer-logo {
  max-height: 90px;
  max-width: 80%;
}

#story-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.logo-quote {
  margin-top: 18px;
  margin-bottom: 14px;
}

.story-quote {
  font-size: 16px
}

#quote-attr {
  font-size: 12px;
  margin-bottom:4px;
}

#story-container {
  margin-top: 28px;
  font-size: 12px;
}

#results-container {
  background-color: #EEE;
  float: right;
  width: 35%;
  margin-left: 20px;
  margin-bottom: 15px;
  border: 1px transparent;
  border-radius: 4px;
  padding: 15px;
}

#results-list {
  margin-bottom: 25px;
}

// #results-container h4 {
//   font-size: 16px;
// }

img {
  border-radius: 2px;
}

h4 {
  font-size: 16px;
}


