
.site.index {

  #section-features {

  }

  #section-benefits {
    background-color: #f3f3f3;
    i.fa {
      padding: 0 40px 40px 40px;
    }
  }

  #section-testimonials {

    .clients-list {

      li {
        position: relative;
        height: 70px;
        width: 200px;
        margin-bottom: 20px;
        a {
          line-height: 70px;
          img {
            margin: auto;
            vertical-align: middle;
            display: inline-block;
          }
        }
      }

      @media (min-width: 768px) {
        margin-bottom: 30px;
        li {
          margin: 0 10px 25px 10px;
        }
      }
      @media (min-width: 992px) {
        li {
          margin: 0 40px 30px 40px;
        }
      }
      @media (min-width: 1200px) {
        margin-bottom: 70px;
        li {
          margin: 0 12px 0 12px;
        }
      }
    }

    .testimonials-list {

      width: 100%;
      padding: 0;
      margin: 0;
      list-style-type: none;
      text-align: center;

      li {
        position: relative;
        vertical-align: top;
        display: inline-block;
        text-align: center;
        width: 340px;
        height: 480px;
        .linkedin-widget {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
      }

      @media (min-width: 768px) {
        li {
          margin: 0 10px 25px 10px;
        }
        li:first-of-type {
          margin-bottom: 30px;
        }
        li:last-of-type {
          margin-bottom: 0px;
        }
        li:last-of-type {
          height: 450px;
        }
        li:first-of-type .linkedin-widget {
          bottom: 0;
        }
        li:nth-of-type(2) .linkedin-widget {
          bottom: 6px;
        }
        li:last-of-type .linkedin-widget {
          bottom: 30px;
        }
      }
      @media (min-width: 992px) {
        li {
          margin: 0 50px 40px 50px;
        }
        li:first-of-type .linkedin-widget {
          bottom: 0;
        }
        li:nth-of-type(2) .linkedin-widget {
          bottom: 0;
        }
        li:last-of-type .linkedin-widget {
          bottom: 30px;
        }
      }
      @media (min-width: 1200px) {
        li {
          margin: 0 16px;
        }
        li:last-of-type {
          height: 480px;
        }
        li:last-of-type .linkedin-widget {
          bottom: 30px;
        }
      }
    }

  }

  #section-contact {
    background-color: #f3f3f3;
    padding: 0 35px;

  }

}