
.site.index {

  .clients-list {

    li {
      position: relative;
      height: 100px;
      width: 300px;
      margin-bottom: 20px;
      a {
        line-height: 100px;
        img {
          margin: auto;
          vertical-align: middle;
          display: inline-block;
        }
      }
    }

    @media (min-width: 768px) {
      li {
        margin: 0 25px 25px 25px;
      }
    }
    @media (min-width: 992px) {
      li {
        margin: 0 35px 25px 35px;
      }
    }

  }

}