@import 'bootstrap-sprockets';

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
// @import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
// @import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
// @import "bootstrap/dropdowns";
// @import "bootstrap/button-groups";
@import "bootstrap/input-groups";
// @import "bootstrap/navs";
@import "bootstrap/navbar";
// @import "bootstrap/breadcrumbs";
// @import "bootstrap/pagination";
// @import "bootstrap/pager";
@import "bootstrap/labels";
// @import "bootstrap/badges";
// @import "bootstrap/jumbotron";
// @import "bootstrap/thumbnails";
// @import "bootstrap/alerts";
// @import "bootstrap/progress-bars";
// @import "bootstrap/media";
// @import "bootstrap/list-group";
// @import "bootstrap/panels";
@import "bootstrap/responsive-embed";
@import "bootstrap/wells";
// @import "bootstrap/close";

// Components w/ JavaScript
// @import "bootstrap/modals";
// @import "bootstrap/tooltip";
// @import "bootstrap/popovers";
// @import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

// end bootstrap imports


@import 'font-awesome';
@import 'base/variables';
@import 'base/mixins';
@import 'base/globals';

@import 'views/navbars/navbars';
@import 'views/stories/index/index';
@import 'views/stories/show/show';

.stories.show, 
.stories.index {
  @import 'views/stories/shared/cookie_consent';
  @import 'views/stories/shared/gallery';
}

.stories.index {

  // match tomselect style (specificity needed to override bootstrap)
  .search-stories .input-group input[type="search"] {
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: none;

    &::placeholder {
      color: #6f6f6f;   // this is a guesstimate (how to check ts-control placeholder color?)
    }

    & ~ .input-group-btn button[type="submit"] {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }

  .ts-dropdown {
    .active {
      color: #fff;
      background-color: $nav-blue;
    }

    .optgroup-header {
      font-size: 12px;
    }
    
    .optgroup-header {
      padding: 0.75rem;
    }

    .option {
      padding: 4px 0.75rem;
    }
  }

  form.search-stories > .input-group,
  .input-group.tom-select,
  .stories-filter__select {
    height: 34px;

    .ts-wrapper.multi,
    .ts-control,
    .input-group-btn,
    .input-group-btn button {
      height: 100%;
    }
  }

  .ts-wrapper {
    &.multi.has-items {
      .ts-control {
        padding: 8px;

        // wrap items
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .item {
        display: flex;
        align-items: center;
        padding: 2px 0 2px 10px;

        &:not(:last-of-type) {
          margin-bottom: 8px;
        }
      }

      .tag-type {
        color: #666;
      }

      .tag-name {
        color: #555;
        font-weight: bold;
      }

      .clear-button {
        font-size: 20px;
        padding: 0 10px;
      }
    }
  }

  .stories-filter__select.ts-wrapper input {
    caret-color: transparent;   // hide the blinking cursor since search is disabled
  }
  
  .plugin-clear_button {
    .clear-button {
      font-size: 1.75rem;
      transition: opacity 0s;
      box-shadow: none;
      color: #6f6f6f;
    }
    
    &.single .clear-button,
    &.multi .clear-button {
      right: 2.75rem;
    }
  }
  
  // add the dropdown caret to the multi-select filter
  .ts-wrapper.multi .ts-control:after {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    right: calc(0.75rem + 5px);
    margin-top: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #6f6f6f transparent transparent transparent;
  }

  // change the caret color
  .ts-wrapper.single,
  .ts-wrapper.multi {
    .ts-control:after {
      border-color: #6f6f6f transparent transparent transparent;
    } 
  }
}