// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
*= require mvpready-admin
*= require bootstrap-switch/dist/css/bootstrap3/bootstrap-switch
*= require select2/dist/css/select2
*= require select2-bootstrap-theme/dist/select2-bootstrap
*= require bootstrap-jasny/dist/css/jasny-bootstrap.css
*= require social-sharing
*/

.grid {
  margin: 0 auto;
}

.grid-item {
  width: 170px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 28px
  // border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.thumbnail > a > img {
  height: 95px;
  padding-bottom: 4px;
}

.thumbnail {
  padding: 4px 0 0 0;
}

.thumbnail .caption {
  padding: 2px 0 2px 6px;
}

.contribution-card .accordion-inner br {
  line-height: 22px;
}

.story-text p {
  font-family: 'Merriweather';
  font-weight: 400;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.required-input label:after {
  color: #D9534F;
  content: " *";
}

well {
  margin-bottom: 15px
}

p.lead {
  margin-bottom: 8px;
}

#story-edit-nav:hover {
  text-decoration: underline;
}

.bip-clickable {
  height: 28px;
  width: 28px;
  color: #666;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  padding: 5px;
  font-size: 1.2em;
}

/* The font-size needs to be slightly different for the font awesome icons,
   to achieve consistent layout */
.bip-clickable-fa {
  height: 28px;
  width: 28px;
  color: #666;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  padding: 5px 6px 5px 5px;
  font-size: 1.3em;
}

.bip-clickable:hover, .bip-clickable-fa:hover  {
  color: white;
  background-color: #666;
}

/* make edit field stand out when hover over edit button */
#edit-story-title:hover + #story-title,
#edit-story-quote:hover + #story-quote,
#edit-story-quote-attr:hover + #story-quote-attr,
#edit-story-embed:hover + #story-embed,
#edit-story-situation:hover + #story-situation,
#edit-story-challenge:hover + #story-challenge,
#edit-story-solution:hover + #story-solution,
#edit-story-benefits:hover + #story-benefits,
.modify-result:hover + .story-result,
.modify-prompt:hover + .story-prompt,
.cc-notes:hover + .cc-notes {
  // border-left: 3px solid #87a3bc;
  background-color: #e3e3e3;
  background-clip: content-box;
  border-radius: 3px
}

.dirtyField {
  color: #D9534F;
}

/*
a transparent input - might come in handy at some point
input {
  background-color: rgba(0,0,0,0);
  border: none;
}
*/