
.drawer {
  bottom: 0px;
  height: 164px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.drawer header {
  background: #000000;
  color: #ffffff;
  display: block;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  width: 200px;
  -moz-border-radius-topleft: 6px 6px;
  -moz-border-radius-topright: 6px 6px;
  border-top-left-radius: 6px 6px;
  border-top-right-radius: 6px 6px;
}

.drawer-content {
  background-image: image-url('drawer-plugin/bg.png');
  border-collapse: collapse;
  border-top: 4px solid #000000;
  width: 100%;
}

.clickme {
  cursor: pointer;
}

.drawer-items {
  margin: auto;
  width: 90%;
}

.drawer-items .row {
  padding-top: 6px;
  padding-bottom: 16px;
}

.drawer-items .thumbnail {
  background-color: white;
  max-width: 150px;
}

.drawer-items .thumbnail img {
  max-height: 90px;
  max-width: 100%;  // 150 - paddingx2
}

.drawer-items a {
  margin: 0;
}

@media (max-width: 767px) {
  .drawer header {
    margin: auto
  }
}

@media (min-width: 768px) {
  .drawer header {
    margin-left: 65%;
  }
}

@media (min-width: 992px) {
  .drawer header {
    margin-left: auto;
    margin-right: 40px;
  }
}

// .drawer-items ul {
// margin: 0px;
// }

// .drawer-items li {
//   float: left;
//   list-style: none;
//   margin-left: 0px;
//   width: 200px;
// }

// .drawer-items li a {
//   color: #fff;
//   display: block;
//   height: 86px;
//   padding: 12px;
//   text-decoration: none;
//   width: 176px;
// }

// .drawer-items li a:hover {
//   background: #bd4929;
// }

// .drawer-items .title {
// color: #c4c4c4;
// font-size: 20px;
// line-height: 1.1;
// }