// Place all the styles related to the widgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.drawer {
bottom: 0px;
height: 140px;
overflow: hidden;
position: absolute;
width: 100%;
z-index: 5;
}
.drawer header {
background: #000000;
color: #ffffff;
display: block;
height: 25px;
line-height: 25px;
margin: auto;
overflow: hidden;
padding: 5px;
text-align: center;
width: 180px;
-moz-border-radius-topleft: 10px 10px;
-moz-border-radius-topright: 10px 10px;
border-top-left-radius: 10px 10px;
border-top-right-radius: 10px 10px;
}
.drawer-content {
background-image: image-url('drawer-plugin/bg.png');
border-collapse: collapse;
border-top: 5px solid #000000;
height: 110px;
width: 100%;
}
.clickme {
cursor: pointer;
}
.drawer-items {
margin: auto;
width: 960px;
}
.drawer-items ul {
margin: 0px;
}
.drawer-items li {
float: left;
list-style: none;
margin-left: 0px;
width: 200px;
}
.drawer-items li a {
color: #fff;
display: block;
height: 86px;
padding: 12px;
text-decoration: none;
width: 176px;
}
.drawer-items li a:hover {
background: #bd4929;
}
.drawer-items .title {
color: #c4c4c4;
font-size: 20px;
line-height: 1.1;
}
.drawer-items .row {
  height: 100px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.drawer-items .thumbnail {
  background-color: white;
}
.drawer-items .thumbnail img {
  max-height: 80px;
  // margin: 5px auto 5px auto;
}

.drawer-items a {
  margin:0;
}