.cs-drawer {
  bottom: 0px;
  // height: 183px;
  overflow: hidden;
  position: fixed;
  z-index: 10000;
  width: 100%;
}

.cs-drawer header {
  box-sizing: content-box !important;
  cursor: pointer;
  background: #000000;
  color: #ffffff;
  display: block;
  // height: 24px;           // defined via company.widget_config.tab_style
  // line-height: 24px;      // defined via company.widget_config.tab_style
  // font-size: 16px;        // defined via company.widget_config.tab_style
  overflow: hidden;
  padding-top: 7px;
  padding-bottom: 7px;
  // text-align: center;
  // width: 166px;           // defined via company.widget_config.tab_style
  margin-left: auto;
  margin-right: 10%;
  -moz-border-radius-topleft: 6px 6px;
  -moz-border-radius-topright: 6px 6px;
  border-top-left-radius: 6px 6px;
  border-top-right-radius: 6px 6px;
}

.cs-drawer header:hover {
  color: #e2e2e2 !important;
}

.cs-drawer-content {
  position: relative;
  background-image: image-url('drawer-plugin/bg.png');
  border-collapse: collapse;
  border-top: 4px solid #000000;
  width: 100%;
}

.cs-drawer-items {
  line-height: normal;  // added to compenstate for a line-height of 1.9 that was inherited from body and was making .row-pagination too tall
  margin: auto;
}

.row-horizon {
  // padding-top: 8px;
  padding-bottom: 16px;
}

.cs-drawer-items .cs-thumbnail {
  background-color: white;
  max-width: 150px;
}

.cs-drawer-items .cs-thumbnail img {
  max-height: 90px;
  max-width: 100%;
}

.cs-drawer-items a {
  margin: 0;
}

.cs-scroll-left {
  position: absolute;
  cursor: pointer;
  top: 40px;
  left: 0;
  margin-left: 2%;
  z-index: 10;
  height: 60px;
  width: 32px;
  border-radius: 5px;
  background: image-url('icon-chevron-left.png') no-repeat 0 0;
  background-clip: content-box;
}

.cs-scroll-left:hover {
  background-color: black;
}

.cs-scroll-right {
  position: absolute;
  cursor: pointer;
  top: 40px;
  right: 0;
  margin-right: 2%;
  z-index: 10;
  height: 60px;
  width: 32px;
  border-radius: 5px;
  background: image-url('icon-chevron-right.png') no-repeat 0 0;
  background-clip: content-box;
}

.cs-scroll-right:hover {
  background-color: black;
}

@media (min-width: 768px) {
  .cs-drawer-items {
    width: 79%;
  }
}

@media (min-width: 992px) {
  .cs-drawer-items {
    width: 82%;
  }
}

@media (min-width: 1200px) {
  .cs-drawer-items {
    width: 84%;
  }
}

.cs-page-dot {
  display: inline-block;
  height: 8px;
  width: 8px;
  margin: 4px;
  border: 1px solid white;
  background: transparent;
  border-radius: 8px;
}

.cs-current-page-dot {
  background: white !important;
}

.cs-pagination-row {
  margin-top: 3px;
}