
.bootbox.modal.confirm-remove-contributor,
.bootbox.modal.confirm-remove-success {
  .modal-content {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    overflow: hidden;  // so background color doesn't extend past border radius
  }
  .modal-footer {
    background-color: #fff;
    border-top: 1px solid #ebccd1;
  }
  .modal-body {
    font-size: 16px !important;
    border-color: #ebccd1;
  }
}