#contributors-table, 
#story-contributors-table {
  tr.active {
    td.invitation-template .placeholder {
      color: #fff !important;
    }
  }

  td.invitation-template:not(.disabled) {
    cursor: pointer;
    position: relative;
    padding-right: 40px;

    i.fa-caret-down, i.fa-check {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  td.invitation-template.editor-is-open {
    padding-right: 8px;

    .DTE_Form_Buttons {
      .btn {
        float: right;
      }

      .btn:first-of-type {
        margin-left: 8px;  // matches td padding
      }
    }

    .DTE_Form_Buttons :first-child {
      width: 48px;
    }
  }

  td.invitation-template {
    span.select2 {
      margin-bottom: 8px;
    }

    .btn-success {
      float: right;
    }
    
    .placeholder {
      color: #999;
    }
  }

  td.status {
    position: relative;
    line-height: 1.6;

    i {
      position: absolute;
      display: none;
      right: 10px;
      top: 50%;
      transform: translate(0, -50%);
      color: #456f59;
    }
  }

  .contributor-child-row {
    @include LI-profile-badge(#fff);

    .LI-badge-container {
      // margin-bottom: 0;  // override the mixin
    }

    .form-group.LI-profile {
      // margin-bottom: 0;
    }

    .LI-profile__error {
      display: none;
    }

    .LI-profile__container {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 155px;
      width: 100%;
      // border: 1px solid #ccc;
      background-color: #f9f9f9;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);

      i {
        color: #555;
        font-size: 18px;
      }

      &.loaded, &.error {
        i { display: none; }
      }

      &.loaded {
        background: none;
        box-shadow: none;

        .LI-profile-badge {
          width: 100%;
        }
      }

      &.error {
        .LI-profile__error {
          // display: initial;
          display: revert;
          color: #c9302c;
        }
      }
    }
  }
}