@import 'successes';
@import 'contributors';
@import '../../customers/customer_modal';
@import 'win_story_email_modal';
@import 'bootbox_modals';

.table-controls {
  background-color: $medium-gray;
  padding: 1.5em;

  > div {
    @include flex-row-center-between;
    width: 100%;

    &:first-child {
      flex-wrap: wrap;
    }
  }

  button:not(.clear-button) {
    &:first-of-type {
      margin-right: 0.75em;
    }
  }

  // TODO: Why does this result in different widths for the labels? Workaround is below
  // label {
  //   display: inline-block;
  //   margin: 0 1em 0 0;
  //   width: 60px;
  // }

  label {
    position: relative;
    margin: 0;

    > * {
      position: absolute;
      right: 0.75em; 
      top: 50%;
      transform: translate(0, -50%);
    }

    &::before {
      content: '';
      display: inline-block;
      width: 4.75em;
    }
  }

  .curator-select,
  .filter-select {
    @include flex-row-center;
    min-width: 225px; 
    padding-bottom: 1.25em;

    select {
      flex-grow: 1;
    }
  }

  .filter-select {
    flex-grow: 1;
    max-width: 340px;

    i {
      font-size: 1.25em;
      color: #666;
    }
  }
}

.popover[data-controller="table-display-options"] {
  max-width: revert;

  label {
    padding-right: 0;
  }

  .form-group:not(:first-child):not(:last-child) {
    margin-bottom: 0.25em;
  }

  .popover-content {
    position: relative;
    padding: 1.25em 0;
  }

  &[data-table-display-options-resource-outlet="#customer-wins"] {
    .popover-content {
      left: -1em;
      width: 25em;
    }
  }

  &[data-table-display-options-resource-outlet="#contributors"] {
    .popover-content {
      left: -2em;
      width: 30em;
    }
  }
}

#prospect {
  div[id*="table_wrapper"] {
    margin-top: 8px;
  }
}

.link-dialog {
  .modal-content {
    overflow: hidden;  // this forces .modal-header background to respect border-radius
    .modal-header, .modal-footer {
      background: #f9f9f9;
    }
  }
}

#successes-table, 
#contributors-table, 
#story-contributors-table,
#promoted-stories-table {
  th.toggle-child, 
  td.toggle-child, 
  th.toggle-contributor-child, 
  td.toggle-contributor-child {
    // padding necessary to override datatables css that adds padding-right: 30px to the th,
    // thus preventing text from centering horizontally
    padding: 8px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: #666;
  }

  td.toggle-child {
    position: relative;
    padding: 0;

    button {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: transparent;
      padding: 0;

      i:last-child {
        display: none;
      }
    }
  }

  tr.dt-hasChild {
    td.toggle-child button {
      i:first-child {
        display: none;
      }

      i:last-child {
        // display: initial;
        display: revert;
      }
    }
  }

  // child rows (must be nested under table id selectors to override datatables)
  td.child-row,
  td.contributor-child-row {
    padding: 1.75rem 1rem 2rem;
    background-color: #efefef;
    // border: 1px solid #08c;
    // border-bottom: 3px solid #dfdfdf;
  
    .form-group {
      width: 100%;
      margin-bottom: 20px;
  
      .form-control {
        width: 100%;
        font-size: 13px;
      }
    }
  
    .col-sm-3 {
      padding-left: 0;
    }
  
    .col-sm-9 {
      padding: 0;
    }
  }

  &:not(#promoted-stories-table) td.status {
    // this ensures newlines will be respected
    // ref: https://stackoverflow.com/questions/10937218
    white-space: pre;
  }
}

#successes-table,
#contributors-table,
#story-contributors-table {
  @include row-hover-highlight;
  table-layout: fixed;
  
  // datatables table-striped class does not take row groups into account, so roll our own
  // &:not(.has-row-groups) > tbody > tr.even {
  //   background-color: #f9f9f9;
  // }
}

#new-success-modal, 
#new-contributor-modal {
  &#new-success-modal.in {
    overflow-y: scroll;  // force scroll so create/import are consistent
  }

  .modal-header {
    .close {
      font-size: 26px;
    }
  }

  .modal-body {
    padding: 25px 20px;

    .new-records {
      display: none;
      min-height: 117px;  // matches the file upload view

      label {
        margin-bottom: 10px;
      }

      li {
        margin-bottom: 5px;
      }
    }

    label:not(.radio-inline) {
      padding-right: 5px;
    }
    
    .form-group.has-success {
      .input-group-addon:hover {
        color: #3c763d;
        border-color: #3c763d;
        background-color: #cbdac5;
      }
    }
    .form-group.has-warning {
      .input-group-addon:hover {
        color: #8a6d3b;
        border-color: #8a6d3b;
        background-color: #efebd7;
      }
    }

    .form-group.has-error {
      .input-group-addon:hover {
        color: #a94442;
        border-color: #a94442;
        background-color: #e0cfcf;
      }
    }

    .create-contributor, 
    .create-referrer {
      background: #eee;
      .form-group:last-of-type {
        span.help-block {
          margin-bottom: 0;
        }
      }
    }

    .create-contributor, 
    .create-referrer.new-success {
      margin: -68px -9px 16px -10px;
      padding: 68px 9px 9px 10px;
    }

    // this one doesn't have a bottom margin, hence the difference from above
    .create-referrer.new-contributor {
      margin: -43px -9px -4px -10px;
      padding: 68px 9px 9px 10px;
    }

    // mimic select2
    input:not([type="file"]), textarea {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding-left: 12px;
    }
  }
}

#new-success-form {
  .col-sm-3 {
    width: 23%;
  }

  .col-sm-9 {
    width: 77%
  }
  
  .form-group.source {
    margin-bottom: 15px;

    label.radio-inline:first-child {
      margin-right: 1em;
    }
  }

  .form-group.csv-file {
    // margin-bottom: 15px;

    > * {
      // margin-top: 10px;
    }

    .fileinput {
      margin-bottom: 0;
      padding-bottom: 33px; // leaves space for .help-block
    }

    // ref: https://stackoverflow.com/questions/19695053
    .fileinput .form-control {
      margin-bottom: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      // emulate select2
      padding-left: 12px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      .fileinput-filename.placeholder {
        color: #999;
      }
    }

    // fix for cursor:pointer not working on file inputs: https://stackoverflow.com/questions/572768
    label[for="csv-file-input"] {
      cursor: pointer;
      margin-bottom: 0;
      padding: 0;

      #csv-file-input {
        display: none;
      }
    }
  }

  .form-group.csv-file.has-error, 
  .form-group.csv-file.has-warning, 
  .form-group.csv-file.has-success {
    .fileinput {
      padding-bottom: 0;
    }
  }
}