
#win-story-email-modal {

  .modal-body {
    .form-horizontal {
      .form-group {
        margin-bottom: 10px;
      }
      label.col-sm-1 {
        width: 12%;
        padding-right: 0;

      }
      .col-sm-11 {
        width: 88%;
        .select2 .select2-search input {
          width: 100% !important;   // because placeholder getting cut off (known select2 issue)
        }
        [data-target="#add-template-recipients"] {
          &:hover {
            color: #333;
          }
        }
        #add-template-recipients {
          // padding: 10px;  don't add padding here => makes collapse jumpy
          background-color: #eee;
          > div {
            padding-left: 10px;
            &:first-of-type {
              padding-top: 10px;
            }
            &:last-of-type {
              padding-bottom: 10px;
            }
            label {
              cursor: pointer;
              font-weight: 400;
            }
          }
        }
      }
    }
  }



}