
<script type='text/template' id='contributor-actions-dropdown-template'>

  <a href="javascript:;" class="dropdown-toggle" data-toggle='dropdown'>
    <i class='fa fa-caret-down'></i>
  </a>

  <ul class='contributor-actions dropdown-menu dropdown-menu-right dropdown-actions'>

    {{ if (status === 'pre_request') { }}

      <li class="send-invitation {{= invitationTemplate ? '' : 'disabled' }}">
        <a href="javascript:;">
          <i class='fa fa-envelope-o fa-fw action'></i>&nbsp;&nbsp;
          <span>Compose Invitation</span>
        </a>
      </li>

    {{ } else { }}

      <li class='view-request'>
        <a href="javascript:;">
          <i class='fa fa-search fa-fw action'></i>&nbsp;&nbsp;
          <span>View Sent Invitation</span>
        </a>
      </li>

    {{ } }}

    {{ if (status === 'did_not_respond') { }}

      <li class='re-send-invitation'>
        <a href="javascript:;">
          <i class='fa fa-envelope-o fa-fw action'></i>&nbsp;&nbsp;
          <span>Re-send Invitation</span>
        </a>
      </li>

    {{ } }}


    {{ if (status && status.match(/(contribution|feedback)/)) { }}

      <li class='view-contribution'>
        <a href="#contribution-content-modal" data-toggle='modal'>
          <i class='fa fa-search fa-fw action'></i>&nbsp;&nbsp;
          <span>View {{= status.includes('contribution') ? 'Contribution' : 'Feedback' }}</span>
        </a>
      </li>

      {{ if (status && status.match(/submitted/)) { }}

        <li class='completed'>
          <a href="javascript:;">
            <i class='fa fa-check fa-fw action'></i>&nbsp;&nbsp;
            <span>Mark as completed</span>
          </a>
        </li>

      {{ } }}


    {{ } }}

    <li role="separator" class="divider"></li>

    {{ if (workflowStage === 'prospect') { }}

      {{ if (story && story.published) { }}

        <li>
          <a href="{{= viewStoryPath }}"}>
            <i class='fa fa-search fa-fw action'></i>&nbsp;&nbsp;
            <span>View Story</span>
          </a>
        </li>

        <li role="separator" class="divider"></li>

      {{ } else if (story) { }}

        <li class="story-settings">
          <a href="{{= editStoryPath }}">
            <i class='fa fa-gear fa-fw action'></i>&nbsp;&nbsp;
            <span>Story Settings</span>
          </a>
        </li>

        <li class="story-content">
          <a href="{{= editStoryPath }}">
            <i class='fa fa-edit fa-fw action'></i>&nbsp;&nbsp;
            <span>Story Content</span>
          </a>
        </li>

        <li class="story-contributors">
          <a href="{{= editStoryPath }}">
            <i class='fa fa-users fa-fw action'></i>&nbsp;&nbsp;
            <span>Story Contributors</span>
          </a>
        </li>

        <li role="separator" class="divider"></li>

      {{ } else { }}

        <li class='view-success'>
          <a href="javascript:;"}>
            <i class='fa fa-rocket fa-fw action'></i>&nbsp;&nbsp;
            <span>View Customer Win</span>
          </a>
        </li>

        <li role="separator" class="divider"></li>

      {{ } }}

    {{ } }}

    <li class='remove'>
      <a href="javascript:;">
        <i class='fa fa-remove fa-fw action'></i>&nbsp;&nbsp;
        <span>Remove</span>
      </a>
    </li>

  </ul>

</script>

