li {
  class="#{'active' if workflow_stage == tab_name}" 
  class="#{'hidden' if (@story.present? && tab_name != 'story') || (@story.nil? && tab_name == 'story')}"
  role="presentation" }
  a {
    href="##{tab_name == 'story' ? 'curate' : tab_name}" 
    data-toggle="tab" 
    data-controller="dashboard-tab"
    data-action="dashboard#onTabClick dashboardTab#onClick"
    data-dashboard-target="#{'tab' if workflow_stage}"
    aria-controls="#{tab_name == 'story' ? 'curate' : tab_name}"
    aria-expanded="#{workflow_stage == tab_name ? 'true' : 'false'}"
    role="tab" }
    = tab_name.capitalize
  - if workflow_stage == 'story'
    i.fa.fa-chevron-right
    span = @story.customer.name
    i.fa.fa-chevron-right
    span = @story.title

  / for alternative bottom border style - see stylesheet
  / div