
<%= render 'shared/flash' %>

<nav class='navbar navbar-default landing' role="banner">
  <div class="container">

    <div class="navbar-header">

      <button class="navbar-toggle collapsed" type="button"
              data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>

      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'mvp-landing/logo_full.png', { alt: 'CSP Logo' } %>
      <% end %>

    </div> <!-- /.navbar-header -->

    <div class="collapse navbar-collapse" role="navigation">

      <%= render '/shared/navbars/mvp_landing_navbar_nav' %>

    </div>

  </div> <!-- /.container -->
</nav>