
<nav id="nav-secondary" class="navbar navbar-default <%= company.subdomain %> <%= action %>">
  <div class="container navbar-container">
    <div class="row">
      <div class="navbar-header col-xs-12">

        <h3>Customer Stories</h3>

      </div>
    </div>
    <!-- <div class="collapse navbar-collapse"></div> -->
  </div>
</nav>