/ p = "Welcome #{@email}!"

/ p = 'You can confirm your account email through the link below:'

/ p = link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)

h3 Verify your email address

p To ensure continued access to your account, please verify that this is your email address.

p = link_to('Verify email', confirmation_url(@resource, confirmation_token: @token))

p style="font-size:13px; color:#6e6e80"
  | This link will expire in 3 days. If you did not make this request, please disregard this email.
