/ p = "Hello #{@resource.email}!"

/ p Someone has requested a link to change your password. You can do this through the link below.

/ p = link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token)

/ p If you didn't request this, please ignore this email.

/ p Your password won't change until you access the link above and create a new one.</p>

h3 Reset your password 

p We have received a request to change your account password. You can do so through the link below.

p = link_to('Reset password', edit_password_url(@resource, reset_password_token: @token))

p style="font-size:13px; color:#6e6e80" 
  | If you did not make this request, please disregard this email.