= turbo_stream.append 'main-modal-content' do 
  .modal-footer data-modal-target="footer"
    button.btn.btn-default type="button" data-dismiss="modal" Cancel
    = submit_tag('Save changes', class: 'btn btn-success', form: 'contributor-invitation-form')

= turbo_stream.append 'main-modal-body' do
  = form_with( \ 
      model: [@contribution, @invitation], 
      url: contribution_contributor_invitation_path(@contribution),
      format: :json, 
      html: { \ 
        id: 'contributor-invitation-form', 
        autocomplete: 'off', 
        novalidate: true, 
        data: { \ 
          controller: 'contributor-invitation', 
          modal_target: 'form',
          action: 'ajax:beforeSend->contributor-invitation#validate ajax:complete->contributor-invitation#onAjaxComplete',
          submit_btn_text: 'Send Invitation' }}) do |form|

    .form-group.required
      .input-group 
        .input-group-addon 
          span style="font-weight:600"
            | To
        input {
          type="email" 
          id="recipient-email" 
          class="form-control"
          value="#{@invitation.recipient.email}"
          required="true"
          data-contributor-invitation-target="recipient" }

    .form-group.required
      /= form.label(:email_subject, 'Subject', class: 'control-label')
      = form.text_field(:email_subject, class: 'form-control', placeholder: 'Subject', required: true)

    .contributor-invitation__summernote { 
      contenteditable="false" 
      data-controller="summernote" 
      data-summernote-enabled-value="true" 
      data-summernote-config-key-value="contributorInvitation" 
      data-summernote-config-args-value=[nil].to_json
      data-contributor-invitation-target="note" }
      = @invitation.email_body.html_safe