
#contribution-request-modal {
  .modal-content {
    overflow: hidden;  // this forces .modal-header background to respect border-radius
    .modal-header {
      #to-contributor {
        color: #333;
      }
    }
    .modal-title, .progress {
      margin-bottom: 10px;
    }
    .progress {
      margin-top: 5px;
    }
    .modal-body {
      // max-height: 440px;
      overflow-y: auto;
      .form-group.subject {
        width: 100%;
        margin-bottom: 15px;
        label {
          width: 10%;
          // these three settings for vertical centering
          display: inline-block;
          vertical-align: middle;
          margin-bottom: 0;
        }
        input { width: 90%; }
      }
      // this mirrors the <style> tag in the email template
      button.cta {
        font-size: 14px;
        margin: 12px 0;
        // cursor: pointer;
        line-height: 1.42857143;
        padding: 6px 12px;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
        border-radius: 4px;
        opacity: 0.85;
      }
      button.cta:hover {
        opacity: 1.0;
      }
      #curator-signature {
        img {
          width: 80px;
          margin-bottom: 4px;
        }
      }
    }
  }
  .modal-content.send {
    .readonly { display: none }
  }
  .modal-content.readonly {
    .modal-body * {
      pointer-events: none;
    }
    .send, .note-toolbar {
      display: none
    }
    .note-editable[contenteditable="false"] {
      // mirrors disabled input
      background: #eee;
    }
  }
}