= turbo_frame_tag('company-ads-settings') do

  = form_with( \
      model: company,
      url: ads_company_path(company),
      html: { \
        id: 'gads-form',
        class: 'form-horizontal',
        data: { \
          controller: 'ads toast',
          toast_flash_value: \
            (flash.to_h if flash.present? && turbo_frame_request_id == 'company-ads-settings'),
          toast_errors_value: \
            (@errors if @errors && turbo_frame_request_id == 'company-ads-settings'),
          asset_host: Rails.application.config.asset_host,
          action: [ \
            'image-card:make-default->ads#setNewDefault',
            'image-card:ready-to-validate->ads#updateValidator',
            'image-card:validated->ads#updateValidator',
            'image-card:replace-default->ads#keepPreviousDefault',
            'image-card:upload-ready->ads#submitForm'].join(' ') }}) do |form|
    
    = form.hidden_field( \
        :active_collection,
        value: active_collection,
        data: { ads_target: 'activeCollectionInput' })
          
    .form-group.short-headline
      = form.label(:adwords_short_headline, 'Headline', class: 'col-sm-3 control-label')
      .col-sm-9.col-md-8.col-lg-6
        div
          = form.text_field( \
              :adwords_short_headline,
              class: 'form-control',
              autocomplete: 'off',
              maxlength: RESPONSIVE_AD_SHORT_HEADLINE_MAX.to_s,
              required: true,
              data: { \
                validate: true,
                'required-error': 'Required',
                initial_value: company.adwords_short_headline })
          button.btn.btn-success.hidden type="submit" data-ads-target="shortHeadlineSubmitBtn"
            | Save
        span.help-block.with-errors
          | Max 30 characters

    .form-group.image-collection
      label.col-sm-3.control-label Image Collection
      .col-sm-9.col-md-8.col-lg-6
        .btn-group data-controller="btn-group"
          a.btn.btn-secondary {
            href="#image-library__marketing"
            class=('active' if active_collection == 'images')
            data-toggle="tab" 
            data-btn-group-target="btn"
            data-action="ads#updateActiveCollection"
            data-collection="images" 
            role="tab" }
            i.fa.fa-fw.fa-image
            | &nbsp;&nbsp;
            | Marketing Images
          a.btn.btn-secondary {
            href="#image-library__logos"
            class=('active' if active_collection == 'logos')
            data-toggle="tab" 
            data-btn-group-target="btn"
            data-action="ads#updateActiveCollection"
            data-collection="logos"
            role="tab" }
            i.fa.fa-fw.fa-flag
            | &nbsp;&nbsp;
            | Logos
      .col-sm-offset-3.col-sm-9.col-md-8.col-lg-6 
        span.help-block {
          data-ads-target="requirementsHelpBlock"
          class=('hidden' if active_collection != 'images') }
          a {
            href="javascript:;"
            role="button"
            data-toggle="popover" 
            data-placement="right" 
            data-trigger="focus"
            data-collection="images"
            data-square-min="300x300" 
            data-square-ratio="1:1"
            data-landscape-min="600x314" 
            data-landscape-ratio="1.91:1"
            data-ads-target="imageRequirements" }
            | Requirements
        span.help-block.pull-right {
          data-ads-target="requirementsHelpBlock"
          class=('hidden' if active_collection != 'logos') }
          a {
            href="javascript:;" 
            role="button"
            data-toggle="popover" 
            data-placement="right" 
            data-trigger="focus"
            data-collection="logos"
            data-square-min="128x128" 
            data-square-ratio="1:1" 
            data-square-suggest="1200x1200"
            data-landscape-min="512x128" 
            data-landscape-ratio="4:1" 
            data-landscape-suggest="1200x300"
            data-ads-target="imageRequirements" }
            | Optional/Requirements

    .image-library.tab-content

      #image-library__marketing.tab-pane class=('active' if active_collection == 'images')

        .form-group
          label.col-sm-3.control-label Default Images
          .col-sm-9.col-md-8.col-lg-6
            ul.image-cards.list-unstyled
              = render( \
                  'shared/image_card',
                  { model: 'AdwordsImage',
                    _image: \
                      company.ad_images.default.marketing.square.take || \
                      { type: 'SquareImage', default: true },
                    field_name_prefix: 'company[adwords_images_attributes][0]' })
              = render( \
                  'shared/image_card',
                  { model: 'AdwordsImage',
                    _image: company.ad_images.default.marketing.landscape.take || { type: 'LandscapeImage', default: true },
                    field_name_prefix: 'company[adwords_images_attributes][1]' })

        .row
          .col-sm-offset-3.col-sm-9.col-md-8.col-lg-6.text-center
            /disabled=('true' if company.missing_default_ad_images?('marketing'))
            button.btn.btn-secondary.btn-upload type="button" data-action="ads#uploadImage"
              i.fa.fa-fw.fa-upload
              |&nbsp;&nbsp;Upload an image

        ul.image-cards.list-unstyled
          = render( \
              'shared/image_card',
              { model: 'AdwordsImage',
                collection: 'images',
                field_name_prefix: 'company[adwords_images_attributes][2]' })
          - company.ad_images.marketing.where.not(default: true).each.with_index do |ad_image, i|
            = render( \
                'shared/image_card',
                { model: 'AdwordsImage',
                  _image: ad_image,
                  upload_enabled: false,
                  field_name_prefix: "company[adwords_images_attributes][#{ 3 + i }]" })

      #image-library__logos.tab-pane class=('active' if active_collection == 'logos')

        .form-group
          label.col-sm-3.control-label Default Logos
          .col-sm-9.col-md-8.col-lg-6
            ul.image-cards
              = render( \
                  'shared/image_card',
                  { model: 'AdwordsImage',
                    _image: company.ad_images.default.logo.square.take || { type: 'SquareLogo', default: true },
                    field_name_prefix: ( \
                      "company[adwords_images_attributes][#{ 3 + company.ad_images.marketing.where.not(default: true).count }]") })
              = render( \
                  'shared/image_card',
                  { model: 'AdwordsImage',
                    _image: company.ad_images.default.logo.landscape.take || { type: 'LandscapeLogo', default: true },
                    field_name_prefix: ( \
                      "company[adwords_images_attributes][#{ 4 + company.ad_images.marketing.where.not(default: true).count }]") })

        .row
          / label.col-sm-3.control-label All Logos
          .col-sm-offset-3.col-sm-9.col-md-8.col-lg-6.text-center
            / disabled=('true' if company.missing_default_ad_images?('logo'))
            button.btn.btn-secondary.btn-upload type="button" data-action="ads#uploadLogo"
              i.fa.fa-fw.fa-upload
              |&nbsp;&nbsp;Upload a logo

        ul.image-cards
          = render( \
              'shared/image_card',
              { model: 'AdwordsImage',
                collection: 'logos',
                field_name_prefix: ( \
                  "company[adwords_images_attributes][#{ 5 + company.ad_images.marketing.where.not(default: true).count }]") })
          - company.ad_images.logo.where.not(default: true).each.with_index do |ad_image, i|
            = render( \
                'shared/image_card',
                { model: 'AdwordsImage',
                  _image: ad_image,
                  upload_enabled: false,
                  field_name_prefix: ( \
                    "company[adwords_images_attributes][#{ 6 + company.ad_images.marketing.where.not(default: true).count }]") })