#measure.tab-pane {
  class=('active' if workflow_stage == 'measure')
  data-dashboard-target="tabPanel"
  data-action=[ \
    'visitors:loading->dashboard#onResourceLoading',
    'visitors:ready->dashboard#onResourceReady',
    'activity:loading->dashboard#onResourceLoading',
    'activity:ready->dashboard#onResourceReady'].join(' ')
  role="tabpanel" }

  = render('shared/loading_spinner')

  .container-fluid
    .sidebar--sans-text
      ul.nav role="tablist"
        li class=('active' if active_tab == '#visitors')
          a {
            id="visitors-tab" 
            href="#visitors" 
            data-toggle="tab"
            data-nav-list-target="tab"
            data-action="dashboard#setNavCookie"
            data-controller="tooltip"
            data-tooltip-options-value=nav_link_tooltip_options('Visitors').to_json
            aria-controls="visitors"
            aria-expanded="#{active_tab == '#visitors' ? 'true' : 'false'}"
            role="tab" }
            i.fa.fa-fw.fa-bar-chart
        li class=('active' if active_tab == '#activity')
          a {
            id="activity-tab" 
            href="#activity" 
            data-toggle="tab"
            data-nav-list-target="tab"
            data-action="dashboard#setNavCookie"
            data-controller="tooltip"
            data-tooltip-options-value=nav_link_tooltip_options('Recent Activity').to_json
            aria-controls="activity"
            aria-expanded="#{active_tab == '#activity' ? 'true' : 'false'}"
            role="tab" }
            i.fa.fa-fw.fa-line-chart
            
    .layout-main
      .tab-content

        #visitors.tab-pane {
          class=('active in' if active_tab == '#visitors') 
          data-dashboard-target="visitors"
          data-resource-name="visitors"
          data-controller="visitors"
          data-visitors-dashboard-outlet=".dashboard"
          data-visitors-data-path-value=visitors_company_path(company)
          data-visitors-filters-value=@visitors_filters.to_json
          data-visitors-display-options-html-value=visitors_display_options_html(company, @visitors_filters)
          aria-labelledby="visitors-tab"
          role="tabpanel" }

          = render('companies/measure/visitors', company:)

        #activity.tab-pane {
          class=('active in' if active_tab == '#activity')
          data-dashboard-target="activity"
          data-resource-name="activity"
          data-controller="activity"
          data-activity-dashboard-outlet=".dashboard"
          data-activity-filters-value={ 'curator': curator&.id }.to_json
          aria-labelledby="activity-tab"
          role="tabpanel" }

          = render('companies/measure/activity')