= tag.div(id: 'measure',
          class: "tab-pane #{'active' if workflow_stage == 'measure'}",
          role: 'tabpanel',
          data: { \
            dashboard_target: 'tabPanel',
            action: [ \
              'visitors:loading->dashboard#onResourceLoading',
              'visitors:ready->dashboard#onResourceReady',
              'activity:loading->dashboard#onResourceLoading',
              'activity:ready->dashboard#onResourceReady'].join(' ') }) do

  = render('shared/loading_spinner')

  .container-fluid
    .sidebar data-dashboard-target="sidebar"
      .sidebar__toggle
        .thingy
        button.btn.btn-default type="button" data-action="dashboard#toggleSidebar"
          i.fa.fa-bars

      ul.nav role="tablist"
        - [ ['#visitors', 'fa-bar-chart', 'Visitors'],
            ['#activity', 'fa-line-chart', 'Recent Activity'] ].each do |panel_id, icon_class, label|
          
          li class="#{'active' if active_tab == panel_id}" role="presentation"
            = tag.a(href: panel_id,
                    role: 'tab',
                    data: { \
                      toggle: 'tab',
                      action: 'dashboard#setNavCookie',
                      controller: 'tooltip',
                      tooltip_options_value: nav_link_tooltip_options(label) },
                    aria: { \
                      controls: panel_id.sub('#', ''),
                      expanded: (active_tab == panel_id) }) do
              i.fa.fa-fw class=icon_class
              span = label

    .layout-main
      .tab-content

        #visitors.tab-pane {
          class=('active in' if active_tab == '#visitors') 
          data-dashboard-target="visitors"
          data-resource-name="visitors"
          data-controller="visitors"
          data-visitors-dashboard-outlet=".dashboard"
          data-visitors-data-path-value=company_visitors_path(company)
          data-visitors-filters-value=@visitors_filters.to_json
          data-visitors-display-options-html-value=visitors_display_options_html(company)
          aria-labelledby="visitors-tab"
          role="tabpanel" }

          = render('companies/measure/visitors', company:)

        #activity.tab-pane {
          class=('active in' if active_tab == '#activity')
          data-dashboard-target="activity"
          data-resource-name="activity"
          data-controller="activity"
          data-activity-dashboard-outlet=".dashboard"
          data-activity-filters-value={ 'curator': curator&.id }.to_json
          aria-labelledby="activity-tab"
          role="tabpanel" }

          = render('companies/measure/activity')