#promote.tab-pane {
  class=('active' if workflow_stage == 'promote')
  data-dashboard-target="tabPanel"
  data-action="promoted-stories:loading->dashboard#onResourceLoading promoted-stories:ready->dashboard#onResourceReady"
  role="tabpanel" }

  = render('shared/loading_spinner')

  .container-fluid
    .sidebar--sans-text
      ul.nav data-controller="nav-list"
        li class=('active' if active_tab == '#promoted-stories')
          a {
            href="#promoted-stories"
            data-toggle="tab"
            data-action="dashboard#setNavCookie"
            data-controller="tooltip"
            data-tooltip-options-value=nav_link_tooltip_options('Promoted Stories').to_json
            aria-controls="promoted-stories"
            aria-expanded="#{active_tab == '#promoted-stories' ? 'true' : 'false'}"
            role="tab" }
            i.fa.fa-fw.fa-bullhorn
        li class=('active' if active_tab == '#promote-settings')
          a {
            href="#promote-settings"
            data-toggle="tab"
            data-action="dashboard#setNavCookie"
            data-controller="tooltip"
            data-tooltip-options-value=nav_link_tooltip_options('Promoted Stories Settings').to_json
            aria-controls="promote-settings"
            aria-expanded="#{active_tab == '#promote-settings' ? 'true' : 'false'}"
            role="tab" }
            i.fa.fa-fw.fa-gear
      /- if current_user.admin?
        .admin-sidebar
          h4.text-danger Admin
          p The connection to Google Ads is presently disabled.
          #gads-set-reset.text-center
            button.btn.btn-secondary.disabled {
              type="button" 
              disabled=""
              data-action="/companies/#{company.id}/set_reset_gads" }
              span Set/Reset
              i.fa.fa-spin.fa-circle-o-notch style="display:none"
          div style="opacity: 0.5"
            label Checklist
            ul#gads-checklist
              li 
                | company.promote_tr = true
              li 
                | default headline
              li
                | default images w/ valid asset_id
            #gads-results__wrapper
              label Results
              ul#gads-results

    .layout-main
      .tab-content
      
        #promoted-stories.resource-ctrl.tab-pane {
          class=('active in' if active_tab == '#promoted-stories')
          data-dashboard-target="promotedStories"
          data-resource-name="promotedStories"
          data-controller="promoted-stories"
          data-promoted-stories-dashboard-outlet=".dashboard"
          data-promoted-stories-data-path-value=company_adwords_ads_path(company)
          data-promoted-stories-filters-value={ 'curator': curator&.id }.to_json
          data-promoted-stories-display-options-html-value=promoted_stories_display_options_escaped_html(company, curator&.id)
          data-action="datatable:init->promoted-stories#onTableInitComplete" }

          table#promoted-stories-table.table {
            data-promoted-stories-target="datatable"
            data-controller="datatable"
            data-datatable-promoted-stories-outlet="#promoted-stories"
            data-promote-tr="#{company.promote_tr}" }

            = render( \
                'companies/shared/table_controls',
                { company:, 
                  caption: 'Promoted Stories',
                  resource_name: 'promotedStories',
                  resource_ctrl_id: 'promoted-stories',
                  search_options: { 'Customer' => company.customers.map(&:select_option) } })

            thead
              tr
                th
                  i.fa.fa-bullhorn
                th.customer Customer
                th.story-title Story Title
                th.status Status
                th Curator
                th

        #promote-settings.tab-pane class=('active' if active_tab == '#promote-settings')
          = render('companies/dashboard/gads_form', { company:, active_collection: 'images' })