#prospect.tab-pane {
  class=('active' if workflow_stage == 'prospect')
  data-dashboard-target="tabPanel"
  data-action=[ \
    'customer-wins:loading->dashboard#onResourceLoading',
    'customer-wins:ready->dashboard#onResourceReady',
    'contributions:loading->dashboard#onResourceLoading',
    'contributions:ready->dashboard#onResourceReady'].join(' ')
  role="tabpanel" }

  = render('shared/loading_spinner')

  .container-fluid
    .sidebar--sans-text
      ul.nav data-controller="nav-list" role="tablist"
        li class=('active' if active_tab == '#customer-wins')
          a {
            id="customer-wins-tab" 
            href="#customer-wins" 
            data-toggle="tab"
            data-dashboard-target="customerWinsTab"
            data-nav-list-target="tab"
            data-action="dashboard#setNavCookie"
            data-controller="tooltip"
            data-tooltip-options-value=nav_link_tooltip_options('Customer Wins').to_json
            aria-controls="customer-wins"
            aria-expanded="#{active_tab == '#customer-wins' ? 'true' : 'false'}"
            role="tab" }
            i.fa.fa-fw.fa-rocket
            
        li class=('active' if active_tab == '#contributions')
          a {
            id="contributions-tab" 
            href="#contributions" 
            data-toggle="tab"
            data-dashboard-target="contributionsTab"
            data-nav-list-target="tab"
            data-action="dashboard#setNavCookie"
            data-controller="tooltip"
            data-tooltip-options-value=nav_link_tooltip_options('Contributors').to_json
            aria-controls="contributions"
            aria-expanded="#{active_tab == '#contributions' ? 'true' : 'false'}"
            role="tab" }
            i.fa.fa-fw.fa-users

    .layout-main
      .tab-content
      
        #customer-wins.resource-ctrl.tab-pane {
          class=('active' if active_tab == '#customer-wins')
          data-dashboard-target="customerWins"
          data-resource-name="customerWins"
          data-controller="customer-wins"
          data-customer-wins-contributions-outlet="#contributions"
          data-customer-wins-promoted-stories-outlet="#promoted-stories"
          data-customer-wins-data-path-value="/successes"
          data-customer-wins-filters-value=customer_wins_table_filters(curator_id).to_json
          data-customer-wins-display-options-html-value=customer_wins_display_options_escaped_html(company, curator_id)
          data-action="datatable:init->customer-wins#onTableInitComplete"
          aria-labelledby="customer-wins-tab"
          role="tabpanel" }

          = render('successes/table', { company:, curator_id:, enable_row_groups: true })

        #contributions.resource-ctrl.tab-pane {
          class=('active' if active_tab == '#contributions')
          data-dashboard-target="contributions"
          data-resource-name="contributions"
          data-controller="contributions"
          data-contributions-customer-wins-outlet="#customer-wins"
          data-contributions-promoted-stories-outlet="#promoted-stories"
          data-contributions-data-path-value=company_contributions_path(company)
          data-contributions-filters-value=contributions_table_filters(curator_id).to_json
          data-contributions-display-options-html-value=contributions_display_options_escaped_html(company, curator_id)
          data-contributions-invitation-template-select-html-value=invitation_template_select_escaped_html(company)
          data-action="datatable:init->contributions#onTableInitComplete"
          aria-labelledby="contributions-tab"
          role="tabpanel" }

          = render('contributions/table', { company:, curator_id:, enable_row_groups: true })
