
<div id='contribution-content-modal' class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div> <!-- /.modal-content -->
  </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

<%= content_for(:underscore_templates) do %>

  <script id='contribution-content-template' type='text/template'>

    {{ if (successId) { }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          Contributions and Feedback
        </h4>
      </div>

    {{ } else { }}

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          <span>Contribution&nbsp;&nbsp;&#8212;&nbsp;&nbsp;submitted </span>
          <span>{{= formattedDate(new Date(contributions[0].submitted_at)) }}</span>
        </h4>

      </div>

    {{ } }}

    <div class="modal-body" style="min-height: 200px">

      {{ _.each(contributions, function (contribution, index) { }}

        {{ if (successId) { }}

          <h5 style="margin-bottom: 5px;">
            <span>{{= contribution.answers.length || contribution.contribution ? 'Contribution' : 'Feedback' }}&nbsp;&nbsp;&#8212;&nbsp;&nbsp;submitted </span>
            <span>{{= formattedDate(new Date(contribution.submitted_at)) }}</span>
          </h5>
          <p>Invitation Template:&nbsp;&nbsp;{{= contribution.invitation_template.name }}</p>

        {{ } }}

        <div class="contributor" style="margin-bottom: 10px">

          <p>{{= contribution.contributor.full_name }}</p>
          <p>{{= contribution.contributor.title || "<span style='color:#D9534F'>No job title specified</span>" }}</p>
          <p>{{= contribution.customer.name }}</p>

        </div>

        {{ if (contribution.answers.length) { }}

          <ul>

          {{ contribution.answers.sort(function (a, b) { return a.contributor_question_id - b.contributor_question_id; }).forEach(function (answer) { }}

            <li style="margin-bottom: 5px">
              <p style="margin-bottom: 2px">{{= answer.question.question }}</p>
              <p style="margin-bottom: 2px; font-style: italic;">{{= answer.answer }}</p>
            </li>

          {{ }); }}

          </ul>

        {{ } else if (contribution.contribution) { }}

          <p style="font-style: italic">{{= contribution.contribution }}</p>

        {{ } else if (contribution.feedback) { }}

          <p>{{= contribution.feedback }}</p>

        {{ } }}

        {{ if (index !== contributions.length - 1) { }}
          <hr>
        {{ } }}

      {{ }) }}

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>

  </script>

<% end %>