#prospect.tab-pane.fade {
  class=('active in' if workflow_stage == 'prospect')
  data-dashboard-target="tabPanel"
  data-action="customer-wins:load->dashboard#dataDidLoad contributors:load->dashboard#dataDidLoad"
  role="tabpanel" }

  .working.working--prospect style="display:none"
    div
      div
        i class="fa fa-spin fa-circle-o-notch"

  .container
    .row
      .col-sm-4.col-lg-3.layout-sidebar
        ul.nav
          li class=('active' if tab == '#customer-wins' || tab.nil?)
            a {
              id="customer-wins-tab" 
              href="#customer-wins" 
              data-toggle="tab"
              data-dashboard-target="customerWinsTab"
              data-action="dashboard#setNavCookie"
              aria-controls="customer-wins"
              aria-expanded="#{tab == '#customer-wins' ? 'true' : 'false'}"
              role="tab" }
              span
                i.fa.fa-fw.fa-rocket
                span 
                  | Customer Wins
              
              /button.btn-add {
                type="button"
                data-controller="modal-trigger"
                data-modal-trigger-modal-outlet="#main-modal"
                data-modal-trigger-title-value="New Customer Win"
                data-modal-trigger-turbo-frame-attrs="{\"id\":\"new-contribution\",\"src\":\"#{new_company_success_path(company)}\"}"
                data-action="modal-trigger#showModal" }
                i.fa.fa-fw.fa-plus-circle

              /span
                button.btn-add {
                  type="button"
                  class=('shown' if tab == '#customer-wins' || tab.nil?)
                  data-toggle="modal" 
                  data-target="#new-success-modal" }
                  span.fa-stack.fa-lg                    
                    i.fa.fa-circle-o.fa-stack-2x
                    i.fa.fa-plus.fa-stack-1x
          li class=('active' if tab == '#contributors')
            a {
              id="contributors-tab" 
              href="#contributors" 
              data-toggle="tab"
              data-dashboard-target="contributorsTab"
              data-action="dashboard#setNavCookie"
              aria-controls="contributors"
              aria-expanded="#{tab == '#contributors' ? 'true' : 'false'}"
              role="tab" }
              span
                i class="fa fa-fw fa-users"
                span 
                  | Contributors
              /span
                button.btn-add {
                  type="button"
                  class=('shown' if tab == '#contributors')
                  data-toggle="modal" 
                  data-target="#new-contributor-modal" }
                  span.fa-stack.fa-lg
                    i.fa.fa-circle-o.fa-stack-2x
                    i.fa.fa-plus.fa-stack-1x

      .col-sm-8.col-lg-9.layout-main
        .tab-content

          #customer-wins.tab-pane.fade {
            class=('active in' if tab == '#customer-wins' || tab.nil?) 
            data-dashboard-target="subPanel"
            data-customer-wins-dashboard-outlet=".dashboard"
            data-customer-wins-contributors-outlet="#contributors"
            data-customer-wins-data-path-value="/successes"
            aria-labelledby="customer-wins-tab"
            role="tabpanel" }
            = render('companies/1_prospect/successes/successes_table', { company: company })

          #contributors.tab-pane.fade {
            class=('active in' if tab == '#contributors')
            data-dashboard-target="subPanel"
            data-contributors-dashboard-outlet=".dashboard"
            data-contributors-customer-wins-outlet="#customer-wins"
            data-contributors-data-path-value="/companies/0/contributions"
            aria-labelledby="contributors-tab"
            role="tabpanel" }
            = render( \
                'companies/1_prospect/contributors/contributors_table',
                { company: company, workflow_stage: 'prospect' })
