= turbo_frame_tag('stories')

  div {
    data-controller="stories" 
    data-stories-filter-match-type-value="all"
    data-action="tomselect:did-initialize->stories#onInitFilter" }

    = render( \
        'stories/shared/search_and_filters_md_lg',
        { company: company,
          tags_filter: tags_filter,
          tags_filter_results: tags_filter_results,
          show_combined_results: true,
          is_dashboard: true })

    = render( \
        'stories/shared/gallery',
        { company: company,
          stories: stories,
          filtered_story_ids: [],
          no_filters_present: false })