.container

  = render( \
      'stories/shared/search_and_filters_xs_sm',
      { company: company,
        tags_filter: tags_filter,
        tags_filter_results: tags_filter_results,
        is_dashboard: false })

  / if no filters, the search input will appear in the header
  - if company.story_categories.featured.present? || company.products.featured.present?
    = render( \
        'stories/shared/search_and_filters_md_lg',
        { company: company,
          tags_filter: tags_filter,
          tags_filter_results: tags_filter_results,
          show_combined_results: company.story_categories.featured.present? && company.products.featured.present?,
          is_dashboard: false })

  = render( \
      'stories/shared/gallery',
      { company: company,
        stories: stories,
        filtered_story_ids: filtered_story_ids,
        no_filters_present: company.story_categories.featured.blank? && company.products.featured.blank? })

  = render('stories/shared/sign_in_footer')