.site {
  .cc-window {
    font-family: inherit;

    .cc-btn {
      font-weight: 600;
      color: #fff;
      text-decoration: none;
    }

    .cc-btn.cc-allow {
      background-color: #6685a4;
      border-color: #54718d;
      color: #fff;
      border-width: 1px;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .cc-btn.cc-allow:hover {
      background-color: #516c87;
      border-color: #3d5267;
    }
  }

  // instead of displaying the default tab,
  // include a link on privacy page that triggers a click of .cc-revoke
  .cc-revoke {
    display: none !important;
  }
}