
.bootbox.modal.confirm-unsaved-changes {
  .modal-content {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
    overflow: hidden;  // so background color doesn't extend past border radius
  }
  .modal-footer {
    background-color: #fff;
  }
  .modal-body {
    font-size: 16px !important;
  }
}

.bootbox.modal.confirm-delete-template {
  .modal-content {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    overflow: hidden;  // so background color doesn't extend past border radius
  }
  .modal-footer {
    background-color: #fff;
  }
  .modal-body {
    font-size: 16px !important;
  }
}

#crowdsourcing-templates {

  > .row:first-of-type {
    margin-top: 7px;
    margin-bottom: 20px;

    #template-actions-dropdown {
      i.action {
        width: 17px;
        color: #666;
      }
    }
  }
  .form-horizontal {
    // margin-left: -50px;
  }

  .request-subject:not(.insert-data) {
    margin-bottom: 25px;
  }

  .contributor-questions {
    position: relative;
    .row {
      background: #f2f2f2;
    }
    label {
      margin-left: -15px;
    }
    label + span {
      position: absolute;
      top: -15px;
      left: 155px;
      color: #6685a4;
      i:first-child {
        font-size: 28px;
        top: 6px;
      }
      i:last-child {
        font-size: 16px;
        top: 3px;
      }
    }
    label + span:hover {
      color: #516c87;
      cursor: pointer;
    }



    li.contributor-question {
      div[class*='col-']:first-child {
        padding: 0 10px;
      }
      div[class*='col-']:last-child:not(.save-or-cancel) {
        padding: 0;
      }
      .row:hover {
        background: #e6e6e6;
      }
      p, textarea {
        margin: 10px 0;
      }
      i.fa-remove {
        margin-top: 10px;
        font-size: 20px;
        color: #666;
      }
      i.fa-remove:hover {
        color: #222;
        cursor: pointer;
      }
    }
    li.contributor-question.to-be-removed {
      .row {
        background-color: #f2dede;
      }
      .row:first-of-type {
        border-top: 1px solid #ebccd1;
      }
      .row:last-of-type {
        border-bottom: 1px solid #ebccd1;
      }
      .save-or-cancel {
        color: #a94442;
        margin-bottom: 10px;
      }
    }
    li.contributor-question.new-question {
      .row {
        background-color: #dff0d8;
        border-color: #d6e9c6;
        div[class*='col-'] {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      .row:first-of-type {
        border-top: 1px solid #d6e9c6;
      }
      .row:last-of-type {
        border-bottom: 1px solid #d6e9c6;;
      }
      .save-or-cancel {
        color: #3c763d;
        margin-bottom: 10px;
      }
    }
    // prevent double borders on adjacent questions
    li.contributor-question.to-be-removed + input + li.contributor-question.to-be-removed,
    li.contributor-question.new-question + li.contributor-question.new-question {
      .row:first-of-type {
        border-top: 0;
      }
    }
    .cancel {
      cursor: pointer;
    }
  }

}