
.companies.edit {

  .request-subject {
    margin-bottom: 25px;
  }

  .contributor-questions {
    position: relative;
    .row {
      background: #f2f2f2;
    }
    label {
      margin-left: -5px;
    }
    label + span {
      position: absolute;
      top: -15px;
      left: 155px;
      color: #6685a4;
      i:first-child {
        font-size: 28px;
        top: 6px;
      }
      i:last-child {
        font-size: 16px;
        top: 3px;
      }
    }
    label + span:hover {
      color: #516c87;
      cursor: pointer;
    }
    li.contributor-question {
      div[class*='col-']:first-child {
        padding: 0 10px;
      }
      div[class*='col-']:last-child {
        padding: 0;
      }
      .row:hover {
        background: #e6e6e6;
      }
      p, textarea {
        margin: 10px 0;
      }
      i.fa-remove {
        margin-top: 10px;
        font-size: 20px;
        color: #666;
      }
      i.fa-remove:hover {
        color: #222;
        cursor: pointer;
      }
    }
    li.contributor-question.to-be-removed {
      .row {
        background-color: #f2dede;
        border-color: #ebccd1;
      }
      .save-or-cancel {
        color: #a94442;
        height: 18px;
        margin-bottom: 10px;
      }
    }

    li.contributor-question.new-question {
      .row {
        background-color: #dff0d8;
        border-color: #d6e9c6;
        div[class*='col-'] {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      .save-or-cancel {
        color: #3c763d;
        margin-bottom: 10px;
      }
    }
    .cancel-add-question, .cancel-remove-question {
      cursor: pointer;
    }
  }

}