
.companies.edit {

  #story-ctas {
    .form-group {
      margin-bottom: 10px;
    }

    #new-cta-form {
      .form-group {
        margin-bottom: 5px;
      }
      .btn-group {
        width: 100%;
        margin-bottom: 5px;
        label {
          margin-bottom: 5px;
        }
      }
      input {
        margin-bottom: 15px;
      }
      #cta_link_url, #cta_form_html {  // last input
        margin-bottom: 0;
      }
      .html-input {
        display: none;   // to be toggled
      }
      .checkbox {
        margin-bottom: 10px;
      }
    }
    li label {
      margin-bottom: 7px;
    }
    .list-group {
      margin-bottom: 30px;
    }
    #primary-cta-colors {
      // padding: 0 10px 0 10px;
      label {
        margin-top: 7px;
      }
      // // margin-bottom: 10px;
      div.col-sm-4:first-of-type {
        padding-right: 0;
      }
      div.col-sm-4:last-of-type {
        padding-left: 0;
      }
    }
    .list-group-item {
      background: #f5f5f5;
      padding: 15px;  // overrides bootstrap 10px 15px
      .cta-description {
        position: relative;
        span {
          padding: 0 6px;
        }
        a.edit, a.delete {
          position: absolute;
          font-size: 16px;
          color: #666;
          cursor: pointer;
          padding: 8px;
        }
        a.edit:hover, a.delete:hover {
          color: #222;
        }
        a.edit {
          right: 20px;
          top: -12px;
          padding: 10px;
        }
        a.delete {
          top: -10px;
          right: -10px;
        }
      }
      div.collapse {
        // note the inline styles that are necessary for preventing jerky collapse
      }
    }
    .list-group-item:not([data-primary="true"]):hover {
      background: #e6e6e6;
    }

    #primary-cta, #secondary-ctas {
      .form-group:last-of-type {
        margin-bottom: 0
      }
    }
  }

}