$facebook-blue: #3B5998;
$twitter-blue: #4099ff;
$linkedin-blue: #0077b5;

.share-buttons, 
.cs-share-buttons {
  display: flex;
  align-items: center;

  .stories-header & {
    height: 100%;
  }

  &.cs-share-buttons {
    align-items: center;
    justify-content: space-around;
  }

  @media only screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 280px;

    &.no-video {
      margin-bottom: 25px;
    }
  }
}

.share-button, 
.cs-share-button {
  display: inline-flex;
  background: transparent;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: 0 10px;

  .stories-header--bg-light & {
    svg {
      fill: #333;
    }
  }

  .stories-header--bg-dark & {
    svg {
      fill: white;
      fill-opacity: 0.9;
    }

    &:hover {
      background: white;
      box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.9);
    }
  }

  &:link, 
  &:visited, 
  &:hover, 
  &:active {
    text-decoration: none;
  }

  @media only screen and (max-width: 767px) {
    width: 38px;
    height: 38px;
    margin: 0;

    &--facebook svg {
      fill: $facebook-blue;
    }

    &--twitter svg {
      fill: $twitter-blue;
    }

    &--linkedin svg {
      fill: $linkedin-blue;
    }

    &--email {
      fill: #555;
    }
  }
  
  @media only screen and (min-width: 768px) {
    &.cs-share-button {
      background: #555;
      border: 2px solid #ddd;
      width: 36px;
      height: 36px;

      svg {
        fill: white;
      }

      &:hover {
        background: white;
      }
    }
    
    &--facebook:hover svg {
      fill: $facebook-blue;
    }

    &--twitter:hover svg {
      fill: $twitter-blue;
    }

    &--linkedin:hover svg {
      fill: $linkedin-blue;
    }

    &--email:hover svg {
      fill: #333;
    }
  }
}