.stories.index #no-search-results {
  color: #888;
  padding: 30px 0;
}

.search-and-filters {
  @include hide-until-init;

  .input-group-addon {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;

    img {
      @include svg-fill(#555555);
      height: 16px;
    }
  }

  .filter-results {
    display: none;
  }

  &.has-combined-results {
    .filter-results {
      @include flex-row-center-between;
      margin-bottom: 15px;
      padding: 1em;
    }
  }

  &__dashboard-header {
    @include flex-row-center-between;
    // margin: -5px 0;

    a {
      font-size: 16px;    // match dashboard tabs
    }

    // button {
    //   margin-right: $padding-base-horizontal * -1;
    // }

    // img {
    //   display: flex;    // this normalizes the height of the image
    //   width: 2.25rem;
    //   height: 2.25rem;
    // }
  }

  @media (max-width: 767px) {
    #no-search-results {
      font-size: 16px;
    }
  }
}

.search-stories > .input-group,
.input-group.tom-select,
.search-and-filters select {
  height: 34px;

  .ts-wrapper.multi,
  .ts-control,
  .input-group-btn,
  .input-group-btn button {
    height: 100%;
  }
}

.search-stories {
  .input-group {

    // matches tomselect style
    input {
      box-shadow: none;
      border: 1px solid #ced4da;
      border-right: 0;
      border-radius: 0.25rem;
      padding: 0.375rem 0.75rem;
      font-size: 13px;

      &::placeholder {
        color: #6c757d;
      }

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(3, 155, 229, 0.6);

        & + .search-stories__clear + .input-group-btn button { 
          // outline: 0; 
          border-left: 1px solid $nav-blue;
        }
      }
    }

    .input-group-btn button {
      box-shadow: none;
      line-height: 1;  // effectively centers the icon
      color: #999;
      background-color: $nav-blue;
      border-color: $nav-blue;
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

      &[type="submit"] {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
      }

      &:hover, 
      &:focus { 
        background-color: $nav-blue-hover;
        border-color: $nav-blue-hover;
      }

      &:focus {
        transition: none;
        outline-style: solid;
        outline-width: medium;
        outline-color: $nav-blue-hover;
      }

      img {
        @include svg-fill(white);
        height: 16px;
      }
    }
  }

  .stories-header & {
    float: right;
    max-width: 300px;

    .input-group {
      input {
        height: 30px;
      }

      .input-group-btn button {
        height: 30px;
      }
    }

    .search-stories__results {
      display: none;
    }
  }

  @media only screen and (max-width: 991px) {
    .search-and-filters & {
      margin-top: 15px;
    }
  }
}

.search-stories__clear {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 43px;  // matches submit button width
  z-index: 100;
  display: none;
  border: none;
  // width: 35px;
  padding: 0 12px;
  background: transparent;
  font-size: 1.75rem;
  color: #6f6f6f;
  // cursor: pointer;   

  .search-and-filters.visible-xs-block.has-search-results .search-stories > .input-group &,
  .search-and-filters.visible-md-block.has-search-results .search-stories > .input-group:hover & {
    display: revert;
  }
}

.search-and-filters.visible-xs-block {
  width: 350px;
  max-width: 100%;
  margin: 0 auto;  // center
  
  .form-group:last-of-type  {
    margin-bottom: 20px;
  }

  .bg-info {
    display: none;
  }
}

.filter-controls {
  @include flex-row-center-between;
  margin-bottom: 15px;

  > div {
    @include flex-row-center;
  }
}

.search-and-filters.visible-md-block {
    // margin-bottom: 10px;
  width: 282px;
  float: left;
  background-color: $stories-fg-color;
  padding: 20px 15px;


  .form-group:last-of-type {
    margin-bottom: 5px;
  }

  .search-stories + .bg-info {
    display: none;
  }

  &.has-search-results {
    .search-stories {
      margin-bottom: 15px;
    }
    
    .search-stories + .bg-info {
      @include flex-row-center-between;
      padding: 1em;

      > :first-child {
        @include max-lines(3);
      }

      > :last-child {
        flex-shrink: 0;
        padding-left: 1em;
      }
    }
  }

  &.has-combined-results {
    .filter-controls {
      margin-bottom: 15px;
    }
  }
}