
<div class="user-photo-upload">

  <div class="fileinput <%= user.photo_url.present? ? 'fileinput-exists' : 'fileinput-new' %>" data-provides="fileinput">

    <div class="user-photo-upload__photo user-photo-upload__photo--placeholder fileinput-new thumbnail"
        data-trigger="fileinput">
      <div>
        <%= image_tag('placeholders/user-photo-missing.png', alt: 'user photo') %>
      </div>
    </div>

    <div class="user-photo-upload__photo user-photo-upload__photo--exists fileinput-preview fileinput-exists thumbnail"
        data-trigger="fileinput">
      <div>
        <%= image_tag(user.photo_url, alt: 'user photo') if user.photo_url.present? %>
      </div>
    </div>

    <div class="btn-file">
      <%= user_form.file_field(:photo_url, id: "user-photo-#{screen}") %>
    </div>

  </div>

  <button type="button" class="user-photo-upload__button btn" data-trigger="fileinput">
    <i class="fa fa-fw fa-upload"></i>&nbsp;
    Upload a photo
  </button>

</div>