<div class="wrapper">


  <div class="mainnav ">

    <div class="container">

      <nav class="collapse mainnav-collapse" role="navigation">

      <ul class="mainnav-menu">

        <li class="navbar-brand" style="font-weight:600;color:#999999;padding:21px,15px">
      User Profile

        </li>
      </ul>

      </nav>

    </div> <!-- /.container -->

  </div> <!-- /.mainnav -->







</div>  <!-- wrapper -->