
<%= render 'shared/mvp_admin_navbar' %>

<div class='container'><br><br>

  <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
  <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/wilsonryanc" data-format="inline" data-related="false"></script>

</div>