
// #curate-story view may be loaded synchronously under stories#edit
// or asynchronously under companies#show
.stories.edit #curate-story, .companies.show #curate-story {

  #story-settings {
    #publish-control {
      margin-bottom: 29px;
    }
  }
  #story_quote {
    font-style: italic;
  }
  #story_quote::-webkit-input-placeholder {
    font-style: normal;
  }

  #video-container {
    min-height: 234px;
    // border: 1px solid #ccc;
    // border-radius: 4px;
    // overflow: hidden;
    img#video-placeholder {
      width: 100%;
    }
  }



    // these settings mirror crowdsourcing templates / contributor questions
  .success-results {
    position: relative;
    .row {
      background: #f2f2f2;
    }
    label {
      margin-left: -15px;
    }
    label + span {
      position: absolute;
      top: -18px;
      // left: 64px;
      right: 0;
      color: #666;  // #6685a4;
      i:first-child {
        font-size: 30px;
        top: 6px;
      }
      i:last-child {
        font-size: 15px;
        top: 5px;
      }
    }
    label + span:hover {
      color: #222; //#516c87;
      cursor: pointer;
    }
    li.success-result {
      div[class*='col-']:first-child {
        padding: 0 10px;
      }
      div[class*='col-']:last-child:not(.save-or-cancel) {
        padding: 0;
      }
      .row:hover {
        background: #e6e6e6;
      }
      p, textarea {
        margin: 10px 0;
      }
      i.fa-remove {
        margin-top: 10px;
        font-size: 20px;
        color: #666;
      }
      i.fa-remove:hover {
        color: #222;
        cursor: pointer;
      }
    }
    li.success-result.to-be-removed {
      .row {
        background-color: #f2dede;
      }
      .row:first-of-type {
        border-top: 1px solid #ebccd1;
      }
      .row:last-of-type {
        border-bottom: 1px solid #ebccd1;
      }
      .save-or-cancel {
        color: #a94442;
        margin-bottom: 10px;
      }
    }
    li.success-result.new-result {
      .row {
        background-color: #dff0d8;
        border-color: #d6e9c6;
        div[class*='col-'] {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      .row:first-of-type {
        border-top: 1px solid #d6e9c6;
      }
      .row:last-of-type {
        border-bottom: 1px solid #d6e9c6;;
      }
      .save-or-cancel {
        color: #3c763d;
        margin-bottom: 10px;
      }
    }
    // prevent double borders on adjacent questions
    li.success-result.to-be-removed + input + li.success-result.to-be-removed,
    li.success-result.new-question + li.success-result.new-question {
      .row:first-of-type {
        border-top: 0;
      }
    }
    .cancel {
      cursor: pointer;
    }
  }


  /***********************************************/
  /*      email request confirmation modal
  /***********************************************/

  #email-confirmation-modal .modal-title,
  #email-confirmation-modal .progress {
    margin-bottom: 5px;
  }

  #email-confirmation-modal .progress {
    margin-top: 5px;
  }

  #email-confirmation-modal .modal-body {
    max-height: 440px;
    overflow-y: auto;
  }

  .fileinput.customer-logo {
    position: relative;  // for positioning .change-image
    padding-top: 14px;
    padding-bottom: 0;
    .thumbnail {
      position: relative;  // for positioning image
      height: 100px;
      width: 270px;
      img {
        max-height: 90px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
    div.image-requirements {
      margin-bottom: 10px;
    }
    .change-image {
      position: absolute;
      top: 5px;
      right: 10px;
      padding: 6px;
      font-size: 18px;
      color: #666;
      cursor: pointer;
    }
    .change-image:hover {
      color: #222;
    }
    .thumbnail {
      margin: 0;
    }
    .help-block {
      margin: 6px 0;
    }
  }


  /***********************************************/
  /*           story settings
  /***********************************************/

  #story-publish-settings .form-group {
    margin-bottom: 15px;
  }

  #story-edit-logo-buttons {
    margin-bottom: 10px;
  }

  // summernote - disable file upload
  .note-group-select-from-files {
    display: none;
  }

  .required-input label:after {
    color: #D9534F;
    content: " *";
  }

  .well {
    padding: 25px 5% 25px 5%;
  }

  p.lead {
    margin-bottom: 8px;
  }

  #story-edit-nav:hover {
    text-decoration: underline;
  }


  /* The font-size needs to be slightly different for the font awesome icons,
     to achieve consistent layout */
  .bip-clickable-fa {
    height: 28px;
    width: 28px;
    color: #666;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    padding: 5px 6px 5px 5px;
    font-size: 1.3em;
    cursor: pointer;
  }


  /* make edit field stand out when hover over edit button */
  #edit-story-title:hover + #story-title,
  #edit-story-quote:hover + #story-edit-quote,
  #edit-story-quote-attr-name:hover + #story-quote-attr-name,
  #edit-story-quote-attr-title:hover + #story-quote-attr-title,
  #edit-story-embed-url:hover + #story-embed-url,
  #edit-story-situation:hover + #story-situation,
  #edit-story-challenge:hover + #story-challenge,
  #edit-story-solution:hover + #story-solution,
  #edit-story-benefits:hover + #story-benefits,
  .modify-result:hover + .story-result,
  .modify-prompt:hover + .story-prompt,
  .modify-cta:hover + .cta,
  i.cc-editable:hover + .cc-editable,
  i.cc-editable:hover + .cc-editable + .cc-editable {
    // border-left: 3px solid #87a3bc;
    background-color: #e3e3e3;
    background-clip: content-box;
    border-radius: 3px
  }

  .dirtyField {
    color: #D9534F;
  }

}