
.stories.index {

  .mainnav {
    margin-bottom: 18px;
  }

  #stories-filters-xs .form-group {
    margin: 1.5% auto;
  }

  #stories-filters-xs .stories-filter + span {
    width: 200px;
  }

  #stories-filters.reader .form-group,
  #stories-filters.curator .form-group {
    margin-top: 7px;
  }

  @media only screen and (min-width: 768px) {
    #stories-filters.reader {
      margin-left: 60px;
    }
    #stories-filters.reader .stories-filter + span {
      width: 180px;
    }
    #stories-filters.curator .stories-filter + span {
      width: 150px;
    }
  }

  @media only screen and (min-width: 992px) {
    #stories-filters.reader {
      margin-left: 110px;
    }
    #stories-filters.reader .stories-filter + span {
      width: 200px;
    }
  }

  @media only screen and (min-width: 1200px) {
    #stories-filters.reader {
      margin-left: 30px;
    }
    #stories-filters.curator .stories-filter + span {
      width: 200px;
    }
  }

  #collapsed-workflow-tabs .glyphicon-align-justify {
    padding-left: 5px;
  }

  .grid {
    margin: 0 auto;
  }

  .grid-item {
    display: inline-block;
    margin: 8px 28px 18px 28px;
    vertical-align: top;
    padding-top: 10px;
  }

  .grid-item.og-expanded > a::after {
    top: auto;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #f2f2f2;
    border-width: 18px;
    left: 50%;
    margin: -5px 0 0 -15px;
  }

  .og-expander {
    position: absolute;
    background: #f2f2f2;
    top: auto;
    left: 0;
    width: 100%;
    margin-top: 10px;
    text-align: left;
    height: 0;
    overflow: hidden;
  }
  .og-expander-inner {
    padding: 50px 30px;
    height: 100%;
  }
  .og-close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  .og-close::before,
  .og-close::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 1px;
    background: #888;
    transform: rotate(45deg);
  }
  .og-close::after {
    transform: rotate(-45deg);
  }
  .og-close:hover::before,
  .og-close:hover::after {
    background: #333;
  }
  .og-fullimg,
  .og-details {
    width: 50%;
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .og-details {
    padding: 0 40px 0 20px;
  }

  .og-fullimg {
    text-align: center;
  }

  .og-fullimg img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
  }
  .og-details {
  padding: 0 40px 0 20px;
  }
  .og-fullimg {
    text-align: center;
  }
  .og-fullimg img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
  }
  .og-details h3 {
    font-weight: 300;
    font-size: 52px;
    padding: 40px 0 10px;
    margin-bottom: 10px;
  }
  .og-details p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999;
  }
  .og-details a {
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 3px solid #333;
    display: inline-block;
    margin: 30px 0 0;
    outline: none;
  }
  .og-details a::before {
    content: '\2192';
    display: inline-block;
    margin-right: 10px;
  }
  .og-details a:hover {
    border-color: #999;
    color: #999;
  }
  .og-loading {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ddd;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    animation: loader 0.5s infinite ease-in-out both;
  }

  @keyframes loader {
    0% { background: #ddd; }
    33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
    66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
  }

  a.thumbnail.public.logo-published {
    pointer-events: none;
    .thumbnail-view {   // adjust dimensions for missing caption
      height: 138px;
      line-height: 134px;
      img {
        padding: 24px 12px;
      }
    }
  }

  a.thumbnail.pending-curation {
    .caption {
      background-color: #f5f5f5;
    }
  }

  a.thumbnail {
    position: relative;  // this is for positioning the caption at the bottom
    width: 210px;        // matches masonry column width
    height: 140px;       // 3/2 ratio
    text-align: center;  // centers image horizontally
    padding: 0;
    margin-bottom: 0;
    .thumbnail-view {
      position: relative;   // for thumbnail-view-hover
      height: 114px;
      line-height: 110px;
      width: 100%;
      cursor: pointer;
      p.thumbnail-view-hover {
        position: absolute;
        z-index: 10;
        display: block;
        // box-sizing: border-box;
        font-size: 14px;
        height: 100%;
        width: 100%;
        color: #fff;
        line-height: 20px;
        text-align: left;
        padding: 5px 8px;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 3px 3px 0 0;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transition: all 0.2s ease-in-out;
      }
      img {
        display: inline-block;
        vertical-align: middle;
        max-height: 100%;
        max-width: 100%;
        padding: 12px;
      }
    }
    .caption {
      position: absolute;
      font-size: 14px;
      text-align: left;
      padding: 2px 0 2px 6px;
      bottom: 0;
      width: 100%;
      border-radius: 0 0 3px 3px;
    }
  }
  a.thumbnail:hover  {
    border-color: #ccc;  // overrides bootstrapp
     .thumbnail-view .thumbnail-view-hover {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
    }
  }

}