
.stories.index {

  #stories-filters-xs .form-group {
    margin: 1.5% auto;
  }

  #stories-filters-xs .stories-filter + span {
    width: 200px;
  }

  #stories-filters.reader .form-group,
  #stories-filters.curator .form-group {
    margin-top: 7px;
  }

  @media (min-width: 768px) {
    #stories-filters.reader {
      margin-left: 30px;
    }
    #stories-filters.reader .stories-filter + span {
      width: 180px;
    }
    #stories-filters.curator .stories-filter + span {
      width: 150px;
    }
  }

  @media (min-width: 992px) {
    #stories-filters.reader .stories-filter + span {
      width: 200px;
    }
  }

  @media (min-width: 1200px) {
    #stories-filters.curator .stories-filter + span {
      width: 200px;
    }
  }

  #stories-gallery-content {
    margin-top: 40px;
  }

  #collapsed-workflow-tabs .glyphicon-align-justify {
    padding-left: 5px;
  }

  .grid {
    margin: 0 auto;
  }

  .grid-item.thumbnail {
    position: relative;  // this is for positioning the caption at the bottom
    width: 170px;
    height: 124px;
    text-align: center;  // centers image horizontally
    padding: 0;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 40px;  // mirrors #stories-gallery-content
    // border: 2px solid hsla(0, 0%, 0%, 0.5);
    .thumbnail-view {
      height: 100px;
      line-height: 96px;
      width: 100%;
      cursor: pointer;
      p.thumbnail-view-hover {
        color: #fff;
        line-height: 18px;
        text-align: left;
        padding: 4px 8px;
        background: rgba(0, 0, 0, 0.8);
      }
      img {
        max-height: 100%;
        padding: 8px 8px 8px 8px;
      }
    }

    .caption {
      text-align: left;
      padding: 2px 0 2px 6px;
      position: absolute;
      bottom: 0;
      width: 100%;
      border-radius: 0 0 3px 3px;
    }
  }

  .grid-item.thumbnail.no-caption {
    .thumbnail-view {
      height: 122px;
      line-height: 116px;
      img {
        padding: 14px 14px 14px 14px;
      }
    }
  }


  /*
    this will be helpful for centering images without the caption:
    http://stackoverflow.com/questions/23477909/
  */

}