
.stories.index {

  .mainnav, .company-nav {
    margin-bottom: 18px;
  }

  #stories-filters-xs .form-group {
    margin: 1.5% auto;
  }

  #stories-filters-xs .stories-filter + span {
    width: 200px;
  }

  #stories-filters.reader .form-group,
  #stories-filters.curator .form-group {
    margin-top: 7px;
  }

  @media only screen and (min-width: 768px) {
    #stories-filters.reader {
      margin-left: 60px;
    }
    #stories-filters.reader .stories-filter + span {
      width: 180px;
    }
    #stories-filters.curator .stories-filter + span {
      width: 150px;
    }
  }

  @media only screen and (min-width: 992px) {
    #stories-filters.reader {
      margin-left: 110px;
    }
    #stories-filters.reader .stories-filter + span {
      width: 200px;
    }
  }

  @media only screen and (min-width: 1200px) {
    #stories-filters.reader {
      margin-left: 30px;
    }
    #stories-filters.curator .stories-filter + span {
      width: 200px;
    }
  }

  #collapsed-workflow-tabs .glyphicon-align-justify {
    padding-left: 5px;
  }

}


.grid {
  margin: 0 auto;

  .grid-item {
    display: inline-block;
    margin: 8px 28px 18px 28px;  // 10px difference in top/bottom due to padding
    vertical-align: top;
    padding-top: 10px;
  }

  a.thumbnail.public.logo-published {
    pointer-events: none;
    .thumbnail-view {   // adjust dimensions for missing caption
      height: 138px;
      line-height: 134px;
      img {
        padding: 24px 12px;
      }
    }
  }

  a.thumbnail.pending-curation {
    .caption {
      background-color: #f2f2f2;
    }
  }

  a.thumbnail {
    position: relative;  // this is for positioning the caption at the bottom
    width: 210px;        // matches masonry column width
    height: 140px;       // 3/2 ratio
    text-align: center;  // centers image horizontally
    padding: 0;
    margin-bottom: 0;
    .thumbnail-view {
      position: relative;   // for thumbnail-view-hover
      height: 114px;
      line-height: 110px;
      width: 100%;
      cursor: pointer;
      p.thumbnail-view-hover {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        font-size: 14px;
        font-weight: 600;
        height: 100%;
        width: 100%;
        color: #222;
        line-height: 22px;
        margin-bottom: 0;
        padding: 10px;
        background: transparent;
        border-radius: 3px 3px 0 0;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transition: all 0.3s ease-in-out;
      }
      img {
        display: inline-block;
        vertical-align: middle;
        max-height: 100%;
        max-width: 100%;
        padding: 16px;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        -webkit-transition: opacity 0.3s ease-in-out;
        // this compensates for a bug in chrome, which causes images of a
        // certain aspect ratio to expand and contract very slightly on
        // hover and opacity transition
        // ref: https://stackoverflow.com/questions/20886991
        -webkit-transform: translateZ(0);
      }
    }
    .caption {
      position: absolute;
      font-size: 14px;
      text-align: left;
      padding: 2px 0 2px 6px;
      bottom: 0;
      width: 100%;
      border-radius: 0 0 3px 3px;
    }
  }
  a.thumbnail:hover {
    border-color: #ccc;  // overrides bootstrap
  }
  a.thumbnail:hover:not(.pending-curation):not(.preview-published)  {
    .thumbnail-view .thumbnail-view-hover {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
    }
    img {
      opacity: 0.1;
    }
  }
}
