
.cs-section {
  .cs-container-fluid {
    padding: 0;
  }
  padding: 20px 0;
  h1 {
    color: #666;
  }
  position: relative;
  -webkit-backface-visibility: hidden;  // ref: http://stackoverflow.com/questions/19254146
  ::-webkit-scrollbar {
    display: none;
  }

  .cs-row {
    margin: 0;
    padding: 0;
  }

  .cs-scroll {
    position: relative;
    height: 220px;  //  180 + (margin = 20 x 2)
  }

  .cs-scroll-xs {
    > .cs-row {
      display: flex;
      align-items: center;
      color: #666;
    }
  }

  .row-horizon {
    margin: 20px 0;
    div[class^='col'] {
      position: relative;
      width: 330px;
      height: 180px;
      box-sizing: border-box;
    }
  }

  .cs-thumbnail.logo-published {
    pointer-events: none;
    // .cs-thumbnail-view {
    //   height: 122px;
    //   line-height: 116px;
    //   .cs-img {
    //     padding: 19px 8px;
    //   }
    // }
  }

  .cs-thumbnail {
    width: 270px;  // 3/2 aspect ratio for the tile
    height: 100%;  // 180px column height
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: transparent;
    border: 2px solid;  // color set by widget js
    padding: 0;
    text-align: center;
    // border-color: rgba(0, 0, 0, 0.7);
    border-radius: 0;
    .cs-thumbnail-view {
      position: relative;
      // display: inline-block;
      height: 150px;
      width: 100%;
      // overflow: hidden;
      line-height: 147px;
      cursor: pointer;
      .cs-thumbnail-view-hover {
        display: flex;
        align-items: center;
        text-align: center;
        position: absolute;
        z-index: 10;
        height: 150px;
        width: 100%;
        padding: 6px;
        // background: #ddd !important;  // so there isn't a dark strip on top of the story tile, changes on hover
        border-radius: 3px 3px 0 0;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transition: all 0.2s ease-in-out;
        p {
          font-family: inherit !important;
          font-size: 20px !important;
          text-align: center;
          line-height: 28px !important;
          font-weight: 600;
          letter-spacing: normal;
          color: #444 !important;
          margin-bottom: 0;
        }
      }
      .cs-img {
        mix-blend-mode: multiply; // this makes white background transparent
        display: inline-block;
        vertical-align: middle;
        max-height: 100%;
        max-width: 100%;
        padding: 16px;
      }
    }
    .cs-caption {
      position: absolute;
      bottom: 0;
      font-size: 16px;
      text-align: left;
      padding: 2px 0 2px 6px;
      width: 100%;
      border-radius: 0;
    }
  }
  .cs-thumbnail:not(.logo-published):hover {
    .cs-thumbnail-view .cs-thumbnail-view-hover:not(.story-quote) {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
    }
    .cs-img {
      opacity: 0.1;
    }
    .cs-caption {
      visibility: visible;
    }
  }

  .cs-scroll-left-xs, .cs-scroll-right-xs {
    cursor: pointer;
    margin: 0 5px;
  }

  .cs-scroll-left-xs:hover, .cs-scroll-right-xs:hover {
    color: #666;
  }

  .cs-scroll-left, .cs-scroll-right {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    line-height: 48px;
    width: 34px;
    border-radius: 5px;
    i {
      color: #666;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .cs-scroll-left:hover, .cs-scroll-right:hover {
    i { color: #222; }
    // background-color: rgba(0, 0, 0, 0.7);
  }

  .cs-see-more {
    overflow: hidden;
    h4 {
      a { color: #666; }
      a:hover { color: #222; }
      position: relative;
      display: inline-block;
      padding: 0 15px;
    }
    h4:before, h4:after {
      background: #666;
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      top: 50%;
      width: 400%;
    }
    h4:before {
      right: 100%;
    }

    h4:after {
      left: 100%;
    }
  }


}