
section.cs-customer-stories {
  position: relative;
  -webkit-backface-visibility: hidden;  // ref: http://stackoverflow.com/questions/19254146

  .cs-row {
    margin: 0;
    padding: 0;
  }

  .cs-scroll {
    position: relative;
  }

  // .cs-drawer-items {
  //   line-height: normal;  // added to compenstate for a line-height of 1.9 that was inherited from body and was making .row-pagination too tall
  //   margin: auto;
  //   padding: 0;
  // }

  .row-horizon {
    padding-bottom: 23px;
    div[class^='col'] {
      position: relative;
      height: 100px;
      box-sizing: border-box;
    }
    @media (max-width: 567px) {
      .col-xs-8 {
        width: 53%;
      }
    }
    @media (min-width: 568px) and (max-width: 767px) {
      .col-xs-8 {
        width: 53%
      }
    }
    @media (min-width: 768px) {
      .col-sm-5 { width: 32.5%; }
    }
    @media (min-width: 845px) {
      .col-sm-5 { width: 29.5%; }
    }
    @media (min-width: 920px) {
      .col-sm-5 { width: 27.5%; }
    }
    @media (min-width: 992px) {
      .col-md-3 { width: 25.5%; }
    }
    @media (min-width: 1100px) {
      .col-md-3 { width: 22.5%; }
    }
    @media (min-width: 1200px) {
      .col-md-3 { width: 19.5%; }
    }
  }

  .cs-thumbnail {
    width: 170px;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: white;
    padding: 0;
    text-align: center;
    .cs-thumbnail-view {
      position: relative;
      display: inline-block;
      height: 100%;
      width: 100%;
      overflow: hidden;
      line-height: 95px;
      cursor: pointer;
      .cs-thumbnail-view-hover {
        position: absolute;
        display: block;
        box-sizing: border-box;
        font-size: 13px;
        z-index: 10;
        width: 100%;
        height: 100%;
        color: #fff;
        line-height: 18px;
        text-align: left;
        padding: 4px 8px;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 3px;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transition: all 0.25s ease-in-out;
      }
      .cs-img {
        display: inline-block;
        box-sizing: border-box;
        max-height: 100%;
        max-width: 100%;
        margin: auto;
        vertical-align: middle;
        padding: 8px;
      }
    }
    .cs-thumbnail-view:hover .cs-thumbnail-view-hover {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
    }
  }

  .cs-scroll-left {
    position: absolute;
    cursor: pointer;
    top: 19px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    height: 60px;
    width: 32px;
    border-radius: 5px;
    background: image-url('icon-chevron-left.png') no-repeat 0 0;
    background-clip: content-box;
  }

  .cs-scroll-left:hover {
    background-color: black;
  }

  .cs-scroll-right {
    position: absolute;
    cursor: pointer;
    top: 19px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    height: 60px;
    width: 32px;
    border-radius: 5px;
    background: image-url('icon-chevron-right.png') no-repeat 0 0;
    background-clip: content-box;
  }

  .cs-scroll-right:hover {
    background-color: black;
  }

  .cs-page-dot {
    display: inline-block;
    height: 8px;
    width: 8px;
    margin: 4px;
    border: 1px solid white;
    background: transparent;
    border-radius: 8px;
  }

  .cs-current-page-dot {
    background: white !important;
  }

  .cs-pagination-row {
    margin-top: 3px;
  }
}