
.cs-section {
  .cs-container-fluid {
    padding: 0;
  }
  padding: 20px 0;
  h1 {
    color: #666;
  }
  position: relative;
  -webkit-backface-visibility: hidden;  // ref: http://stackoverflow.com/questions/19254146
  ::-webkit-scrollbar {
    display: none;
  }

  .cs-pagination-row {
    height: 25px;
    padding: 0;
    .cs-page-dot {
      display: inline-block;
      height: 8px;
      width: 8px;
      margin: 1px 4px;
      border: 1px solid #666;
      background: transparent;
      border-radius: 8px;
    }
    .cs-current-page-dot {
      background: #666 !important;
    }
  }

  .cs-row {
    margin: 0;
    padding: 0;
  }

  .cs-scroll {
    position: relative;
    height: 124px;
  }

  .row-horizon {
    padding-bottom: 21px;
    div[class^='col'] {
      position: relative;
      width: 210px;
      height: 124px;
      box-sizing: border-box;
    }
    @media only screen and (max-width: 767px) {
      padding: 0 10px 21px 10px;
    }
    @media only screen and (max-width: 567px) {
      .col-xs-8 {
      }
    }
    @media only screen and (min-width: 568px) and (max-width: 667px) {
      .col-xs-8 {
      }
    }
    @media only screen and (min-width: 668px) and (max-width: 767px) {
      .col-xs-8 {
      }
    }
    @media only screen and (min-width: 768px) {
      .col-sm-5 {  }
    }
    @media only screen and (min-width: 992px) {
      .col-md-3 {  }
    }
    @media only screen and (min-width: 1200px) {
      .col-md-3 {  }
    }
  }

  .cs-thumbnail.logo-published {
    .cs-thumbnail-view {
      height: 122px;
      line-height: 116px;
      .cs-img {
        padding: 19px 8px;
      }
    }
  }

  .cs-thumbnail {
    width: 186px;  // 3/2 aspect ratio for the tile
    height: 100%;  // 124px column height
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: white;
    padding: 0;
    text-align: center;
    // border-color: rgba(0, 0, 0, 0.7);
    .cs-thumbnail-view {
      position: relative;
      // display: inline-block;
      height: 100px;
      width: 100%;
      // overflow: hidden;
      line-height: 96px;
      cursor: pointer;
      .cs-thumbnail-view-hover {
        position: absolute;
        z-index: 10;
        display: block;
        font-family: inherit !important;
        font-size: 13px !important;
        font-weight: normal;
        letter-spacing: normal;
        height: 100px;
        width: 100%;
        color: #444 !important;
        font-weight: 600;
        line-height: 18px !important;
        text-align: left;
        padding: 4px 8px;
        // background: #ddd !important;  // so there isn't a dark strip on top of the story tile, changes on hover
        border-radius: 3px 3px 0 0;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transition: all 0.2s ease-in-out;
      }
      .cs-img {
        display: inline-block;
        vertical-align: middle;
        max-height: 100%;
        max-width: 100%;
        padding: 8px;
      }
    }
    .cs-caption {
      font-size: 13px;
      text-align: left;
      padding: 2px 0 2px 6px;
      position: absolute;
      bottom: 0;
      width: 100%;
      border-radius: 0 0 3px 3px;
    }
  }
  .cs-thumbnail:hover {
    .cs-thumbnail-view .cs-thumbnail-view-hover {
      background: rgba(245, 245, 245, 0.94);
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
    }
  }

  .cs-scroll-left, .cs-scroll-right {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    line-height: 48px;
    width: 34px;
    border-radius: 5px;
    i {
      color: #666;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .cs-scroll-left:hover, .cs-scroll-right:hover {
    i { color: #222; }
    // background-color: rgba(0, 0, 0, 0.7);
  }

}