
.stories.show {

  #related-stories {
    padding-bottom: 15px;
    .row {
      font-size: 0;
      margin-bottom: 20px;
      div[class^='col-'] {
        float: none;
        display: inline-block;
        vertical-align: bottom;
      }
      h3 {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 10px;
      }
      a {
        font-size: 13px;
      }
    }
    .grid {
      margin: 0 auto;
    }
    .grid-item {
      width: 140px;
      height: 100px;
      // margin-left: 24px;
      // margin-right: 24px;
      margin-bottom: 20px;  // mirrors #stories-gallery-content
      position: relative;  // this is for positioning the caption at the bottom
      // border: 2px solid hsla(0, 0%, 0%, 0.5);
    }

    .grid-item.thumbnail {
      padding: 0   // define all in order to override bootstrap default
    }

    .grid-item.thumbnail > img {
      max-height: 78px;
      padding: 5px 10px 5px 10px;
    }

    .grid-item.thumbnail.no-caption > img {
      margin-top: 11px;
      padding: 5px 10px 5px 10px;
    }

    .grid-item.thumbnail .caption {
      padding: 2px 0 2px 6px;
      position: absolute;
      bottom: 0;
      width: 100%;
      border-radius: 0 0 3px 3px;
    }
  }

  .modal[id^='outbound-form'] {
    .modal-header {
      height: 50px;
      padding: 10px;
      img {
        max-height: 100%;
      }
    }
    // size the modal to fit content
    // ref: http://stackoverflow.com/questions/16152275
    .modal-dialog {
      position: relative;
      display: table; //This is important
      overflow-y: auto;
      overflow-x: auto;
      width: auto;
    }
    .modal-body {
      height: calc(100vh - 200px);
      // overflow-y: scroll;
    }
  }

  #story-header {
    padding-left: 12px;
    font-size: 0;  // ref: http://stackoverflow.com/questions/13841387
    .nav {
      float: none;
      display: inline-block;
      font-size: 12px;
      margin-bottom: 1px;
    }
    h3 {
      font-weight: 400; // overrides bootstrap
      float: none;
      display: inline-block;
      margin-top: 11px;
      margin-bottom: 0;
      vertical-align: bottom;
      font-size: 24px;
      color: #cacaca; //#b3b3b3;
    }
    .btn {
      float: none;
      display: inline-block;
      margin-left: 16px;
    }
    #social-buttons {
      margin-top: 8px;
      float: none;
      display: inline-block;
      a {
        margin-right: 4px;
      }
    }

  }

  #social-buttons-xs {
    background-color: #f2f2f2;
    padding: 15px 25px 15px 15px;
  }

  // nav links
  .story-nav {
   color: #337ab7;
   padding: 0;
  }

  #story-quote {
    color: #757575;
    font-family: 'Open Sans';
  }

  #story-quote-attr {
    margin: 5px auto;
    color: #757575;
  }

  #story-section-video-xs {
    background-color: #f2f2f2;
    padding-bottom: 15px;
  }

  #story-section-content {
    background-color: #f2f2f2; //#f2f2f2;
    padding-top: 15px;
    // margin-top: -20px;
    padding-bottom: 26px;
  }

  #story-section-testimonial {
    position: relative;
    /* make some room for the trailing color gradient (see below) */
    margin: 0 0 90px 0;
    // padding-bottom: 15px;
  }

  #story-section-testimonial:after {
    content: '';
    position: absolute;
    top: 100%;
    z-index: -1;
    width: 100%;
    // margin-top: -20px;
    height: 90px;
    // margin-top: 2px;
    background-image: linear-gradient(to top, #f2f2f2 0%, #ffffff 100%);  //f2f2f2
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffffffff', GradientType=0);
  }


  #story-section-content .well {
    background-color: #ffffff;
    // margin-top: -5px;
  }

  #story-results {
    margin: 0 0 30px 0;
    .row div:first-child {
      text-align: center;
      padding-right: 0;
    }
  }

  .story-icon {
    padding-top: 4px;
  }

  #learn-more {
    margin: 0 0 30px 0;
    .row div:first-child {
      text-align: center;
      padding-right: 0;
    }
  }

  .linkedin-widgets {
    margin-bottom: 20px;
  }

  #story-results + .story-video {
    margin: 0 0 30px 0;
  }

  @media (max-width: 549px) {
    #story-testimonial-col {
      margin-top: 22px;
      padding: 0;
    }
    #story-customer-logo {
      max-height: 70px;
      max-width: 100%;
      margin-bottom: 10px;
    }
    #story-section-video-xs [class^='col-'] {
      padding: 0;
    }
    #story-quote-col {
      padding: 0;
    }
    #story-quote {
      font-size: 14px;
    }
    #story-video-modal iframe {
      height: 260px;
    }
  }

  @media (min-width: 550px) and (max-width: 599px) {
    #story-testimonial-col {
      margin-top: 22px;
    }
    #story-customer-logo {
      max-height: 70px;
      max-width: 70%;
      margin-bottom: 10px;
    }
    #story-section-video-xs {
      padding-left: 8%;
      padding-right: 8%;
    }
    #story-video-modal iframe {
      height: 300px;
    }
  }

  @media (min-width: 600px) and (max-width: 699px) {
    #story-testimonial-col {
      margin-top: 22px;
    }
    #story-customer-logo {
      max-height: 70px;
      max-width: 80%;
      margin-bottom: 10px;
    }
    #story-section-video-xs {
      padding-left: 12%;
      padding-right: 12%;
    }
    #story-video-modal iframe {
      height: 320px;
    }
  }

  @media (min-width: 700px) and (max-width: 767px) {
    #story-testimonial-col {
      margin-top: 22px;
    }
    #story-section-video-xs {
      padding-left: 15%;
      padding-right: 15%;
    }
    #story-customer-logo {
      max-height: 70px;
      max-width: 70%;
      margin-bottom: 10px;
    }
    #story-video-modal iframe {
      height: 400px;
    }
  }

  @media (max-width: 767px) {
    #story-section-video-xs .col-xs-10 {
      margin-top: -10px;
    }
    #story-section-content > .container > [class^="col-"] {
      padding: 0;
    }
  }

  @media (min-width: 768px) {
    #story-testimonial-col {
      margin: 0 0 10px 0;
    }
    #story-testimonial-col.no-video {
      margin-top: 8px;
    }
    #story-video-col {
      margin: 0 0 10px 0;
    }
    #story-customer-logo {
      max-height: 65px;
      max-width: 80%;
    }
    #story-customer-logo-col {
      margin-bottom: 10px;
    }
    #story-quote-attr-col {
      padding: 0;
    }
    #story-quote {
      font-size: 16px;
    }
    #story-section-content .well {
      // margin-top: -30px;
    }
    #story-video-modal iframe {
      height: 330px;
    }
    #story-section-content > .container > div[class^='col'] {
      margin-top: -42px;
    }
  }

  @media (min-width: 992px) {
    #social-buttons {
      padding-right: 25px;
    }
    #story-testimonial-col {
      margin: 10px 0 10px 0;
    }
    #story-testimonial-col.no-video {
      margin: 25px 0 18px 0;
    }
    #story-video-col {
      margin: 10px 0 10px 0;
    }
    #story-customer-logo-col {
      margin-bottom: 15px;
    }
    #story-customer-logo {
      max-height: 75px;
      max-width: 70%;
    }
    #story-quote {
      font-size: 18px;
    }
    #story-video-modal iframe {
      height: 490px;
    }
    #story-section-content > .container > div[class^='col'] {
      margin-top: -42px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      width: 1080px;
    }
    #social-buttons {
      padding-right: 34px;
    }
    #story-testimonial-col {
      margin: 10px 0 10px 0;
    }
    #story-video-col {
      margin: 10px 0 10px 0;
    }
    #story-customer-logo-col {
      margin-bottom: 20px;
    }
    #story-customer-logo {
      max-height: 85px;
      max-width: 70%;
    }
    #story-quote {
      font-size: 20px;  /* bootstrap .lead default is 21px */
    }
    #story-video-modal iframe {
      height: 490px;
    }
    #story-section-content > .container > div[class^='col'] {
      margin-top: -42px;
    }
  }

}