
.stories.show {

  .mainnav.company-nav {
    margin-bottom: 0;
  }

  #social-share-side-btns {
    position: fixed;
    width: 38px;
    right: 50px;
  }

  #related-stories {
    padding-bottom: 0;
    .row {
      font-size: 0;
      margin-bottom: 22px;
      div[class^='col-'] {
        float: none;
        display: inline-block;
        vertical-align: bottom;
      }
      h3 {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 10px;
      }
      a {
        font-size: 13px;
      }
    }

    .grid {
      margin: 0 auto;
    }

    .grid-item.thumbnail.logo-published {
      .thumbnail-view {
        height: 138px;
        line-height: 134px;
        img {
          padding: 24px 12px;
        }
      }
    }

    .grid-item.thumbnail {
      position: relative;  // this is for positioning the caption at the bottom
      width: 210px;        // matches masonry column width
      height: 140px;       // 3/2 ratio
      text-align: center;  // centers image horizontally
      padding: 0;
      margin-bottom: 40px;
      .thumbnail-view {
        position: relative;   // for thumbnail-view-hover
        height: 114px;
        line-height: 110px;
        width: 100%;
        cursor: pointer;
        p.thumbnail-view-hover {
          position: absolute;
          z-index: 10;
          display: block;
          // box-sizing: border-box;
          font-size: 14px;
          height: 100%;
          width: 100%;
          color: #fff;
          line-height: 20px;
          text-align: left;
          padding: 5px 8px;
          background: rgba(0, 0, 0, 0.8);
          border-radius: 3px 3px 0 0;
          -webkit-transform: translateY(-100%);
          -moz-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
          -o-transform: translateY(-100%);
          transition: all 0.2s ease-in-out;
        }
        img {
          display: inline-block;
          vertical-align: middle;
          max-height: 100%;
          max-width: 100%;
          padding: 12px;
        }
      }
      .caption {
        font-size: 14px;
        text-align: left;
        padding: 2px 0 2px 6px;
        position: absolute;
        bottom: 0;
        width: 100%;
        border-radius: 0 0 3px 3px;
      }
    }
    .grid-item.thumbnail:hover  {
      border-color: #ccc;  // overrides bootstrapp
       .thumbnail-view .thumbnail-view-hover {
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
      }
    }
  }

  .modal[id^='cta-form'] {
    .modal-header {
      height: 50px;
      padding: 10px;
      img {
        max-height: 100%;
      }
    }
    // size the modal to fit content
    // ref: http://stackoverflow.com/questions/16152275
    .modal-dialog {
      position: relative;
      display: table; //This is important
      overflow-y: auto;
      overflow-x: auto;
      width: auto;
    }
    .modal-body {
      height: calc(100vh - 200px);
      // overflow-y: scroll;
    }
  }

  .story-header {
    display: flex;
    align-items: center;
    height: 42px;
    color: #cacaca;
    font-size: 0;
    h3 {
      position: relative;
      margin-bottom: -6px;
      font-weight: 300;
      font-size: 24px;
      i {
        position: absolute;
        left: 180px;
        top: -4px;
      }
    }
    .hidden-xs {
      padding-left: 15px;
      .social-buttons {
        a { margin-right: 4px; }
      }
    }
  }

  #social-buttons-xs {
    background-color: #f2f2f2;
    padding: 15px 25px 15px 15px;
  }

  // nav links
  .story-nav {
   color: #337ab7;
   padding: 0;
  }

  #story-section-testimonial {
    position: relative;
    /* make some room for the trailing color gradient (see below) */
    // margin: 0 0 70px 0;
    // padding-bottom: 15px;
    .testimonial {    // quote and video
      color: #757575;
      // logo and quote
      > div:first-child {
        .row.customer-logo.customer-quote.hidden-xs {
          > div:first-child {
            height: 65px;
            line-height: 60px;
            img {
              display: inline-block;
              vertical-align: middle;
              margin: auto;
              max-height: 100%;
              max-width: 80%;
            }
          }
        }
        .row.customer-quote {
          .lead {
            color: #757575;   // overrides bootstrap #888
            font-family: 'Open Sans';
          }
        }
        .row.customer-quote-attr-xs {
          display: flex;
          align-items: center;
          .customer-logo {
            height: 65px;
            line-height: 60px;
            img {
              display: inline-block;
              vertical-align: middle;
              margin: auto;
              max-height: 100%;
              max-width: 90%;
            }
          }
          .customer-quote-attr {
            padding-left: 0;
            p { margin: 0 }
          }

        }
      }
    }
  }
  #story-section-testimonial:after {
    content: '';
    position: absolute;
    top: 100%;
    z-index: -1;
    width: 100%;
    // margin-top: -20px;
    height: 90px;
    // margin-top: 2px;
    background-image: linear-gradient(to top, #f2f2f2 0%, #ffffff 100%);  //f2f2f2
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffffffff', GradientType=0);
  }



  #story-section-video-xs {
    background-color: #f2f2f2;
    padding-bottom: 15px;
  }

  #story-section-content {
    background-color: #f2f2f2; //#f2f2f2;
    padding-top: 15px;
    // margin-top: -20px;
    padding-bottom: 26px;
  }




  #story-section-content .well {
    background-color: #ffffff;
  }

  #story-results {
    margin: 0 0 30px 0;
    .row div:first-child {
      text-align: center;
      padding-right: 0;
    }
  }

  .story-icon {
    padding-top: 4px;
  }

  #learn-more {
    margin: 0 0 30px 0;
    .row div:first-child {
      text-align: center;
      padding-right: 0;
    }
  }

  .linkedin-widgets {
    margin-bottom: 20px;
  }

  #more-stories header {
    font-family: 'Lato';
  }

  #story-results + .story-video {
    margin: 0 0 30px 0;
  }

  @media (max-width: 767px) {
    .mainnav {
      margin-bottom: 36px;
    }
    .mainnav:after {
      height: 40px;
      margin-top: -10px;
    }
    #story-section-testimonial {
      margin-bottom: 40px;
      .customer-quote {
        .lead {
          font-size: 16px;
        }
      }
    }
    #story-section-testimonial:after {
      height: 40px;
    }
    #story-section-video-xs {
      padding-bottom: 20px;
    }
    #social-buttons-xs {
      padding-top: 0;
      padding-bottom: 0;
    }
    #story-section-content {
      h3 {
        font-size: 22px;  // overrrides bootstrap 24
      }
    }
  }

  // @media (min-width: 568px) and (max-width: 767px) {

  // }

  @media (min-width: 768px) {
    .mainnav {
      margin-bottom: 42px;
    }
    #story-section-testimonial {
      margin-bottom: 90px;
      .row.testimonial {
        > div.no-video:first-child {
          padding: 15px 30px 0 30px;
        }
        > div:first-child {
          padding: 0 35px;
          .row.customer-logo {
            > div.customer-logo {
              margin-bottom: 15px
            }
            .customer-quote {
              .lead {
                font-size: 16px;
              }
            }
          }
        }
      }
      .story-video {
        margin: 0 0 10px 0;
      }
    }
    #story-section-testimonial.no-video {
      padding-bottom: 30px;
    }
    #story-section-content {
      > .container > .row > div[class^='col'] {
        margin-top: -42px;
      }
      h3 {
        font-size: 22px;
      }
    }
  }

  @media (min-width: 992px) {
    #social-buttons {
      padding-right: 25px;
    }
    #story-section-testimonial {
      margin-bottom: 90px;
      .row.testimonial {
        > div.no-video:first-child {
          padding: 15px 30px 0 30px;
        }
        > div:first-child {
          .row.customer-logo {
            > div.customer-logo {
              margin-bottom: 15px
            }
            .customer-quote {
              .lead {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
    #story-section-content {
      h3 {
        font-size: 24px;
      }
    }
  }

  @media (min-width: 1200px) {
    #social-buttons {
      padding-right: 34px;
    }
    #story-section-testimonial {
      .row.testimonial {
        > div:first-child {
          .row.customer-logo {
            > div.customer-logo {
              margin-bottom: 15px
            }
            .customer-quote {
              .lead {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
    #story-section-testimonial.no-video {
      padding-bottom: 30px;
    }
    #story-section-content {
    }
  }

}