
/*
*= require ./show
*= require ./edit
*= require ./gallery
*= require ./linkedin-widget
*= require ./video
*= require bootstrap-horizon/bootstrap-horizon
*= require ./more_stories_tab
*= require ./grid_previews
*/

/***********************************************/
/*      nav tabs
/***********************************************/
.mainnav-main {
  border-bottom: 1px solid #f2f2f2;
}


/*
a transparent input - might come in handy at some point
input {
  background-color: rgba(0,0,0,0);
  border: none;
}
*/