
<div id='ad-image-select-modal' class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Select an Image</h4>
      </div>

      <div class="modal-body">
        <ul class='text-center list-inline'>

          <% company.adwords_images.each do |image| %>

            <li data-image-id="<%= image.id %>" >

              <div class="fileinput fileinput-exists" data-provides="fileinput">
                <div class="fileinput-preview thumbnail">
                  <%= image_tag(image.image_url || ADWORDS_IMAGE_PLACEHOLDER_URL, alt: 'adwords image') %>
                </div>
                <!-- won't render properly without this -->
                <%= file_field_tag(:image_url, class: 'hidden') %>
              </div>

            </li>

          <% end %>

        </ul>
      </div>

      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>

<!-- modal footer content consists of story form generated on the fly -->
<% content_for :underscore_templates do %>

  <script id='adwords-image-select-form-template' type='text/template'>

    <!-- // locals: storyId -->
    <form id='adwords-image-select-form'
          action="/stories/{{= storyId }}/promote" accept-charset="UTF-8"
          method="put" data-remote="true" data-type="json" data-story-id="{{= storyId }}">

      <input name='adwords_image_id' type='hidden'>

      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-success text-center" disabled style='width:110px'>
        <span class='submit-toggle'>Select image</span>
        <i class='fa fa-spinner fa-pulse submit-toggle' style='display:none'></i>
      </button>

    </form>

  </script>

<% end %>