
<script id="ad-image-card-template" type="text/template">

  <li class="ad-image-card {{= typeClassName }} new-ad-image hidden">

    <input type="hidden" name="company[adwords_images_attributes][{{= imageIndex }}][id]" value="{{= id }}" >
    <input type="hidden" name="company[adwords_images_attributes][{{= imageIndex }}][type]" value="{{= type }}">
    <input type="hidden" name="company[adwords_images_attributes][{{= imageIndex }}][image_url]" value="{{= imageUrl }}">
    <input type="hidden" name="company[adwords_images_attributes][{{= imageIndex }}][_destroy]" value="false">
    <input type="checkbox" value="true" name="company[adwords_images_attributes][{{= imageIndex }}][_destroy]" id="company_adwords_images_attributes_{{= imageIndex }}__destroy" class="hidden">

    <div class="form-group fileinput fileinput-exists has-feedback" data-provides="fileinput">


      <div class="ad-image-card__header">
        <label class="checkbox-inline">
          <input type="hidden" name="company[adwords_images_attributes][{{= imageIndex }}][default]" value="false">
          <input type="checkbox" name="company[adwords_images_attributes][{{= imageIndex }}][default]" value="true">
          Make default
        </label>
        <button type="button" class="remove-image">
          <i class='fa fa-fw fa-remove'></i>
        </button>
      </div>

      <div class="ad-image-card__frame">

        <div class="thumbnail-wrapper">

          <div class="ad-image-card__errors--wrapper">
            <div class="ad-image-card__errors">
              <i class="fa fa-warning"></i>
              <span class="help-block with-errors"></span>
            </div>
          </div>

          <div class="fileinput-preview thumbnail">
            <img src="{{= imageUrl }}" alt="{{= type }}">
          </div>

        </div>

        {{ if (!imageUrl) { }}
          <div class="btn-file">
            <input type="file"
                   accept="image/*"
                   name="company[adwords_images_attributes][{{= imageIndex }}][image_url]"
                   data-max-file-size="5242880"
                   data-img-size-error="<%= [RESPONSIVE_AD_SQUARE_IMAGE_MIN, RESPONSIVE_AD_LANDSCAPE_IMAGE_MIN, RESPONSIVE_AD_SQUARE_LOGO_MIN, RESPONSIVE_AD_LANDSCAPE_LOGO_MIN] %>"
                   data-fileupload-init-error="">
          </div>
        {{ } }}

      </div>

      <div class="ad-image-card__footer">
        <div>
          <button type="button" class="btn btn-sm btn-default btn-cancel">Cancel</button>
          <button type="submit" class="btn btn-sm btn-danger btn-remove">Remove</button>
          <button type="submit" class="btn btn-sm btn-success" form="gads-form" style="width: 59px">
            <span>Save</span>
            <i class="fa fa-spin fa-circle-o-notch" style="display:none"></i>
            <i class="fa fa-check" style="display:none"></i>
          </button>
        </div>
      </div>

    </div>

  </li>

</script>