
/ no longer need this to update after changes, but it's good for styling
li.ad-image-card {
  class="#{ad_image_card_class_name(ad_image)}" 
  data-image-url=(ad_image[:image_url] if ad_image[:default] && ad_image[:image_url]) }

  input {
    type="hidden" 
    name="company[adwords_images_attributes][<%= image_index %>][id]" 
    value="<%= ad_image[:id] %>" }
  input {
    type="hidden" 
    name="company[adwords_images_attributes][<%= image_index %>][type]" 
    value="<%= ad_image[:type] %>" }
  input {
    type="hidden"
    name="company[adwords_images_attributes][<%= image_index %>][image_url]"
    value="#{ad_image[:image_url] || ''}" }

  - if ad_image[:default]
    input {
      type="hidden" 
      name="company[adwords_images_attributes][<%= image_index %>][is_default_card]" 
      value="true" }
    input {
      type="hidden" 
      name="company[adwords_images_attributes][#{image_index}][default]" 
      value="false" }
    input {
      type="checkbox" 
      class="hidden" 
      name="company[adwords_images_attributes][<%= image_index %>][default]" 
      value="true" 
      checked=(ad_image[:default]) }
  - else
    input {
      type="hidden" 
      value="false" 
      name="company[adwords_images_attributes][#{image_index}][_destroy]" }
    input {
      type="checkbox" 
      class="hidden" 
      name="company[adwords_images_attributes][#{image_index}][_destroy]"
      value="true" }

  .form-group.fileinputfileinput-exists.has-feedback data-provides="fileinput"

    .ad-image-card__header
      - if ad_image[:default]
        label
          = ad_image[:type].split(/(?=[A-Z])/).join(' ')
          |&nbsp;
          span = "*"
        button type="button" data-trigger="fileinput"
          i.fa.fa-fw.fa-upload
      - else
        label.checkbox-inline
          input {
            type="hidden" 
            name="company[adwords_images_attributes][#{image_index}][default]"
            value="false" }
          input {
            type="checkbox" 
            name="company[adwords_images_attributes][#{image_index}][default]"
            value="true" }
          | Make default
        button.remove-image type="button"
          i.fa.fa-fw.fa-remove

    .ad-image-card__frame
      - if ad_image[:default]
        .thumbnail-wrapper
          .ad-image-card__errors--wrapper
            .ad-image-card__errors
              i.fa.fa-warning
              span.help-block.with-errors
          .fileinput-preview.thumbnail data-trigger="fileinput"
            img {
              src="#{ad_image[:image_url] || ad_image[:placeholder_image_url]}" 
              alt="#{ad_image[:type].split(/(?=[A-Z])/).join(' ')}" }
        .btn-file
          input {
            type="file" 
            accept="image/*" 
            name="company[adwords_images_attributes][#{image_index}][image_url]" 
            data-max-file-size="5242880" 
            data-img-size-error="#{ad_image_min_dimensions(ad_image[:type])}" 
            data-fileupload-init-error="" }
      - else
        .fileinput-preview.thumbnail
          img src="#{ad_image[:image_url]}" alt="#{ad_image[:type].split(/(?=[A-Z])/).join(' ')}"

    .ad-image-card__footer
      - if ad_image[:default]
        label
          | *&nbsp;
          span required default
          span optional default
          span default
      div
        button.btn.btn-sm.btn-default.btn-cancel type="button" Cancel
        - unless ad_image[:default]
          button.btn.btn-sm.btn-danger.btn-remove type="submit" Remove
        button.btn.btn-sm.btn-success type="submit" form="gads-form" style="width: 59px"
          span Save
          i.fa.fa-spin.fa-circle-o-notch style="display: none"
          i.fa.fa-check style="display: none"