
<script type="text/template" id="ads-status-form-template">

  <form action="/stories/{{= storyId }}/update_gads" class="ads-status" method="put" data-remote="true" data-type="script" data-submitted="">

     <!-- topic -->
     <input type="hidden" name="story[topic_ad_attributes][id]" value="{{= topicAdId }}">
     <input type="hidden" name="story[topic_ad_attributes][status]" value="PAUSED">
     <input type="checkbox"
            class="bs-switch promote-control form-control"
            name="story[topic_ad_attributes][status]"
            value="ENABLED"
            data-on-text="<i class='fa fa-fw fa-play'></i><i class='fa fa-fw fa-spin fa-circle-o-notch' style='display:none'></i><i class='fa fa-fw fa-check' style='display:none'></i>"
            data-off-text="<span><i class='fa fa-fw fa-pause'></i><i class='fa fa-spin fa-circle-o-notch' style='display:none;'></i><i class='fa fa-fw fa-check' style='display:none'></i>"
            {{= (status === 'ENABLED' ? 'checked' : null) }}>
     <div style="height: 14px;">
       <span class="help-block" style="font-size: 10px; margin: 0">{{= status }}</span>
     </div>

     <!-- retarget -->
     <input type="hidden" name="story[retarget_ad_attributes][id]" value="{{= retargetAdId }}">
     <input type="hidden" name="story[retarget_ad_attributes][status]" value="PAUSED" >
     <input type="checkbox"
            class="hidden"
            name="story[retarget_ad_attributes][status]"
            value="ENABLED"
            {{= (status === 'ENABLED' ? 'checked' : null) }}>

  </form>

</script>

