= turbo_frame_tag('company-ads-form') do

  / url: update_gads_company_path(company),
  / authenticity_token: true,
  = form_with( \
      model: company,
      html: { \
        id: 'gads-form',
        class: 'form-horizontal',
        data: { \
          controller: 'ads',
          ads_toast_value: (toast rescue nil),
          asset_host: Rails.application.config.asset_host,
          action: [ \
            'image-card:make-default->ads#setNewDefault',
            'image-card:image-ready->ads#validateForm',
            'image-card:upload-ready->ads#submitForm',
            'image-card:save-changes->ads#submitForm',
            'ajax:success->ads#onDeletedImage'].join(' ') }}) do |form|
          
    .form-group.short-headline
      = form.label(:adwords_short_headline, 'Headline', class: 'col-sm-3 control-label')
      .col-sm-9.col-md-8.col-lg-6
        div
          = form.text_field( \
              :adwords_short_headline,
              class: 'form-control',
              autocomplete: 'off',
              maxlength: RESPONSIVE_AD_SHORT_HEADLINE_MAX.to_s,
              required: true,
              data: { 'required-error': 'Required', initial_value: company.adwords_short_headline })
          button.btn.btn-success.hidden type="submit" data-ads-target="shortHeadlineSubmitBtn" Save
        span.help-block.with-errors
          | Max 30 characters

    .row
      .image-library__collection
        label.col-sm-3.control-label Image Collection
        .col-sm-9.col-md-8.col-lg-6
          .btn-group data-controller="btn-group"
            a.btn.btn-secondary.active {
              href="#image-library__marketing" 
              data-toggle="tab" 
              data-btn-group-target="btn" 
              role="tab" }
              i.fa.fa-fw.fa-image
              | &nbsp;&nbsp;
              | Marketing Images
            a.btn.btn-secondary {
              href="#image-library__logos" 
              data-toggle="tab" 
              data-btn-group-target="btn"
              role="tab" }
              i.fa.fa-fw.fa-flag
              | &nbsp;&nbsp;
              | Logos

    .image-library.tab-content

      #image-library__marketing.tab-pane.in.active

        .row style="margin-bottom:15px"
          .col-sm-offset-3.col-sm-9.col-md-8.col-lg-6
            span.help-block 
              a.image-requirements.marketing {
                href="javascript:;"
                type="button" 
                role="button"
                data-toggle="popover" 
                data-placement="right" 
                data-trigger="focus"
                data-square-min="300x300" 
                data-square-ratio="1:1"
                data-landscape-min="600x314" 
                data-landscape-ratio="1.91:1"
                data-ads-target="imageRequirements" }
                | Requirements

        .row style="margin-bottom:25px"
          label.col-sm-3.control-label Default Images
          .col-sm-9.col-md-8.col-lg-6
            ul.image-library__default-images
              = render( \
                  'adwords_images/ad_image_card',
                  { form_outlet: '#gads-form',
                    form_object: company,
                    ad_image: company.ad_images.default.marketing.square.take || { type: 'SquareImage', default: true },
                    field_name_prefix: 'company[adwords_images_attributes][0]',
                    collection: 'images' })
              = render( \
                  'adwords_images/ad_image_card',
                  { form_outlet: '#gads-form',
                    form_object: company,
                    ad_image: company.ad_images.default.marketing.landscape.take || { type: 'LandscapeImage', default: true },
                    field_name_prefix: 'company[adwords_images_attributes][1]',
                    collection: 'images' })

        .row style="margin-bottom:25px"
          / label.col-sm-3.control-label All Images
          .col-sm-offset-3.col-sm-9.col-md-8.col-lg-6.text-center
            button.btn.btn-secondary {
              type="button"
              class=('hidden' if company.missing_default_ad_images?('marketing'))
              data-action="ads#uploadImage"
              style="width: 50%" }
              i.fa.fa-fw.fa-upload
              |&nbsp;&nbsp;Upload an image

        ul.image-library__all-images
          = render( \
              'adwords_images/ad_image_card',
              { form_outlet: '#gads-form',
                form_object: company,
                ad_image: {},
                field_name_prefix: 'company[adwords_images_attributes][2]',
                collection: 'images' })
          - company.ad_images.marketing.where.not(default: true).each.with_index do |ad_image, i|
            = render( \
                'adwords_images/ad_image_card',
                { form_object: company,
                  ad_image:,
                  field_name_prefix: "company[adwords_images_attributes][#{ 3 + i }]",
                  collection: 'images' })

      #image-library__logos.tab-pane

        .row
          .form-group
            .col-sm-offset-3.col-sm-9.col-md-8.col-lg-6
              div style="display:inline-block;width:50%"
              div style="display:inline-block;width:50%"
                span.help-block
                  a.image-requirements.logos {
                    href="javascript:;" 
                    data-toggle="popover" 
                    data-placement="right" 
                    data-trigger="focus"
                    data-square-min="128x128" 
                    data-square-ratio="1:1" 
                    data-square-suggest="1200x1200"
                    data-landscape-min="512x128" 
                    data-landscape-ratio="4:1" 
                    data-landscape-suggest="1200x300",
                    data-ads-target="imageRequirements" }
                    | Optional/Requirements

        .row style="margin-left:-30px;margin-right:-30px;margin-bottom:25px"
          label.col-sm-3.control-label Default Logos
          .col-sm-9.col-md-8.col-lg-6
            ul.image-library__default-logos
              = render( \
                  'adwords_images/ad_image_card',
                  { form_outlet: '#gads-form',
                    form_object: company,
                    ad_image: company.ad_images.default.logo.square.take || { type: 'SquareLogo', default: true },
                    field_name_prefix: ( \
                      "company[adwords_images_attributes][#{ 3 + company.ad_images.marketing.where.not(default: true).count }]"),
                    collection: 'logos' })
              = render( \
                  'adwords_images/ad_image_card',
                  { form_outlet: '#gads-form',
                    form_object: company,
                    ad_image: company.ad_images.default.logo.landscape.take || { type: 'LandscapeLogo', default: true },
                    field_name_prefix: ( \
                      "company[adwords_images_attributes][#{ 4 + company.ad_images.marketing.where.not(default: true).count }]"),
                    collection: 'logos' })

        .row style="margin-left:-30px;margin-right:-30px;margin-bottom:25px"
          / label.col-sm-3.control-label All Logos
          .col-sm-offset-3.col-sm-9.col-md-8.col-lg-6.text-center
            button.btn.btn-secondary {
              type="button"
              class=('hidden' if company.missing_default_ad_images?('logo'))
              data-action="ads#uploadLogo"
              style="width: 50%" }
              i.fa.fa-fw.fa-upload
              |&nbsp;&nbsp;Upload a logo

        ul.image-library__all-logos
          = render( \
              'adwords_images/ad_image_card',
              { form_outlet: '#gads-form',
                form_object: company,
                ad_image: {},
                field_name_prefix: ( \
                  "company[adwords_images_attributes][#{ 5 + company.ad_images.marketing.where.not(default: true).count }]"),
                collection: 'logos' })
          - company.ad_images.logo.where.not(default: true).each.with_index do |ad_image, i|
            = render( \
                'adwords_images/ad_image_card',
                { form_object: company,
                  ad_image:,
                  field_name_prefix: ( \
                    "company[adwords_images_attributes][#{ 6 + company.ad_images.marketing.where.not(default: true).count }]"),
                  collection: 'logos' })