= render( \
    'companies/shared/table_controls',
    { company: company, 
      curator_id: current_user.id,
      row_name: '',
      modal_turbo_frame_attrs: nil,
      dashboard_target: 'promotedStoriesFilter',
      search_options: { \
        'Customer' => company.customers.map { |customer| [customer.name, "customer-#{customer.id}"] } } })

table#promoted-stories-table.table.datatable.table-bordered.table-hover {
  data-controller="datatable"
  data-resource-target="datatable"
  data-datatable-dashboard-outlet=".dashboard"
  data-datatable-resource-outlet="#promoted-stories"
  data-action="datatable:init->resource#tableInitComplete"
  data-promote-tr="#{company.promote_tr}"
  width="100%" }

  thead
    tr
      th Customer
      th Story Title
      th Status
      th
        .text-center Actions