
<%= render 'companies/3_promote/ad_image_select_modal', { company: company } %>

<!-- <div class="row enable-promote-type">
  <div class="col-sm-12">

    <%#= render 'companies/3_promote/enable_promote_type', { company: company } %>

  </div>
</div> -->

<div class="promoted-stories">

  <table id="promoted-stories-table" class="datatable table table-bordered table-hover" width="100%" style="visibility:hidden">
    <thead>
      <tr>
        <th>Promoted Story Image</th>
        <th>Promoted Story Title</th>
        <th>Customer</th>
        <th>Status</th>
        <th class='actions'>Actions</th>
      </tr>
    </thead>

    <tbody>
    </tbody>

  </table>

</div>
