
<div class="promoted-stories">

  <table id="promoted-stories-table" class="datatable table table-bordered table-hover" width="100%" style="visibility:hidden">
    <thead>
      <tr>
        <th>Promoted Story Images</th>
        <th>Promoted Story Title</th>
        <th>Customer</th>
        <th>Status</th>
        <th class='actions'>Actions</th>
      </tr>
    </thead>

    <tbody>
    </tbody>

  </table>

</div>
