
#company-header {

  .navbar-container {
    .row {
      .navbar-header {
        a {
          img {
            max-height: 20px;
          }
        }
      }
      .primary-cta {
        a {
          border-radius: 0;
        }
        > div:last-child {
          padding-bottom: 2px;
        //   position: absolute;
        //   top: 50%;
        //   left: 50%;
        //   transform: translate(-50%, -50%);
        //   white-space: nowrap;  // ensure button expands with text
          span {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            // font-family: $body-font;
        //     font-weight: 600;
        //     letter-spacing: 0.02rem;
          }
        }
        // &:hover {
        //   a {
        //     transition: all 0.25s ease;
        //     filter: brightness(90%);
        //   }
        // }
      }
    }
  }
}