
#company-header {
  .navbar-container {
    .row {
      .navbar-header {
        a {
          img {
            max-height: 20px;
          }
        }
      }
      .primary-cta {
        // position: relative;
        // display: inline-block;
        // cursor: pointer;
        a {
          border-radius: 0;
        //   text-decoration: none;
        //   padding: 10px 32px;  // doubles bootstrap horizontal padding
        //   border: 1px solid transparent;
        //   transition: filter 0.25s ease;
        //   box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);  // copied from mvp
        //   // display text is rendered (but not shown thanks to opacity) in this span
        //   // in order to establish button dimensions
        //   span {
        //     opacity: 0;
        //   }
        }
        > div:last-child {
        //   position: absolute;
        //   top: 50%;
        //   left: 50%;
        //   transform: translate(-50%, -50%);
        //   white-space: nowrap;  // ensure button expands with text
          span {
            font-size: 12px;
            font-family: 'Muli Regular', 'Open Sans', sans-serif; ;
        //     font-weight: 600;
        //     letter-spacing: 0.02rem;
          }
        }
        // &:hover {
        //   a {
        //     transition: all 0.25s ease;
        //     filter: brightness(90%);
        //   }
        // }
      }
    }
  }
}