
&.stories.index {

  background-color: $bg-color;

  .search-and-filters.visible-md-block {
    background-color: $fg-color;
    border: 1px solid $border-color;
    form + .form-group {  // single filter
    }
    &.short {
    }
  }

}