@import 'vars_and_mixins';
@import 'show';

.company-header.company-header--pixlee {
  .pixlee.stories.index &, .pixlee.stories.show & {
    border-bottom: 1px solid $border-color;  
  }
}
.stories-header.stories-header--pixlee {
  @include stories-header-title;
  box-shadow: 0 0;
  border-bottom: 1px solid $border-color;
  &.show:after {
    background-image: linear-gradient(to bottom, $stories-bg-color 0%, #ffffff 100%);
  }
}

body.pixlee {
  // TODO in addition to this, change the input focus color?
  // .search-stories .input-group .input-group-btn button {
  //   background-color: $pixlee-blue;
  //   border-color: $pixlee-blue;
  //   &:hover, &:focus {
  //     background-color: $pixlee-blue-darkened;
  //     border-color: $pixlee-blue;
  //   }
  // }
  .search-and-filters.visible-md-block {
    border: 1px solid $border-color;
  }
  .company-logo-upload__stories-header {
    @include stories-header-title;
  }
  .share-buttons {
    display: none;
  }
}

// specify .cs-plugin for specificity
.story-card.story-card--pixlee {
  @include pixlee-story-card;
}




  


