
// body.pixlee:not(.companies):not(.profile):not(.edit) {

body.pixlee {

  @import 'variables';
  @import 'company_header';

  &.stories:not(.edit) {

    #company-header {
      border-bottom: 1px solid $border-color;  // don't apply this above
    }

    @import 'stories_header';
    @import 'index';
    @import 'gallery';
    @import 'show';

    font-family: $body-font;

  }

  &.companies.edit {
    .form-group.logo-upload {
      h4 {
        font-family: 'Bowlby One';
        text-transform: uppercase;
        padding-top: 2px;
      }
      .fileinput {
        border-bottom: 1px solid $bg-color;
        img {
          max-height: 20px !important;  // override .fileinput
        }
      }
    }
  }

}