$pixlee-blue: #56ccf2;
$pixlee-blue-darkened: #3db3d9;  // darkened 10%;
$border-color: #f2f2f2;

$stories-header-color: #f8f9fd;
$stories-bg-color: #ffffff;

//@import url(https://fonts.googleapis.com/css?family=Muli);

$company-header-height: 67px;

// $company-body-font: 'Muli', 'Open Sans', sans-serif;
// $company-title-font: 'Bowlby One', 'Muli', 'Open Sans', sans-serif;
$company-body-font: 'Inter', 'Open Sans', sans-serif;
$company-title-font: $company-body-font;

$company-logo-max-height: 20px;

$carousel-story-card-width: 240px;
$carousel-story-card-height: 150px;
$carousel-story-card-title-size: 13px;
$carousel-story-card-caption-size: 13px;
$carousel-story-card-text-color: #667282;
$carousel-nav-size: 13px;

$ts-active-option-background: $pixlee-blue;

@mixin stories-heading {
  h3 {
    font-weight: 600;
  }
}

@mixin pixlee-story-card {
  &.story-card--card {
    &.loading {
      background-color: $stories-fg-color;
      filter: brightness(97%);
    }

    a:active {
      background-color: $stories-fg-color;
      filter: brightness(94%);
    }
    
    #stories-gallery &, 
    .related-stories & {
      .story-card__title p {
        font-weight: 500 !important;
      }
    }

    .story-card__cta:after {
      color: $pixlee-blue;
      font-weight: 600 !important;
      text-decoration: none;
      text-transform: uppercase;
    }
    
    .cs-plugin & .story-card__cta:after {
      content: 'Read Case Study';
    }
  }
}

.share-buttons {
  display: none;
}