
&.stories.show, .cs-overlay-container {

  &.stories.show {
    #cs-tabbed-carousel {
      display: none !important;
      // @import 'plugins/tabbed_carousel';
      .cs-header {
        font-family: $body-font;  // don't apply this to external widget
        background-color: $pixlee-blue;
        color: #fff;
      }
      .cs-drawer-content {
        border-top-color: $pixlee-blue;
      }
    }
  }

  &.cs-overlay-container {
    article {
      background-color: $bg-color;
      .cs-story-header {
        background-color: $stories-header-color;
        border-bottom: 1px solid $border-color;
        box-shadow: 0 0;
      }
    }
  }

  .testimonial, .cs-testimonial {
    margin-bottom: 100px;
    &:after {
      background-image: linear-gradient(to top, $bg-color 0%, #ffffff 100%);
    }
    &.cs-testimonial {
      .customer-logo-quote.visible-xs-block {
        .customer-logo {
          background-color: $bg-color;
        }
      }
      .customer-logo-quote.hidden-xs {
        .customer-logo {
          background-color: $bg-color;
        }
      }
    }
  }

  .well, .cs-well {
    border: none;
    box-shadow: 0 0;
    border-radius: 0;
    &:not(.narrative) {
      background-color: $fg-color;
      // border: 1px solid $border-color;
    }
    &.contributors {
      // border: none;
      // border-top: 1px solid $border-color;
    }
  }

  .story-content, .cs-story-content {
    background-color: $bg-color;
    .section-title h4 {
    }
    .narrative {
      padding-top: 5px;
    }
    .related-stories ul {
      background-color: $fg-color;
    }
    .story-contributors {
      > .well:first-child, .cs-well:first-child {
        background-image: linear-gradient(to bottom, $fg-color 72%, #ffffff 100%);
        &:before, &:after {
          content: none;
          // background-image: linear-gradient(to bottom, $border-color 0, transparent 90%);
        }
      }
    }
    &.story-content {
      .narrative {
        .story-title h3 {
          font-family: $body-font;
        }
      }
    }
  }

  @media only screen and (max-width: 767px) {
    &.cs-overlay-container {
      .cs-content.content--show {
        background: $bg-color;
      }
    }
    .testimonial, .cs-testimonial {
      margin-bottom: 15px;
      &.after {
        content: none;
      }
    }
    .story-video-xs, .social-buttons-xs {
      background-color: #fff;
    }
    .story-content {
      background-color: #fff;
    }
  }

  @media only screen and (min-width: 768px) {
    .testimonial .hidden-xs {
      .customer-logo {
      }
      .customer-quote {
      }
    }
    .story-content {
    }
  }

  @media only screen and (min-width: 992px) {
    .testimonial .hidden-xs {
      .customer-logo {
      }
      .customer-quote {
      }
    }
    .story-content {
    }
  }

  @media only screen and (min-width: 1200px) {
    .testimonial .hidden-xs {
      .customer-logo {
      }
      .customer-quote {
      }
    }
    .story-content {
    }
  }

}