@import 'pixlee';
$stories-fg-color: #f8f9fd;
  
.pixlee.stories.show, 
.cs-plugin .cs-overlay-container {
  
  &.cs-overlay-container {
    article {
      background-color: $stories-bg-color;

      .cs-story-header {
        background-color: $stories-header-color;
        border-bottom: 1px solid $border-color;
        box-shadow: 0 0;

        button:last-of-type i {
          position: relative;
          top: -1px;
        }
      }
    }
  }

  .testimonial, 
  .cs-testimonial {
    margin-bottom: 100px;

    &:after {
      background-image: linear-gradient(to top, $stories-bg-color 0%, #ffffff 100%);
    }

    &.cs-testimonial {
      .customer-logo-quote.visible-xs-block {
        .customer-logo {
          background-color: $stories-bg-color;
        }
      }

      .customer-logo-quote.hidden-xs {
        .customer-logo {
          background-color: $stories-bg-color;
        }
      }
    }
  }

  .cta__image {
    height: 200px;
    background: asset-url('companies/pixlee/webinar-hero.webp') center / cover no-repeat;
  }

  .cta__wrapper {
    height: 200px;
    position: relative;
    background: linear-gradient(135deg, #81429f 25%, #3586c6 100%);
    overflow: hidden;
    margin-bottom: 25px;
    
    .cta__text {
      position: absolute;
      top: 0;
      background: transparent;
      height: 115px;
      width: 100%;
      z-index: 100;

      > div {
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;

        img {
          height: 45px;
        }

        span {
          color: #fff !important;
          padding-left: 15px;
          font-size: 22px !important;
          font-weight: 300;
          line-height: 28px !important;
        }
      }
    }

    .cta__button {
      position: absolute;
      background: transparent;
      z-index: 100;
      bottom: 0;
      height: 125px;
      width: 100%;

      > div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        .primary-cta {
          position: relative;
          display: inline-block;
          cursor: pointer;

          a {
            background-color: $pixlee-blue;
            text-decoration: none;
            padding: 12px 32px;  // doubles bootstrap horizontal padding
            border: 1px solid transparent;
            border-radius: 0;
            transition: filter 0.25s ease;
            // box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);  // copied from mvp

            // display text is rendered (but not shown thanks to opacity) in this span
            // in order to establish button dimensions
            span {
              opacity: 0;
            }
          }

          > div:last-child {
            pointer-events: none;
            padding-bottom: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            white-space: nowrap;  // ensure button expands with text

            span {
              color: #fff !important;
              font-weight: 700 !important;
              letter-spacing: 0.02rem;
              text-transform: uppercase;
              font-size: 12px !important;
            }
          }
          &:hover {
            a {
              transition: filter 0.25s ease;
              filter: brightness(90%);

              &:active {
                outline: none;  // get rid of the box shadow on click
                box-shadow: 0 0;
                filter: brightness(85%);
                transition: filter 0s;
              }
            }
          }
        }

      }
    }

    .cta__topography {
      background: asset-url('companies/pixlee/topography.webp') center / cover repeat transparent;
      display: block;
      position: absolute;
      margin-bottom: 25px;
      width: 100%;
      height: 100%;
    }
  }

  .story-content, 
  .cs-story-content {
    background-color: $stories-bg-color;
    // .section-title h4 {
    // }
    
    section {
      border: none;
    }
    
    section:not(.narrative) {
      background-color: $stories-fg-color;
      // border: 1px solid $border-color;

      @media only screen and (max-width: 767px) {
        background-color: #fff;
      }
    }
    
    .narrative {
      padding: 5px 20px 0 0;
      border: none;

      @media only screen and (max-width: 767px) {
        padding: 0
      }
    }
    
    .related-stories ul {
      background-color: $stories-fg-color;
      border: none;

      @media only screen and (max-width: 767px) {
        background-color: #fff;
      }
    }
    
    // .story-contributors {
    // }
    
    &.story-content {
      .narrative {
        .story-title h3 {
          font-family: $company-body-font;
        }
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .share-buttons, .cs-share-buttons {
      display: none !important;
    }
    &.cs-overlay-container {
      .cs-content.content--show {
        background: $stories-bg-color;
      }
    }
    .testimonial, .cs-testimonial {
      margin-bottom: 25px;
      &.after {
        content: none;
      }
    }
    .story-video-xs, .share-buttons-xs {
      background-color: #fff;
    }
    .story-content {
      background-color: #fff;
    }
  }

  // @media only screen and (min-width: 768px) {
  //   .testimonial .hidden-xs {
  //     .customer-logo {
  //     }
  //     .customer-quote {
  //     }
  //   }
  //   .story-content {
  //   }
  // }

  // @media only screen and (min-width: 992px) {
  //   .testimonial .hidden-xs {
  //     .customer-logo {
  //     }
  //     .customer-quote {
  //     }
  //   }
  //   .story-content {
  //   }
  // }

  // @media only screen and (min-width: 1200px) {
  //   .testimonial .hidden-xs {
  //     .customer-logo {
  //     }
  //     .customer-quote {
  //     }
  //   }
  //   .story-content {
  //   }
  // }

}