
// colors
$bg-color: #fff; // #f9f9f9;
$fg-color: #f8f9fd;  // #e4e4e4;
$border-color: #f2f2f2;
// $story-hover-color: rgba(50, 58, 69, 0.8);
$pixlee-blue: #56ccf2;

// @import url(https://fonts.googleapis.com/css?family=Muli);

// $stories-header-font: 'Bowlby One';
$body-font: 'Muli', 'Open Sans', sans-serif;
$title-font: '';