
$stories-header-color: #f8f9fd;
$stories-bg-color: #ffffff; // #f9f9f9;
$stories-fg-color: #f8f9fd;  // #e4e4e4;

$pixlee-blue: #56ccf2;
$pixlee-blue-darkened: #3db3d9;  // darkened 10%;
$border-color: #f2f2f2;

@import url(https://fonts.googleapis.com/css?family=Muli);

$company-body-font: 'Muli', 'Open Sans', sans-serif;
$company-title-font: 'Bowlby One', 'Muli', 'Open Sans', sans-serif;

$company-logo-max-height: 20px;