
@import '../../main';
@import 'variables';

.company-header--pixlee {
  .pixlee.stories.index &, .pixlee.stories.show & {
    border-bottom: 1px solid $border-color;  
  }
}

.stories-header--pixlee {
  box-shadow: 0 0;
  border-bottom: 1px solid $border-color;
  margin-top: $company-header-height;
  h3 {
    font-family: 'Bowlby One';
    text-transform: uppercase;
    // padding-top: 2px;
  }
}

body.pixlee {

  .company-logo-upload__stories-header {
    h3 {
      font-family: 'Bowlby One';
      text-transform: uppercase;
      // padding-top: 2px;
    }
  }

}


.story-card--pixlee {

  &.loading {
    background-color: $fg-color;
    filter: brightness(97%);
  }
  a:active {
    background-color: $fg-color;
    filter: brightness(94%);
  }
  
  #stories-gallery &, .related-stories & {
    .story-card__title p, .story-card__caption span {
      font-family: $body-font;
    }
  }

  .story-card__caption .story-card__cta:after {
    color: $pixlee-blue;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
  }
  
}




  
body.pixlee {
  
    

  &.stories:not(.edit) {


    @import 'stories_header';
    @import 'index';
    @import 'gallery';
    @import 'show';

    font-family: $body-font;

  }

  // &.companies.edit {
  //   .form-group.logo-upload {
  //     h4 {
  //       font-family: 'Bowlby One';
  //       text-transform: uppercase;
  //       padding-top: 2px;
  //     }
  //     .fileinput {
  //       border-bottom: 1px solid $bg-color;
  //       img {
  //         max-height: 20px !important;  // override .fileinput
  //       }
  //     }
  //   }
  // }

}

