
@import 'pixlee';
@import '../../views/plugins/plugins';

#cs-gallery {
  background-color: #fff;
}

.cs-overlay-container {
  padding: 0; 
}

.cs-carousel__prev, .cs-carousel__next {
  .cs-carousel--light-background & {
    color: $carousel-story-card-text-color !important;
    &--bookend {
      color: #e0e7ef !important;  // overcome the bootstrap-plugins wrapper specificity
    }
    &:hover, &:active {
      color: $pixlee-blue !important;  // overcome the bootstrap-plugins wrapper specificity
    }
  }
}

.cs-carousel {
  .story-card__link {
    width: $carousel-story-card-width;
    height: $carousel-story-card-height;
  }
  .story-card__title p {
    font-size: $carousel-story-card-title-size !important;
    color: $carousel-story-card-text-color !important;
  }
  .story-card__caption {
    span {
      font-size: $carousel-story-card-caption-size !important;
    }
    .story-card__customer {
      color: $carousel-story-card-text-color !important;
    }
  }
}

.cs-carousel, .cs-gallery, .cs-tabbed-carousel {
  .story-card__cta:after {
    content: 'Read Case Study';
  }
}