
<% content_for(:underscore_templates) do %>

  <script type='text/template' id='success-actions-dropdown-template'>

    <div>

      <a href="javascript:;" class="dropdown-toggle" data-toggle='dropdown'>
        <i class='fa fa-caret-down'></i>
      </a>

      <ul class='success-actions dropdown-menu'>

        <li>
          <a href="javascript:;" class='create-story'>
            <i class='fa fa-check-square-o action'></i>&nbsp;
            <span>Begin Story Curation</span>
          </a>
        </li>

        {{ if (contributionsCount > 0) { }}

          <li>
            <a href="javascript:;" class='manage-contributors'>
              <i class='fa fa-users action'></i>&nbsp;
              <span>Manage Contributors</span>
            </a>
          </li>

        {{ } else { }}

          <li>
            <a href="javascript:;" class='new-contributor'>
              <i class='fa fa-user action'></i>&nbsp;
              <span>Add Contributor</span>
            </a>
          </li>

        {{ } }}

        <li>
          <a href="javascript:;">
            <i class='fa fa-remove action'></i>&nbsp;
            <span>Remove</span>
          </a>
        </li>

      </ul>

    </div>

  </script>

<% end %>