
<script id='successes-table-header-template' type='text/template'>

  <div class='row successes-header' style='visibility:hidden'>

    <div class='col-sm-6'>

      <div class="dropdown">
        <button class="btn btn-default btn-secondary dropdown-toggle" type="button" id="add-customer-wins" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class='fa fa-plus-circle fa-fw'></i>&nbsp;&nbsp;Add Customer Wins
          &nbsp;&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right dropdown-actions" aria-labelledby="add-customer-wins">
          <li class='new-success'>
            <a href="#new-success-modal" data-toggle='modal'>
              <i class='fa fa-rocket fa-fw action'></i>&nbsp;&nbsp;
              <span>New Customer Win</span>
            </a>
          </li>
          <li class='import-successes'>
            <a href="javascript:;">
              <i class='fa fa-cloud-download fa-fw action'></i>&nbsp;&nbsp;
              <span>Import from CRM</span>
            </a>
          </li>
        </ul>
      </div>

      <div>
        <label class='checkbox-filter' for="toggle-group-by-customer">
          <input type="checkbox" id="toggle-group-by-customer" checked>
          <span style='font-weight:600'>&nbsp;&nbsp;Group by Customer</span>
        </label>
      </div>

    </div>

    <div class='col-sm-6 form-horizontal select-filters'>
      <div class='form-group'>
        <label class='col-sm-3 control-label'>Curator</label>
        <div class='col-sm-9' style='padding:0'>

          <select class='crowdsource curator-select form-control text-left'>

            <option value='0' selected>All Curators<option>

            {{ _.each(curators, function (curator) { }}

              <option data-column='curator' value="{{= curator.id }}">{{= curator.first_name + ' ' + curator.last_name }}</option>

            {{ }); }}

          </select>

        </div>
      </div>

      <div class='form-group'>
        <label class='col-sm-3 control-label'>Search</label>
        <div class='col-sm-9' style='padding:0'>

          <select id='successes-filter' class='dt-filter form-control text-left'>

            <option></option>
            <option value='0' data-column='success' selected>All Customer Wins</option>
            <optgroup label='Customer Win'><optgroup>
            <optgroup label='Customer'><optgroup>

          </select>

        </div>
      </div>

      <div class='form-group'>
        <label class='col-sm-3 control-label'>Show</label>
        <div class='col-sm-9' style='padding:0'>
          <div class='checkbox checkbox-filters'>

            <label class='checkbox-filter' for="show-wins-with-story">
              <input type="checkbox" id="show-wins-with-story">
              <span>&nbsp;&nbspWins with Customer Story curation started</span>
            </label>

          </div>
        </div>
      </div>

    </div>

  </div>

</script>


