
<% content_for(:underscore_templates) do %>

  <script type='text/template' id='success-actions-dropdown-template'>

    <div>

      <a href="javascript:;" class="dropdown-toggle" data-toggle='dropdown'>
        <i class='fa fa-caret-down'></i>
      </a>

      <ul class='success-actions dropdown-menu dropdown-menu-right dropdown-actions'>

        {{ if ( status.match(/0.+Contributors\sadded/) ) { }}

          <li>
            <a href="javascript:;" class='add-contributor'>
              <i class='fa fa-user fa-fw action'></i>&nbsp;&nbsp;
              <span>Add Contributor</span>
            </a>
          </li>

        {{ } else if ( status.match(/0.+Contributors\sinvited/) ) { }}

          <li>
            <a href="javascript:;" class='manage-contributors'>
              <i class='fa fa-users fa-fw action'></i>&nbsp;&nbsp;
              <span>Invite Contributors</span>
            </a>
          </li>

        {{ } else { }}

          {{ if ( !status.match(/0.+Contributions\ssubmitted/) ) { }}

            <li>
              <a href="javascript:;" class='view-contributions'>
                <i class='fa fa-comments fa-fw action'></i>&nbsp;&nbsp;
                <span>View Contributions & Feedback</span>
              </a>
            </li>

          {{ } }}

          <li>
            <a href="javascript:;" class='manage-contributors'>
              <i class='fa fa-users fa-fw action'></i>&nbsp;&nbsp;
              <span>Manage Contributors</span>
            </a>
          </li>

        {{ } }}

        <li role="separator" class="divider"></li>

        {{ if (!story) { }}

          <li>
            <a href="javascript:;" class='start-curation'>
              <i class='fa fa-play fa-fw action'></i>&nbsp;&nbsp;
              <span>Start Story Curation</span>
            </a>
          </li>

        {{ } }}

        <li role="separator" class="divider"></li>

        <li>
          <a href="javascript:;">
            <i class='fa fa-remove fa-fw action'></i>&nbsp;&nbsp;
            <span>Remove</span>
          </a>
        </li>

      </ul>

    </div>

  </script>

<% end %>