
body.contributions.confirm_submission {
  background-color: #f9f9f9;
  .col-centered.confirmation {
    margin: 40px 0;
  }
}

body.contributions.update {
  .col-centered.confirmation {
    margin-top: 50px;
  }
}

body.contributions.edit {

  background-color: #f9f9f9;

  #submission-header {
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    span {
      font-family: 'Lato', 'Trebuchet MS', 'Open Sans', arial, sans-serif;
      font-size: 22px;
      font-weight: 300;
    }
    span.light-background {
      color: rgba(51, 51, 51, 0.9);
    }
    span.dark-background {
      color: #fff;
    }
  }

  .col-centered {
    float: none;
    margin: 0 auto;
    // overflow:hidden needed so height is enough to accommodate floated content (two settings above)
    overflow: hidden;
    background-color: #f9f9f9;
    padding: 130px 30px 250px 30px;
    // border-left: 1px solid #ddd;
    // border-right: 1px solid #ddd;
    overflow: visible;  // for expanding text boxes
    .form-group {
      // margin-bottom: 30px;
      width: 90%;
      margin: 0 auto 30px auto;
      label {
        margin-bottom: 10px;
        font-weight: 400;
      }
      textarea {
        margin-bottom: 15px;
      }
      .next-question {
        height: 32px;
        text-align: right;
        button {
          display: none;
          width: 60px;
        }
      }
    }
    .form-group.active {
      // font-size: 16px;
    }
    .form-group.question, .form-group.feedback, {
      font-size: 16px;
      // width: 95%;
      // margin: 0 auto 30px auto;
    }
    .form-group.question:not(.active) {
      opacity: 0.2;
    }
    .form-group.feedback
    .form-group.submit, .form-group.tos {
      font-size: 13px;
    }
    .form-group.submit.visible-xs-block {
      margin-bottom: 25px;
    }
    button[type="submit"] {
    }
    .checkbox {
      margin: 0;
      line-height: 20px;
    }
    input[type="checkbox"] {
      margin: 6px 0 0 -23px;
    }
    .tos {
      margin-top: -10px;
    }
    #footer {
      position: relative;
      height: 65px;  // 230px;
      img.curator {
        width: 100px;
      }
      div.curator {
        font-size: 13px;
        position: absolute;
        top: 30px;
        padding: 0 0 0 110px;
        p {
          margin-bottom: 0;
        }
      }
      .logo {
        mix-blend-mode: multiply; // this makes white background transparent
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0)
      }
    }
  }

  .col-centered.confirmation {
    margin-top: 50px;
    border: 1px solid #ccc;
    p.next-step {
      margin-bottom: 30px;
    }
  }

  #submission-progress {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    .row {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // position: relative;
      margin: 0 auto;
      [class*="col-"] {
        padding: 0;
      }
      .progress {
        max-width: 100%;
        height: 15px;
        background-color: rgba(255, 255, 255, 0.4);  // #f9f9f9;
        .progress-bar {
          background-color: #fff; // #449d44;  // #456f59;
        }
      }
    }
    .row.visible-xs-block {
      [class*="col-"] {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  @media only screen and (max-width: 599px) {
    .col-centered {
      padding-right: 15px;
      padding-left: 15px;
      padding-top: 80px;
    }
  }

  @media only screen and (max-width: 767px) {
    #submission-header {
      padding: 0 15px;
      span {
        font-size: 16px;
      }
    }
    .col-centered {
      .form-group {
        margin-bottom: 100px;
      }
      .form-group.question {
        font-size: 16px;
      }
      input[type="checkbox"] {
        margin: 6px 6px 0 0;
      }
      .form-group.tos {
        margin-bottom: 15px;
      }
    }
  }

  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .col-xs-12 {
      max-width: 600px;
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  @media only screen and (min-width: 768px) {
    .col-sm-10 {
      width: 84%
    }
    #submission-progress {
      .row.hidden-xs {
        max-width: 48%
      }
    }
  }

  @media only screen and (min-width: 992px) {
    .col-sm-10 {
      width: 66%
    }
    #submission-progress {
      .row.hidden-xs {
        max-width: 38%
      }
    }
  }

  @media only screen and (min-width: 1200px) {
    .col-lg-8 {
      width: 60%
    }
    #submission-progress {
      .row.hidden-xs {
        max-width: 30%
      }
    }
  }

}







