.image-card {
  position: relative;
  display: inline-block;
  margin: 0.5rem;

  &.gads-default,
  &--company-logo {
    margin: 0 0.5rem;
  }

  &--uploading {
    @include spinner('sm');
    
    > .spinner {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &--uploading .fileinput-preview img,
  .fileinput-preview img[src*="data:image"],
  .has-error .fileinput-preview {
    display: none;
  }

  .fileinput, 
  .fileinput-new,
  .fileinput-preview {
    position: relative;
    margin: 0;  // override jasny bootstrap
  }
}

.image-card__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  margin: 12px 10px;
  background-color: transparent;

  button {
    border: none;
    border-radius: 50%;
    padding: 6px;
    background: none;
    background-color: rgba(64, 64, 64, 0.5);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.85);

    &:hover {
      background-color: rgba(64, 64, 64, 0.75);
      color: #fff;
    }

    // &.did-save {
    //   background-color: $state-success-bg;
    //   border: 2px solid $state-success-text;
    //   pointer-events: none;
    //   padding: 4px;
    //   color: $state-success-text;
    // }
  }

  .image-card--uploading .form-group:not(.has-error) &,
  [class*="to-be-"] &,
  .has-error & button:not(:last-child),
  .gads-default & .btn-remove,
  :not(.gads-default) & .btn-remove:last-child {
    display: none;
  }

  .has-error & .btn-remove:last-child {
    display: block;
    margin: -5% -5% 0;
    background-color: transparent;
    color: $state-danger-text;

    &:hover {
      background-color: transparent;
      color: darken($state-danger-text, 10%);
    }
  }
}

.image-card__frame {
  .thumbnail {
    width: 100%;
    height: 100%;
    padding: calc(#{$thumbnail-padding + 2px});
    transition: border 0s;
  }

  .image-card--SquareImage & {
    width: calc(150px + #{$thumbnail-padding + 2px});
    height: calc(150px + #{$thumbnail-padding + 2px});
  }

  .image-card--SquareLogo & {
    width: calc(120px + #{$thumbnail-padding + 2px});
    height: calc(120px + #{$thumbnail-padding + 2px});
  }

  .image-card--LandscapeImage & {
    width: 210px; // 244.5px;
  }

  .image-card--LandscapeImage & {
    height: calc(110px + #{$thumbnail-padding + 2px});
  }

  .image-card--LandscapeLogo & {
    width: 248px;
    height: calc(62px + #{$thumbnail-padding + 6px});
  }
}

.image-card__errors {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  border: 1px solid $state-danger-text;
  border-radius: $border-radius-base;
  width: 100%;
  height: 100%;
  padding: 30px;
  background: #fff;
  color: $state-danger-text;

  .has-error & {
    display: flex;
  }

  i {
    font-size: 20px;
    margin-bottom: 8px;
  }

  div {
    text-align: center;
    font-size: 13px;
    margin-bottom: 0;
  }
  
  li {
    margin: 0
  }
}

.image-card__footer {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  display: none;
  padding: 8px;
  background-color: rgba(75, 75, 75, 0.7);
  border-bottom-left-radius: $thumbnail-border-radius;
  border-bottom-right-radius: $thumbnail-border-radius;

  button {
    margin: 0 3px;
    flex-grow: 0.5;
    border: none;
  }

  [class*="to-be-"] & {
    display: flex;
  }

  .image-card--SquareImage &,
  .image-card--SquareLogo & {
    flex-direction: column;
    align-items: center;

    button:first-of-type {
      margin-bottom: 8px;
    }
  }
    
  .image-card--SquareImage & button {
    width: 75%;
  }

  .image-card--SquareLogo & button {
    width: 90%;
  }

  .to-be-default > & {
    .btn-danger {
      display: none;
    }
  }

  .to-be-removed > & {
    .btn-success {
      display: none;
    }
  }
}